<% provide(:title, 'Drugs, Supplements, Vitamins...') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
    
 <div class="col-sm-8"> 
  
  <div class="allnews">
    <div class="drugup"> 
      
      <div class="col-sm-10 drugsearch"> 
         
          <%= form_tag drugs_path, :method => :get do %>
            <p>
              <%= text_field_tag :search, params[:search], :placeholder => "drugs, supplements... or by condition (e.g. diabetis)" , :class => "drugsearchbutton" %>
              <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
            </p>
          <% end %>
        
      </div>  
          
        <div class="col-sm-2 linkup">
            <b><%= link_to "+ Add", new_drug_path %></b>
        </div>      
     </div>
    
    <div class="row drug">      
        <% @drugs.each do |drug| %>
          <div class="col-sm-4 drugin"><%= image_tag drug.image_url(:thumb) if drug.image? %></div>
          <div class="col-sm-8 drugin">
            <div class="drugsnowindex"><%= link_to drug.name, drug %></div>
          </div>
      <% end %>
      </div>
    </div>
 </div>
   
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>

</div>
