<% provide(:title, 'Drugs - Heroin, Marijuana...') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
    
  <div class="col-sm-8"> 
    <div class="allnews">

    <%= form_tag drugs_search_path, :method => :get do %>      
      <div class="searchbox"><%= text_field_tag :search, params[:search], :placeholder => "e.g Heroin, Marijuana" , class: "form-control" %></div>
      <div class="searchgo"><span class="input-group-btn"><%= submit_tag "Go", class: "btn btn-default" %></span></div>
    <% end %>
     
      <hr>
       <% if @drugs.empty? %>
          No results! Try something else or <b><%= link_to "+ Add new", new_drug_path() %></b>
       <% else %>
        <div align="right">Useless results? <b><%= link_to "+ Add new", new_drug_path() %></b></div>
        <% @drugs.each do |drug| %>
          <div class="row">
             <div class="col-sm-4 podsin"><%= image_tag drug.image_url(:thumb) if drug.image? %></div>
             <div class="col-sm-8 podsin">
    
                <div class="podcastsnowindex"><%= link_to drug.name, drug %></div>
               
                 <div class="rating-total" data-id= "<%= drug.id %>" data-score= "<%= ((drug.drug_reviews.inject(0) { |sum, e| sum += e.point }).to_f / drug.drug_reviews.count).round(1) rescue 0 %>" >
                 </div>
               <div class="total-score">
                 <%= ((drug.drug_reviews.inject(0) { |sum, e| sum += e.point }).to_f / drug.drug_reviews.count).round(1) rescue 0 %>
               </div>
            </div>
           
         </div>
        <% end %>
    </div>
  </div>
  
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>
 
</div>