<% model_class = Local %>

<div class="row podup"> 

  <div class="col-sm-5"> 
    <div class="local name"><%= link_to @local['name'], local_path %></div>
    <div class="localcategory"><%= @local['category_labels'].join(', ').split.last(1).join('') %></div>
    <div id="map-canvas" style="width: 170px; height: 160px" ></div>
    <%= render 'google_map.html.haml' %>
  </div> 
  
  <div class="col-sm-4">
        <%= @local['address'] %><br>
        <%= @local['locality'] %>,
        <%= @local['region'] %><br><br>
        <%= image_tag("localicons/directionicon.PNG", height: '12', width: '12') %>
        <%= link_to "Get directions", "http://maps.google.com/maps?daddr=#{@local['latitude']},#{@local['longitude']}", :target => "_blank" %><br>
    
        <% if @local['website'].blank? %>
        <% else %>
          <%= image_tag("localicons/newtabicon.PNG", height: '14', width: '14') %>
          <%= link_to "website", @local['website'], :target => "_blank" %>
        <% end %><br>
    
        <% if @addition_info.present? %>
          <%= image_tag("localicons/infoicon.PNG", height: '15', width: '6') %>
          <%= link_to "additional info", additionalinfo_local_path %>
        <% else %>
        <% end %><br><br>
        <%= image_tag("othericons/PhotoShow.PNG") %> (6)       
  </div>

  <div class="col-sm-3">
    <%= link_to "Write a review", "#" %><br><br>
    <% if @local['hours'].blank? %>
    <% else %>
      <%= image_tag("localicons/clockicon.PNG", height: '18', width: '18') %>
      <div class="localhours"><% JSON.parse(@local['hours']).each do |key, value| %><br>
        <b><%= key.first(3).capitalize %></b>
        <%= value.join(' - ').first(14) %>
        <% end %>
      </div>
     <% end %>
  </div>

</div> <br>