<% model_class = Local %>

    <div class="search-box">
      <%= render 'search_form' %>
    </div>
      
<div id="results-container">
  
   <div class="col-sm-6 local">
        <% if @promoted_factual.present? %><br>
        <% @promoted_factual.each do |result| %>
      <div class="localresult">
        
          <br>
              <div class="localindexname"><%= link_to result['name'], local_path(result['factual_id']) %></div>
              <div class="localcategory"><b>·</b> 
                <%= result['category_labels'].join(', ').split.last(1).join('') if result['category_labels'].present? %>
              </div><br>
              <%= result['address'] %><br>
              <%= result['locality'] %>,
              <%= result['region'] %><br>

              <% if result['tel'].blank? %>
               <% else %>
                 <%= image_tag("localicons/phoneicon.PNG", height: '12', width: '12') %>
                 <b><%= result['tel'] %></b>
              <% end %></div>
        <br>
                  <div class="localbottom"></div>
        <% end %>
      <% end %>
      <% promoted_ids = [] %>
      <% promoted_ids = @promoted_factual.map { |promoted_factual| promoted_factual['factual_id'] } if @promoted_factual.present? %>
      <% @results.reject { |result| promoted_ids.include?(result['factual_id'])}.each do |result| %>
      <div class="localresult">
        
          <br>
            <div class="localindexname"><%= link_to result['name'], local_path(result['factual_id']) %></div>
            <div class="localcategory"><b>·</b> 
              <%= result['category_labels'].join(', ').split.last(1).join('') if result['category_labels'].present? %>
            </div><br>
            <%= result['address'] %><br>
              <%= result['locality'] %>,
              <%= result['region'] %><br>

              <% if result['tel'].blank? %>
               <% else %>
                 <%= image_tag("localicons/phoneicon.PNG", height: '12', width: '12') %>
                 <b><%= result['tel'] %></b>
               <% end %>
     <br></div>
                  <div class="localbottom"></div>
      <% end %><br>
  </div>


    <div class="col-sm-4 localmap"><br><br><br>
        <div id="map-canvas-search" style="width: 220px; height: 250px"></div>
            <div class="simple-navigation">
                   <div class="simple-pagination-previous"></div>
                   <div class="simple-pagination-page-numbers"></div>
                   <div class="simple-pagination-next"></div>
            </div>
            <% if params[:place].present? && @results.count > 0 %>
              <%= render 'google_map_multi_markers.html.haml', {results: lat_long_places(@results)} %>
            <% end %>
    </div>
</div>