<%= form_tag lsearch_path, method: :get do %>
  <div class="qform-actions">
    
    <%= text_field_tag :tags, nil, data: {category: Factual_Taxonomy.taxonomies, place: ZIP_CODE.all_cities}, id: 'tags' %>
    <%= text_field_tag :query, params[:query], placeholder: "e.g. bars, Starbucks...", class: 'form-control q', id: 'query-text-field' %> <b> in </b>
    <%= text_field_tag :place, params[:place], placeholder: " 'City' or 'Neighborhood City' ", class: 'form-control q', id: 'place-text-field' %>
    <div class="searchstyle">
      <span class="input-group-btn">
        <%= submit_tag "Go", class: "btn btn-default", data: { disable_with: "Searching" } %>
      </span>
    </div>
    
  </div>
<% end %>
<hr>