<% provide(:title, "#{@local['name']} reviews in #{@local['locality']}") %>

<%= render 'localshow' %>
<%= render 'shared/ad_on_item' %>

<hr>

  <div class="row"> 
    <div class="col-xs-8">
      <%= render :file => "local_reviews/index" %>
    </div>
    <div class="col-xs-4">
      <div id="book-description">
        <table border="1" class="table table-striped table-hover table-condensed" >
            <% if @addition_info.present? %>
              <% @addition_info[1].first.select {|key, value| select_params.include?(key)}.each do |key, value| %>
                  <tr>
                  <td width="40%">
                  <%= "#{key.humanize}: " %>
                  </td>
                  <td>                    
                  <b><%= value.is_a?(Array) ? value.join(', ') : value %></b>
                  </td>
                </tr>
              <% end %>
            <% else %>
            No additional information.
            <% end %>
          </table>
      </div>
    </div>
  </div>
