<div class="container">
  <h1>
    <%= @local['name'] %>
  </h1>
  <div class="rows">
    <div class="address">
      <h2>
        Address:
        <%= @local['address'] %>
        <%= @local['locality'] %>
        <%= @local['region'] %>
        <%= @local['accessibility'] %>
        
      </h2>
    </div>
    <div class="return-search">
      <%= link_to "Go Back to Search", request.referer, class: 'btn btn-success' %>
    </div>
  </div>
  <h3>
    <%= @local['category_labels'].join(', ') %>
  </h3>
</div> 
