<div class="row">
  <div class="col-sm-4">
    <ul class="admin">
      
         <hr>
      <li>
        Users: <b><%= @users.count %></b> <br>
        Points: <b><%= @points %></b>
      </li>
        <hr>
      <li><span class="glyphicon glyphicon-envelope"></span> <%= link_to "Inbox", "contact_forms" %></li>
      <li><span class="glyphicon glyphicon-usd"></span> <%= link_to "Ads", "/promotions" %></li>
      <li><span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Questions", "/links" %></li>
        <hr>
      <li><%= link_to "Local reviews", "local_reviews/all" %></li>
      <li><%= link_to "Auto reviews", "auto_reviews/all" %></li>
      <li><%= link_to "Movie reviews", "movie_reviews/all" %></li>
      <li><%= link_to "TvShow reviews", "tvshow_reviews/all" %></li>
      <li><%= link_to "Songs reviews", "/songs/spotify:track:4gawdnzAS5eURmrR9uvocb/song_reviews" %></li>
      <li><%= link_to "Podcast reviews", "podcast_reviews/all" %></li>
      <li><%= link_to "Tech reviews", "tech_reviews/all" %></li>
      <li><%= link_to "Recipe reviews", "recipe_reviews/all" %></li>
      <li><%= link_to "Drug reviews", "drug_reviews/all" %></li>
      <li><%= link_to "Book reviews", "/books/abYKXvCwEToC/book_reviews/" %></li>
      <li><%= link_to "Product reviews", "#" %></li>
        <hr>
      <li><%= link_to "Podcasts", "podcastz/all" %></li>
      <li><%= link_to "Tech", "/techez/all" %></li>
      <li><%= link_to "Auto", "/autoz/all" %></li>
      <li><%= link_to "Drug", "/drugz/all" %></li>
        <hr>
      
    </ul>
  </div>
  
</div>