<div class="row">
  <div class="col-sm-4">
    <ul class="admin">
      
         <hr>
      <li>
        Users: <b><%= @users.size %></b>
      </li>
        <hr>
      <li><%= link_to "Questions", "/links" %></li>
      <li><%= link_to "Company Updates", "/alerts" %></li>
        <hr>
      <li><%= link_to "Local reviews", "/all_local_reviews" %></li>
      <li><%= link_to "Auto reviews", "/all_auto_reviews" %></li>
      <li><%= link_to "Movie reviews", "/all_movie_reviews" %></li>
      <li><%= link_to "TvShow reviews", "/all_tvshow_reviews" %></li>
      <li><%= link_to "Songs reviews", "/all_song_reviews" %></li>
      <li><%= link_to "Podcast reviews", "/all_podcast_reviews" %></li>
      <li><%= link_to "Tech reviews", "/all_tech_reviews" %></li>
      <li><%= link_to "Recipe reviews", "/all_recipe_reviews" %></li>
      <li><%= link_to "Art reviews", "/all_fineart_reviews" %></li>
      <li><%= link_to "Drug reviews", "/all_drug_reviews" %></li>
      <li><%= link_to "Book reviews", "/all_book_reviews" %></li>
      <li><%= link_to "Product reviews", "all_product_reviews" %></li>
        <hr>
      <li><%= link_to "Podcasts", "/all_podcasts" %></li>
      <li><%= link_to "Tech", "/all_tech" %></li>
      <li><%= link_to "Auto", "/all_vehicle" %></li>
      <li><%= link_to "Drug", "/all_drugs" %></li>
      <li><%= link_to "Art", "/all_finearts" %></li>
      <li><%= link_to "Recipe", "/all_recipes" %></li>
        <hr>
      
    </ul>
  </div>
  
</div>