<% provide(:title, 'Makeup, Frangrance...') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li><hr>
  <li class="categorylist makeup"><%= link_to "makeup", makeup_index_path %></li> <hr>
  <li class="categorylist fragrance"><%= link_to "fragrance", fragrance_index_path %></li><hr>
  <li class="categorylist hair"><%= link_to "hair", haircare_index_path %></li><hr>
  <li class="categorylist skin"><%= link_to "skin", skincare_index_path %></li> <hr>
  <li class="categorylist bath"><%= link_to "bath & body", bodybath_index_path %></li><hr>
</ul>