<% provide(:title, 'Home - Appliances, Pets, Babies...') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li><hr>
  <li class="categorylist appliances"><%= link_to "appliances", appliance_index_path %></li><hr> 
  <li class="categorylist baby"><%= link_to "baby", baby_index_path %></li><hr>
  <li class="categorylist pets"><%= link_to "pets", pet_index_path %></li><hr>
  <li class="categorylist tools"><%= link_to "tools", tool_index_path %></li><hr>
  <li class="categorylist indoors"><%= link_to "indoor", indoor_index_path %></li> <hr>
  <li class="categorylist outdoors"><%= link_to "outdoor", outdoor_index_path %></li><hr>
</ul>