<% provide(:title, 'Home - Appliances, Pets, Babies...') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <div class="allnews">
    <%= image_tag("caticons/media/Marrow.PNG") %>
    <div class="mediasubcategories">
      <ul>
        <li><%= link_to image_tag("caticons/home/Happliance.PNG"), "#" %><%= link_to "appliances", "#" %></li>
        <li><%= link_to image_tag("caticons/home/Hbaby.PNG"), "#" %><%= link_to "baby", "#" %></li>
        <li><%= link_to image_tag("caticons/home/Hpet.PNG", height: '22', width: '24'), "#" %><%= link_to "pets", "#" %></li>
        <li><%= link_to image_tag("caticons/home/Htool.PNG"), "#" %><%= link_to "home improvement", "#" %></li>
      </ul>
    
    </div>
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
 
</div>