<% provide(:title, 'Home - Appliances, Pets, Babies...') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li><hr>
  <li class="categorylist appliances"><%= link_to "appliances", root_path %></li> <hr>
  <li class="categorylist baby"><%= link_to "baby", root_path %></li><hr>
  <li class="categorylist pets"><%= link_to "pets", root_path %></li><hr>
  <li class="categorylist tools"><%= link_to "tools", root_path %></li> <hr>
</ul>