<% provide(:title, 'Media') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <div class="allnews">
    <%= image_tag("caticons/media/Marrow.PNG") %>
    <div class="mediasubcategories">
      <ul>
        <li><%= link_to image_tag("caticons/media/Mbooks.PNG"), books_path %><%= link_to "books", books_path %></li>
        <li><%= link_to image_tag("caticons/media/Mmovies.PNG"), movies_path %><%= link_to "movies", movies_path %></li>
        <li><%= link_to image_tag("caticons/media/Mgames.PNG", height: '22', width: '24'), "#" %><%= link_to "games", "#" %></li>
        <li><%= link_to image_tag("caticons/media/Msongs.PNG"), songs_path %><%= link_to "music", songs_path %></li>
        <li><%= link_to image_tag("caticons/media/Mtv.PNG", height: '26', width: '24'), tvshows_path %><%= link_to "TV", tvshows_path %></li>
        <li><%= link_to image_tag("caticons/media/Mpodcasts.PNG", height: '26', width: '24'), podcasts_path %><%= link_to "podcasts", podcasts_path %></li>
      </ul>
    
    </div>
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
 
</div>