<% provide(:title, 'Inrevi - Just reviews.') %>

<div class="row">
  
  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %><br><br>
  </div>
   
  <div class="col-sm-8">
   <p id="notice"><%= notice %></p>
        <% if signed_in? %>
           <div class="qupdate">
               <div class="texty">    
                  <a href="<%= @link.link %>"><%= @link.text %></a>     
               </div>
           </div>
          
               <div class="homenews">
                 <%= render :file => '/activities/index' %>
               </div>
        <% else %>
             <div class="allnews">
             </div>
        <% end %>
   </div>

  <div class="col-sm-2"> <%= render 'shared/user_mainprofile' %> </div>

</div>

