<% provide(:title, 'Just reviews.') %>

<div class="row">
  
  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %><br><br>
  </div>
  
<% if signed_in? %>
  
<div class="col-sm-8">
    
 <div class="qupdate">

   <div class="texty">
       What body & bath products are you using in bathroom?
   </div>

 </div>
    
    <div class="homenews">
      
      <div class="separatenews"></div> 
    </div>
  </div>

  <div class="col-sm-2"> 
	   <strong><%= link_to user_path(current_user) do %> 
        <%= current_user.first_name %>
        <%= current_user.last_name.truncate(2, omission: '.')%>
      <% end %>
    </strong><br >
    <%= image_tag('othericons/logout.PNG') %><div class="logoutlink"><%= link_to "logout", signout_path%><br></div>
      <%= image_tag(current_user.normalimage)%>
    <div class="inreviews">
    </div>
      <%= render 'shared/stats' %>  <br><br>
	
  </div>

<% else %>

  <div class="col-sm-8">
    
    <div class="qupdate">
      <p id="notice"><%= notice %></p>
    </div>
    
    <div class="allnews">
      
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-3 homefblogo"><%= link_to image_tag("FBlogins.png", alt: "FB Login"), "/auth/facebook", id: "sign_in" %>
          <div class="safelogin">100% safe</div>
        </div>
          
        <div class="col-sm-4"></div>
      </div>
      
    </div>
  </div>

  <div class="col-sm-2"> </div>

<% end %>
  
</div>

