<% provide(:title, 'Create and collaborate') %>

<div class="row">

<div class="col-sm-3 categories">
 <ul class="nav nav-stacked categorylist">
  <li class="categorylist media"><%= link_to "media", root_path %></li>
  <li class="categorylist electronics"><%= link_to "electronics", root_path %></li> 
  <li class="categorylist local"><%= link_to "local", root_path %></li>
  <li class="categorylist travel"><%= link_to "travel", root_path %></li> 
  <li class="categorylist fashion"><%= link_to "fashion", root_path %></li>
  <li class="categorylist tech"><%= link_to "tech", root_path %></li> 
  <li class="categorylist health"><%= link_to "health & beauty", root_path %></li>
  <li class="categorylist hobbies"><%= link_to "hobbies", root_path %></li>
  <li class="categorylist home"><%= link_to "home & family", root_path %></li>
  <li class="categorylist auto"><%= link_to "auto", root_path %></li>
  </ul>
</div>
  
<div class="col-sm-7"> 
  <div class="qupdate">  
  What body & bath products are you using in bathroom?
    <div class="qupdate ud">updates  |  discussions </div>
  </div> 
  <div class="allnews">
  fghfgh
  </div>
</div>

<div class="col-sm-2">User profile sdfsdfs gh fghf g hjhjhjhh</div>

  
</div>

