<% provide(:title, 'Power To The People') %>

<% if signed_in? %>

<div class="row">
  
  <div class="col-xs-2"></div>

  <div class="col-xs-8">    
    <p id="notice"><%= notice %></p>
      <div class="homenews">
        <%= render :file => '/activities/index' %>
      </div>    
  </div>

  <div class="col-xs-2"></div>

</div>

 <% else %>

<div class="row">
  <div class="col-xs-5">
    <%= image_tag('otherbigimages/brain2.png') %>
  </div>
  
  <div class="col-xs-7" align="center">
    <p id="notice"><%= notice %></p>
    
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <% if resource.errors.any? %>
              <div id="error_explanation">
                <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.text_field :name, placeholder: "name", :class => "form-control login", :required => true %><br>
            <%= f.text_field :email, placeholder: "email", :class => "form-control login", :required => true %><br>
            <%= f.password_field :password, placeholder: "password", :class => "form-control login", :required => true %><br><br>
      
            <%= f.submit "Create my account", class: "btn btn-large btn-primary", data: { disable_with: "Creating..." } %> 

            <%= f.hidden_field :provider, :value => "email" %>

      <% end %>
    
  </div>
  
</div>
<br><br>

  <div align="center"><hr>
    © 2014
    <%= mail_to "support@inrevi.com", "Contact" %> | 
    <%= link_to "Terms & Privacy", tos_path %>
  </div>
<% end %>

