<% provide(:title, 'Local advertising') %>

<div class="row">

  <div class="col-sm-3 about">
    <%= render "shared/aboutcategories" %> 
  </div>

  <div class="col-sm-9">
    
    <div class="adslogan"><%= image_tag('caticons/Clocal.PNG') %> Limited number of plans. Order now!<br>
    
    </div>
    
      <div class="row plans">
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan1">
            <div class="titleplan">Plan 1</div>
            <hr>500 visitors
            <hr>$0.70/visitor
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", localplan1_path %></div>
        </div>
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan2">
            <div class="titleplan">Plan 2</div>
            <hr>3000 visitors
            <hr>$0.60/visitor
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", localplan2_path %></div>
        </div>
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan3">
            <div class="titleplan">Plan 3</div>
            <hr>10 000 visitors
            <hr>$0.45/visitor
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", localplan3_path %></div>
        </div> 
              
      </div>
     
  </div> 
</div>