<% provide(:title, "All users") %>

<% @users.each do |user| %>
<div class="row">
  
  <div class="col-xs-4">
    <% if user.image.blank? %>
      <%= image_tag("grey_star.PNG", width: "90", class: 'img-thumbnail') %>
    <% else %>
      <%= image_tag(user.image, width: "90", class: 'img-thumbnail') %>
    <% end %>
  </div>
  
  <div class="col-xs-4">
    <%= link_to user.name, user %>
  </div>
  
</div>
<hr>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @users %>
</div>

<hr>
      <li><%= link_to "Podcasts", "/all_podcasts" %></li>
      <li><%= link_to "Tech", "/all_tech" %></li>
      <li><%= link_to "Auto", "/all_vehicle" %></li>
      <li><%= link_to "Drug", "/all_drugs" %></li>
      <li><%= link_to "Art", "/all_finearts" %></li>