<% provide(:title, 'Tech advertising') %>

<div class="row">

  <div class="col-sm-3 about">
    <%= render "shared/aboutcategories" %> 
  </div>

  <div class="col-sm-9">
    
    <div class="adslogan"><%= image_tag('caticons/Ctech.PNG') %> Limited number of plans. Order now!<br>
    
    </div>
    
      <div class="row plans">
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan1">
            <div class="titleplan">Plan 1</div>
            <hr>500 clicks
            <hr>$2.60/click
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", techplan1_path %></div>
        </div>
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan2">
            <div class="titleplan">Plan 2</div>
            <hr>2000 clicks
            <hr>$2.25/click
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", techplan2_path %></div>
        </div>
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-3">
          <div class="col-sm-12 plan3">
            <div class="titleplan">Plan 3</div>
            <hr>5000 clicks
            <hr>$1.70/click
            <hr>
          </div><br>
          <div class="selectplan"><%= link_to "Select", techplan3_path %></div>
        </div> 
              
      </div>
     
  </div> 
</div>