<% if @avg_score == 0.0 %>
  <div class="noreviewsonindex">No reviews yet :( </div>
<% else %>
  <% @local_reviews.each do |local_review| %><br>

<div class="row">

      <% if local_review.user.provider == "facebook" %>
          <div class="col-xs-3">
            <%= image_tag(local_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">  
              <%= link_to user_path(local_review.user) do %> 
                <%= local_review.user.first_name %>
                <%= local_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif local_review.user.provider == "google_oauth2" %>
          <div class="col-xs-3">
            <%= image_tag(local_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">
              <%= link_to user_path(local_review.user) do %> 
                <%= local_review.user.first_name %>
                <%= local_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif local_review.user.provider == "email" %>
          <div class="col-xs-3">
            <%= image_tag(local_review.user.image, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">
              <%= link_to user_path(local_review.user) do %> 
                <%= local_review.user.name %>
              <% end %>
            </div> 

      <% elsif local_review.user.provider == "twitter" %>
          <div class="col-xs-3">
            <%= image_tag(local_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">   
              <%= link_to user_path(local_review.user) do %> 
                <%= local_review.user.name %>
              <% end %>
            </div>

      <% end %>  
  
          <div class="col-xs-3">
            <div class="numberOne">
              <%= local_review.point %>
            </div>
          </div>

</div>

         <br>
         <div class="separatereview">
           
          <div class="reviewcontent mobile" align="left"><%= simple_format(local_review.content) %></div>
           
                <% local_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 50), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == local_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == local_review.user %>
                    
                  <% elsif current_user.voted_for? local_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to "",  like_local_local_review_path(local_review.local_id, local_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to "", dislike_local_local_review_path(local_review.local_id, local_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>                
                
                <% end %>
                
              </div>
          
      </div><br>

  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @local_reviews %>
</div>