<div class="row autoup"> 
  <div class="col-sm-3"> 
    <%= image_tag @book_review.book_image if @book_review.book_image.present? %>
  </div> 
  
   <div class="col-sm-5 autoshow"> 
     <b><%= link_to @book_review.book_name, book_path(@book_review.book_id) if @book_review.book_name.present? %></b> <br>
     by <%= @book_review.book_authors if @book_review.book_authors.present? %> <br><br>
     Pages: <%= @book_review.book_pages if @book_review.book_pages %> <br>
     Year: <%= @book_review.book_date if @book_review.book_date.present? %> <br>
     Language: <%= @book_review.book_language if @book_review.book_language.present? %> <br><br> 
  
   </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
       <%= link_to "Write a Review", new_book_book_review_path(@book_review.book_id, @book_review) %>
    </div><br>
    
  </div>
  
</div> <br>