<div class="row">
  <% @book_reviews.each do |book_review| %>
    <div class="col-sm-3">
      <%= link_to user_path(book_review.user) do %> 
        <%= book_review.user.first_name %><br>
      <% end %>
      <%= image_tag(book_review.user.image, width: "80") %>
    </div>
    <div class="col-sm-9">
       <%= link_to "LINK", "books/#{book_review.book_id}" %><br>
      <%= book_review.point %> - <b><%= book_review.title %></b><br>
      <%= book_review.content %><br>
      <% book_review.review_images.each do |pic| %>
         <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
      <% end %><br><br>
      <%= book_review.get_upvotes.size %> | <%= book_review.get_downvotes.size %>
      <%= link_to 'Delete', book_book_review_path(book_review.book_id, book_review),
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-default" %>

      <hr>
    </div>
  <% end %>
</div>
