= form_for @movie_review do |f|
  - if @movie_review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie_review.errors.count, "error")} prohibited this movie_review from being saved:"
      %ul
        - @movie_review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :movie
    = f.text_field :movie
  .actions
    = f.submit 'Save'
