<%= nested_form_for(@movie_review, url: movie_movie_reviews_path, validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments') do |f| %>
  <% if @movie_review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @movie_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :point %>
  <div class="rating-comments"></div>
  <br>

  <div class="field">
      <%= f.text_area :content, :class => "form-control mobile-review-content", 
      :placeholder => "Write a review... ", 
      :onfocus => "this.placeholder = ''" %>
  </div><br>

      <div class="r-image"></div>

      <div class="r-rightside">
        <%= f.fields_for :review_images do |p| %>
            <%= p.file_field :image %>
        <% end %>
      </div>

      <br>
    
      <div class="actions">
        <%= f.submit " Submit ", :class => "btn btn-default", :id => "submit" %>
      </div><br>
    
      <div id="loading2" class="loadinggif" style="display:none;"><img src="/assets/othericons/uploading.gif" alt="" /></div>
      <div class="row dumb300"></div>

      <%= f.hidden_field :movie_id, :value => @movie.id %>
      <%= f.hidden_field :movie_imdb, :value => @movie.imdb_id %>
      <%= f.hidden_field :movie_title, :value => @movie.title %>
      <%= f.hidden_field :movie_runtime, :value => @movie.runtime %>
      <%= f.hidden_field :movie_poster, :value => @movie.poster_path %>
      <%= f.hidden_field :movie_year, :value => @movie.release_date.to_date.try(:year) %>

<% end %>

<script type="text/javascript">
        $('.rating-comments').raty({
  click: function(score, evt) {
    $("#movie_review_point").val(score);
    return console.log(score);
  }
});
</script>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_movie_review').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>

<script type="text/javascript">
  $('.r-image').on('click', function(e) {
  return $(".r-rightside").slideToggle();
});
</script>