<%= nested_form_for(@movie_review, url: movie_movie_reviews_path, validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments') do |f| %>
  <% if @movie_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @movie_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :point %>
    <div class="rating-comments"></div>
    <br>
  
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => "field podtitle", :placeholder => "max. 50 characters", :onfocus => "this.placeholder = ''" %>
    </div><br>
  
    <div class="field">
      <%= f.label :content %><div class="contentcharacters">(minimum 140 characters)</div><br>
      <%= f.text_area :content, :class => "field podcontent", :placeholder => "Tell the world what you like or dislike, give tips and suggestions... ", :onfocus => "this.placeholder = ''" %>
    </div><br>

  <div class="optionalreview">Optional (images):</div>

      <%= f.fields_for :review_images do |p| %>
      <%= image_tag('othericons/PhotoShow.PNG') %>
        <div class="browseimage"><%= p.file_field :image %></div>  
        <div class="removeicon"><%= p.link_to_remove image_tag('othericons/removeicon.PNG') %></div><br><br>
      <% end %>
      <%= f.link_to_add "+ Add another image", :review_images %>

  <br><br><br>
    
      <div class="actions">
        <%= f.submit " Submit ", :class => "btn btn-primary", :id => "submit" %>
      </div><br>
    
      <div id="loading2" class="loadinggif" style="display:none;"><img src="/assets/othericons/uploading.gif" alt="" /></div>

      <%= f.text_field :movie_id, :value => @movie.id %>
      <%= f.text_field :movie_imdb, :value => @movie.imdb_id %>
      <%= f.text_field :movie_title, :value => @movie.title %>
      <%= f.text_field :movie_runtime, :value => @movie.runtime %>
      <%= f.text_field :movie_poster, :value => @movie.poster_path %>
      <%= f.text_field :movie_year, :value => @movie.release_date.to_date.try(:year) %>

<% end %>

<script type="text/javascript">
        $('.rating-comments').raty({
  click: function(score, evt) {
    $("#movie_review_point").val(score);
    return console.log(score);
  }
});
</script>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_movie_review').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>
