<div class="row">
  <% @all_movie_reviews.each do |all_movie_review| %>
    <div class="col-sm-3">
      <%= link_to user_path(all_movie_review.user) do %> 
        <%= all_movie_review.user.first_name %><br>
      <% end %>
      <%= image_tag(all_movie_review.user.image, width: "80") %>
    </div>
    <div class="col-sm-9">
      <%= link_to all_movie_review.movie_title, "movies/#{all_movie_review.movie_id}" %><br>
      <%= all_movie_review.point %><br>
      <%= all_movie_review.content %><br>
      <% all_movie_review.review_images.each do |pic| %>
         <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
      <% end %><br><br>
      <%= all_movie_review.get_upvotes.size %> | <%= all_movie_review.get_downvotes.size %>
      <%= link_to 'Delete', movie_movie_review_path(all_movie_review.movie_id, all_movie_review),
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-default" %>

      <hr>
    </div>
  <% end %>
</div>

<div class="digg_pagination">
  <%= will_paginate @movie_reviews %>
</div>