%h1 Listing movie_reviews

%table
  %tr
    %th Title
    %th Content
    %th User
    %th Movie
    %th
    %th
    %th

  - @movie_reviews.each do |movie_review|
    %tr
      %td= movie_review.title
      %td= movie_review.content
      %td= movie_review.user
      %td= movie_review.movie
      %td= link_to 'Show', movie_review
      %td= link_to 'Edit', edit_movie_review_path(movie_review)
      %td= link_to 'Destroy', movie_review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Movie review', new_movie_review_path
