<% if @avg_score == 0.0 %>
  <div class="noreviewsonindex">No reviews yet :( </div>
<% else %>
<% @movie_reviews.each do |movie_review| %><br>
      <% if movie_review.user.provider == "facebook" %>
          <div class="mobile-activity-photo">
            <%= image_tag(movie_review.user.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(movie_review.user) do %> 
                <%= movie_review.user.first_name %>
                <%= movie_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif movie_review.user.provider == "google_oauth2" %>
          <div class="mobile-activity-photo">
            <%= image_tag(movie_review.user.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(movie_review.user) do %> 
                <%= movie_review.user.first_name %>
                <%= movie_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif movie_review.user.provider == "email" %>
          <div class="mobile-activity-photo">
            <%= image_tag(movie_review.user.image, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(movie_review.user) do %> 
                <%= movie_review.user.name %>
              <% end %>
            </div> 

      <% elsif movie_review.user.provider == "twitter" %>
          <div class="mobile-activity-photo">
            <%= image_tag(movie_review.user.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(movie_review.user) do %> 
                <%= movie_review.user.name %>
              <% end %>
            </div>

      <% end %>  


       <br>
         <div class="separatereview">
           
            <div class="numberOne">
              <%= movie_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(movie_review.content) %></div>
           
                <% movie_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 50), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == movie_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == movie_review.user %>
                    
                  <% elsif current_user.voted_for? movie_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to "",  like_movie_movie_review_path(movie_review.movie_id, movie_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to "", dislike_movie_movie_review_path(movie_review.movie_id, movie_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>                
                
                <% end %>
                
              </div>
          
      </div><br>

  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @movie_reviews %>
</div>