<%= form_for @tech, validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments' do |f| %>

<%= render 'shared/main_error_messages', object: f.object %>

    <%= f.label :name %><br>
<%= f.text_field :name, :class => "form-control mobiletitle" %><br><br>

    <%= f.label :tag_list, "Category - separate by commas" %><br>
    <%= f.text_field :tag_list, :placeholder => "e.g hosting, accounting" , :class => "form-control mobiletitle" %><br><br>

    <%= f.label :website, "Website" %><br>
<%= f.text_field :website, :class => "form-control mobiletitle", :placeholder => "include https://..." %><br><br>

    <%= image_tag("othericons/PhotoShow.PNG") %>
<%= f.file_field :image, :placeholder => "e.g. https://imgur.com/Iks3rd" , :class => "podcastnew" %><br><br>

    <%= submit_tag 'Submit', :class => 'btn btn-default', :id => "submit" %> <br>

      <div id="loading2" class="loadinggif" style="display:none;">
          <%= image_tag("othericons/uploading.gif", alt: "") %><br>
          Uploading...
      </div>

<% end %>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_tech').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>