<div class="row podup"> 
  
  <div class="col-sm-3"> 
    <%= link_to (image_tag @tech.image_url(:thumb)), @tech.image_url, target: :_blank if @tech.image? %>
  </div> 
  
  <div class="col-sm-5 autoshow"> 
    
    <b><%= @tech.name %></b><br><br>

   <div class="podinfo">
     <%= link_to "Website", @tech.website, :target => "_blank" %><br >
     <b>Categories:</b> <%= raw @tech.tags.map(&:name).map { |t| t }.join(', ') %>
   </div>
    
  </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_tech_tech_review_path(@tech) %>
    </div>
    
       <div>
         <hr>
         <%= render 'show_rating' %>
       </div>
    
  </div>
  
</div> <br>