<div class="row podup"> 
  
  <div class="col-sm-3"> 
    <%= image_tag @tech.image_url(:thumb) if @tech.image? %>
  </div> 
  
  <div class="col-sm-5"> 
    <div class="technameshow">
      <%= link_to @tech.name, tech_path(@tech) %>
    </div>

   <div class="podinfo">
     <%= link_to "Website", @tech.website, :target => "_blank" %><br >
     <b>Categories:</b> <%= raw @tech.tags.map(&:name).map { |t| t }.join(', ') %>
   </div>
    
  </div>
  
  <div class="col-sm-4">
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_tech_tech_review_path(@tech) %>
    </div><br>
    
       <div>
         <%= render 'show_rating' %>
       </div>
    
  </div>
  
</div> <br>