<div class="row podup"> 
  <div class="col-sm-3"> <%= image_tag @tech.image_url(:thumb) if @tech.image? %></div> 
  
  <div class="col-sm-5"> 
   <b><%= link_to @tech.name, tech_path(@tech) %></b> <br><br>

   <div class="podinfo">
      Website:  <%= @tech.website %><br >
      Subject(s): <%= raw @tech.tags.map(&:name).map { |t| link_to t, ttag_path(t) }.join(', ') %>
   </div>
  </div>
  <div class="col-sm-4">
    <%= link_to "Write a review", new_tech_tech_review_path(@tech) %><br><br>
    <%= image_tag("othericons/PhotoShow.PNG") %> (6) 
    <%= image_tag("othericons/VideoShow.PNG") %> (7) <br><br>
    <%= link_to "Edit", edit_tech_path(@tech) %>
  </div>
</div> <br>