<% provide(:title, 'Results...') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
    
  <div class="col-sm-8"> 
    <div class="allnews">
      
      <%= form_tag teches_search_path, :method => :get do %>      
      <div class="searchbox">
        <%= text_field_tag :search, params[:search], :placeholder => "by name or category" , 
        class: "form-control search" %>
      </div>
      <div class="searchgo">
        <span class="input-group-btn">
          <%= submit_tag "Go", class: "btn btn-default" %>
        </span>
      </div>
     <% end %>
    
        <hr>
      
      <% if @teches.empty? %>
          No results! Try something else or <b><%= link_to "+ Add new", new_tech_path() %></b>
          <div class="row dumb500"></div>
       <% else %>
      <div class="uselessresults">Useless results? <b><%= link_to "+ Add new", new_tech_path() %></b></div><br>
        <% @teches.each do |tech| %>
          <div class="row">
             <div class="col-sm-4 podsin">
               <%= image_tag tech.image_url(:thumb) if tech.image? %>
             </div>
             <div class="col-sm-7 podsin">
    
                <div class="podcastsnowindex">
                  <%= link_to tech.name.truncate(50, omission: '...'), tech %>
                </div><br>
             </div>
            
            <div class="col-sm-1">
              <% if tech.tech_reviews.count >= 1 %>
               <div class="numberOneindex">
                <%= ((tech.tech_reviews.inject(0) { |sum, e| sum += e.point }).to_f / tech.tech_reviews.count).round(1) rescue 0 %>
               </div>
              <% end %>
            </div>
           
         </div>
        <% end %>
      
          <div class="digg_pagination">
            <%= will_paginate @teches %>
          </div>      

       <% end %>
      
    </div>
  </div>
  
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>
 
</div>