<% provide(:title, 'Results...') %>
<hr>          
  <%= form_tag teches_search_path, :method => :get do %>
                <%= text_field_tag :search, params[:search], :placeholder => "by name" , :class => "form-control mobile-search" %>
              <br>      
              <div class="searchgo">
                <span class="input-group-btn">
                  <%= submit_tag "Go", class: "btn btn-default" %>
                </span>
              </div>
      
  <% end %>
<hr>

  <% if @teches.empty? %>
          No results! Try something else or <b><%= link_to "+ Add new", new_tech_path() %></b>
   <% else %>
      <div class="uselessresults">Useless results? <b><%= link_to "+ Add new", new_tech_path() %></b></div><br>
        <% @teches.each do |tech| %>
            <hr>
                <%= link_to tech.name.truncate(50, omission: '...'), tech %><br>

              <% if tech.tech_reviews.count >= 1 %>
               <div class="numberOneindex">
                 <%= ((tech.tech_reviews.inject(0) { |sum, e| sum += e.point }).to_f / tech.tech_reviews.count).round(1) rescue 0 %>
               </div>
              <% end %><br>

               <%= image_tag tech.image_url(:thumb) if tech.image? %>

        <% end %>
      
          <div class="digg_pagination">
            <%= will_paginate @teches %>
          </div>      

  <% end %>