<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tech.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @tech.website %>
</p>

<%= link_to 'Edit', edit_tech_path(@tech) %> |
<%= link_to 'Back', teches_path %>
