<% provide(:title, @tech.name) %>

<hr>
    <div class="item-name-mobile">
      <%= link_to @tech.name.truncate(80, omission: '...'), tech_path(@tech) %>
    </div>
      <%= render 'show_rating' %>
    <%= link_to image_tag(@tech.image_url(:thumb)), @tech.image_url, target: :_blank if @tech.image? %> <br>
    <b>categories:</b> <%= raw @tech.tags.map(&:name).map { |t| t }.join(', ') %><br>

    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview mobile">
      <%= link_to "Write a Review", new_tech_tech_review_path(@tech) %>
    </div><hr>

    <% if @promotion.present? && @promotion.tech %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>

  <div class="row"> 
    <%= render :file => '/tech_reviews/index' %>
  </div>