<div class="row">
  <% @all_podcast_reviews.each do |all_podcast_review| %>
    <div class="col-sm-3">
      <%= link_to user_path(all_podcast_review.user) do %> 
        <%= all_podcast_review.user.first_name %><br>
      <% end %>
      <%= image_tag(all_podcast_review.user.image, width: "80") %>
    </div>
    <div class="col-sm-9">
      Auto: <%= link_to all_podcast_review.podcast.name, all_podcast_review.podcast %><br>
      <%= all_podcast_review.point %> - <b><%= all_podcast_review.title %></b><br>
      <%= all_podcast_review.content %><br>
      <% all_podcast_review.review_images.each do |pic| %>
         <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
      <% end %><br><br>
      <%= all_podcast_review.get_upvotes.size %> | <%= all_podcast_review.get_downvotes.size %>
      <%= link_to 'Delete', [all_podcast_review.podcast, all_podcast_review],
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-default" %>

      <hr>
    </div>
  <% end %>
</div>