<% if @avg_score == 0.0 %>
<div class="noreviewsonindex">No reviews :( </div>
<div class="row dumb500"></div>
<% else %>
  <% @podcast_reviews.each do |podcast_review| %><br>
    <div class="col-sm-3"> 
      <div class="reviewname">     
        <%= link_to user_path(podcast_review.user) do %> 
          <%= podcast_review.user.first_name %>
          <%= podcast_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>    
        <%= image_tag(podcast_review.user.image, width: "80") %>  
     </div>
        
      <div class="col-sm-9 podreview"> 
         <div class="separatereview">
           
            <div class="numberOne">
              <%= podcast_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(podcast_review.content) %></div>
           
                <% podcast_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == podcast_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == podcast_review.user %>
                    
                  <% elsif current_user.voted_for? podcast_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to "",  like_podcast_podcast_review_path(podcast_review.podcast_id, podcast_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to "", dislike_podcast_podcast_review_path(podcast_review.podcast_id, podcast_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>
                
                <% if can? :destroy, PodcastReview %>
                        <hr>
                            <%= podcast_review.get_upvotes.size %> | <%= podcast_review.get_downvotes.size %>
                            <%= link_to 'Delete', [podcast_review.podcast, podcast_review],
                                       method: :delete,
                                       data: { confirm: 'Are you sure?'},
                                       class: "btn btn-default" %>
                      <% end %>
                
                <% end %>
                
              </div>
          
      </div><br>
    </div>
  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @podcast_reviews %>
</div>
