<% provide(:title, 'Sign up') %>

<div class="row">
  
  <div class="col-xs-2 categories">
    <%= render 'shared/categories' %><br><br>
  </div>

  <div class="col-xs-8" align="center">
    <div class="homenews">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <% if resource.errors.any? %>
              <div id="error_explanation">
                <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.text_field :name, placeholder: "name", :class => "form-control login", :required => true %><br>
            <%= f.text_field :email, placeholder: "email", :class => "form-control login", :required => true %><br>
            <%= f.password_field :password, placeholder: "password", :class => "form-control login", :required => true %><br><br>
      
            <%= f.submit "Create my account", class: "btn btn-large btn-primary", data: { disable_with: "Creating..." } %> 

          <%= f.hidden_field :provider, :value => "email" %>

      <% end %>
      
      <div class="row dumb300"></div><hr>
      
    </div>
  </div>

  <div class="col-xs-2"> 
    <%= render 'shared/user_mainprofile' %> 
  </div>

</div>