<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
      <li>Mirrors
         <ul class="current-l">
           <li><%= link_to "Shower", "/beatools/search?utf8=✓&query=Shower+Mirror&category=&commit=Go" %></li>
           <li><%= link_to "Makeup", "/beatools/search?utf8=✓&query=Makeup+Mirror&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Hair Coloring
         <ul class="current-l">
           <li><%= link_to "Caps, Foils & Wraps", "/beatools/search?utf8=✓&query=Foil+Hair+Color&category=&commit=Go" %></li>
           <li><%= link_to "Brushes, Combs & Needles", "/beatools/search?utf8=✓&query=Brush+Comb+Hair+Color&category=&commit=Go" %></li>
           <li><%= link_to "Applicator Bottles", "/beatools/search?utf8=✓&query=Applicator+Bottle&category=&commit=Go" %></li>
           <li><%= link_to "Mixing Bowls", "/beatools/search?utf8=✓&query=Mixing+Bowl&category=&commit=Go" %></li>
           <li><%= link_to "Removers", "/beatools/search?utf8=✓&query=Hair+Color+Remover&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Facial Steamers", "/beatools/search?utf8=✓&query=Facial+Steamer&category=&commit=Go" %></li>
      <li>Nail Tools
         <ul class="current-l">
           <li><%= link_to "Foot Rasps", "/beatools/search?utf8=✓&query=Foot+Rasps&category=&commit=Go" %></li>
           <li><%= link_to "Cuticle Pushers", "/beatools/search?utf8=✓&query=Cuticle+Pusher&category=&commit=Go" %></li>
           <li><%= link_to "Nail Files & Buffers", "/beatools/search?utf8=✓&query=Nail+File+Buffer&category=&commit=Go" %></li>
           <li><%= link_to "False Nails", "/beatools/search?utf8=✓&query=False+Nails&category=&commit=Go" %></li>
           <li><%= link_to "Clippers & Trimmers", "/beatools/search?utf8=✓&query=Clipper+Trimmer&category=&commit=Go" %></li>
           <li><%= link_to "Toe Separators", "/beatools/search?utf8=✓&query=Toe+Separators&category=&commit=Go" %></li>
           <li><%= link_to "Cuticle Scissors", "/beatools/search?utf8=✓&query=Cuticle+Scissors&category=&commit=Go" %></li>
           <li><%= link_to "Nail Dryers", "/beatools/search?utf8=✓&query=Nail+Dryer&category=&commit=Go" %></li>
           <li><%= link_to "Spa Slippers", "/beatools/search?utf8=✓&query=Spa+Slippers&category=&commit=Go" %></li>
           <li><%= link_to "Nail Brushes", "/beatools/search?utf8=✓&query=Nail+Brush&category=&commit=Go" %></li>
           <li><%= link_to "Sets & Kits", "/beatools/search?utf8=✓&query=Nail+Tools+Set&category=&commit=Go" %></li>
           <li><%= link_to "Nail Art Equipment", "/beatools/search?utf8=✓&query=Nail+Art+Equipment&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Makeup Brushes & Tools
         <ul class="current-l">
           <li><%= link_to "Brushes & Applicators", "/beatools/search?utf8=✓&query=Makeup+Brush+Applicator&category=&commit=Go" %></li>
           <li><%= link_to "Blotting Paper", "/beatools/search?utf8=✓&query=Blotting+Paper&category=&commit=Go" %></li>
           <li><%= link_to "Eyelash Tools", "/beatools/search?utf8=✓&query=Eyelash+Tools&category=&commit=Go" %></li>
           <li><%= link_to "Treatment Tools", "/beatools/search?utf8=✓&query=Treatment+Tool&category=&commit=Go" %></li>
           <li><%= link_to "Sets & Kits", "/beatools/search?utf8=✓&query=Makeup+Set&category=&commit=Go" %></li>
           <li><%= link_to "Puffs, Sponges & Wedges", "/beatools/search?utf8=✓&query=Makeup+Puff+Sponge&category=&commit=Go" %></li>
           <li><%= link_to "Sharpeners", "/beatools/search?utf8=✓&query=Makeup+Sharpener&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Bags & Cases
         <ul class="current-l">
           <li><%= link_to "Travel Cases & Holders", "/beatools/search?utf8=✓&query=Travel+Case+Holders&category=&commit=Go" %></li>
           <li><%= link_to "Cosmetic Bags", "/beatools/search?utf8=✓&query=Cosmetic+Bag&category=&commit=Go" %></li>
           <li><%= link_to "Train Cases", "/beatools/search?utf8=✓&query=Train+Case&category=&commit=Go" %></li>
           <li><%= link_to "Tote Bags", "/beatools/search?utf8=✓&query=Tote+Bag&category=&commit=Go" %></li>
           <li><%= link_to "Refillable Containers", "/beatools/search?utf8=✓&query=Refillable+Container&category=&commit=Go" %></li>
           <li><%= link_to "Toiletry Bags", "/beatools/search?utf8=✓&query=Toiletry+Bag&category=&commit=Go" %></li>
           <li><%= link_to "Brush Bags", "/beatools/search?utf8=✓&query=Brush+Bag&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Cotton & Swabs
         <ul class="current-l">
           <li><%= link_to "Cotton Swabs", "/beatools/search?utf8=✓&query=Cotton+Swab&category=&commit=Go" %></li>
           <li><%= link_to "Cotton Balls", "/beatools/search?utf8=✓&query=Cotton+Balls&category=&commit=Go" %></li>
         </ul>
      </li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>