<hr>

<div id="nav-listz">  
    <ul>      
      
      <li>Cleansers
         <ul class="current-l">
           <li><%= link_to "Soaps", "/bodybaths/search?utf8=✓&query=Soap&category=&commit=Go" %></li>
           <li><%= link_to "Body Washes", "/bodybaths/search?utf8=✓&query=Body+Wash&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Bath
         <ul class="current-l">
           <li><%= link_to "Bubble Bath", "/bodybaths/search?utf8=✓&query=Bubble+Bath&category=&commit=Go" %></li>
           <li><%= link_to "Bath Pearls & Flakes", "/bodybaths/search?utf8=✓&query=Bath+Pearls&category=&commit=Go" %></li>
           <li><%= link_to "Minerals & Salts", "/bodybaths/search?utf8=✓&query=Mineral+Salt&category=&commit=Go" %></li>
           <li><%= link_to "Bath Bombs", "/bodybaths/search?utf8=✓&query=Bath+Bomb&category=&commit=Go" %></li>
           <li><%= link_to "Oils", "/bodybaths/search?utf8=✓&query=Bath+Oils&category=&commit=Go" %></li>
           <li><%= link_to "Tub Tea", "/bodybaths/search?utf8=✓&query=Bath+Tub+Tea&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Bathing Accessories
         <ul class="current-l">
           <li><%= link_to "Bath Trays", "/bodybaths/search?utf8=✓&query=Bath+Trays&category=&commit=Go" %></li>
           <li><%= link_to "Shower Caps", "/bodybaths/search?utf8=✓&query=Shower+Cap&category=&commit=Go" %></li>
           <li><%= link_to "Bath Mitts & Cloths", "/bodybaths/search?utf8=✓&query=Bath+Mitt++Cloth&category=&commit=Go" %></li>
           <li><%= link_to "Loofahs, Sponges & Poufs", "/bodybaths/search?utf8=✓&query=Loofah&category=&commit=Go" %></li>
           <li><%= link_to "Eye Masks", "/bodybaths/search?utf8=✓&query=Eye+Mask&category=&commit=Go" %></li>
           <li><%= link_to "Bath Pillows", "/bodybaths/search?utf8=✓&query=Bath+Pillow&category=&commit=Go" %></li>
           <li><%= link_to "Bath Brushes", "/bodybaths/search?utf8=✓&query=Bath+Brush&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Scrubs & Body Treatments
         <ul class="current-l">
           <li><%= link_to "Body Mud", "/bodybaths/search?utf8=✓&query=Body+Mud&category=&commit=Go" %></li>
           <li><%= link_to "Body Souffles & Mousse", "/bodybaths/search?utf8=✓&query=Body+Souffle&category=&commit=Go" %></li>
           <li><%= link_to "Body Scrubs", "/bodybaths/search?utf8=✓&query=Body+Scrub&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Sets", "/bodybaths/search?utf8=✓&query=Set&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>