<hr>

<div id="nav-listz">  
    <ul>      
      
       <li><%= link_to "Camcorders", "/cameras/search?utf8=✓&query=Camcorder&category=&commit=Go" %></li>
      <li>Digital Cameras
         <ul class="current-l">
           <li><%= link_to "SLR", "/cameras/search?utf8=✓&query=Digital+SLR+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Point & Shoot", "/cameras/search?utf8=✓&query=Point+Shoot+Digital+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Compact System", "/cameras/search?utf8=✓&query=Compact+System+Digital+Camera&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Underwater Photography
         <ul class="current-l">
           <li><%= link_to "Cameras", "/cameras/search?utf8=✓&query=Underwater+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Camcorders", "/cameras/search?utf8=✓&query=Underwater+Camcorder&category=&commit=Go" %></li>
           <li><%= link_to "Housings", "/cameras/search?utf8=✓&query=Underwater+Housing&category=&commit=Go" %></li>
           <li><%= link_to "Lighting", "/cameras/search?utf8=✓&query=Underwater+Lighting&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Flashes
         <ul class="current-l">
           <li><%= link_to "Shoe Mount", "/cameras/search?utf8=✓&query=Shoe+Mount+Flash&category=&commit=Go" %></li>
           <li><%= link_to "Macro & Ringlight", "/cameras/search?utf8=✓&query=Macro+%26+Ringlight+Flash&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Lenses
         <ul class="current-l">
           <li><%= link_to "Camera", "/cameras/search?utf8=✓&query=Camera+Lenses&category=&commit=Go" %></li>
           <li><%= link_to "Camcorder", "/cameras/search?utf8=✓&query=Camcorder+Lens&category=&commit=Go" %></li>
           <li><%= link_to "Underwater", "/cameras/search?utf8=✓&query=Underwater+Lens&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Projectors", "/cameras/search?utf8=✓&query=Slide+Projector&category=&commit=Go" %></li>
      <li>Surveillance Cameras
         <ul class="current-l">
           <li><%= link_to "Hidden", "/cameras/search?utf8=✓&query=Hidden+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Dome", "/cameras/search?utf8=✓&query=Dome+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Bullet", "/cameras/search?utf8=✓&query=Bullet+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Simulated", "/cameras/search?utf8=✓&query=Simulated+Camera&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Film Cameras
         <ul class="current-l">
           <li><%= link_to "Instant", "/cameras/search?utf8=✓&query=Instant+Film+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Point & Shoot", "/cameras/search?utf8=✓&query=Point+%26+Shoot+Film+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Large-Format", "/cameras/search?utf8=✓&query=Large+Format+Camera&category=&commit=Go" %></li>
           <li><%= link_to "APS", "/cameras/search?utf8=✓&query=APS+Film+Camera&category=&commit=Go" %></li>
           <li><%= link_to "SLR", "/cameras/search?utf8=✓&query=SLR+Film+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Medium-Format", "/cameras/search?utf8=✓&query=Medium-Format+Film+Camera&category=&commit=Go" %></li>
           <li><%= link_to "Disposable", "/cameras/search?utf8=✓&query=Disposable+Film+Camera&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Binoculars, Telescopes & Optics
         <ul class="current-l">
           <li><%= link_to "Binoculars", "/cameras/search?utf8=✓&query=Binocular&category=&commit=Go" %></li>
           <li><%= link_to "Microscopes", "/cameras/search?utf8=✓&query=Microscope&category=&commit=Go" %></li>
           <li><%= link_to "Telescopes", "/cameras/search?utf8=✓&query=Telescope&category=&commit=Go" %></li>
           <li><%= link_to "Monoculars", "/cameras/search?utf8=✓&query=Monocular&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Tripods & Monopods
         <ul class="current-l">
           <li><%= link_to "Tripod Heads", "/cameras/search?utf8=✓&query=Tripod+Head&category=&commit=Go" %></li>
           <li><%= link_to "Complete Tripod Units", "/cameras/search?utf8=✓&query=Complete+Tripod+Unit&category=&commit=Go" %></li>
           <li><%= link_to "Tripod Legs", "/cameras/search?utf8=✓&query=Tripod+Legs&category=&commit=Go" %></li>
           <li><%= link_to "Tabletop & Travel", "/cameras/search?utf8=✓&query=Tabletop&category=&commit=Go" %></li>
           <li><%= link_to "Monopods", "/cameras/search?utf8=✓&query=Monopod&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Printers & Scanners", "/cameras/search?utf8=✓&query=Printer&category=&commit=Go" %></li>
      <li>Accessories
         <ul class="current-l">
           <li><%= link_to "Professional Video", "/cameras/search?utf8=✓&query=Professional+Video&category=&commit=Go" %></li>
           <li><%= link_to "Photo Studio", "/cameras/search?utf8=✓&query=Photo+Studio&category=&commit=Go" %></li>
           <li><%= link_to "Rain Covers", "/cameras/search?utf8=✓&query=Rain+Cover&category=&commit=Go" %></li>
           <li><%= link_to "Filters", "/cameras/search?utf8=✓&query=Filter&category=&commit=Go" %></li>
           <li><%= link_to "Blank Media", "/cameras/search?utf8=✓&query=Blank+Media&category=&commit=Go" %></li>
           <li><%= link_to "Cables & Cords", "/cameras/search?utf8=✓&query=Cable+Cord&category=&commit=Go" %></li>
           <li><%= link_to "Darkroom Supplies", "/cameras/search?utf8=✓&query=Darkroom&category=&commit=Go" %></li>
           <li><%= link_to "Cleaners", "/cameras/search?utf8=✓&query=Cleaner&category=&commit=Go" %></li>
           <li><%= link_to "Light Meters", "/cameras/search?utf8=✓&query=Light+Meter&category=&commit=Go" %></li>
           <li><%= link_to "Cases & Bags", "/cameras/search?utf8=✓&query=Case+Bag&category=&commit=Go" %></li>
           <li><%= link_to "Tripod & Monopod", "/cameras/search?utf8=✓&query=Tripod+Monopod&category=&commit=Go" %></li>
           <li><%= link_to "Viewfinders", "/cameras/search?utf8=✓&query=Viewfinder&category=&commit=Go" %></li>
           <li><%= link_to "Binocular, Camera & Camcorder Straps", "/cameras/search?utf8=✓&query=Straps&category=&commit=Go" %></li>
           <li><%= link_to "Sandbags", "/cameras/search?utf8=✓&query=Sandbag&category=&commit=Go" %></li>
           <li><%= link_to "Film", "/cameras/search?utf8=✓&query=Film+Accessories&category=&commit=Go" %></li>
           <li><%= link_to "Light Boxes & Loupes", "/cameras/search?utf8=✓&query=Light+Box&category=&commit=Go" %></li>
           <li><%= link_to "Remote Controls", "/cameras/search?utf8=✓&query=Remote+Control&category=&commit=Go" %></li>
           <li><%= link_to "Screen Protectors", "/cameras/search?utf8=✓&query=Screen+Protector&category=&commit=Go" %></li>
           <li><%= link_to "Batteries & Chargers", "/cameras/search?utf8=✓&query=Batteries+Chargers&category=&commit=Go" %></li>
           <li><%= link_to "Lighting", "/cameras/search?utf8=✓&query=Lighting&category=&commit=Go" %></li>
         </ul>
      </li>     
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>