<hr>

<div id="nav-listz" align="left">  
    <ul>      
     
      <li>Car
         <ul class="current-l">
           <li><%= link_to "Audio", "/carelectros/search?utf8=✓&query=Car+Audio&category=&commit=Go" %></li>
           <li><%= link_to "Video", "/carelectros/search?utf8=✓&query=Car+Video&category=&commit=Go" %></li>
           <li><%= link_to "Security", "/carelectros/search?utf8=✓&query=Car+Security&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Accessories
         <ul class="current-l">
           <li><%= link_to "Radar Detectors", "/carelectros/search?utf8=✓&query=Radar+Detector&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Motorcycle
         <ul class="current-l">
           <li><%= link_to "GPS", "/carelectros/search?utf8=✓&query=Motorcycle+GPS&category=&commit=Go" %></li>
           <li><%= link_to "Accessory Mounts", "/carelectros/search?utf8=✓&query=Motorcycle+Accessory+Mounts&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Marine
         <ul class="current-l">
           <li><%= link_to "Speakers", "/carelectros/search?utf8=✓&query=Marine+Speaker&category=&commit=Go" %></li>
           <li><%= link_to "Radar Systems", "/carelectros/search?utf8=✓&query=Radar+System&category=&commit=Go" %></li>
           <li><%= link_to "Antennas", "/carelectros/search?utf8=✓&query=Marine+Antenna&category=&commit=Go" %></li>
           <li><%= link_to "Amplifiers", "/carelectros/search?utf8=✓&query=Marine+Amplifier&category=&commit=Go" %></li>
           <li><%= link_to "Boating GPS", "/carelectros/search?utf8=✓&query=Motorcycle+GPS&category=&commit=Go" %></li>
           <li><%= link_to "Fishfinders", "/carelectros/search?utf8=✓&query=Fishfinder&category=&commit=Go" %></li>
           <li><%= link_to "Subwoofers", "/carelectros/search?utf8=✓&query=Marine+Subwoofers&category=&commit=Go" %></li>
           <li><%= link_to "Stereos", "/carelectros/search?utf8=✓&query=Marine+Stereo&category=&commit=Go" %></li>
           <li><%= link_to "Depth Finders", "/carelectros/search?utf8=✓&query=Depth+Finders&category=&commit=Go" %></li>
           <li><%= link_to "Two-Way Radios", "/carelectros/search?utf8=✓&query=Marine+Two-Way+Radio&category=&commit=Go" %></li>
           <li><%= link_to "Autopilots", "/carelectros/search?utf8=✓&query=Autopilot&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Aviation
         <ul class="current-l">
           <li><%= link_to "Aviation GPS", "/carelectros/search?utf8=✓&query=Aviation+GPS&category=&commit=Go" %></li>
           <li><%= link_to "Headsets & Intercoms", "/carelectros/search?utf8=✓&query=Aviation+Headset&category=&commit=Go" %></li>
         </ul>
      </li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>