<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
<li>Men
  <ul class="current-l">
    <li>Active
      <ul class="current-l">
        <li><%= link_to "Athletic Supporters", "/clothings/search?utf8=✓&query=men+Athletic+Supporters&category=&commit=Go" %></li>
        <li><%= link_to "Active Pants", "/clothings/search?utf8=✓&query=men+Active+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Active Shorts", "/clothings/search?utf8=✓&query=men+Active+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Active Sweatshirts", "/clothings/search?utf8=✓&query=men+Active+Sweatshirts&category=&commit=Go" %></li>
        <li><%= link_to "Active Base Layers", "/clothings/search?utf8=✓&query=men+Active+Base+Layers&category=&commit=Go" %></li>
        <li><%= link_to "Active Shirts & Tees", "/clothings/search?utf8=✓&query=men+Active+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Athletic Socks", "/clothings/search?utf8=✓&query=men+Athletic+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Active Hoodies", "/clothings/search?utf8=✓&query=men+Active+Hoodies&category=&commit=Go" %></li>
        <li><%= link_to "Active Vests", "/clothings/search?utf8=✓&query=men+Active+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Active Tracksuits", "/clothings/search?utf8=✓&query=men+Active+Tracksuits&category=&commit=Go" %></li>
        <li><%= link_to "Active Underwear", "/clothings/search?utf8=✓&query=men+Active+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Track & Active Jackets", "/clothings/search?utf8=✓&query=men+Active+Jackets&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Socks
      <ul class="current-l">
        <li><%= link_to "Casual Socks", "/clothings/search?utf8=✓&query=men+Casual+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Dress & Trouser Socks", "/clothings/search?utf8=✓&query=men+Trouser+Socks&category=&commit=Go" %></li>
      </ul>
    </li>        
      
    <li>Outerwear & Coats
      <ul class="current-l">
        <li><%= link_to "Denim", "/clothings/search?utf8=✓&query=men+Denim+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Down & Parkas", "/clothings/search?utf8=✓&query=men+Down+Parkas&category=&commit=Go" %></li>
        <li><%= link_to "Trench & Rain", "/clothings/search?utf8=✓&query=men+Trench+Rain&category=&commit=Go" %></li>
        <li><%= link_to "Leather & Suede", "/clothings/search?utf8=✓&query=men+Leather+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Fleece", "/clothings/search?utf8=✓&query=men+Fleece&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=men+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Wool & Blends", "/clothings/search?utf8=✓&query=men+Wool+Blends+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Work Wear", "/clothings/search?utf8=✓&query=men+Work+Wear+Jacket&category=&commit=Go" %></li>
        <li><%= link_to "Lightweight Jackets", "/clothings/search?utf8=✓&query=men+Lightweight+Jackets&category=&commit=Go" %></li>
       </ul>
     </li>
      
    <li>Underwear
      <ul class="current-l">
        <li><%= link_to "Undershirts", "/clothings/search?utf8=✓&query=men+Undershirts&category=&commit=Go" %></li>
        <li><%= link_to "Boxers", "/clothings/search?utf8=✓&query=men+Boxers&category=&commit=Go" %></li>
        <li><%= link_to "G-Strings & Thongs", "/clothings/search?utf8=✓&query=men+G-Strings+Thongs&category=&commit=Go" %></li>
        <li><%= link_to "Bikinis", "/clothings/search?utf8=✓&query=men+Bikinis&category=&commit=Go" %></li>
        <li><%= link_to "Boxer Briefs", "/clothings/search?utf8=✓&query=men+Boxer+Briefs&category=&commit=Go" %></li>
        <li><%= link_to "Briefs", "/clothings/search?utf8=✓&query=men+Briefs&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Suits & Sport Coats
      <ul class="current-l">
        <li><%= link_to "Sport Coats & Blazers", "/clothings/search?utf8=✓&query=men+Sport+Coats&category=&commit=Go" %></li>
        <li><%= link_to "Tuxedos", "/clothings/search?utf8=✓&query=men+Tuxedos&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=men+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Suits", "/clothings/search?utf8=✓&query=men+Suits&category=&commit=Go" %></li>
        <li><%= link_to "Tuxedo Jackets", "/clothings/search?utf8=✓&query=men+Tuxedo+Jackets&category=&commit=Go" %></li>
        <li><%= link_to "Suit Pants", "/clothings/search?utf8=✓&query=men+Suit+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Tuxedo Pants", "/clothings/search?utf8=✓&query=men+Tuxedo+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Suit Jackets", "/clothings/search?utf8=✓&query=men+Suit+Jackets&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Shirts
      <ul class="current-l">
        <li><%= link_to "Dress Shirts", "/clothings/search?utf8=✓&query=men+Dress+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Casual Button-Down Shirts", "/clothings/search?utf8=✓&query=men+Casual+Button-Down+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Tuxedo Shirts", "/clothings/search?utf8=✓&query=men+Tuxedo+Shirts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Pants
      <ul class="current-l">
        <li><%= link_to "Casual", "/clothings/search?utf8=✓&query=men+Casual+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Dress", "/clothings/search?utf8=✓&query=men+Dress+Pants&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Tops & Tees
      <ul class="current-l">
        <li><%= link_to "Tank Tops", "/clothings/search?utf8=✓&query=men+Tank+Tops&category=&commit=Go" %></li>
        <li><%= link_to "T-Shirt", "/clothings/search?utf8=✓&query=men+T-Shirt&category=&commit=Go" %></li>
        <li><%= link_to "Polos", "/clothings/search?utf8=✓&query=men+Polos&category=&commit=Go" %></li>
        <li><%= link_to "Henleys", "/clothings/search?utf8=✓&query=men+Henleys&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Shorts
      <ul class="current-l">
        <li><%= link_to "Cargo", "/clothings/search?utf8=✓&query=men+Cargo+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Pleated", "/clothings/search?utf8=✓&query=men+Pleated+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Denim", "/clothings/search?utf8=✓&query=men+Denim+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Flat Front", "/clothings/search?utf8=✓&query=men+Flat+Front+Shorts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Sweaters
      <ul class="current-l">
        <li><%= link_to "Cardigans", "/clothings/search?utf8=✓&query=men+Cardigans&category=&commit=Go" %></li>
        <li><%= link_to "Pullovers", "/clothings/search?utf8=✓&query=men+Pullovers&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=men+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Polos", "/clothings/search?utf8=✓&query=men+Polos&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Swim
      <ul class="current-l">
        <li><%= link_to "Board Shorts", "/clothings/search?utf8=✓&query=men+Board+Shorts+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Rash Guards", "/clothings/search?utf8=✓&query=men+Rash+Guards+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Trunks", "/clothings/search?utf8=✓&query=men+Trunks+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Briefs", "/clothings/search?utf8=✓&query=men+Briefs+Swim&category=&commit=Go" %></li>
      </ul>
    </li>    
      
    <li><%= link_to "Jeans", "/clothings/search?utf8=✓&query=men+Jeans&category=&commit=Go" %></li>
      
    <li>Sleep & Lounge
      <ul class="current-l">
        <li><%= link_to "Sleep Sets", "/clothings/search?utf8=✓&query=men+Sleep+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Sleep Bottoms", "/clothings/search?utf8=✓&query=men+Sleep+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Robes", "/clothings/search?utf8=✓&query=men+Robes&category=&commit=Go" %></li>
        <li><%= link_to "Sleep Tops", "/clothings/search?utf8=✓&query=men+Sleep+Tops&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Fashion Hoodies & Sweatshirts", "/clothings/search?utf8=✓&query=men+Fashion+Hoodies&category=&commit=Go" %></li>
      
    <li>Accessories 
      <ul class="current-l">
        <li><%= link_to "Replacement Sunglass Lenses", "/clothings/search?utf8=✓&query=men+Replacement+Sunglass+Lenses&category=&commit=Go" %></li>
        <li><%= link_to "Eyeglass Cases", "/clothings/search?utf8=✓&query=men+Eyeglass+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Eyeglass Chains", "/clothings/search?utf8=✓&query=men+Eyeglass+Chains&category=&commit=Go" %></li>
        <li><%= link_to "Coin Purses & Pouches", "/clothings/search?utf8=✓&query=men+Coin+Purses&category=&commit=Go" %></li>
        <li><%= link_to "Belts", "/clothings/search?utf8=✓&query=men+Belts&category=&commit=Go" %></li>
        <li><%= link_to "Wallets", "/clothings/search?utf8=✓&query=men+Wallets&category=&commit=Go" %></li>
        <li><%= link_to "Keyrings & Keychains", "/clothings/search?utf8=✓&query=men+Keyrings+Keychains&category=&commit=Go" %></li>
        <li><%= link_to "Hats & Caps", "/clothings/search?utf8=✓&query=men+Hats+Caps&category=&commit=Go" %></li>
        <li><%= link_to "Key Cases", "/clothings/search?utf8=✓&query=men+Key+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Card & ID Cases", "/clothings/search?utf8=✓&query=men+Card+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Sunglasses", "/clothings/search?utf8=✓&query=men+Sunglasses&category=&commit=Go" %></li>
        <li><%= link_to "Cold Weather", "/clothings/search?utf8=✓&query=men+Cold+Weather&category=&commit=Go" %></li>
        <li><%= link_to "Cigarette Cases", "/clothings/search?utf8=✓&query=men+Cigarette+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Bow Ties", "/clothings/search?utf8=✓&query=men+Bow+Ties&category=&commit=Go" %></li>
        <li><%= link_to "Fashion Scarves", "/clothings/search?utf8=✓&query=men+Fashion+Scarves&category=&commit=Go" %></li>
        <li><%= link_to "Handkerchiefs", "/clothings/search?utf8=✓&query=men+Handkerchiefs&category=&commit=Go" %></li>
        <li><%= link_to "Suspenders", "/clothings/search?utf8=✓&query=men+Suspenders&category=&commit=Go" %></li>
        <li><%= link_to "Neckties", "/clothings/search?utf8=✓&query=men+Neckties&category=&commit=Go" %></li>
        <li><%= link_to "Prescription Eyewear Frames", "/clothings/search?utf8=✓&query=men+Prescription+Eyewear+Frames&category=&commit=Go" %></li>
        <li><%= link_to "Money Clips", "/clothings/search?utf8=✓&query=men+Money+Clips&category=&commit=Go" %></li>
      </ul>
    </li>
        
  </ul>
</li>      
      
<li>Women
  <ul class="current-l">
    <li>Socks & Hosiery
      <ul class="current-l">
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Casual+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Dress & Trouser Socks", "/clothings/search?utf8=✓&query=Women+Trouser+Socks&category=&commit=Go" %></li>
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Peds&category=&commit=Go" %></li>
        <li><%= link_to "Hosiery", "/clothings/search?utf8=✓&query=Women+Hosiery&category=&commit=Go" %></li>
        <li><%= link_to "Tights", "/clothings/search?utf8=✓&query=Women+Tights&category=&commit=Go" %></li>
        <li><%= link_to "Leg Warmers", "/clothings/search?utf8=✓&query=Women+Leg+Warmers&category=&commit=Go" %></li>
        <li><%= link_to "Slipper Socks", "/clothings/search?utf8=✓&query=Women+Slipper+Socks&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Active
      <ul class="current-l">
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Active+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Active Shirts & Tees", "/clothings/search?utf8=✓&query=Women+Active+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Active Sweatshirts", "/clothings/search?utf8=✓&query=Women+Active+Sweatshirts&category=&commit=Go" %></li>
        <li><%= link_to "Athletic Socks", "/clothings/search?utf8=✓&query=Women+Athletic+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Active Base Layers", "/clothings/search?utf8=✓&query=Women+Active+Base+Layers&category=&commit=Go" %></li>
        <li><%= link_to "Active Pants", "/clothings/search?utf8=✓&query=Women+Active+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Active Top & Bottom Sets", "/clothings/search?utf8=✓&query=Women+Active+Top&category=&commit=Go" %></li>
        <li><%= link_to "Active Underwear", "/clothings/search?utf8=✓&query=Women+Active+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Active Skirts", "/clothings/search?utf8=✓&query=Women+Active+Skirts&category=&commit=Go" %></li>
        <li><%= link_to "Active Skorts", "/clothings/search?utf8=✓&query=Women+Active+Skorts&category=&commit=Go" %></li>
        <li><%= link_to "Track & Active Jackets", "/clothings/search?utf8=✓&query=Women+Active+Jackets&category=&commit=Go" %></li>
        <li><%= link_to "Active Leggings", "/clothings/search?utf8=✓&query=Women+Active+Leggings&category=&commit=Go" %></li>
        <li><%= link_to "Active Hoodies", "/clothings/search?utf8=✓&query=Women+Active+Hoodies&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Accessories
      <ul class="current-l">
        <li><%= link_to "Eyeglass Chains", "/clothings/search?utf8=✓&query=Women+Eyeglass+Chains&category=&commit=Go" %></li>
        <li><%= link_to "Coin Purses & Pouches", "/clothings/search?utf8=✓&query=Women+Coin+Purses&category=&commit=Go" %></li>
        <li><%= link_to "Money Clips", "/clothings/search?utf8=✓&query=Women+Money+Clips&category=&commit=Go" %></li>
        <li><%= link_to "Sunglasses", "/clothings/search?utf8=✓&query=Women+Sunglasses&category=&commit=Go" %></li>
        <li><%= link_to "Checkbook Covers", "/clothings/search?utf8=✓&query=Women+Checkbook+Covers&category=&commit=Go" %></li>
        <li><%= link_to "Handbag Hangers", "/clothings/search?utf8=✓&query=Women+Handbag+Hangers&category=&commit=Go" %></li>
        <li><%= link_to "Eyeglass Cases", "/clothings/search?utf8=✓&query=Women+Eyeglass+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Keyrings & Keychains", "/clothings/search?utf8=✓&query=Women+Keyrings&category=&commit=Go" %></li>
        <li><%= link_to "Card & ID Cases", "/clothings/search?utf8=✓&query=Women+Card+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Bridal Veils", "/clothings/search?utf8=✓&query=Women+Bridal+Veils&category=&commit=Go" %></li>
        <li><%= link_to "Hats & Caps", "/clothings/search?utf8=✓&query=Women+Hats&category=&commit=Go" %></li>
        <li><%= link_to "Belts", "/clothings/search?utf8=✓&query=Women+Belts&category=&commit=Go" %></li>
        <li><%= link_to "Wallets", "/clothings/search?utf8=✓&query=Women+Wallets&category=&commit=Go" %></li>
        <li><%= link_to "Cold Weather", "/clothings/search?utf8=✓&query=Women+Cold+Weather&category=&commit=Go" %></li>
        <li><%= link_to "Prescription Eyewear Frames", "/clothings/search?utf8=✓&query=Women+Prescription+Eyewear+Frames&category=&commit=Go" %></li>
        <li><%= link_to "Cigarette Cases", "/clothings/search?utf8=✓&query=Women+Cigarette+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Wraps & Pashminas", "/clothings/search?utf8=✓&query=Women+Wraps+Pashminas&category=&commit=Go" %></li>
        <li><%= link_to "Fashion Scarves", "/clothings/search?utf8=✓&query=Women+Fashion+Scarves&category=&commit=Go" %></li>
        <li><%= link_to "Key Cases", "/clothings/search?utf8=✓&query=Women+Key+Cases&category=&commit=Go" %></li>
        <li><%= link_to "Replacement Sunglass Lenses", "/clothings/search?utf8=✓&query=Women+Replacement+Sunglass+Lenses&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Intimates
      <ul class="current-l">
        <li><%= link_to "Bras", "/clothings/search?utf8=✓&query=Women+Bras&category=&commit=Go" %></li>
        <li><%= link_to "Lingerie", "/clothings/search?utf8=✓&query=Women+Lingerie&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/clothings/search?utf8=✓&query=Women+Accessories+Intimate&category=&commit=Go" %></li>
        <li><%= link_to "Shapewear", "/clothings/search?utf8=✓&query=Women+Shapewear&category=&commit=Go" %></li>
        <li><%= link_to "Slips", "/clothings/search?utf8=✓&query=Women+Slips&category=&commit=Go" %></li>
        <li><%= link_to "Panties", "/clothings/search?utf8=✓&query=Women+Panties&category=&commit=Go" %></li>
        <li><%= link_to "Lingerie Sets", "/clothings/search?utf8=✓&query=Women+Lingerie+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Camisoles & Tanks", "/clothings/search?utf8=✓&query=Women+Camisoles&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Tops & Tees
      <ul class="current-l">
        <li><%= link_to "Knits & Tees", "/clothings/search?utf8=✓&query=Women+Knits+Tees&category=&commit=Go" %></li>
        <li><%= link_to "Tanks & Camis", "/clothings/search?utf8=✓&query=Women+Tanks+Camis&category=&commit=Go" %></li>
        <li><%= link_to "Polos", "/clothings/search?utf8=✓&query=Women+Polos&category=&commit=Go" %></li>
        <li><%= link_to "Tunics", "/clothings/search?utf8=✓&query=Women+Tunics&category=&commit=Go" %></li>
        <li><%= link_to "Henleys", "/clothings/search?utf8=✓&query=Women+Henleys&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=Women+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Blouses & Button-Down Shirts", "/clothings/search?utf8=✓&query=Women+Blouses+Button-Down+Shirts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Shorts
      <ul class="current-l">
        <li><%= link_to "Dress", "/clothings/search?utf8=✓&query=Women+Dress+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Denim", "/clothings/search?utf8=✓&query=Women+Denim+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Casual", "/clothings/search?utf8=✓&query=Women+Casual+Shorts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Suits
      <ul class="current-l">
        <li><%= link_to "Dress Suits", "/clothings/search?utf8=✓&query=Women+Dress+Suits&category=&commit=Go" %></li>
        <li><%= link_to "Pantsuits", "/clothings/search?utf8=✓&query=Women+Pantsuits&category=&commit=Go" %></li>
        <li><%= link_to "Skirt Suits", "/clothings/search?utf8=✓&query=Women+Skirt+Suits&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Outerwear & Coats
      <ul class="current-l">
        <li><%= link_to "Wool & Blends", "/clothings/search?utf8=✓&query=Women+Wool+Blends+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Fur & Faux Fur", "/clothings/search?utf8=✓&query=Women+Fur+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Down & Parkas", "/clothings/search?utf8=✓&query=Women+Down+Parkas&category=&commit=Go" %></li>
        <li><%= link_to "Trench & Rain", "/clothings/search?utf8=✓&query=Women+Trench+Rain&category=&commit=Go" %></li>
        <li><%= link_to "Lightweight Jackets", "/clothings/search?utf8=✓&query=Women+Lightweight+Jackets&category=&commit=Go" %></li>
        <li><%= link_to "Leather & Suede", "/clothings/search?utf8=✓&query=Women+Leather+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Active & Performance", "/clothings/search?utf8=✓&query=Women+Active+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Fleece", "/clothings/search?utf8=✓&query=Women+Fleece&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=Women+Vests&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Skirts
      <ul class="current-l">
        <li><%= link_to "Night Out & Special Occasion", "/clothings/search?utf8=✓&query=Women+Skirt&category=&commit=Go" %></li>
        <li><%= link_to "Wear to Work", "/clothings/search?utf8=✓&query=Women+Work+Skirt&category=&commit=Go" %></li>
        <li><%= link_to "Casual", "/clothings/search?utf8=✓&query=Women+Casual+Skirt&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Swim
      <ul class="current-l">
        <li><%= link_to "Bikinis", "/clothings/search?utf8=✓&query=Women+Bikinis&category=&commit=Go" %></li>
        <li><%= link_to "One-Pieces", "/clothings/search?utf8=✓&query=Women+One-Pieces&category=&commit=Go" %></li>
        <li><%= link_to "Rash Guards", "/clothings/search?utf8=✓&query=Women+Rash+Guards&category=&commit=Go" %></li>
        <li><%= link_to "Cover-Ups", "/clothings/search?utf8=✓&query=Women+Cover-Ups&category=&commit=Go" %></li>
        <li><%= link_to "Board Shorts", "/clothings/search?utf8=✓&query=Women+Board+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Tankinis", "/clothings/search?utf8=✓&query=Women+Tankinis&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Maternity
      <ul class="current-l">
        <li><%= link_to "Nursing", "/clothings/search?utf8=✓&query=Women+Maternity+Nursing&category=&commit=Go" %></li>
        <li><%= link_to "Tops & Tees", "/clothings/search?utf8=✓&query=Women+Maternity+Tops+Tees&category=&commit=Go" %></li>
        <li><%= link_to "Pants & Capris", "/clothings/search?utf8=✓&query=Women+Maternity+Pants+Capris&category=&commit=Go" %></li>
        <li><%= link_to "Skirts", "/clothings/search?utf8=✓&query=Women+Maternity+Skirts&category=&commit=Go" %></li>
        <li><%= link_to "Clothing Sets", "/clothings/search?utf8=✓&query=Women+Maternity+Clothing+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Intimates", "/clothings/search?utf8=✓&query=Women+Maternity+Intimates&category=&commit=Go" %></li>
        <li><%= link_to "Sleep & Lounge", "/clothings/search?utf8=✓&query=Women+Maternity+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Blazers & Suit Jackets", "/clothings/search?utf8=✓&query=Women+Maternity+Blazers&category=&commit=Go" %></li>
        <li><%= link_to "Dresses", "/clothings/search?utf8=✓&query=Women+Maternity+Dresses&category=&commit=Go" %></li>
        <li><%= link_to "Swim", "/clothings/search?utf8=✓&query=Women+Maternity+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Outerwear & Coats", "/clothings/search?utf8=✓&query=Women+Maternity+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Shorts", "/clothings/search?utf8=✓&query=Women+Maternity+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Women+Maternity+Sweaters&category=&commit=Go" %></li>
        <li><%= link_to "Fashion Jackets", "/clothings/search?utf8=✓&query=Women+Maternity+Fashion+Jackets&category=&commit=Go" %></li>
        <li><%= link_to "Active", "/clothings/search?utf8=✓&query=Women+Maternity+Active&category=&commit=Go" %></li>
        <li><%= link_to "Jeans", "/clothings/search?utf8=✓&query=Women+Maternity+Jeans&category=&commit=Go" %></li>
        <li><%= link_to "Tights & Hosiery", "/clothings/search?utf8=✓&query=Women+Maternity+Tights&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Dresses
      <ul class="current-l">
        <li><%= link_to "Special Occasion", "/clothings/search?utf8=✓&query=Women+Special+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Night Out & Cocktail", "/clothings/search?utf8=✓&query=Women+Cocktail+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Wear to Work", "/clothings/search?utf8=✓&query=Women+Work+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Casual", "/clothings/search?utf8=✓&query=Women+Casual+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Wedding", "/clothings/search?utf8=✓&query=Women+Wedding+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Sweater Dresses", "/clothings/search?utf8=✓&query=Women+Sweater+Dresses&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Sleep & Lounge
      <ul class="current-l">
        <li><%= link_to "Bottoms", "/clothings/search?utf8=✓&query=Women+Bottoms+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Robes", "/clothings/search?utf8=✓&query=Women+Robes+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Tops", "/clothings/search?utf8=✓&query=Women+Tops+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Nightgowns & Sleepshirts", "/clothings/search?utf8=✓&query=Women+Nightgowns+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Sets", "/clothings/search?utf8=✓&query=Women+Sets+Sleep&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Blazers & Jackets
      <ul class="current-l">
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Jacket+Special&category=&commit=Go" %></li>
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Jacket+Casual&category=&commit=Go" %></li>
        <li><%= link_to "", "/clothings/search?utf8=✓&query=Women+Jacket+Work&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Sweaters
      <ul class="current-l">
        <li><%= link_to "Pullovers", "/clothings/search?utf8=✓&query=Women+Pullovers&category=&commit=Go" %></li>
        <li><%= link_to "Cardigans", "/clothings/search?utf8=✓&query=Women+Cardigans&category=&commit=Go" %></li>
        <li><%= link_to "Shrugs", "/clothings/search?utf8=✓&query=Women+Shrugs&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=Women+Vests&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Pants & Capris
      <ul class="current-l">
        <li><%= link_to "Night Out & Special Occasion", "/clothings/search?utf8=✓&query=Women+Special+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Wear to Work", "/clothings/search?utf8=✓&query=Women+Work+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Casual", "/clothings/search?utf8=✓&query=Women+Casual+Pants&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Clothing Sets", "/clothings/search?utf8=✓&query=Women+Clothing+Sets&category=&commit=Go" %></li>
      
    <li><%= link_to "Jumpsuits & Rompers", "/clothings/search?utf8=✓&query=Women+Jumpsuits&category=&commit=Go" %></li>
      
    <li><%= link_to "Leggings", "/clothings/search?utf8=✓&query=Women+Leggings&category=&commit=Go" %></li>
      
    <li><%= link_to "Fashion Hoodies & Sweatshirts", "/clothings/search?utf8=✓&query=Women+Fashion+Hoodies&category=&commit=Go" %></li>
      
    <li><%= link_to "Jeans", "/clothings/search?utf8=✓&query=Women+Jeans&category=&commit=Go" %></li>
  
  </ul>
</li>
      
<li>Boys
  <ul class="current-l">
    <li>Hoodies & Active
      <ul class="current-l">
        <li><%= link_to "Active Base Layers", "/clothings/search?utf8=✓&query=Boy+Active+Base+Layers&category=&commit=Go" %></li>
        <li><%= link_to "Active Sweatshirts", "/clothings/search?utf8=✓&query=Boy+Active+Sweatshirts&category=&commit=Go" %></li>
        <li><%= link_to "Athletic Supporters", "/clothings/search?utf8=✓&query=Boy+Athletic+Supporters&category=&commit=Go" %></li>
        <li><%= link_to "Athletic Socks", "/clothings/search?utf8=✓&query=Boy+Athletic+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Active Pants", "/clothings/search?utf8=✓&query=Boy+Active+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Active Shorts", "/clothings/search?utf8=✓&query=Boy+Active+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Active Underwear", "/clothings/search?utf8=✓&query=Boy+Active+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Track & Active Jackets", "/clothings/search?utf8=✓&query=Boy+Track+Jackets&category=&commit=Go" %></li>
        <li><%= link_to "Active Hoodies", "/clothings/search?utf8=✓&query=Boy+Active Hoodies&category=&commit=Go" %></li>
        <li><%= link_to "Active Tracksuits", "/clothings/search?utf8=✓&query=Boy+Active+Tracksuits&category=&commit=Go" %></li>
        <li><%= link_to "Active Shirts & Tees", "/clothings/search?utf8=✓&query=Boy+Active+Shirts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Accessories
      <ul class="current-l">
        <li><%= link_to "Belts", "/clothings/search?utf8=✓&query=Boy+Belts&category=&commit=Go" %></li>
        <li><%= link_to "Cold Weather", "/clothings/search?utf8=✓&query=Boy+Cold+Weather&category=&commit=Go" %></li>
        <li><%= link_to "Sunglasses", "/clothings/search?utf8=✓&query=Boy+Sunglasses&category=&commit=Go" %></li>
        <li><%= link_to "Hats & Caps", "/clothings/search?utf8=✓&query=Boy+Hats&category=&commit=Go" %></li>
      </ul>
    </li>
      
    Socks<li><%= link_to "Socks", "/clothings/search?utf8=✓&query=Boy+Socks&category=&commit=Go" %></li>
      
    <li>Outerwear & Coats
      <ul class="current-l">
        <li><%= link_to "Wool & Sherpa Coats", "/clothings/search?utf8=✓&query=Boy+Wool+Sherpa+Coats&category=&commit=Go" %></li>
        <li><%= link_to "Down & Parkas", "/clothings/search?utf8=✓&query=Boy+Down+Parkas&category=&commit=Go" %></li>
        <li><%= link_to "Snowsuits, Pants & Bibs", "/clothings/search?utf8=✓&query=Boy+Snowsuits&category=&commit=Go" %></li>
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=Boy+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Wind & Rain", "/clothings/search?utf8=✓&query=Boy+Rain+Coat&category=&commit=Go" %></li>
        <li><%= link_to "Fleece", "/clothings/search?utf8=✓&query=Boy+Fleece&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Underwear
      <ul class="current-l">
        <li><%= link_to "Undershirts", "/clothings/search?utf8=✓&query=Boy+Undershirts&category=&commit=Go" %></li>
        <li><%= link_to "Boxer Briefs", "/clothings/search?utf8=✓&query=Boy+Boxer+Briefs&category=&commit=Go" %></li>
        <li><%= link_to "Boxers", "/clothings/search?utf8=✓&query=Boy+Boxers&category=&commit=Go" %></li>
        <li><%= link_to "Briefs", "/clothings/search?utf8=✓&query=Boy+Briefs&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Swim
      <ul class="current-l">
        <li><%= link_to "Board Shorts", "/clothings/search?utf8=✓&query=Boy+Board+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Rash Guards & UV Swimwear", "/clothings/search?utf8=✓&query=Boy+Rash+Guards&category=&commit=Go" %></li>
        <li><%= link_to "Trunks", "/clothings/search?utf8=✓&query=Boy+Trunks&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Boy+Sweaters&category=&commit=Go" %></li>
      
    <li>Tops & Tees
      <ul class="current-l">
        <li><%= link_to "Tees", "/clothings/search?utf8=✓&query=Boy+Tees&category=&commit=Go" %></li>
        <li><%= link_to "Polos", "/clothings/search?utf8=✓&query=Boy+Polos&category=&commit=Go" %></li>
        <li><%= link_to "Tank Tops", "/clothings/search?utf8=✓&query=Boy+Tank+Tops&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Overalls", "/clothings/search?utf8=✓&query=Boy+Overalls&category=&commit=Go" %></li>
      
    <li>Button-Down & Dress Shirts
      <ul class="current-l">
        <li><%= link_to "Button-Down Shirts", "/clothings/search?utf8=✓&query=Boy+Button-Down+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Dress Shirts", "/clothings/search?utf8=✓&query=Boy+Dress+Shirts&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Sleepwear & Robes
      <ul class="current-l">
        <li><%= link_to "Robes", "/clothings/search?utf8=✓&query=Boy+Robes&category=&commit=Go" %></li>
        <li><%= link_to "Pajama Sets", "/clothings/search?utf8=✓&query=Boy+Pajama+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Pajama Bottoms", "/clothings/search?utf8=✓&query=Boy+Pajama+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Pajama Tops", "/clothings/search?utf8=✓&query=Boy+Pajama+Tops&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Fashion Clothing Sets
      <ul class="current-l">
        <li><%= link_to "Special Occasion", "/clothings/search?utf8=✓&query=Boy+Special+Occasion&category=&commit=Go" %></li>
        <li><%= link_to "Playwear", "/clothings/search?utf8=✓&query=Boy+Playwear&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Suits & Sport Coats
      <ul class="current-l">
        <li><%= link_to "Suits", "/clothings/search?utf8=✓&query=Boy+Suits&category=&commit=Go" %></li>
        <li><%= link_to "Tuxedos", "/clothings/search?utf8=✓&query=Boy+Tuxedos&category=&commit=Go" %></li>
        <li><%= link_to "Sport Coats & Blazers", "/clothings/search?utf8=✓&query=Boy+Sport+Coats&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Fashion Hoodies & Sweatshirts", "/clothings/search?utf8=✓&query=Boy+Fashion+Hoodies&category=&commit=Go" %></li>
      
    <li><%= link_to "Jeans", "/clothings/search?utf8=✓&query=Boy+Jeans&category=&commit=Go" %></li>
      
    <li><%= link_to "Shorts", "/clothings/search?utf8=✓&query=Boy+Shorts&category=&commit=Go" %></li>
      
    <li><%= link_to "Pants", "/clothings/search?utf8=✓&query=Boy+Pants&category=&commit=Go" %></li>
  
  </ul>  
</li>
      
<li>Girls
  <ul class="current-l">
    
    <li>Accessories
      <ul class="current-l">
        <li><%= link_to "Cold Weather", "/clothings/search?utf8=✓&query=Girl+Cold+Weather&category=&commit=Go" %></li>
        <li><%= link_to "Sunglasses", "/clothings/search?utf8=✓&query=Girl+Sunglasses&category=&commit=Go" %></li>
        <li><%= link_to "Belts", "/clothings/search?utf8=✓&query=Girl+Belts&category=&commit=Go" %></li>
        <li><%= link_to "Fashion Scarves", "/clothings/search?utf8=✓&query=Girl+Fashion+Scarves&category=&commit=Go" %></li>
        <li><%= link_to "Hats & Caps", "/clothings/search?utf8=✓&query=Girl+Hats&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Swim
      <ul class="current-l">
        <li><%= link_to "One-Pieces", "/clothings/search?utf8=✓&query=Girl+One-Pieces&category=&commit=Go" %></li>
        <li><%= link_to "Board Shorts", "/clothings/search?utf8=✓&query=Girl+Board+Shorts&category=&commit=Go" %></li>
        <li><%= link_to "Two-Pieces", "/clothings/search?utf8=✓&query=Girl+Two-Pieces&category=&commit=Go" %></li>
        <li><%= link_to "Cover-Ups & Wraps", "/clothings/search?utf8=✓&query=Girl+Cover-Ups&category=&commit=Go" %></li>
        <li><%= link_to "Rash Guards & UV Swimwear", "/clothings/search?utf8=✓&query=Girl+Rash+Guards&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Outerwear & Coats
      <ul class="current-l">
        <li><%= link_to "Vests", "/clothings/search?utf8=✓&query=Girl+Vests&category=&commit=Go" %></li>
        <li><%= link_to "Fleece", "/clothings/search?utf8=✓&query=Girl+Fleece&category=&commit=Go" %></li>
        <li><%= link_to "Down & Parkas", "/clothings/search?utf8=✓&query=Girl+Down+Parkas&category=&commit=Go" %></li>
        <li><%= link_to "Snowsuits, Pants & Bibs", "/clothings/search?utf8=✓&query=Girl+Snowsuits&category=&commit=Go" %></li>
        <li><%= link_to "Dress Coats", "/clothings/search?utf8=✓&query=Girl+Dress+Coats&category=&commit=Go" %></li>
        <li><%= link_to "Wind & Rain", "/clothings/search?utf8=✓&query=Girl+Rain+Coat&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Dresses
      <ul class="current-l">
        <li><%= link_to "Playwear", "/clothings/search?utf8=✓&query=Girl+Playwear&category=&commit=Go" %></li>
        <li><%= link_to "Special Occasion", "/clothings/search?utf8=✓&query=Girl+Special+Dress&category=&commit=Go" %></li>
        <li><%= link_to "Flower Girl Dresses", "/clothings/search?utf8=✓&query=Flower+Girl+Dresses&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Sleepwear & Robes
      <ul class="current-l">
        <li><%= link_to "Pajama Tops", "/clothings/search?utf8=✓&query=Girl+Pajama+Tops&category=&commit=Go" %></li>
        <li><%= link_to "Robes", "/clothings/search?utf8=✓&query=Girl+Robes&category=&commit=Go" %></li>
        <li><%= link_to "Pajama Sets", "/clothings/search?utf8=✓&query=Girl+Pajama+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Pajama Bottoms", "/clothings/search?utf8=✓&query=Girl+Pajama+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Nightgowns", "/clothings/search?utf8=✓&query=Girl+Nightgowns&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Socks & Tights
      <ul class="current-l">
        <li><%= link_to "Casual & Dress Socks", "/clothings/search?utf8=✓&query=Girl+Socks&category=&commit=Go" %></li>
        <li><%= link_to "Tights", "/clothings/search?utf8=✓&query=Girl+Tights&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Underwear
      <ul class="current-l">
        <li><%= link_to "Slips", "/clothings/search?utf8=✓&query=Girl+Slips&category=&commit=Go" %></li>
        <li><%= link_to "Training Bras", "/clothings/search?utf8=✓&query=Girl+Training+Bras&category=&commit=Go" %></li>
        <li><%= link_to "Undershirts, Tanks & Camisoles", "/clothings/search?utf8=✓&query=Girl+Undershirts&category=&commit=Go" %></li>
        <li><%= link_to "Panties", "/clothings/search?utf8=✓&query=Girl+Panties&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Tops & Tees
      <ul class="current-l">
        <li><%= link_to "Polos", "/clothings/search?utf8=✓&query=Girl+Polos&category=&commit=Go" %></li>
        <li><%= link_to "Blouses & Button-Down Shirts", "/clothings/search?utf8=✓&query=Girl+Blouses&category=&commit=Go" %></li>
        <li><%= link_to "Tanks & Camis", "/clothings/search?utf8=✓&query=Girl+Tanks&category=&commit=Go" %></li>
        <li><%= link_to "Tees", "/clothings/search?utf8=✓&query=Girl+Tees&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Leggings", "/clothings/search?utf8=✓&query=Girl+Leggings&category=&commit=Go" %></li>
      
    <li><%= link_to "Fashion Hoodies & Sweatshirts", "/clothings/search?utf8=✓&query=Girl+Fashion+Hoodies&category=&commit=Go" %></li>
      
    <li><%= link_to "Skirts, Scooters & Skorts", "/clothings/search?utf8=✓&query=Girl+Skirts&category=&commit=Go" %></li>
      
    <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Girl+Sweaters&category=&commit=Go" %></li>
      
    <li><%= link_to "Jeans", "/clothings/search?utf8=✓&query=Girl+Jeans&category=&commit=Go" %></li>
      
    <li><%= link_to "Jumpsuits & Rompers", "/clothings/search?utf8=✓&query=Girl+Jumpsuits&category=&commit=Go" %></li>
      
    <li><%= link_to "Shorts", "/clothings/search?utf8=✓&query=Girl+Shorts&category=&commit=Go" %></li>
      
    <li><%= link_to "Fashion Clothing Sets", "/clothings/search?utf8=✓&query=Girl+Fashion+Clothing+Sets&category=&commit=Go" %></li>
      
    <li><%= link_to "Pants & Capris", "/clothings/search?utf8=✓&query=Girl+Pants+Capris&category=&commit=Go" %></li>
      
    <li><%= link_to "Overalls", "/clothings/search?utf8=✓&query=Girl+Overalls&category=&commit=Go" %></li>
      
    <li><%= link_to "Hoodies & Active", "/clothings/search?utf8=✓&query=Girl+Hoodies&category=&commit=Go" %></li>
    
  </ul>
</li>
      
<li>Baby
  <ul class="current-l">
    
    <li>Unisex
      <ul class="current-l">
        <li><%= link_to "Bloomers, Diaper Covers & Underwear", "/clothings/search?utf8=✓&query=Baby+Unisex+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Baby+Unisex+Sweaters&category=&commit=Go" %></li>
        <li><%= link_to "Bodysuits", "/clothings/search?utf8=✓&query=Baby+Unisex+Bodysuits&category=&commit=Go" %></li>
        <li><%= link_to "Bottoms", "/clothings/search?utf8=✓&query=Baby+Unisex+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Sleepwear & Robes", "/clothings/search?utf8=✓&query=Baby+Unisex+Sleepwear&category=&commit=Go" %></li>
        <li><%= link_to "Hoodies & Active", "/clothings/search?utf8=✓&query=Baby+Unisex+Active&category=&commit=Go" %></li>
        <li><%= link_to "Clothing Sets", "/clothings/search?utf8=✓&query=Baby+Unisex+Clothing+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Layette Sets", "/clothings/search?utf8=✓&query=Baby+Unisex+Layette+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Christening", "/clothings/search?utf8=✓&query=Baby+Unisex+Christening&category=&commit=Go" %></li>
        <li><%= link_to "Footies & Rompers", "/clothings/search?utf8=✓&query=Baby+Unisex+Footies&category=&commit=Go" %></li>
        <li><%= link_to "Tops", "/clothings/search?utf8=✓&query=Baby+Unisex+Tops&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/clothings/search?utf8=✓&query=Baby+Unisex+Accessories&category=&commit=Go" %></li>
        <li><%= link_to "Outerwear", "/clothings/search?utf8=✓&query=Baby+Unisex+Outerwear&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Baby Boys
      <ul class="current-l">
        <li><%= link_to "Christening", "/clothings/search?utf8=✓&query=Baby+Boy+Christening&category=&commit=Go" %></li>
        <li><%= link_to "Bloomers, Diaper Covers & Underwear", "/clothings/search?utf8=✓&query=Baby+Boy+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Tops", "/clothings/search?utf8=✓&query=Baby+Boy+Tops&category=&commit=Go" %></li>
        <li><%= link_to "Swim", "/clothings/search?utf8=✓&query=Baby+Boy+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Bottoms", "/clothings/search?utf8=✓&query=Baby+Boy+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Outerwear", "/clothings/search?utf8=✓&query=Baby+Boy+Outerwear&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/clothings/search?utf8=✓&query=Baby+Boy+Accessories&category=&commit=Go" %></li>
        <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Baby+Boy+Sweaters&category=&commit=Go" %></li>
        <li><%= link_to "Layette Sets", "/clothings/search?utf8=✓&query=Baby+Boy+Layette+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Sleepwear & Robes", "/clothings/search?utf8=✓&query=Baby+Boy+Sleepwear&category=&commit=Go" %></li>
        <li><%= link_to "Bodysuits", "/clothings/search?utf8=✓&query=Baby+Boy+Bodysuits&category=&commit=Go" %></li>
        <li><%= link_to "Footies & Rompers", "/clothings/search?utf8=✓&query=Baby+Boy+Footies&category=&commit=Go" %></li>
        <li><%= link_to "Hoodies & Active", "/clothings/search?utf8=✓&query=Baby+Boy+Active&category=&commit=Go" %></li>
        <li><%= link_to "Suits & Sport Coats", "/clothings/search?utf8=✓&query=Baby+Boy+Suits&category=&commit=Go" %></li>
        <li><%= link_to "Clothing Sets", "/clothings/search?utf8=✓&query=Baby+Boy+Clothing+Sets&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Baby Girls 
      <ul class="current-l">
        <li><%= link_to "Tops", "/clothings/search?utf8=✓&query=Baby+Girl+Tops&category=&commit=Go" %></li>
        <li><%= link_to "Outerwear", "/clothings/search?utf8=✓&query=Baby+Girl+Outerwear&category=&commit=Go" %></li>
        <li><%= link_to "Bottoms", "/clothings/search?utf8=✓&query=Baby+Girl+Bottoms&category=&commit=Go" %></li>
        <li><%= link_to "Clothing Sets", "/clothings/search?utf8=✓&query=Baby+Girl+Clothing+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Bloomers, Diaper Covers & Underwear", "/clothings/search?utf8=✓&query=Baby+Girl+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Footies & Rompers", "/clothings/search?utf8=✓&query=Baby+Girl+Footies&category=&commit=Go" %></li>
        <li><%= link_to "Christening", "/clothings/search?utf8=✓&query=Baby+Girl+Christening&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/clothings/search?utf8=✓&query=Baby+Girl+Accessories&category=&commit=Go" %></li>
        <li><%= link_to "Layette Sets", "/clothings/search?utf8=✓&query=Baby+Girl+Layette+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Dresses", "/clothings/search?utf8=✓&query=Baby+Girl+Dresses&category=&commit=Go" %></li>
        <li><%= link_to "Sleepwear & Robes", "/clothings/search?utf8=✓&query=Baby+Girl+Sleepwear&category=&commit=Go" %></li>
        <li><%= link_to "Swim", "/clothings/search?utf8=✓&query=Baby+Girl+Swim&category=&commit=Go" %></li>
        <li><%= link_to "Sweaters", "/clothings/search?utf8=✓&query=Baby+Girl+Sweaters&category=&commit=Go" %></li>
        <li><%= link_to "Bodysuits", "/clothings/search?utf8=✓&query=Baby+Girl+Bodysuits&category=&commit=Go" %></li>
        <li><%= link_to "Hoodies & Active", "/clothings/search?utf8=✓&query=Baby+Girl+Active&category=&commit=Go" %></li>
      </ul>
    </li> 
   
  </ul>
</li>
      
<li>Novelty & Special Use
  <ul class="current-l">
      
    <li>Work Wear & Uniforms
      <ul class="current-l">
        <li><%= link_to "Medical", "/clothings/search?utf8=✓&query=Medical&category=&commit=Go" %></li>
        <li><%= link_to "School Uniforms", "/clothings/search?utf8=✓&query=School+Uniforms&category=&commit=Go" %></li>
        <li><%= link_to "Work Utility & Safety Clothing", "/clothings/search?utf8=✓&query=Work+Safety&category=&commit=Go" %></li>
        <li><%= link_to "Military", "/clothings/search?utf8=✓&query=Military&category=&commit=Go" %></li>
        <li><%= link_to "Food Service", "/clothings/search?utf8=✓&query=Food+Service&category=&commit=Go" %></li>
        <li><%= link_to "Civil Service", "/clothings/search?utf8=✓&query=Civil+Service&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Novelty
      <ul class="current-l">
        <li><%= link_to "Outerwear", "/clothings/search?utf8=✓&query=Novelty+Outerwear&category=&commit=Go" %></li>
        <li><%= link_to "Underwear", "/clothings/search?utf8=✓&query=Novelty+Underwear&category=&commit=Go" %></li>
        <li><%= link_to "Sweatshirts", "/clothings/search?utf8=✓&query=Novelty+Sweatshirts&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/clothings/search?utf8=✓&query=Novelty+Accessories&category=&commit=Go" %></li>
        <li><%= link_to "Shirts", "/clothings/search?utf8=✓&query=Novelty+Shirts&category=&commit=Go" %></li>
        <li><%= link_to "Ties", "/clothings/search?utf8=✓&query=Novelty+Ties&category=&commit=Go" %></li>
        <li><%= link_to "Sleep & Lounge", "/clothings/search?utf8=✓&query=Novelty+Sleep&category=&commit=Go" %></li>
        <li><%= link_to "Hoodies", "/clothings/search?utf8=✓&query=Novelty+Hoodies&category=&commit=Go" %></li>
        <li><%= link_to "Pants", "/clothings/search?utf8=✓&query=Novelty+Pants&category=&commit=Go" %></li>
        <li><%= link_to "Socks", "/clothings/search?utf8=✓&query=Novelty+Socks&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Costumes & Accessories
      <ul class="current-l">
        <li><%= link_to "Costumes", "/clothings/search?utf8=✓&query=Costumes&category=&commit=Go" %></li>
        <li><%= link_to "Wigs", "/clothings/search?utf8=✓&query=Wigs&category=&commit=Go" %></li>
        <li><%= link_to "Hats & Caps", "/clothings/search?utf8=✓&query=Hats+Costume&category=&commit=Go" %></li>
        <li><%= link_to "Masks", "/clothings/search?utf8=✓&query=Masks+Costume&category=&commit=Go" %></li>
        <li><%= link_to "Shoes", "/clothings/search?utf8=✓&query=Shoes+Costume&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Band T-Shirts & Music Fan Apparel
      <ul class="current-l">
        <li><%= link_to "Band Sweatshirts", "/clothings/search?utf8=✓&query=Band+Sweatshirts&category=&commit=Go" %></li>
        <li><%= link_to "Band T-Shirts", "/clothings/search?utf8=✓&query=Band+T-Shirts&category=&commit=Go" %></li> 
      </ul>
    </li>
      
    <li>Exotic Apparel
      <ul class="current-l">
        <li><%= link_to "Women", "/clothings/search?utf8=✓&query=Exotic+Women&category=&commit=Go" %></li>
        <li><%= link_to "Men", "/clothings/search?utf8=✓&query=Exotic+Men&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Movie & TV Fan Apparel
      <ul class="current-l">
        <li><%= link_to "Tops & Tees", "/clothings/search?utf8=✓&query=Movie+Fan&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "World Apparel", "/clothings/search?utf8=✓&query=World+Apparel&category=&commit=Go" %></li>
    
  </ul>
</li>
      
<li>Luggage & Bags
  <ul class="current-l">
    <li><%= link_to "Briefcases", "/clothings/search?utf8=✓&query=Briefcases&category=&commit=Go" %></li>
    <li><%= link_to "Backpacks", "/clothings/search?utf8=✓&query=Backpacks&category=&commit=Go" %></li>
    <li><%= link_to "Umbrellas", "/clothings/search?utf8=✓&query=Umbrellas&category=&commit=Go" %></li>
    <li><%= link_to "Gym Bags", "/clothings/search?utf8=✓&query=Gym+Bags&category=&commit=Go" %></li>
    <li><%= link_to "Luggage", "/clothings/search?utf8=✓&query=Luggage&category=&commit=Go" %></li>
    <li>Travel Accessories
      <ul class="current-l">
        <li><%= link_to "Shoe Bags", "/clothings/search?utf8=✓&query=Shoe +Bags&category=&commit=Go" %></li>
        <li><%= link_to "Luggage Locks", "/clothings/search?utf8=✓&query=Luggage+Locks&category=&commit=Go" %></li>
        <li><%= link_to "Luggage Straps", "/clothings/search?utf8=✓&query=Luggage+Straps&category=&commit=Go" %></li>
        <li><%= link_to "Passport Wallets", "/clothings/search?utf8=✓&query=Passport+Wallets&category=&commit=Go" %></li>
        <li><%= link_to "Luggage Carts", "/clothings/search?utf8=✓&query=Luggage+Carts&category=&commit=Go" %></li>
        <li><%= link_to "Packing Organizers", "/clothings/search?utf8=✓&query=Packing+Organizers&category=&commit=Go" %></li>
        <li><%= link_to "Travel Wallets", "/clothings/search?utf8=✓&query=Travel+Wallets&category=&commit=Go" %></li>
        <li><%= link_to "Luggage Scales", "/clothings/search?utf8=✓&query=Luggage+Scales&category=&commit=Go" %></li>
        <li><%= link_to "Luggage Tags", "/clothings/search?utf8=✓&query=Luggage+Tags&category=&commit=Go" %></li>
        <li><%= link_to "Passport Covers", "/clothings/search?utf8=✓&query=Passport+Covers&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Messenger Bags", "/clothings/search?utf8=✓&query=Messenger+Bags&category=&commit=Go" %></li>
    <li><%= link_to "Fashion Waist Packs", "/clothings/search?utf8=✓&query=Fashion+Waist+Packs&category=&commit=Go" %></li>
  </ul>
</li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>