<hr>

<div id="nav-listz">  
    <ul>  
      <li><%= link_to "Laptops", "/computers/search?utf8=✓&query=Laptop&category=&commit=Go" %></li>
      <li><%= link_to "Tablets", "/computers/search?utf8=✓&query=Tablet&category=&commit=Go" %></li>
      <li><%= link_to "Monitors", "/computers/search?utf8=✓&query=Monitor&category=&commit=Go" %></li>
      <li><%= link_to "Desktops", "/computers/search?utf8=✓&query=Desktop&category=&commit=Go" %></li>
      <li>External Data Storage
         <ul class="current-l">
           <li><%= link_to "Floppy Drives", "/computers/search?utf8=✓&query=External+Floppy+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Solid State Drives", "/computers/search?utf8=✓&query=External+Solid+State+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Tape Drives", "/computers/search?utf8=%E2%9C%93&query=External+Tape+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Network Attached Storage", "/computers/search?utf8=✓&query=Network+Attached+Storage&category=&commit=Go" %></li>
           <li><%= link_to "Zip Drives", "/computers/search?utf8=✓&query=External+Zip+Drives&category=&commit=Go" %></li>
           <li><%= link_to "USB Flash Drives", "/computers/search?utf8=✓&query=USB+Flash+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Hard Drives", "/computers/search?utf8=✓&query=External+Hard+Drives&category=&commit=Go" %></li>
         </ul>
      </li> 
      <li>External Components
         <ul class="current-l">
           <li><%= link_to "Optical Drives", "/computers/search?utf8=✓&query=Optical+Drive+External&category=&commit=Go" %></li>
           <li><%= link_to "KVM Switches", "/computers/search?utf8=✓&query=KVM+Switch+External&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Printers
         <ul class="current-l">
           <li><%= link_to "Laser", "/computers/search?utf8=✓&query=Laser+Printer&category=&commit=Go" %></li>
           <li><%= link_to "Inkjet", "/computers/search?utf8=✓&query=Inkjet+Printer&category=&commit=Go" %></li>
           <li><%= link_to "Dot Matrix", "/computers/search?utf8=✓&query=Dot+Matrix+Printer&category=&commit=Go" %></li>
           <li><%= link_to "All-In-One", "/computers/search?utf8=✓&query=All-In-One+Printer&category=&commit=Go" %></li>
           <li><%= link_to "Photo", "/computers/search?utf8=✓&query=Photo+Printer&category=&commit=Go" %></li>
           <li><%= link_to "Plotters", "/computers/search?utf8=✓&query=Plotter&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Scanners", "/computers/search?utf8=✓&query=Scanner&category=&commit=Go" %></li>
      <li><%= link_to "Webcams", "/computers/search?utf8=✓&query=Webcam&category=&commit=Go" %></li>
      <li><%= link_to "Servers", "/computers/search?utf8=✓&query=Server&category=&commit=Go" %></li>
      <li><%= link_to "Video Projectors", "/computers/search?utf8=✓&query=Video+Projector&category=&commit=Go" %></li>
      <li>Networking Products
         <ul class="current-l">
           <li><%= link_to "Network Adapters", "/computers/search?utf8=✓&query=Network+Adapter&category=&commit=Go" %></li>
           <li><%= link_to "Hubs", "/computers/search?utf8=✓&query=Network+Hub&category=&commit=Go" %></li>
           <li><%= link_to "Wireless Access Points", "/computers/search?utf8=✓&query=Wireless+Access+Point&category=&commit=Go" %></li>
           <li><%= link_to "Routers", "/computers/search?utf8=✓&query=Router&category=&commit=Go" %></li>
           <li><%= link_to "Switches", "/computers/search?utf8=✓&query=Switch&category=&commit=Go" %></li>
           <li><%= link_to "Modems", "/computers/search?utf8=✓&query=Modem&category=&commit=Go" %></li>
           <li><%= link_to "Print Servers", "/computers/search?utf8=✓&query=Print+Server&category=&commit=Go" %></li>
           <li><%= link_to "Device Servers", "/computers/search?utf8=✓&query=Device+Server&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Netbooks", "/computers/search?utf8=✓&query=Netbook&category=&commit=Go" %></li>
      <li><%= link_to "PDAs, Handhelds & Accessories", "/computers/search?utf8=✓&query=PDA+Handheld&category=&commit=Go" %></li>
      <li>Computer Components
         <ul class="current-l">
           <li><%= link_to "Desktop Barebones", "/computers/search?utf8=✓&query=Desktop+Barebones&category=&commit=Go" %></li>
           <li><%= link_to "Internal Modems", "/computers/search?utf8=✓&query=Internal+Modem&category=&commit=Go" %></li>
           <li><%= link_to "Computer Cases", "/computers/search?utf8=✓&query=Computer+Case&category=&commit=Go" %></li>
           <li><%= link_to "Fans & Cooling", "/computers/search?utf8=✓&query=Fan+Cooling&category=&commit=Go" %></li>
           <li><%= link_to "Internal Sound Cards", "/computers/search?utf8=✓&query=Internal+Sound+Card&category=&commit=Go" %></li>
           <li><%= link_to "Network Cards", "/computers/search?utf8=✓&query=Network+Card&category=&commit=Go" %></li>
           <li><%= link_to "Motherboards", "/computers/search?utf8=✓&query=Motherboard&category=&commit=Go" %></li>
           <li><%= link_to "Power Supplies", "/computers/search?utf8=✓&query=Power+Supply&category=&commit=Go" %></li>
           <li><%= link_to "Internal Solid State Drives", "/computers/search?utf8=✓&query=Internal+Solid+State+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Memory", "/computers/search?utf8=✓&query=Memory&category=&commit=Go" %></li>
           <li><%= link_to "Graphics Cards", "/computers/search?utf8=✓&query=Graphics+Card&category=&commit=Go" %></li>
           <li><%= link_to "Internal Optical Drives", "/computers/search?utf8=✓&query=Internal+Optical+Drive&category=&commit=Go" %></li>
           <li><%= link_to "CPU Processors", "/computers/search?utf8=✓&query=CPU+Processor&category=&commit=Go" %></li>
           <li><%= link_to "Internal Tape Drives", "/computers/search?utf8=✓&query=Internal+Tape+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Video Capture Cards", "/computers/search?utf8=✓&query=Video+Capture+Card&category=&commit=Go" %></li>
           <li><%= link_to "Internal Hard Drives", "/computers/search?utf8=✓&query=Internal+Hard+Drive&category=&commit=Go" %></li>
           <li><%= link_to "Internal Memory Card Readers", "/computers/search?utf8=✓&query=Internal+Memory+Card+Reader&category=&commit=Go" %></li>
           <li><%= link_to "I/O Port Cards", "/computers/search?utf8=✓&query=I%2FO+Port+Card&category=&commit=Go" %></li>
           <li><%= link_to "Internal Floppy Drives", "/computers/search?utf8=✓&query=Internal+Floppy+Drive&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Game Hardware", "/computers" %></li>
      <li>Computer Accessories
         <ul class="current-l">
           <li><%= link_to "Keyboard & Mice Accessories", "/computers/search?utf8=✓&query=Keyboard+Mice&category=&commit=Go" %></li>
           <li><%= link_to "Cable Security Devices", "/computers/search?utf8=✓&query=Cable+Security+Device&category=&commit=Go" %></li>
           <li><%= link_to "Computer Speakers", "/computers/search?utf8=✓&query=Computer+Speaker&category=&commit=Go" %></li>
           <li><%= link_to "USB Gadgets", "/computers/search?utf8=✓&query=USB+Gadget&category=&commit=Go" %></li>
           <li><%= link_to "Scanner Accessories", "/computers/search?utf8=✓&query=Scanner+Accessory&category=&commit=Go" %></li>
           <li><%= link_to "Memory Cards", "/computers/search?utf8=✓&query=Memory+Card&category=&commit=Go" %></li>
           <li><%= link_to "Monitor Accessories", "/computers/search?utf8=✓&query=Monitor+Accessories&category=&commit=Go" %></li>
           <li><%= link_to "Printer Accessories", "/computers/search?utf8=✓&query=Printer+Accessories&category=&commit=Go" %></li>
           <li><%= link_to "Video Projector Accessories", "/computers/search?utf8=✓&query=Video+Projector&category=&commit=Go" %></li>
           <li><%= link_to "Computer Cable Adapters", "/computers/search?utf8=✓&query=Computer+Cable+Adapter&category=&commit=Go" %></li>
           <li><%= link_to "Printer Ink & Toner", "/computers/search?utf8=✓&query=Printer+Ink+Toner&category=&commit=Go" %></li>
           <li><%= link_to "Laptop & Netbook Computer Accessories", "/computers/search?utf8=✓&query=Laptop+Accessories&category=&commit=Go" %></li>
           <li><%= link_to "Surge Protectors", "/computers/search?utf8=✓&query=Surge+Protector&category=&commit=Go" %></li>
           <li><%= link_to "Keyboards, Mice & Input Devices", "/computers/search?utf8=✓&query=Keyboard&category=&commit=Go" %></li>
           <li><%= link_to "Cleaning & Repair", "/computers/search?utf8=✓&query=Cleaning+Repair&category=&commit=Go" %></li>
           <li><%= link_to "Touch Screen Tablet Accessories", "/computers/search?utf8=✓&query=Touch+Screen+Tablet&category=&commit=Go" %></li>
           <li><%= link_to "Hard Drive Enclosures", "/computers/search?utf8=✓&query=Hard+Drive+Enclosure&category=&commit=Go" %></li>
           <li><%= link_to "Memory Card Readers", "/computers/search?utf8=✓&query=Memory+Card+Reader&category=&commit=Go" %></li>
           <li><%= link_to "Hard Drive Cases", "/computers/search?utf8=✓&query=Hard+Drive+Case&category=&commit=Go" %></li>
           <li><%= link_to "Memory Card Adapters", "/computers/search?utf8=✓&query=Memory+Card+Adapter&category=&commit=Go" %></li>
           <li><%= link_to "Headsets & Microphones", "/computers/search?utf8=✓&query=Headset+Microphone&category=&commit=Go" %></li>
           <li><%= link_to "Hard Drive Bags", "/computers/search?utf8=✓&query=Hard+Drive+Bag&category=&commit=Go" %></li>
           <li><%= link_to "Cables & Interconnects", "/computers/search?utf8=✓&query=Cables+Interconnects&category=&commit=Go" %></li>
           <li><%= link_to "Uninterrupted Power Supply (UPS)", "/computers/search?utf8=✓&query=Uninterrupted+Power+Supply&category=&commit=Go" %></li>
         </ul>
      </li>
    </ul>    
</div>



<%= render 'shared/catlists/js_for_lists' %>

<hr>