<hr>

<div id="nav-listz" align="left">  
    <ul> 
      
        <li><%= link_to "MP3 Players", "/eportables/search?utf8=✓&query=MP3+Player&category=&commit=Go" %></li>
        <li><%= link_to "iPod", "/eportables/search?utf8=✓&query=iPod&category=&commit=Go" %></li>  
        <li><%= link_to "Digital Voice Recorder", "/eportables/search?utf8=✓&query=Digital+Voice+Recorder&category=&commit=Go" %></li> 
        <li><%= link_to "Radios", "/eportables/search?utf8=✓&query=Radio&category=&commit=Go" %></li>  
        <li><%= link_to "Two-Way Radios", "/eportables/search?utf8=✓&query=Two-Way+Radio&category=&commit=Go" %></li>
        <li><%= link_to "Portable TVs", "/eportables/search?utf8=✓&query=Portable+TV&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>