<hr>

<div id="nav-listz" align="left">  
    <ul> 

<li>Men
  <ul class="current-l">
    <li>Athletic & Outdoor
    <ul class="current-l">
        <li><%= link_to "Bowling", "/footwears/search?utf8=✓&query=Men+Bowling&category=&commit=Go" %></li>
        <li><%= link_to "Rain Footwear", "/footwears/search?utf8=✓&query=Men+Rain+Footwear&category=&commit=Go" %></li>
        <li><%= link_to "Running", "/footwears/search?utf8=✓&query=Men+Running&category=&commit=Go" %></li>
        <li><%= link_to "Basketball", "/footwears/search?utf8=✓&query=Men+Basketball&category=&commit=Go" %></li>
        <li><%= link_to "Cycling", "/footwears/search?utf8=✓&query=Men+Cycling&category=&commit=Go" %></li>
        <li><%= link_to "Volleyball", "/footwears/search?utf8=✓&query=Men+Volleyball&category=&commit=Go" %></li>
        <li><%= link_to "Fitness & Cross-Training", "/footwears/search?utf8=✓&query=Men+Fitness+Cross+Training&category=&commit=Go" %></li>
        <li><%= link_to "Sport Sandals", "/footwears/search?utf8=✓&query=Men+Sport+Sandals&category=&commit=Go" %></li>
        <li><%= link_to "Racquet Sports", "/footwears/search?utf8=✓&query=Men+Racquet+Sports&category=&commit=Go" %></li>
        <li><%= link_to "Baseball & Softball", "/footwears/search?utf8=✓&query=Men+Baseball+Softball&category=&commit=Go" %></li>
        <li><%= link_to "Trail Running", "/footwears/search?utf8=✓&query=Men+Trail+Running&category=&commit=Go" %></li>
        <li><%= link_to "Soccer", "/footwears/search?utf8=✓&query=Men+Soccer&category=&commit=Go" %></li>
        <li><%= link_to "Beach Flip Flops & Athletic Slides", "/footwears/search?utf8=✓&query=Men+Beach+Flip+Flops&category=&commit=Go" %></li>
        <li><%= link_to "Climbing", "/footwears/search?utf8=✓&query=Men+Climbing&category=&commit=Go" %></li>
        <li><%= link_to "Golf", "/footwears/search?utf8=✓&query=Men+Golf&category=&commit=Go" %></li>
        <li><%= link_to "Track & Field & Cross Country", "/footwears/search?utf8=✓&query=Men+Track+Field&category=&commit=Go" %></li>
        <li><%= link_to "Equestrian Sport Boots", "/footwears/search?utf8=✓&query=Men+Equestrian+Sport+Boots&category=&commit=Go" %></li>
        <li><%= link_to "Skateboarding", "/footwears/search?utf8=✓&query=Men+Skateboarding&category=&commit=Go" %></li>
        <li><%= link_to "Wrestling", "/footwears/search?utf8=✓&query=Men+Wrestling&category=&commit=Go" %></li>
        <li><%= link_to "Rugby", "/footwears/search?utf8=✓&query=Men+Rugby&category=&commit=Go" %></li>
        <li><%= link_to "Walking", "/footwears/search?utf8=✓&query=Men+Walking&category=&commit=Go" %></li>
        <li><%= link_to "Football", "/footwears/search?utf8=✓&query=Men+Football&category=&commit=Go" %></li>
        <li><%= link_to "Water Shoes", "/footwears/search?utf8=✓&query=Men+Water+Shoes&category=&commit=Go" %></li>
        <li><%= link_to "Field Hockey & Lacrosse", "/footwears/search?utf8=✓&query=Men+Field+Hockey&category=&commit=Go" %></li>
        <li><%= link_to "Boating", "/footwears/search?utf8=✓&query=Men+Boating&category=&commit=Go" %></li>
        <li><%= link_to "Ballet & Dance", "/footwears/search?utf8=✓&query=Men+Ballet+Dance&category=&commit=Go" %></li>
        <li><%= link_to "Hunting", "/footwears/search?utf8=✓&query=Men+Hunting&category=&commit=Go" %></li>
        <li><%= link_to "Hiking & Trekking", "/footwears/search?utf8=✓&query=Men+Hiking+Trekking&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Fashion Sneakers", "/footwears/search?utf8=✓&query=Men+Fashion+Sneakers&category=&commit=Go" %></li>
    <li><%= link_to "Sandals", "/footwears/search?utf8=✓&query=Men+Sandals&category=&commit=Go" %></li>
    <li><%= link_to "Oxfords", "/footwears/search?utf8=✓&query=Men+Oxfords&category=&commit=Go" %></li>
    <li><%= link_to "Loafers & Slip-Ons", "/footwears/search?utf8=✓&query=Men+Loafers+Slip-Ons&category=&commit=Go" %></li>
    <li><%= link_to "Boots", "/footwears/search?utf8=✓&query=Men+Boots&category=&commit=Go" %></li>
    <li><%= link_to "Mules & Clogs", "/footwears/search?utf8=✓&query=Men+Mules+Clogs&category=&commit=Go" %></li>
    <li><%= link_to "Work & Safety", "/footwears/search?utf8=✓&query=Men+Work+Safety&category=&commit=Go" %></li>
    <li><%= link_to "Slippers", "/footwears/search?utf8=✓&query=Men+Slippers&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Women
  <ul class="current-l">
    <li><%= link_to "Slippers", "/footwears/search?utf8=✓&query=Women+Slippers&category=&commit=Go" %></li>
    <li><%= link_to "Pumps", "/footwears/search?utf8=✓&query=Women+Pumps&category=&commit=Go" %></li>
    <li><%= link_to "Loafers & Slip-Ons", "/footwears/search?utf8=✓&query=Women+Loafers+Slip-Ons&category=&commit=Go" %></li>
    <li><%= link_to "Fashion Sneakers", "/footwears/search?utf8=✓&query=Women+Fashion+Sneakers&category=&commit=Go" %></li>
    <li><%= link_to "Oxfords", "/footwears/search?utf8=✓&query=Women+Oxfords&category=&commit=Go" %></li>
    <li><%= link_to "Mules & Clogs", "/footwears/search?utf8=✓&query=Women+Mules+Clogs&category=&commit=Go" %></li>
    <li><%= link_to "Flats", "/footwears/search?utf8=✓&query=Women+Flats&category=&commit=Go" %></li>
    <li><%= link_to "Work & Safety", "/footwears/search?utf8=✓&query=Women+Work+Safety&category=&commit=Go" %></li>
    <li><%= link_to "Sandals", "/footwears/search?utf8=✓&query=Women+Sandals&category=&commit=Go" %></li>
    <li><%= link_to "Boots", "/footwears/search?utf8=✓&query=Women+Boots&category=&commit=Go" %></li>
    
    <li>Athletic & Outdoor
    <ul class="current-l">
        <li><%= link_to "Golf", "/footwears/search?utf8=✓&query=Women+Golf&category=&commit=Go" %></li>
        <li><%= link_to "Ballet & Dance", "/footwears/search?utf8=✓&query=Women+Ballet+Dance&category=&commit=Go" %></li>
        <li><%= link_to "Skateboarding", "/footwears/search?utf8=✓&query=Women+Skateboarding&category=&commit=Go" %></li>
        <li><%= link_to "Hiking & Trekking", "/footwears/search?utf8=✓&query=Women+Hiking+Trekking&category=&commit=Go" %></li>
        <li><%= link_to "Equestrian Sport Boots", "/footwears/search?utf8=✓&query=Women+Equestrian+Sport+Boots&category=&commit=Go" %></li>
        <li><%= link_to "Racquet Sports", "/footwears/search?utf8=✓&query=Women+Racquet+Sports&category=&commit=Go" %></li>
        <li><%= link_to "Fitness & Cross-Training", "/footwears/search?utf8=✓&query=Women+Fitness+Cross+Training&category=&commit=Go" %></li>
        <li><%= link_to "Field Hockey & Lacrosse", "/footwears/search?utf8=✓&query=Women+Field+Hockey&category=&commit=Go" %></li>
        <li><%= link_to "Trail Running", "/footwears/search?utf8=✓&query=Women+Trail+Running&category=&commit=Go" %></li>
        <li><%= link_to "Basketball", "/footwears/search?utf8=✓&query=Women+Basketball&category=&commit=Go" %></li>
        <li><%= link_to "Boating", "/footwears/search?utf8=✓&query=Women+Boating&category=&commit=Go" %></li>
        <li><%= link_to "Volleyball", "/footwears/search?utf8=✓&query=Women+Volleyball&category=&commit=Go" %></li>
        <li><%= link_to "Rock Climbing", "/footwears/search?utf8=✓&query=Women+Rock+Climbing&category=&commit=Go" %></li>
        <li><%= link_to "Sport Sandals", "/footwears/search?utf8=✓&query=Women+Sport+Sandals&category=&commit=Go" %></li>
        <li><%= link_to "Running", "/footwears/search?utf8=✓&query=Women+Running&category=&commit=Go" %></li>
        <li><%= link_to "Water Shoes", "/footwears/search?utf8=✓&query=Women+Water+Shoes&category=&commit=Go" %></li>
        <li><%= link_to "Bowling", "/footwears/search?utf8=✓&query=Women+Bowling&category=&commit=Go" %></li>
        <li><%= link_to "Beach Flip Flops & Athletic Slides", "/footwears/search?utf8=✓&query=Women+Beach+Flip+Flops&category=&commit=Go" %></li>
        <li><%= link_to "Walking", "/footwears/search?utf8=✓&query=Women+Walking&category=&commit=Go" %></li>
        <li><%= link_to "Soccer", "/footwears/search?utf8=✓&query=Women+Soccer&category=&commit=Go" %></li>
        <li><%= link_to "Rain Footwear", "/footwears/search?utf8=✓&query=Women+Rain+Footwear&category=&commit=Go" %></li>
        <li><%= link_to "Baseball & Softball", "/footwears/search?utf8=✓&query=Women+Baseball+Softball&category=&commit=Go" %></li>
        <li><%= link_to "Track & Field & Cross Country", "/footwears/search?utf8=✓&query=Women+Track+Field&category=&commit=Go" %></li>
        <li><%= link_to "Hunting", "/footwears/search?utf8=✓&query=Women+Hunting&category=&commit=Go" %></li>
        <li><%= link_to "Cycling", "/footwears/search?utf8=✓&query=Women+Cycling&category=&commit=Go" %></li>
      </ul>
    </li>
    
   </ul>
</li>
      
<li>Boys
  <ul class="current-l">
    <li><%= link_to "Uniform & School Shoes", "/footwears/search?utf8=✓&query=Boy+Uniform+School+Shoes&category=&commit=Go" %></li>
    <li><%= link_to "Boots", "/footwears/search?utf8=✓&query=Boy+Boots&category=&commit=Go" %></li>
    <li><%= link_to "Crib Shoes", "/footwears/search?utf8=✓&query=Boy+Crib+Shoes&category=&commit=Go" %></li>
    <li><%= link_to "Slippers", "/footwears/search?utf8=✓&query=Boy+Slippers&category=&commit=Go" %></li>
    <li><%= link_to "Clogs & Mules", "/footwears/search?utf8=✓&query=Boy+Clogs+Mules&category=&commit=Go" %></li>
    <li><%= link_to "First Walkers", "/footwears/search?utf8=✓&query=Boy+First+Walkers&category=&commit=Go" %></li>
    
    <li>Athletic & Outdoor
      <ul class="current-l">
        <li><%= link_to "Trail Running", "/footwears/search?utf8=✓&query=Boy+Trail+Running&category=&commit=Go" %></li>
        <li><%= link_to "Handball", "/footwears/search?utf8=✓&query=Boy+Handball&category=&commit=Go" %></li>
        <li><%= link_to "Fitness & Cross-Training", "/footwears/search?utf8=✓&query=Boy+Fitness&category=&commit=Go" %></li>
        <li><%= link_to "Futsal", "/footwears/search?utf8=✓&query=Boy+Futsal&category=&commit=Go" %></li>
        <li><%= link_to "Indoor Multisport Court Shoes", "/footwears/search?utf8=✓&query=Boy+Indoor+Multisport+Court+Shoes&category=&commit=Go" %></li>
        <li><%= link_to "Walking", "/footwears/search?utf8=✓&query=Boy+Walking&category=&commit=Go" %></li>
        <li><%= link_to "Beach Flip Flops & Athletic Slides", "/footwears/search?utf8=✓&query=Boy+Beach+Flip+Flops&category=&commit=Go" %></li>
        <li><%= link_to "Sport Sandals", "/footwears/search?utf8=✓&query=Boy+Sport+Sandals&category=&commit=Go" %></li>
        <li><%= link_to "Soccer", "/footwears/search?utf8=✓&query=Boy+Soccer&category=&commit=Go" %></li>
        <li><%= link_to "Skateboarding", "/footwears/search?utf8=✓&query=Boy+Skateboarding&category=&commit=Go" %></li>
        <li><%= link_to "Racquet Sports", "/footwears/search?utf8=✓&query=Boy+Racquet+Sports&category=&commit=Go" %></li>
        <li><%= link_to "Dance", "/footwears/search?utf8=✓&query=Boy+Dance&category=&commit=Go" %></li>
        <li><%= link_to "Water Shoes", "/footwears/search?utf8=✓&query=Boy+Water+Shoes&category=&commit=Go" %></li>
        <li><%= link_to "Hiking & Trekking", "/footwears/search?utf8=✓&query=Boy+Hiking+Trekking&category=&commit=Go" %></li>
        <li><%= link_to "Rain Boots", "/footwears/search?utf8=✓&query=Boy+Rain+Boots&category=&commit=Go" %></li>
        <li><%= link_to "Running", "/footwears/search?utf8=✓&query=Boy+Running&category=&commit=Go" %></li>
        <li><%= link_to "Baseball & Softball", "/footwears/search?utf8=✓&query=Boy+Baseball+Softball&category=&commit=Go" %></li>
        <li><%= link_to "Basketball", "/footwears/search?utf8=✓&query=Boy+Basketball&category=&commit=Go" %></li>
        <li><%= link_to "Football", "/footwears/search?utf8=✓&query=Boy+Football&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Sandals", "/footwears/search?utf8=✓&query=Boy+Sandals&category=&commit=Go" %></li>
    <li><%= link_to "Loafers", "/footwears/search?utf8=✓&query=Boy+Loafers&category=&commit=Go" %></li>
    <li><%= link_to "Sneakers", "/footwears/search?utf8=✓&query=Boy+Sneakers&category=&commit=Go" %></li>
    <li><%= link_to "Oxfords", "/footwears/search?utf8=✓&query=Boy+Oxfords&category=&commit=Go" %></li>
    
  </ul>
</li>
      
<li>Girls
  <ul class="current-l">
    <li><%= link_to "Sandals", "/footwears/search?utf8=✓&query=Girl+Sandals&category=&commit=Go" %></li>
    <li><%= link_to "Loafers", "/footwears/search?utf8=✓&query=Girl+Loafers&category=&commit=Go" %></li>
    <li><%= link_to "Crib Shoes", "/footwears/search?utf8=✓&query=Girl+Crib+Shoes&category=&commit=Go" %></li>
    <li><%= link_to "Clogs & Mules", "/footwears/search?utf8=✓&query=Girl+Clogs+Mules&category=&commit=Go" %></li>
    <li>Athletic & Outdoor
      <ul class="current-l">
        <li><%= link_to "Baseball & Softball", "/footwears/search?utf8=✓&query=Girl+Baseball+Softball&category=&commit=Go" %></li>
        <li><%= link_to "Rain Boots", "/footwears/search?utf8=✓&query=Girl+Rain+Boots&category=&commit=Go" %></li>
        <li><%= link_to "Cheerleading", "/footwears/search?utf8=✓&query=Girl+Cheerleading&category=&commit=Go" %></li>
        <li><%= link_to "Walking", "/footwears/search?utf8=✓&query=Girl+Walking&category=&commit=Go" %></li>
        <li><%= link_to "Sport Sandals", "/footwears/search?utf8=✓&query=Girl+Sport+Sandals&category=&commit=Go" %></li>
        <li><%= link_to "Skateboarding", "/footwears/search?utf8=✓&query=Girl+Skateboarding&category=&commit=Go" %></li>
        <li><%= link_to "Racquet Sports", "/footwears/search?utf8=✓&query=Girl+Racquet+Sports&category=&commit=Go" %></li>
        <li><%= link_to "Basketball", "/footwears/search?utf8=✓&query=Girl+Basketball&category=&commit=Go" %></li>
        <li><%= link_to "Fitness & Cross-Training", "/footwears/search?utf8=✓&query=Girl+Fitness&category=&commit=Go" %></li>
        <li><%= link_to "Beach Flip Flops & Athletic Slides", "/footwears/search?utf8=✓&query=Girl+Beach+Flip+Flops&category=&commit=Go" %></li>
        <li><%= link_to "Water Shoes", "/footwears/search?utf8=✓&query=Girl+Water+Shoes&category=&commit=Go" %></li>
        <li><%= link_to "Running", "/footwears/search?utf8=✓&query=Girl+Running&category=&commit=Go" %></li>
        <li><%= link_to "Dance", "/footwears/search?utf8=✓&query=Girl+Dance&category=&commit=Go" %></li>
        <li><%= link_to "Trail Running", "/footwears/search?utf8=✓&query=Girl+Trail+Running&category=&commit=Go" %></li>
        <li><%= link_to "Hiking & Trekking", "/footwears/search?utf8=✓&query=Girl+Hiking+Trekking&category=&commit=Go" %></li>
        <li><%= link_to "Soccer", "/footwears/search?utf8=✓&query=Girl+Soccer&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li><%= link_to "Boots", "/footwears/search?utf8=✓&query=Girl+Boots&category=&commit=Go" %></li>
    <li><%= link_to "Sneakers", "/footwears/search?utf8=✓&query=Girl+Sneakers&category=&commit=Go" %></li>
    <li><%= link_to "Slippers", "/footwears/search?utf8=✓&query=Girl+Slippers&category=&commit=Go" %></li>
    <li><%= link_to "Oxfords", "/footwears/search?utf8=✓&query=Girl+Oxfords&category=&commit=Go" %></li>
    <li><%= link_to "Uniform & School Shoes", "/footwears/search?utf8=✓&query=Girl+Uniform+School+Shoes&category=&commit=Go" %></li>
    <li><%= link_to "First Walkers", "/footwears/search?utf8=✓&query=Girl+First+Walkers&category=&commit=Go" %></li>
    <li><%= link_to "Flats", "/footwears/search?utf8=✓&query=Girl+Flats&category=&commit=Go" %></li> 
  </ul>
</li>
      
<li>Shoe Care & Accessories
  <ul class="current-l">
    <li><%= link_to "Shoe Decoration Charms", "/footwears/search?utf8=✓&query=Shoe+Decoration+Charms&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Care Kits & Sets", "/footwears/search?utf8=✓&query=Shoe+Care+Kit&category=&commit=Go" %></li>
    <li><%= link_to "Shoelaces", "/footwears/search?utf8=✓&query=Shoelaces&category=&commit=Go" %></li>
    <li><%= link_to "Ice & Snow Grips", "/footwears/search?utf8=✓&query=Ice+Snow+Grips&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Measuring Devices", "/footwears/search?utf8=✓&query=Shoe+Measuring+Devices&category=&commit=Go" %></li>
    <li><%= link_to "Electric Shoe Polishers", "/footwears/search?utf8=✓&query=Electric+Shoe+Polishers&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Bags", "/footwears/search?utf8=✓&query=Shoe+Bags&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Dryers", "/footwears/search?utf8=✓&query=Shoe+Dryers&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Horns & Boot Jacks", "/footwears/search?utf8=✓&query=Shoe Horns&category=&commit=Go" %></li>
    <li><%= link_to "Shoe & Boot Trees", "/footwears/search?utf8=✓&query=Shoe+Boot+Trees&category=&commit=Go" %></li>
    <li><%= link_to "Shoe Brushes", "/footwears/search?utf8=✓&query=Shoe+Brushes&category=&commit=Go" %></li>
    <li><%= link_to "Polishes & Dyes", "/footwears/search?utf8=✓&query=Polishes+Dyes&category=&commit=Go" %></li>
  </ul>
</li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>