<hr>

<div id="nav-listz">  
    <ul>

<li>Snack Food
  <ul class="current-l">
    <li><%= link_to "Pork Rinds", "/grocers/search?utf8=✓&query=Pork Rinds&category=&commit=Go" %></li>
    <li><%= link_to "Fruit Leather", "/grocers/search?utf8=✓&query=Fruit Leather&category=&commit=Go" %></li>
    <li><%= link_to "Popcorn", "/grocers/search?utf8=✓&query=Popcorn&category=&commit=Go" %></li>
    <li><%= link_to "Puffed Snacks", "/grocers/search?utf8=✓&query=Puffed Snacks&category=&commit=Go" %></li>
    <li><%= link_to "Pudding", "/grocers/search?utf8=✓&query=Pudding&category=&commit=Go" %></li>
    <li><%= link_to "Pretzels", "/grocers/search?utf8=✓&query=Pretzels&category=&commit=Go" %></li>
    <li><%= link_to "Dried Fruit", "/grocers/search?utf8=✓&query=Dried Fruit&category=&commit=Go" %></li>
    <li><%= link_to "Rice Cakes", "/grocers/search?utf8=✓&query=Rice Cakes&category=&commit=Go" %></li>
    <li><%= link_to "Chips", "/grocers/search?utf8=✓&query=Chips&category=&commit=Go" %></li>
    <li><%= link_to "Party Mix", "/grocers/search?utf8=✓&query=Party Mix&category=&commit=Go" %></li>
    <li><%= link_to "Crackers", "/grocers/search?utf8=✓&query=Crackers&category=&commit=Go" %></li>
    <li><%= link_to "Granola Bars", "/grocers/search?utf8=✓&query=Granola Bars&category=&commit=Go" %></li>
    <li><%= link_to "Trail Mix", "/grocers/search?utf8=✓&query=Trail Mix&category=&commit=Go" %></li>
  </ul>
</li>
<li>Noodles
  <ul class="current-l">
    <li><%= link_to "Soba", "/grocers/search?utf8=✓&query=Soba&category=&commit=Go" %></li>
    <li><%= link_to "Udon", "/grocers/search?utf8=✓&query=Udon&category=&commit=Go" %></li>
    <li><%= link_to "Ramen", "/grocers/search?utf8=✓&query=Ramen&category=&commit=Go" %></li>
  </ul>
</li>
<li>Breads & Bakery
  <ul class="current-l">
    <li><%= link_to "Pizza Crusts", "/grocers/search?utf8=✓&query=Pizza Crusts&category=&commit=Go" %></li>
    <li>Cakes
      <ul class="current-l">
         <li><%= link_to "Cheesecakes", "/grocers/search?utf8=✓&query=Cheesecakes&category=&commit=Go" %></li>
         <li><%= link_to "Pound Cakes", "/grocers/search?utf8=✓&query=Pound+Cakes&category=&commit=Go" %></li>
         <li><%= link_to "Layer Cakes", "/grocers/search?utf8=✓&query=Layer+Cakes&category=&commit=Go" %></li>
         <li><%= link_to "Fruitcakes", "/grocers/search?utf8=✓&query=Fruitcakes&category=&commit=Go" %></li>
         <li><%= link_to "Panettones", "/grocers/search?utf8=✓&query=Panettones&category=&commit=Go" %></li>
         <li><%= link_to "Coffeecakes", "/grocers/search?utf8=✓&query=Coffeecakes&category=&commit=Go" %></li>
      </ul>
     </li>
    <li><%= link_to "Breadcrumbs", "/grocers/search?utf8=✓&query=Breadcrumbs&category=&commit=Go" %></li>
    <li><%= link_to "Croissants", "/grocers/search?utf8=✓&query=Croissants&category=&commit=Go" %></li>
    <li><%= link_to "Bagels", "/grocers/search?utf8=✓&query=Bagels&category=&commit=Go" %></li>
    <li><%= link_to "Breads", "/grocers/search?utf8=✓&query=Breads&category=&commit=Go" %></li>
    <li><%= link_to "Breadsticks", "/grocers/search?utf8=✓&query=Breadsticks&category=&commit=Go" %></li>
    <li><%= link_to "Tortillas", "/grocers/search?utf8=✓&query=Tortillas&category=&commit=Go" %></li>
    <li><%= link_to "Pastries", "/grocers/search?utf8=✓&query=Pastries&category=&commit=Go" %></li>
    <li><%= link_to "Stuffing", "/grocers/search?utf8=✓&query=Stuffing&category=&commit=Go" %></li>
    <li>Cookies
      <ul class="current-l">
         <li><%= link_to "Biscotti", "/grocers/search?utf8=✓&query=Biscotti&category=&commit=Go" %></li>
         <li><%= link_to "Chocolate Cookies", "/grocers/search?utf8=✓&query=Chocolate+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Sugar Cookies", "/grocers/search?utf8=✓&query=Sugar+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Oatmeal Cookies", "/grocers/search?utf8=✓&query=Oatmeal+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Biscuits", "/grocers/search?utf8=✓&query=Biscuits&category=&commit=Go" %></li>
         <li><%= link_to "Butter Cookies", "/grocers/search?utf8=✓&query=Butter+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Meringues", "/grocers/search?utf8=✓&query=Meringues&category=&commit=Go" %></li>
         <li><%= link_to "Chocolate-Chip Cookies", "/grocers/search?utf8=✓&query=Chocolate+Chip+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Peanut-Butter Cookie", "/grocers/search?utf8=✓&query=Peanut+Butter+Cookie&category=&commit=Go" %></li>
         <li><%= link_to "Ginger Snaps", "/grocers/search?utf8=✓&query=Ginger+Snaps&category=&commit=Go" %></li>
         <li><%= link_to "Sandwich Cookies", "/grocers/search?utf8=✓&query=Sandwich+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Fortune Cookies", "/grocers/search?utf8=✓&query=Fortune+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Shortbread Cookies", "/grocers/search?utf8=✓&query=Shortbread+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Snickerdoodles", "/grocers/search?utf8=✓&query=Snickerdoodles&category=&commit=Go" %></li>
         <li><%= link_to "Ladyfingers", "/grocers/search?utf8=✓&query=Ladyfingers&category=&commit=Go" %></li>
         <li><%= link_to "Nut Cookies", "/grocers/search?utf8=✓&query=Nut+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Fruit Cookies", "/grocers/search?utf8=✓&query=Fruit+Cookies&category=&commit=Go" %></li>
         <li><%= link_to "Pizzelles", "/grocers/search?utf8=✓&query=Pizzelles&category=&commit=Go" %></li>
         <li><%= link_to "Wafers", "/grocers/search?utf8=✓&query=Wafers&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li><%= link_to "Taco Shells", "/grocers/search?utf8=✓&query=Taco Shells&category=&commit=Go" %></li>
    
  </ul>
</li>
<li>Sauces & Dips
  <ul class="current-l">
    <li>Sauces
      <ul class="current-l">
        <li><%= link_to "Teriyaki", "/grocers/search?utf8=✓&query=Teriyaki+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Chile Paste", "/grocers/search?utf8=✓&query=Chile+Paste&category=&commit=Go" %></li>
        <li><%= link_to "Marinades", "/grocers/search?utf8=✓&query=Marinades&category=&commit=Go" %></li>
        <li><%= link_to "Tartar", "/grocers/search?utf8=✓&query=Tartar+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Peanut", "/grocers/search?utf8=✓&query=Peanut+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Cocktail", "/grocers/search?utf8=✓&query=Cocktail+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Gravies", "/grocers/search?utf8=✓&query=Gravies&category=&commit=Go" %></li>
        <li><%= link_to "Pasta", "/grocers/search?utf8=✓&query=Pasta+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue", "/grocers/search?utf8=✓&query=Barbecue+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Curry", "/grocers/search?utf8=✓&query=Curry+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Soy", "/grocers/search?utf8=✓&query=Soy+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Adobo", "/grocers/search?utf8=✓&query=Adobo+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Hot Sauces", "/grocers/search?utf8=✓&query=Hot+Sauces&category=&commit=Go" %></li>
        <li><%= link_to "Taco", "/grocers/search?utf8=✓&query=Taco+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Plum", "/grocers/search?utf8=✓&query=Plum+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Asian Barbecue", "/grocers/search?utf8=✓&query=Asian+Barbecue+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Stir-Fry", "/grocers/search?utf8=✓&query=Stir+Fry+Sauces&category=&commit=Go" %></li>
        <li><%= link_to "Coconut", "/grocers/search?utf8=✓&query=Coconut+Sauce&category=&commit=Go" %></li>
        <li><%= link_to "Sweet & Sour", "/grocers/search?utf8=✓&query=Sweet+Sour+Sauce&category=&commit=Go" %></li>
        Pesto Sauce<li><%= link_to "Pesto", "/grocers/search?utf8=✓&query=Pesto+Sauce&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Dips
      <ul class="current-l">
        <li><%= link_to "Ranch Dips", "/grocers/search?utf8=✓&query=Ranch+Dips&category=&commit=Go" %></li>
        <li><%= link_to "Processed Cheese Spreads", "/grocers/search?utf8=✓&query=Processed+Cheese+Spreads&category=&commit=Go" %></li>
        <li><%= link_to "Hummus", "/grocers/search?utf8=✓&query=Hummus&category=&commit=Go" %></li>
        <li><%= link_to "Onion Dips", "/grocers/search?utf8=✓&query=Onion+Dips&category=&commit=Go" %></li>
        <li><%= link_to "Olive Spreads", "/grocers/search?utf8=✓&query=Olive+Spreads&category=&commit=Go" %></li>
        <li><%= link_to "Guacamole", "/grocers/search?utf8=✓&query=Guacamole&category=&commit=Go" %></li>
        <li><%= link_to "Vegetable Dips", "/grocers/search?utf8=✓&query=Vegetable+Dips&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li><%= link_to "Salsas", "/grocers/search?utf8=✓&query=Salsas&category=&commit=Go" %></li>
    
  </ul>
</li>
<li>Wine, Beer & Spirits
  <ul class="current-l">
    <li><%= link_to "Wine", "/grocers/search?utf8=✓&query=Wine&category=&commit=Go" %></li>
    <li><%= link_to "Spirits", "/grocers/search?utf8=✓&query=Spirits&category=&commit=Go" %></li>
    <li><%= link_to "Beer", "/grocers/search?utf8=✓&query=Beer&category=&commit=Go" %></li>
  </ul>
</li>
<li>Home Brewing & Wine Making
  <ul class="current-l">
    <li>Beer Brewing Ingredients
      <ul class="current-l">
        <li><%= link_to "Hops", "/grocers/search?utf8=✓&query=Hops&category=&commit=Go" %></li>
        <li><%= link_to "Grains", "/grocers/search?utf8=✓&query=Grains&category=&commit=Go" %></li>
        <li><%= link_to "Soda Extracts", "/grocers/search?utf8=✓&query=Soda+Extracts&category=&commit=Go" %></li>
        <li><%= link_to "Yeasts & Yeast Starters", "/grocers/search?utf8=✓&query=Beer+Yeasts&category=&commit=Go" %></li>
        <li><%= link_to "Additives & Adjuncts", "/grocers/search?utf8=✓&query=Beer+Additives&category=&commit=Go" %></li>
        <li><%= link_to "Spices & Flavorings", "/grocers/search?utf8=✓&query=Spices&category=&commit=Go" %></li>
        <li><%= link_to "Malt Extracts", "/grocers/search?utf8=✓&query=Beer+Malt+Extracts&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Wine Making Ingredients
      <ul class="current-l">
        <li><%= link_to "Fruit Bases", "/grocers/search?utf8=✓&query=Wine Fruit+Bases&category=&commit=Go" %></li>
        <li><%= link_to "Spices & Flavorings", "/grocers/search?utf8=✓&query=Wine+Spices&category=&commit=Go" %></li>
        <li><%= link_to "Yeasts & Cultures", "/grocers/search?utf8=✓&query=Wine+Yeasts&category=&commit=Go" %></li>
        <li><%= link_to "Additives", "/grocers/search?utf8=✓&query=Wine+Additives&category=&commit=Go" %></li>
        <li><%= link_to "Ingredient Kits", "/grocers/search?utf8=✓&query=Wine+Ingredient+Kits&category=&commit=Go" %></li>
      </ul>        
    </li>
    <li>Beer Brewing Recipe Kits
      <ul class="current-l">
        <li><%= link_to "Partial Mash Kits", "/grocers/search?utf8=✓&query=Partial+Mash+Kits&category=&commit=Go" %></li>
        <li><%= link_to "Meads", "/grocers/search?utf8=✓&query=Meads&category=&commit=Go" %></li>
        <li><%= link_to "Specialty Beers", "/grocers/search?utf8=✓&query=Specialty+Beers&category=&commit=Go" %></li>
        <li><%= link_to "Ales", "/grocers/search?utf8=✓&query=Ales&category=&commit=Go" %></li>
        <li><%= link_to "Belgian Beers", "/grocers/search?utf8=✓&query=Belgian+Beers&category=&commit=Go" %></li>
        <li><%= link_to "Wheat Beers", "/grocers/search?utf8=✓&query=Wheat+Beers&category=&commit=Go" %></li>
        <li><%= link_to "Lagers", "/grocers/search?utf8=✓&query=Lagers&category=&commit=Go" %></li>
      </ul>        
    </li>
  </ul>
</li>
<li>Candy
  <ul class="current-l">
    <li><%= link_to "Gummy Candies", "/grocers/search?utf8=✓&query=Gummy Candies&category=&commit=Go" %></li>
    <li><%= link_to "Gum", "/grocers/search?utf8=✓&query=Gum&category=&commit=Go" %></li>
    <li><%= link_to "Toffee", "/grocers/search?utf8=✓&query=Toffee&category=&commit=Go" %></li>
    <li><%= link_to "Fudge", "/grocers/search?utf8=✓&query=Fudge&category=&commit=Go" %></li>
    <li><%= link_to "Mints", "/grocers/search?utf8=✓&query=Mints&category=&commit=Go" %></li>
    <li><%= link_to "Taffy", "/grocers/search?utf8=✓&query=Taffy&category=&commit=Go" %></li>
    <li><%= link_to "Hard Candies", "/grocers/search?utf8=✓&query=Hard Candies&category=&commit=Go" %></li>
    <li><%= link_to "Nut Clusters", "/grocers/search?utf8=✓&query=Nut Clusters&category=&commit=Go" %></li>
    <li><%= link_to "Halva", "/grocers/search?utf8=✓&query=Halva&category=&commit=Go" %></li>
    <li><%= link_to "", "/grocers/search?utf8=✓&query=Lollipops&category=&commit=Go" %></li>
    <li><%= link_to "Caramels", "/grocers/search?utf8=✓&query=Caramels&category=&commit=Go" %></li>
    <li><%= link_to "Marshmallows", "/grocers/search?utf8=✓&query=Marshmallows&category=&commit=Go" %></li>
    <li><%= link_to "Licorice", "/grocers/search?utf8=✓&query=Licorice&category=&commit=Go" %></li>
    <li><%= link_to "Jelly Beans", "/grocers/search?utf8=✓&query=Jelly+Beans&category=&commit=Go" %></li>
    <li><%= link_to "Candy Brittle", "/grocers/search?utf8=✓&query=Candy+Brittle&category=&commit=Go" %></li>
  </ul>
</li>
<li>Herbs, Spices & Seasonings
  <ul class="current-l">
    <li> Pepper & Peppercorns
      <ul class="current-l">
        <li><%= link_to "Peppercorns", "/grocers/search?utf8=✓&query=Peppercorns&category=&commit=Go" %></li>
        <li><%= link_to "Ground Pepper", "/grocers/search?utf8=✓&query=Ground+Pepper&category=&commit=Go" %></li>
      </ul>
    </li>
    <li> Salt & Salt Substitutes
      <ul class="current-l">
        <li><%= link_to "Salt Substitutes", "/grocers/search?utf8=✓&query=Salt+Substitutes&category=&commit=Go" %></li>
        <li><%= link_to "Kosher Salt", "/grocers/search?utf8=✓&query=Kosher+Salt&category=&commit=Go" %></li>
        <li><%= link_to "Flavored Salt", "/grocers/search?utf8=✓&query=Flavored+Salt&category=&commit=Go" %></li>
        <li><%= link_to "Sea Salt", "/grocers/search?utf8=✓&query=Sea+Salt&category=&commit=Go" %></li>
        <li><%= link_to "Rock Salt", "/grocers/search?utf8=✓&query=Rock+Salt&category=&commit=Go" %></li>
        <li><%= link_to "Coarse Salt", "/grocers/search?utf8=✓&query=Coarse+Salt&category=&commit=Go" %></li>
      </ul>
    </li>
    <li> Mixed Spices & Seasonings
      <ul class="current-l">
        <li><%= link_to "Curry Powder", "/grocers/search?utf8=✓&query=Curry+Powder&category=&commit=Go" %></li>
        <li><%= link_to "Mulling Spice", "/grocers/search?utf8=✓&query=Mulling+Spice&category=&commit=Go" %></li>
        <li><%= link_to "Chili Powder", "/grocers/search?utf8=✓&query=Chili+Powder&category=&commit=Go" %></li>
        <li><%= link_to "Italian Seasoning", "/grocers/search?utf8=✓&query=Italian+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Meat Seasoning", "/grocers/search?utf8=✓&query=Meat+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Cajun Seasoning", "/grocers/search?utf8=✓&query=Cajun+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue Seasoning", "/grocers/search?utf8=✓&query=Barbecue+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Indian Seasoning", "/grocers/search?utf8=✓&query=Indian+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Gourmet Rubs", "/grocers/search?utf8=✓&query=Gourmet+Rubs&category=&commit=Go" %></li>
        <li><%= link_to "Greek Seasoning", "/grocers/search?utf8=✓&query=Greek+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Garam Masala", "/grocers/search?utf8=✓&query=Garam+Masala&category=&commit=Go" %></li>
        <li><%= link_to "Chili Mix", "/grocers/search?utf8=✓&query=Chili+Mix&category=&commit=Go" %></li>
        <li><%= link_to "Mexican Seasoning", "/grocers/search?utf8=✓&query=Mexican+Seasoning&category=&commit=Go" %></li>
        <li><%= link_to "Chinese+Five+Spice", "/grocers/search?utf8=✓&query=Chinese+Five+Spice&category=&commit=Go" %></li>
      </ul>
    </li>
    <li> Single Herbs & Spices
      <ul class="current-l">
        <li><%= link_to "Vanilla Beans", "/grocers/search?utf8=✓&query=Vanilla+Beans&category=&commit=Go" %></li>
        <li><%= link_to "Cilantro Flakes", "/grocers/search?utf8=✓&query=Cilantro+Flakes&category=&commit=Go" %></li>
        <li><%= link_to "Oregano", "/grocers/search?utf8=✓&query=Oregano&category=&commit=Go" %></li>
        <li><%= link_to "Sesame Seed", "/grocers/search?utf8=✓&query=Sesame+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Ajowan", "/grocers/search?utf8=✓&query=Ajowan&category=&commit=Go" %></li>
        <li><%= link_to "Cumin", "/grocers/search?utf8=✓&query=Cumin&category=&commit=Go" %></li>
        <li><%= link_to "Allspice", "/grocers/search?utf8=✓&query=Allspice&category=&commit=Go" %></li>
        <li><%= link_to "Marjoram", "/grocers/search?utf8=✓&query=Marjoram&category=&commit=Go" %></li>
        <li><%= link_to "Cinnamon", "/grocers/search?utf8=✓&query=Cinnamon&category=&commit=Go" %></li>
        <li><%= link_to "Parsley", "/grocers/search?utf8=✓&query=Parsley&category=&commit=Go" %></li>
        <li><%= link_to "Mustard", "/grocers/search?utf8=✓&query=Mustard&category=&commit=Go" %></li>
        <li><%= link_to "Fennel Seed", "/grocers/search?utf8=✓&query=Fennel+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Cardamom Seed", "/grocers/search?utf8=✓&query=Cardamom+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Celery Seed", "/grocers/search?utf8=✓&query=Celery+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Bay Leaf", "/grocers/search?utf8=✓&query=Bay+Leaf&category=&commit=Go" %></li>
        <li><%= link_to "Bonito Flakes", "/grocers/search?utf8=✓&query=Bonito+Flakes&category=&commit=Go" %></li>
        <li><%= link_to "Rosemary", "/grocers/search?utf8=✓&query=Rosemary&category=&commit=Go" %></li>
        <li><%= link_to "Peppermint Leaf", "/grocers/search?utf8=✓&query=Peppermint+Leaf&category=&commit=Go" %></li>
        <li><%= link_to "Sumac", "/grocers/search?utf8=✓&query=Sumac&category=&commit=Go" %></li>
        <li><%= link_to "Tarragon", "/grocers/search?utf8=✓&query=Tarragon&category=&commit=Go" %></li>
        <li><%= link_to "Caraway Seed", "/grocers/search?utf8=✓&query=Caraway+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Dill", "/grocers/search?utf8=✓&query=Dill&category=&commit=Go" %></li>
        <li><%= link_to "Mace", "/grocers/search?utf8=✓&query=Mace&category=&commit=Go" %></li>
        <li><%= link_to "Coriander", "/grocers/search?utf8=✓&query=Coriander&category=&commit=Go" %></li>
        <li><%= link_to "Onion", "/grocers/search?utf8=✓&query=Onion&category=&commit=Go" %></li>
        <li><%= link_to "Savory", "/grocers/search?utf8=✓&query=Savory&category=&commit=Go" %></li>
        <li><%= link_to "Sweet Basil Leaf", "/grocers/search?utf8=✓&query=Sweet+Basil+Leaf&category=&commit=Go" %></li>
        <li><%= link_to "Chives", "/grocers/search?utf8=✓&query=Chives&category=&commit=Go" %></li>
        <li><%= link_to "Thyme", "/grocers/search?utf8=✓&query=Thyme&category=&commit=Go" %></li>
        <li><%= link_to "Asafetida", "/grocers/search?utf8=✓&query=Asafetida&category=&commit=Go" %></li>
        <li><%= link_to "Chinese Star Anise", "/grocers/search?utf8=✓&query=Chinese+Star+Anise&category=&commit=Go" %></li>
        <li><%= link_to "Flax Seed", "/grocers/search?utf8=✓&query=Flax+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Paprika", "/grocers/search?utf8=✓&query=Paprika&category=&commit=Go" %></li>
        <li><%= link_to "Nutmeg", "/grocers/search?utf8=✓&query=Nutmeg&category=&commit=Go" %></li>
        <li><%= link_to "Cream of Tartar", "/grocers/search?utf8=✓&query=Cream+Tartar&category=&commit=Go" %></li>
        <li><%= link_to "Wasabi Powder", "/grocers/search?utf8=✓&query=Wasabi+Powder&category=&commit=Go" %></li>
        <li><%= link_to "Cloves", "/grocers/search?utf8=✓&query=Cloves&category=&commit=Go" %></li>
        <li><%= link_to "Garlic", "/grocers/search?utf8=✓&query=Garlic&category=&commit=Go" %></li>
        <li><%= link_to "Poppy Seed", "/grocers/search?utf8=✓&query=Poppy+Seed&category=&commit=Go" %></li>
        <li><%= link_to "Saffron", "/grocers/search?utf8=✓&query=Saffron&category=&commit=Go" %></li>
        <li><%= link_to "Fenugreek", "/grocers/search?utf8=✓&query=Fenugreek&category=&commit=Go" %></li>
        <li><%= link_to "Sage Leaf", "/grocers/search?utf8=✓&query=Sage+Leaf&category=&commit=Go" %></li>
        <li><%= link_to "Anise Seeds", "/grocers/search?utf8=✓&query=Anise+Seeds&category=&commit=Go" %></li>
        <li><%= link_to "Ginger", "/grocers/search?utf8=✓&query=Ginger&category=&commit=Go" %></li>
        <li><%= link_to "Turmeric", "/grocers/search?utf8=✓&query=Turmeric&category=&commit=Go" %></li>
      </ul>
    </li>
  </ul>
</li>
<li>Pasta
  <ul class="current-l">
    <li><%= link_to "Rigatoni", "/grocers/search?utf8=✓&query=Rigatoni&category=&commit=Go" %></li>
    <li><%= link_to "Spaghetti", "/grocers/search?utf8=✓&query=Spaghetti&category=&commit=Go" %></li>
    <li><%= link_to "Rotini", "/grocers/search?utf8=✓&query=Rotini&category=&commit=Go" %></li>
    <li><%= link_to "Lasagna", "/grocers/search?utf8=✓&query=Lasagna&category=&commit=Go" %></li>
    <li><%= link_to "Capellini", "/grocers/search?utf8=✓&query=Capellini&category=&commit=Go" %></li>
    <li><%= link_to "Egg Noodles", "/grocers/search?utf8=✓&query=Egg+Noodles&category=&commit=Go" %></li>
    <li><%= link_to "Fettuccine", "/grocers/search?utf8=✓&query=Fettuccine&category=&commit=Go" %></li>
    <li><%= link_to "Penne", "/grocers/search?utf8=✓&query=Penne&category=&commit=Go" %></li>
    <li><%= link_to "Tortellini", "/grocers/search?utf8=✓&query=Tortellini&category=&commit=Go" %></li>
    <li><%= link_to "Tagliatelle", "/grocers/search?utf8=✓&query=Tagliatelle&category=&commit=Go" %></li>
    <li><%= link_to "Ziti", "/grocers/search?utf8=✓&query=Ziti&category=&commit=Go" %></li>
    <li><%= link_to "Gnocchi", "/grocers/search?utf8=✓&query=Gnocchi&category=&commit=Go" %></li>
    <li><%= link_to "Orzo", "/grocers/search?utf8=✓&query=Orzo&category=&commit=Go" %></li>
    <li><%= link_to "Linguin", "/grocers/search?utf8=✓&query=Linguin&category=&commit=Go" %></li>
    <li><%= link_to "Fusilli", "/grocers/search?utf8=✓&query=Fusilli&category=&commit=Go" %></li>
    <li><%= link_to "Bow-Tie Pasta", "/grocers/search?utf8=✓&query=Bow+Tie+Pasta&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Oils, Vinegars & Salad Dressings
  <ul class="current-l">
    <li>Oils
      <ul class="current-l">
        <li><%= link_to "Sesame Oils", "/grocers/search?utf8=✓&query=Sesame+Oils&category=&commit=Go" %></li>
        <li><%= link_to "Coconut Oils", "/grocers/search?utf8=✓&query=Coconut+Oils&category=&commit=Go" %></li>
        <li><%= link_to "Truffle Oils", "/grocers/search?utf8=✓&query=Truffle+Oils&category=&commit=Go" %></li>
        <li><%= link_to "Canola Oils", "/grocers/search?utf8=✓&query=Canola+Oils&category=&commit=Go" %></li>
        <li><%= link_to "Olive Oils", "/grocers/search?utf8=✓&query=Olive+Oils&category=&commit=Go" %></li>
        <li><%= link_to "Peanut Oils", "/grocers/search?utf8=✓&query=Peanut+Oils&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Salad Dressings
      <ul class="current-l">
        <li><%= link_to "Vinaigrette", "/grocers/search?utf8=✓&query=Vinaigrette&category=&commit=Go" %></li>
        <li><%= link_to "Thousand Island", "/grocers/search?utf8=✓&query=Thousand+Island&category=&commit=Go" %></li>
        <li><%= link_to "Italian", "/grocers/search?utf8=✓&query=Italian&category=&commit=Go" %></li>
        <li><%= link_to "Blue Cheese", "/grocers/search?utf8=✓&query=Blue+Cheese&category=&commit=Go" %></li>
        <li><%= link_to "Caesar", "/grocers/search?utf8=✓&query=Caesar&category=&commit=Go" %></li>
        <li><%= link_to "Ranch", "/grocers/search?utf8=✓&query=Ranch&category=&commit=Go" %></li>
        <li><%= link_to "French", "/grocers/search?utf8=✓&query=French&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Vinegars
      <ul class="current-l">
        <li><%= link_to "Balsamic Vinegars", "/grocers/search?utf8=✓&query=Balsamic+Vinegars&category=&commit=Go" %></li>
        <li><%= link_to "Red Wine Vinegars", "/grocers/search?utf8=✓&query=Red+Wine+Vinegars&category=&commit=Go" %></li>
        <li><%= link_to "White Wine Vinegars", "/grocers/search?utf8=✓&query=White+Wine+Vinegars&category=&commit=Go" %></li>
        <li><%= link_to "Fruit Vinegars", "/grocers/search?utf8=✓&query=Fruit+Vinegars&category=&commit=Go" %></li>
      </ul>
    </li>
  </ul>
</li>

<li>Beverages
  <ul class="current-l">
    <li>Tea
      <ul class="current-l">
        <li><%= link_to "Herbal", "/grocers/search?utf8=✓&query=Herbal+Tea&category=&commit=Go" %></li>
        <li><%= link_to "Green", "/grocers/search?utf8=✓&query=Green+Tea&category=&commit=Go" %></li>
        <li><%= link_to "White", "/grocers/search?utf8=✓&query=White+Tea&category=&commit=Go" %></li>
        <li><%= link_to "Chai", "/grocers/search?utf8=✓&query=Chai+Tea&category=&commit=Go" %></li>
        <li><%= link_to "Black", "/grocers/search?utf8=✓&query=Black+Tea&category=&commit=Go" %></li>
      </ul>
    </li>
    <li><%= link_to "Hot Cocoa", "/grocers/search?utf8=✓&query=Hot+Cocoa&category=&commit=Go" %></li>
    <li><%= link_to "Energy Drinks", "/grocers/search?utf8=✓&query=Energy+Drinks&category=&commit=Go" %></li>
    <li>Juices
      <ul class="current-l">
        <li><%= link_to "Lemonade", "/grocers/search?utf8=✓&query=Lemonade&category=&commit=Go" %></li>
        <li><%= link_to "Vegetable Juice", "/grocers/search?utf8=✓&query=Vegetable+Juice&category=&commit=Go" %></li>
        <li><%= link_to "Fruit Juice", "/grocers/search?utf8=✓&query=Fruit+Juice&category=&commit=Go" %></li>
        <li><%= link_to "Ciders", "/grocers/search?utf8=✓&query=Ciders&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Powdered Drink Mixes
      <ul class="current-l">
        <li><%= link_to "Chocolate Drink Mixes", "/grocers/search?utf8=✓&query=Chocolate+Drink+Mixes&category=&commit=Go" %></li>
        <li><%= link_to "Instant Breakfast Drinks", "/grocers/search?utf8=✓&query=Instant+Breakfast+Drinks&category=&commit=Go" %></li>
        <li><%= link_to "Soft Drink Mixes", "/grocers/search?utf8=✓&query=Soft+Drink+Mixes&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Coffee
      <ul class="current-l">
        <li><%= link_to "Pods", "/grocers/search?utf8=✓&query=Coffee+Pods&category=&commit=Go" %></li>
        <li><%= link_to "Instant", "/grocers/search?utf8=✓&query=Coffee+Instant&category=&commit=Go" %></li>
        <li><%= link_to "Unroasted Beans", "/grocers/search?utf8=✓&query=Coffee+Unroasted Beans&category=&commit=Go" %></li>
        <li><%= link_to "Capsules", "/grocers/search?utf8=✓&query=Coffee+Capsules&category=&commit=Go" %></li>
        <li><%= link_to "K-Cups", "/grocers/search?utf8=✓&query=Coffee+K-Cups&category=&commit=Go" %></li>
        <li><%= link_to "Ground", "/grocers/search?utf8=✓&query=Coffee+Ground&category=&commit=Go" %></li>
        <li><%= link_to "T-Discs", "/grocers/search?utf8=✓&query=Coffee+T-Discs&category=&commit=Go" %></li>
        <li><%= link_to "Coffee Substitutes", "/grocers/search?utf8=✓&query=Coffee+Substitutes&category=&commit=Go" %></li>
        <li><%= link_to "Whole Bean", "/grocers/search?utf8=✓&query=Coffee+Whole+Bean&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li><%= link_to "Water", "/grocers/search?utf8=✓&query=Water&category=&commit=Go" %></li>
    <li><%= link_to "Sports Drinks", "/grocers/search?utf8=✓&query=Sports+Drinks&category=&commit=Go" %></li>
    <li><%= link_to "Soda", "/grocers/search?utf8=✓&query=Soda&category=&commit=Go" %></li>
    <li><%= link_to "Cocktail Mixers", "/grocers/search?utf8=✓&query=Cocktail+Mixers&category=&commit=Go" %></li>
  </ul>
</li>
<li>Fruits
  <ul class="current-l">
    <li><%= link_to "Pears", "/grocers/search?utf8=✓&query=Pears&category=&commit=Go" %></li>
    <li><%= link_to "Pineapple", "/grocers/search?utf8=✓&query=Pineapple&category=&commit=Go" %></li>
    <li><%= link_to "Nectarines", "/grocers/search?utf8=✓&query=Nectarines&category=&commit=Go" %></li>
    <li><%= link_to "Dates", "/grocers/search?utf8=✓&query=Dates&category=&commit=Go" %></li>
    <li><%= link_to "Apples", "/grocers/search?utf8=✓&query=Apples&category=&commit=Go" %></li>
    <li><%= link_to "Raisins", "/grocers/search?utf8=✓&query=Raisins&category=&commit=Go" %></li>
    <li><%= link_to "Blueberries", "/grocers/search?utf8=✓&query=Blueberries&category=&commit=Go" %></li>
    <li><%= link_to "Figs", "/grocers/search?utf8=✓&query=Figs&category=&commit=Go" %></li>
    <li><%= link_to "Bananas", "/grocers/search?utf8=✓&query=Bananas&category=&commit=Go" %></li>
    <li><%= link_to "Papayas", "/grocers/search?utf8=✓&query=Papayas&category=&commit=Go" %></li>
    <li><%= link_to "Cranberries", "/grocers/search?utf8=✓&query=Cranberries&category=&commit=Go" %></li>
    <li><%= link_to "Fruit Sauces", "/grocers/search?utf8=✓&query=Fruit+Sauces&category=&commit=Go" %></li>
    <li><%= link_to "Prunes", "/grocers/search?utf8=✓&query=Prunes&category=&commit=Go" %></li>
    <li><%= link_to "Oranges", "/grocers/search?utf8=✓&query=Oranges&category=&commit=Go" %></li>
    <li><%= link_to "Plums", "/grocers/search?utf8=✓&query=Plums&category=&commit=Go" %></li>
    <li><%= link_to "Strawberries", "/grocers/search?utf8=✓&query=Strawberries&category=&commit=Go" %></li>
    <li><%= link_to "Mangos", "/grocers/search?utf8=✓&query=Mangos&category=&commit=Go" %></li>
    <li><%= link_to "Cherries", "/grocers/search?utf8=✓&query=Cherries&category=&commit=Go" %></li>
    <li><%= link_to "Peaches", "/grocers/search?utf8=✓&query=Peaches&category=&commit=Go" %></li>
    <li><%= link_to "Melons", "/grocers/search?utf8=✓&query=Melons&category=&commit=Go" %></li>
    <li><%= link_to "Tangerines", "/grocers/search?utf8=✓&query=Tangerines&category=&commit=Go" %></li>
    <li><%= link_to "Apricots", "/grocers/search?utf8=✓&query=Apricots&category=&commit=Go" %></li>
    <li><%= link_to "Raspberries", "/grocers/search?utf8=✓&query=Raspberries&category=&commit=Go" %></li>
    <li><%= link_to "Grapes", "/grocers/search?utf8=✓&query=Grapes&category=&commit=Go" %></li>
    <li><%= link_to "Grapefruit", "/grocers/search?utf8=✓&query=Grapefruit&category=&commit=Go" %></li>
    <li><%= link_to "Lemons", "/grocers/search?utf8=✓&query=Lemons&category=&commit=Go" %></li>
  </ul>
</li>
<li>Baby Food
  <ul class="current-l">
    <li><%= link_to "Beverages", "/grocers/search?utf8=✓&query=Baby+Beverages&category=&commit=Go" %></li>
    <li><%= link_to "Vegetables", "/grocers/search?utf8=✓&query=Baby+Vegetables&category=&commit=Go" %></li>
    <li><%= link_to "Fruit", "/grocers/search?utf8=✓&query=Baby+Fruit&category=&commit=Go" %></li>
    <li><%= link_to "Cereal", "/grocers/search?utf8=✓&query=Baby+Cereal&category=&commit=Go" %></li>
    <li><%= link_to "Baby Formula", "/grocers/search?utf8=✓&query=Baby+Formula&category=&commit=Go" %></li>
    <li><%= link_to "Crackers & Biscuits", "/grocers/search?utf8=✓&query=Crackers+Biscuits&category=&commit=Go" %></li>
    <li><%= link_to "Meat", "/grocers/search?utf8=✓&query=Meat&category=&commit=Go" %></li>
    <li><%= link_to "Dinners", "/grocers/search?utf8=✓&query=Baby+Dinners&category=&commit=Go" %></li>
  </ul>
</li>
<li>Seafood
  <ul class="current-l">
    <li><%= link_to "Mussels", "/grocers/search?utf8=✓&query=Mussels&category=&commit=Go" %></li>
    <li><%= link_to "Crab", "/grocers/search?utf8=✓&query=Crab&category=&commit=Go" %></li>
    <li><%= link_to "Caviars & Roes", "/grocers/search?utf8=✓&query=Caviar&category=&commit=Go" %></li>
    <li>Fish
      <ul class="current-l">
        <li><%= link_to "Anchovies", "/grocers/search?utf8=✓&query=Anchovies&category=&commit=Go" %></li>
        <li><%= link_to "Halibut", "/grocers/search?utf8=✓&query=Halibut&category=&commit=Go" %></li>
        <li><%= link_to "Salmon", "/grocers/search?utf8=✓&query=Salmon&category=&commit=Go" %></li>
        <li><%= link_to "Sardines", "/grocers/search?utf8=✓&query=Sardines&category=&commit=Go" %></li>
        <li><%= link_to "Tuna", "/grocers/search?utf8=✓&query=Tuna&category=&commit=Go" %></li>
      </ul>
    </li>
    <li><%= link_to "Clams", "/grocers/search?utf8=✓&query=Clams&category=&commit=Go" %></li>
    <li><%= link_to "Lobster", "/grocers/search?utf8=✓&query=Lobster&category=&commit=Go" %></li>
    <li><%= link_to "Scallops", "/grocers/search?utf8=✓&query=Scallops&category=&commit=Go" %></li>
    <li><%= link_to "Oysters", "/grocers/search?utf8=✓&query=Oysters&category=&commit=Go" %></li>
    <li><%= link_to "Shrimp & Prawns", "/grocers/search?utf8=✓&query=Shrimp&category=&commit=Go" %></li>
  </ul>
</li>
<li>Vegetables
  <ul class="current-l">
    <li><%= link_to "Green Beans", "/grocers/search?utf8=✓&query=Green+Beans&category=&commit=Go" %></li>
    <li><%= link_to "Beets", "/grocers/search?utf8=✓&query=Beets&category=&commit=Go" %></li>
    <li><%= link_to "Asparagus", "/grocers/search?utf8=✓&query=Asparagus&category=&commit=Go" %></li>
    <li><%= link_to "Chile Peppers", "/grocers/search?utf8=✓&query=Chile+Peppers&category=&commit=Go" %></li>
    <li><%= link_to "Garlic", "/grocers/search?utf8=✓&query=Garlic&category=&commit=Go" %></li>
    <li><%= link_to "Sweet Peppers<", "/grocers/search?utf8=✓&query=Sweet+Peppers<&category=&commit=Go" %></li>
    <li><%= link_to "Sea Vegetables", "/grocers/search?utf8=✓&query=Sea+Vegetables&category=&commit=Go" %></li>
    <li><%= link_to "Tomatoes", "/grocers/search?utf8=✓&query=Tomatoes&category=&commit=Go" %></li>
    <li><%= link_to "Eggplants", "/grocers/search?utf8=✓&query=Eggplants&category=&commit=Go" %></li>
    <li><%= link_to "Artichokes", "/grocers/search?utf8=✓&query=Artichokes&category=&commit=Go" %></li>
    <li><%= link_to "Olives", "/grocers/search?utf8=✓&query=Olives&category=&commit=Go" %></li>
    <li><%= link_to "Onions", "/grocers/search?utf8=✓&query=Onions&category=&commit=Go" %></li>
    <li><%= link_to "Potatoes", "/grocers/search?utf8=✓&query=Potatoes&category=&commit=Go" %></li>
    <li><%= link_to "Mushrooms & Truffles", "/grocers/search?utf8=✓&query=Mushrooms&category=&commit=Go" %></li>
    <li><%= link_to "Corn", "/grocers/search?utf8=✓&query=Corn&category=&commit=Go" %></li>
  </ul>
</li>
<li>Condiments
  <ul class="current-l">
    <li><%= link_to "Relishes", "/grocers/search?utf8=✓&query=Relishes&category=&commit=Go" %></li>
    <li><%= link_to "Wasabi", "/grocers/search?utf8=✓&query=Wasabi&category=&commit=Go" %></li>
    <li><%= link_to "Mayonnaise", "/grocers/search?utf8=✓&query=Mayonnaise&category=&commit=Go" %></li>
    <li><%= link_to "Pickles", "/grocers/search?utf8=✓&query=Pickles&category=&commit=Go" %></li>
    <li><%= link_to "Sandwich Spreads", "/grocers/search?utf8=✓&query=Sandwich+Spreads&category=&commit=Go" %></li>
    <li><%= link_to "Capers", "/grocers/search?utf8=✓&query=Capers&category=&commit=Go" %></li>
    <li><%= link_to "Mustard", "/grocers/search?utf8=✓&query=Mustard&category=&commit=Go" %></li>
    <li><%= link_to "Salad Toppings", "/grocers/search?utf8=✓&query=Salad+Toppings&category=&commit=Go" %></li>
    <li><%= link_to "Ketchup", "/grocers/search?utf8=✓&query=Ketchup&category=&commit=Go" %></li>
    <li><%= link_to "Horseradish", "/grocers/search?utf8=✓&query=Horseradish&category=&commit=Go" %></li>
    <li><%= link_to "Chutneys", "/grocers/search?utf8=✓&query=Chutneys&category=&commit=Go" %></li>
    <li><%= link_to "Chile Verde", "/grocers/search?utf8=✓&query=Chile+Verde&category=&commit=Go" %></li>
  </ul>
</li>
<li>Beans & Grains
  <ul class="current-l">
    <li><%= link_to "Rice", "/grocers/search?utf8=✓&query=Rice&category=&commit=Go" %></li>
    <li><%= link_to "Lentils", "/grocers/search?utf8=✓&query=Lentils&category=&commit=Go" %></li>
    <li><%= link_to "Peas", "/grocers/search?utf8=✓&query=Peas&category=&commit=Go" %></li>
    <li><%= link_to "Beans", "/grocers/search?utf8=✓&query=Beans&category=&commit=Go" %></li>
    <li><%= link_to "Grains", "/grocers/search?utf8=✓&query=Grains&category=&commit=Go" %></li>
    <li><%= link_to "Couscous", "/grocers/search?utf8=✓&query=Couscous&category=&commit=Go" %></li>
  </ul>
</li>
<li>Prepared Food 
  <ul class="current-l">
    <li>Soups, Stews & Stocks
      <ul class="current-l">
        <li><%= link_to "Beef Soups", "/grocers/search?utf8=✓&query=Beef+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Chicken Soups", "/grocers/search?utf8=✓&query=Chicken+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Split Pea Soups", "/grocers/search?utf8=✓&query=Split+Pea+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Noodle Soups", "/grocers/search?utf8=✓&query=Noodle+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Bouillon", "/grocers/search?utf8=✓&query=Bouillon&category=&commit=Go" %></li>
        <li><%= link_to "Broths", "/grocers/search?utf8=✓&query=Broths&category=&commit=Go" %></li>
        <li><%= link_to "Stews", "/grocers/search?utf8=✓&query=Stews&category=&commit=Go" %></li>
        <li><%= link_to "Miso Soup", "/grocers/search?utf8=✓&query=Miso+Soup&category=&commit=Go" %></li>
        <li><%= link_to "Chili", "/grocers/search?utf8=✓&query=Chili&category=&commit=Go" %></li>
        <li><%= link_to "Tomato Soups", "/grocers/search?utf8=✓&query=Tomato+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Vegetable Soups", "/grocers/search?utf8=✓&query=Vegetable+Soups&category=&commit=Go" %></li>
        <li><%= link_to "Bisques", "/grocers/search?utf8=✓&query=Bisques&category=&commit=Go" %></li>
        <li><%= link_to "Consommés", "/grocers/search?utf8=✓&query=Consommés&category=&commit=Go" %></li>
        <li><%= link_to "Chowders", "/grocers/search?utf8=✓&query=Chowders&category=&commit=Go" %></li>
      </ul>
    <li>
      
    <li><%= link_to "Meat Alternatives", "/grocers/search?utf8=✓&query=Meat+Alternative&category=&commit=Go" %></li>
      
      <li>Pasta & Noodle Dishes
        <ul class="current-l">
        <li><%= link_to "Ravioli", "/grocers/search?utf8=✓&query=Ravioli&category=&commit=Go" %></li>
        <li><%= link_to "Pasta Marinara", "/grocers/search?utf8=✓&query=Pasta+Marinara&category=&commit=Go" %></li>
        <li><%= link_to "Tortellini", "/grocers/search?utf8=✓&query=Tortellini&category=&commit=Go" %></li>
        <li><%= link_to "Noodle Casseroles", "/grocers/search?utf8=✓&query=Noodle+Casseroles&category=&commit=Go" %></li>
        <li><%= link_to "Spaghetti", "/grocers/search?utf8=✓&query=Spaghetti&category=&commit=Go" %></li>
        <li><%= link_to "Pad Thai", "/grocers/search?utf8=✓&query=Pad+Thai&category=&commit=Go" %></li>
        <li><%= link_to "Pasta Alfredo", "/grocers/search?utf8=✓&query=Pasta+Alfredo&category=&commit=Go" %></li>
        <li><%= link_to "Stroganoff", "/grocers/search?utf8=✓&query=Stroganoff&category=&commit=Go" %></li>
        <li><%= link_to "Lasagna", "/grocers/search?utf8=✓&query=Lasagna&category=&commit=Go" %></li>
        <li><%= link_to "Noodle Bowls", "/grocers/search?utf8=✓&query=Noodle+Bowls&category=&commit=Go" %></li>
        <li><%= link_to "Chow Mein", "/grocers/search?utf8=✓&query=Chow+Mein&category=&commit=Go" %></li>
        <li><%= link_to "Macaroni & Cheese", "/grocers/search?utf8=✓&query=Macaroni+Cheese&category=&commit=Go" %></li>
        <li><%= link_to "Pasta Salad", "/grocers/search?utf8=✓&query=Pasta+Salad&category=&commit=Go" %></li>
        <li><%= link_to "Tetrazzini", "/grocers/search?utf8=✓&query=Tetrazzini&category=&commit=Go" %></li>
        </ul>
      </li>
      
    <li><%= link_to "Indian Dishes", "/grocers/search?utf8=✓&query=Indian Dish&category=&commit=Go" %></li>
    <li><%= link_to "Pizza", "/grocers/search?utf8=✓&query=Pizza&category=&commit=Go" %></li>
      
    <li>Rice Dishes
      <ul class="current-l">
        <li><%= link_to "Dirty Rice", "/grocers/search?utf8=✓&query=Dirty+Rice&category=&commit=Go" %></li>
        <li><%= link_to "Rice Bowls", "/grocers/search?utf8=✓&query=Rice+Bowls&category=&commit=Go" %></li>
        <li><%= link_to "Jambalaya", "/grocers/search?utf8=✓&query=Jambalaya&category=&commit=Go" %></li>
        <li><%= link_to "Pilaf", "/grocers/search?utf8=✓&query=Pilaf&category=&commit=Go" %></li>
        <li><%= link_to "Paella", "/grocers/search?utf8=✓&query=Paella&category=&commit=Go" %></li>
        <li><%= link_to "Risotto", "/grocers/search?utf8=✓&query=Risotto&category=&commit=Go" %></li>
        <li><%= link_to "Curried Rice", "/grocers/search?utf8=✓&query=Curried+Rice&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Seafood Dishes
      <ul class="current-l">
        <li><%= link_to "Crab Cakes", "/grocers/search?utf8=✓&query=Crab+Cakes&category=&commit=Go" %></li>
        <li><%= link_to "Fish Cakes", "/grocers/search?utf8=✓&query=Fish+Cakes&category=&commit=Go" %></li>
        <li><%= link_to "Fish Sticks", "/grocers/search?utf8=✓&query=Fish+Sticks&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Meat Dishes
      <ul class="current-l">
        <li><%= link_to "Corn Dogs", "/grocers/search?utf8=✓&query=Corn+Dogs&category=&commit=Go" %></li>
        <li><%= link_to "Swedish Meatballs", "/grocers/search?utf8=✓&query=Swedish+Meatballs&category=&commit=Go" %></li>
        <li><%= link_to "Chicken Cacciatore", "/grocers/search?utf8=✓&query=Chicken+Cacciatore&category=&commit=Go" %></li>
        <li><%= link_to "Sloppy Joes", "/grocers/search?utf8=✓&query=Sloppy+Joes&category=&commit=Go" %></li>
        <li><%= link_to "Fried Chicken", "/grocers/search?utf8=✓&query=Fried+Chicken&category=&commit=Go" %></li>
        <li><%= link_to "Meatloaf", "/grocers/search?utf8=✓&query=Meatloaf&category=&commit=Go" %></li>
        <li><%= link_to "Chicken Wings", "/grocers/search?utf8=✓&query=Chicken+Wings&category=&commit=Go" %></li>
        <li><%= link_to "Hamburgers", "/grocers/search?utf8=✓&query=Hamburgers&category=&commit=Go" %></li>
        <li><%= link_to "Chicken Cordon Bleu", "/grocers/search?utf8=✓&query=Chicken+Cordon+Bleu&category=&commit=Go" %></li>
        <li><%= link_to "Corned Beef Hash", "/grocers/search?utf8=✓&query=Corned+Beef+Hash&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue", "/grocers/search?utf8=✓&query=Barbecue&category=&commit=Go" %></li>
        <li><%= link_to "Chicken Strips & Nuggets", "/grocers/search?utf8=✓&query=Chicken+Nuggets&category=&commit=Go" %></li>
        <li><%= link_to "Roasted Chicken", "/grocers/search?utf8=✓&query=Roasted+Chicken&category=&commit=Go" %></li>
      </ul>
    </li>  
      
    <li>Mexican Dishes
      <ul class="current-l">
        <li><%= link_to "Tamales", "/grocers/search?utf8=✓&query=Tamales&category=&commit=Go" %></li>
        <li><%= link_to "Burritos", "/grocers/search?utf8=✓&query=Burritos&category=&commit=Go" %></li>
        <li><%= link_to "Fajitas", "/grocers/search?utf8=✓&query=Fajitas&category=&commit=Go" %></li>
        <li><%= link_to "Flautas", "/grocers/search?utf8=✓&query=Flautas&category=&commit=Go" %></li>
        <li><%= link_to "Taco Shells & Kits", "/grocers/search?utf8=✓&query=Taco+Shells&category=&commit=Go" %></li>
        <li><%= link_to "Quesadillas", "/grocers/search?utf8=✓&query=Quesadillas&category=&commit=Go" %></li>
        <li><%= link_to "Tacos", "/grocers/search?utf8=✓&query=Tacos&category=&commit=Go" %></li>
        <li><%= link_to "Enchiladas", "/grocers/search?utf8=✓&query=Enchiladas&category=&commit=Go" %></li>
      </ul>
    </li> 
      
    <li>Vegetable Dishes
      <ul class="current-l">
        <li><%= link_to "Onion Rings", "/grocers/search?utf8=✓&query=Onion+Rings&category=&commit=Go" %></li>
        <li><%= link_to "Tabouli", "/grocers/search?utf8=✓&query=Tabouli&category=&commit=Go" %></li>
        <li><%= link_to "Potatoes", "/grocers/search?utf8=✓&query=Potatoes&category=&commit=Go" %></li>
        <li><%= link_to "Baked Beans", "/grocers/search?utf8=✓&query=Baked+Beans&category=&commit=Go" %></li>
      </ul>
    </li> 
  </ul>    
</li>

<li>Gourmet Gifts
  <ul class="current-l">
    <li><%= link_to "Sauces", "/grocers/search?utf8=✓&query=Sauces+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Snack", "/grocers/search?utf8=✓&query=Snack+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Meat", "/grocers/search?utf8=✓&query=Meat+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Tea", "/grocers/search?utf8=✓&query=Tea+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Cheese", "/grocers/search?utf8=✓&query=Cheese+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Jams & Preserves", "/grocers/search?utf8=✓&query=Preserves Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Spices", "/grocers/search?utf8=✓&query=Spices+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Coffee", "/grocers/search?utf8=✓&query=Coffee+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Candy", "/grocers/search?utf8=✓&query=Candy+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Fruit", "/grocers/search?utf8=✓&query=Fruit+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Chocolates", "/grocers/search?utf8=✓&query=Chocolate+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Seafood", "/grocers/search?utf8=✓&query=Seafood+Gifts&category=&commit=Go" %></li>
    <li><%= link_to "Dessert", "/grocers/search?utf8=✓&query=Dessert+Gifts&category=&commit=Go" %></li>
  </ul>
</li>
<li>Chocolate
  <ul class="current-l">
    <li><%= link_to "Pretzels", "/grocers/search?utf8=✓&query=Chocolate+Pretzels&category=&commit=Go" %></li>
    <li><%= link_to "Truffles", "/grocers/search?utf8=✓&query=Chocolate+Truffles&category=&commit=Go" %></li>
    <li><%= link_to "Covered Nuts", "/grocers/search?utf8=✓&query=Chocolate+Covered+Nuts&category=&commit=Go" %></li>
    <li><%= link_to "Covered Fruit", "/grocers/search?utf8=✓&query=Chocolate+Covered+Fruit&category=&commit=Go" %></li>
    <li><%= link_to "Bars", "/grocers/search?utf8=✓&query=Chocolate+Bars&category=&commit=Go" %></li>
    <li><%= link_to "Assortments", "/grocers/search?utf8=✓&query=Chocolate+Assortments&category=&commit=Go" %></li>
  </ul>
</li>
<li>Dairy & Eggs
  <ul class="current-l">
    <li><%= link_to "Eggs", "/grocers/search?utf8=✓&query=Eggs&category=&commit=Go" %></li>
    <li><%= link_to "Butter", "/grocers/search?utf8=✓&query=Butter&category=&commit=Go" %></li>
    <li><%= link_to "Milk", "/grocers/search?utf8=✓&query=Milk&category=&commit=Go" %></li>
    <li><%= link_to "Milk Substitutes", "/grocers/search?utf8=✓&query=Milk+Substitutes&category=&commit=Go" %></li>
    <li><%= link_to "Cheese", "/grocers/search?utf8=✓&query=Cheese&category=&commit=Go" %></li>
    <li><%= link_to "Yogurt", "/grocers/search?utf8=✓&query=Yogurt&category=&commit=Go" %></li>
    <li>Ice Cream & Frozen Desserts
      <ul class="current-l">
        <li><%= link_to "Ice Cream", "/grocers/search?utf8=✓&query=Ice+Cream&category=&commit=Go" %></li>
        <li><%= link_to "Popsicles", "/grocers/search?utf8=✓&query=Popsicles&category=&commit=Go" %></li>
        <li><%= link_to "Frozen Yogurt", "/grocers/search?utf8=✓&query=Frozen+Yogurt&category=&commit=Go" %></li>
        <li><%= link_to "Ice Cream Cakes & Pies", "/grocers/search?utf8=✓&query=Ice+Cream+Cake&category=&commit=Go" %></li>
        <li><%= link_to "Sherbets", "/grocers/search?utf8=✓&query=Sherbets&category=&commit=Go" %></li>
        <li><%= link_to "Gelato", "/grocers/search?utf8=✓&query=Gelato&category=&commit=Go" %></li>
        <li><%= link_to "Sorbet", "/grocers/search?utf8=✓&query=Sorbet&category=&commit=Go" %></li>
        <li><%= link_to "Non-Dairy Frozen Desserts", "/grocers/search?utf8=✓&query=Non+Dairy+Frozen+Desserts&category=&commit=Go" %></li>
      </ul>
    </li>
  </ul>
</li>
<li> Breakfast Foods
  <ul class="current-l">
    <li><%= link_to "Cereal", "/grocers/search?utf8=✓&query=Cereal&category=&commit=Go" %></li>
    <li><%= link_to "Breakfast & Cereal Bars", "/grocers/search?utf8=✓&query=Cereal+Bars&category=&commit=Go" %></li>
  </ul>
</li>
<li> Meat & Poultry
  <ul class="current-l">
    <li><%= link_to "Exotic Meats", "/grocers/search?utf8=✓&query=Exotic+Meats&category=&commit=Go" %></li>
    <li><%= link_to "Pâtés", "/grocers/search?utf8=✓&query=Pâtés&category=&commit=Go" %></li>
    <li><%= link_to "Pork", "/grocers/search?utf8=✓&query=Pork&category=&commit=Go" %></li>
    <li><%= link_to "Poultry", "/grocers/search?utf8=✓&query=Poultry&category=&commit=Go" %></li>
    <li><%= link_to "Cold Cuts", "/grocers/search?utf8=✓&query=Cold+Cuts&category=&commit=Go" %></li>
    <li><%= link_to "Sausages", "/grocers/search?utf8=✓&query=Sausages&category=&commit=Go" %></li>
    <li><%= link_to "Foie Gras", "/grocers/search?utf8=✓&query=Foie+Gras&category=&commit=Go" %></li>
    <li><%= link_to "Jerky", "/grocers/search?utf8=✓&query=Jerky&category=&commit=Go" %></li>
    <li><%= link_to "Lamb", "/grocers/search?utf8=✓&query=Lamb&category=&commit=Go" %></li>
    <li><%= link_to "Beef", "/grocers/search?utf8=✓&query=Beef&category=&commit=Go" %></li>
  </ul>
</li>
<li>Jams, Jellies & Spreads
  <ul class="current-l">
    <li><%= link_to "Marmalades", "/grocers/search?utf8=✓&query=Marmalades&category=&commit=Go" %></li>
    <li><%= link_to "Honey", "/grocers/search?utf8=✓&query=Honey&category=&commit=Go" %></li>
    <li><%= link_to "Fruit Butters", "/grocers/search?utf8=✓&query=Fruit+Butters&category=&commit=Go" %></li>
    <li><%= link_to "Jams & Jellies", "/grocers/search?utf8=✓&query=Jam&category=&commit=Go" %></li>
    <li><%= link_to "Nut Butters", "/grocers/search?utf8=✓&query=Nut+Butters&category=&commit=Go" %></li>
  </ul>
</li>      
      
    </ul>    
</div>

<%= render 'shared/catlists/js_for_lists' %>   