<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
      <li><%= link_to "Shampoos", "/haircares/search?utf8=✓&query=Shampoo&category=&commit=Go" %></li>
      <li>Styling Products
         <ul class="current-l">
           <li><%= link_to "Hair Extensions & Wigs", "/haircares/search?utf8=✓&query=Hair+Extensions+%26+Wigs&category=&commit=Go" %></li>
           <li><%= link_to "Pomades & Waxes", "/haircares/search?utf8=✓&query=Pomade+Wax&category=&commit=Go" %></li>
           <li><%= link_to "Mousses & Foams", "/haircares/search?utf8=✓&query=Mouss+Foam&category=&commit=Go" %></li>
           <li><%= link_to "Curl Enhancers", "/haircares/search?utf8=✓&query=Curl+Enhancer&category=&commit=Go" %></li>
           <li><%= link_to "Hair Styling Serums", "/haircares/search?utf8=✓&query=Hair+Styling+Serum&category=&commit=Go" %></li>
           <li><%= link_to "Braid Maintenance", "/haircares/search?utf8=✓&query=Braid+Maintenance&category=&commit=Go" %></li>
           <li><%= link_to "Hair Sprays", "/haircares/search?utf8=✓&query=Hair+Spray&category=&commit=Go" %></li>
           <li><%= link_to "Creams, Gels & Lotions", "/haircares/search?utf8=✓&query=Cream+Gel&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Styling Tools
         <ul class="current-l">
           <li><%= link_to "Hair Dryers", "/haircares/search?utf8=✓&query=Hair+Dryer&category=&commit=Go" %></li>
           <li><%= link_to "Hair Rollers", "/haircares/search?utf8=✓&query=Hair+Rollers&category=&commit=Go" %></li>
           <li><%= link_to "Hair Cutting Kits", "/haircares/search?utf8=✓&query=Hair+Cutting+Kit&category=&commit=Go" %></li>
           <li><%= link_to "Braiders", "/haircares/search?utf8=✓&query=Braider&category=&commit=Go" %></li>
           <li><%= link_to "Diffusers", "/haircares/search?utf8=✓&query=Diffuser&category=&commit=Go" %></li>
           <li><%= link_to "Hot-Air Brushes", "/haircares/search?utf8=✓&query=Hot-Air+Brush&category=&commit=Go" %></li>
           <li><%= link_to "Irons", "/haircares/search?utf8=✓&query=Iron&category=&commit=Go" %></li>
           <li><%= link_to "Scissors", "/haircares/search?utf8=✓&query=Scissors&category=&commit=Go" %></li>
           <li><%= link_to "Brushes", "/haircares/search?utf8=✓&query=Brush&category=&commit=Go" %></li>
           <li><%= link_to "Combs", "/haircares/search?utf8=✓&query=Comb&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Hair Color
         <ul class="current-l">
           <li><%= link_to "Color Primers", "/haircares/search?utf8=✓&query=Color+Primer&category=&commit=Go" %></li>
           <li><%= link_to "Hennas", "/haircares/search?utf8=✓&query=Color+Henna&category=&commit=Go" %></li>
           <li><%= link_to "Color Refreshers", "/haircares/search?utf8=✓&query=Color+Refresher&category=&commit=Go" %></li>
           <li><%= link_to "Chemical Hair Dyes", "/haircares/search?utf8=✓&query=Chemical+Hair+Dyes&category=&commit=Go" %></li>
           <li><%= link_to "Color Correctors", "/haircares/search?utf8=✓&query=Hair+Color+Corrector&category=&commit=Go" %></li>
           <li><%= link_to "Highlights", "/haircares/search?utf8=✓&query=Color+Highlights&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Hair Perms & Texturizers
         <ul class="current-l">
           <li><%= link_to "Home Permanent Kits", "/haircares/search?utf8=✓&query=Permanent+Kit&category=&commit=Go" %></li>
           <li><%= link_to "After-Perm Shampoos", "/haircares/search?utf8=✓&query=After+Perm+Shampoo&category=&commit=Go" %></li>
           <li><%= link_to "Texturizers", "/haircares/search?utf8=✓&query=Texturizer&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Conditioners", "/haircares/search?utf8=✓&query=Conditioner&category=&commit=Go" %></li>
      <li>Hair Loss Products
         <ul class="current-l">
           <li><%= link_to "Regrowth Treatments", "/haircares/search?utf8=✓&query=Regrowth+Treatment&category=&commit=Go" %></li>
           <li><%= link_to "Shampoos", "/haircares/search?utf8=✓&query=Hair+Loss+Shampoo&category=&commit=Go" %></li>
           <li><%= link_to "Styling Products", "/haircares/search?utf8=✓&query=Hair+Loss+Styling&category=&commit=Go" %></li>
           <li><%= link_to "Conditioners", "/haircares/search?utf8=✓&query=Hair+Loss+Conditioner&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Shampoo & Conditioner Sets", "/haircares/search?utf8=✓&query=Shampoo+Conditioner+Set&category=&commit=Go" %></li>
      <li><%= link_to "Shampoo Plus Conditioner", "/haircares/search?utf8=✓&query=Shampoo+Plus+Conditioner&category=&commit=Go" %></li>
      <li>Hair Relaxers
         <ul class="current-l">
           <li><%= link_to "Activators", "/haircares/search?utf8=✓&query=Relaxer+Activator&category=&commit=Go" %></li>
           <li><%= link_to "Lotions", "/haircares/search?utf8=✓&query=Relaxer+Lotion&category=&commit=Go" %></li>
           <li><%= link_to "Conditioners", "/haircares/search?utf8=✓&query=Relaxer+Conditioner&category=&commit=Go" %></li>
           <li><%= link_to "Creams", "/haircares/search?utf8=✓&query=Relaxer+Cream&category=&commit=Go" %></li>
           <li><%= link_to "Shampoos", "/haircares/search?utf8=✓&query=Relaxer+Shampoo&category=&commit=Go" %></li>
           <li><%= link_to "Gels", "/haircares/search?utf8=✓&query=Relaxer+Gel&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Hair & Scalp Treatments", "/haircares/search?utf8=✓&query=Hair+Scalp+Treatment&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>