<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
<li>Incontinence
  <ul class="current-l">
    <li><%= link_to "Bedding & Furniture Protection", "/healthcares/search?utf8=✓&query=Furniture+Protection&category=&commit=Go" %></li>
    <li><%= link_to "Cleansers & Deodorants", "/healthcares/search?utf8=✓&query=Cleansers&category=&commit=Go" %></li>
    <li><%= link_to "Bladder Control Devices", "/healthcares/search?utf8=✓&query=Bladder+Control&category=&commit=Go" %></li>
    <li><%= link_to "Absorbent Pads, Shields, Guards & Liners", "/healthcares/search?utf8=✓&query=Absorbent+Pads&category=&commit=Go" %></li>
    <li><%= link_to "Protective Briefs & Underwear", "/healthcares/search?utf8=✓&query=Protective+Briefs&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Women's Health
  <ul class="current-l">  
    <li><%= link_to "Yeast Infection Treatments", "/healthcares/search?utf8=✓&query=Yeast+Infection&category=&commit=Go" %></li>
    <li><%= link_to "Menopause", "/healthcares/search?utf8=✓&query=Menopause&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Diabetes
  <ul class="current-l">  
    <li><%= link_to "Sharps Containers & Needle Destruction", "/healthcares/search?utf8=✓&query=Diabetes+Sharps+Containers&category=&commit=Go" %></li>
    <li><%= link_to "Insulin Injectors", "/healthcares/search?utf8=✓&query=Insulin+Injectors&category=&commit=Go" %></li>
    <li><%= link_to "Test Strips", "/healthcares/search?utf8=✓&query=Diabetes+Test+Strips&category=&commit=Go" %></li>
    <li><%= link_to "Storage & Travel Packs", "/healthcares/search?utf8=✓&query=Diabetes+Storage&category=&commit=Go" %></li>
    <li><%= link_to "Monitors & Kits", "/healthcares/search?utf8=✓&query=Diabetes+Monitors&category=&commit=Go" %></li>
    <li><%= link_to "Lancets", "/healthcares/search?utf8=✓&query=Diabetes+Lancets&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Massage & Relaxation
  <ul class="current-l">  
    <li><%= link_to "Magnetic Therapy", "/healthcares/search?utf8=✓&query=Magnetic+Therapy&category=&commit=Go" %></li>
    <li><%= link_to "Massage Tools", "/healthcares/search?utf8=✓&query=Massage+Tools&category=&commit=Go" %></li>
    <li><%= link_to "Massage Lotions", "/healthcares/search?utf8=✓&query=Massage+Lotions&category=&commit=Go" %></li>
    <li><%= link_to "Massage Oils", "/healthcares/search?utf8=✓&query=Massage+Oils&category=&commit=Go" %></li>
    <li><%= link_to "Electric Massagers", "/healthcares/search?utf8=✓&query=Electric+Massagers&category=&commit=Go" %></li>
    <li><%= link_to "Professional Massage Equipment", "/healthcares/search?utf8=✓&query=Professional+Massage+Equipment&category=&commit=Go" %></li>
    <li><%= link_to "Aromatherapy", "/healthcares/search?utf8=✓&query=Aromatherapy&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li><%= link_to "Pill Cases & Splitters", "/healthcares/search?utf8=✓&query=Pill+Cases&category=&commit=Go" %></li>
      
<li><%= link_to "Stimulants", "/healthcares/search?utf8=✓&query=Stimulants&category=&commit=Go" %></li>
      
<li>Thermometers
  <ul class="current-l">  
    <li><%= link_to "Fertility", "/healthcares/search?utf8=✓&query=Fertility+Thermometers&category=&commit=Go" %></li>
    <li><%= link_to "Oral", "/healthcares/search?utf8=✓&query=Oral+Thermometers&category=&commit=Go" %></li>
    <li><%= link_to "Ear", "/healthcares/search?utf8=✓&query=Ear+Thermometers&category=&commit=Go" %></li>
    <li><%= link_to "Rectal", "/healthcares/search?utf8=✓&query=Rectal+Thermometers&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li><%= link_to "Thermometer Accessories", "/healthcares/search?utf8=✓&query=Thermometer+Accessories&category=&commit=Go" %></li>
      
<li>Foot Care
  <ul class="current-l">  
    <li><%= link_to "Corn & Callus Trimmers", "/healthcares/search?utf8=✓&query=Callus+Trimmers&category=&commit=Go" %></li>
    <li><%= link_to "Corn & Callus Remover Cushions", "/healthcares/search?utf8=✓&query=Callus+Remover+Cushions&category=&commit=Go" %></li>
    <li><%= link_to "Inserts & Insoles", "/healthcares/search?utf8=✓&query=Inserts+Foot&category=&commit=Go" %></li>
    <li><%= link_to "Wart Removal", "/healthcares/search?utf8=✓&query=Wart+Removal&category=&commit=Go" %></li>
    <li><%= link_to "Bunion Pads", "/healthcares/search?utf8=✓&query=Bunion+Pads&category=&commit=Go" %></li>
    <li><%= link_to "Diabetic Foot Care", "/healthcares/search?utf8=✓&query=Diabetic+Foot+Care&category=&commit=Go" %></li>
    <li><%= link_to "Moleskin", "/healthcares/search?utf8=✓&query=Moleskin&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Sleep & Snoring
  <ul class="current-l">  
    <li><%= link_to "Nasal Strips", "/healthcares/search?utf8=✓&query=Nasal+Strips&category=&commit=Go" %></li>
    <li><%= link_to "Sleeping Masks", "/healthcares/search?utf8=✓&query=Sleeping+Masks&category=&commit=Go" %></li>
    <li><%= link_to "Snore Reducing Aids", "/healthcares/search?utf8=✓&query=Snore+Reducing+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Medicinal Sleep Aids", "/healthcares/search?utf8=✓&query=Medicinal+Sleep+Aids&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Pain Relievers
  <ul class="current-l">  
    <li><%= link_to "Hemorrhoid Care", "/healthcares/search?utf8=✓&query=Hemorrhoid+Care&category=&commit=Go" %></li>
    <li><%= link_to "Arthritis", "/healthcares/search?utf8=✓&query=Arthritis&category=&commit=Go" %></li>
    <li><%= link_to "Menstrual Pain Relief", "/healthcares/search?utf8=✓&query=Menstrual+Pain+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Hot & Cold Therapies", "/healthcares/search?utf8=✓&query=Hot+Cold+Therapies&category=&commit=Go" %></li>
    <li><%= link_to "Oral Pain Relief", "/healthcares/search?utf8=✓&query=Oral+Pain+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Migraine Relief", "/healthcares/search?utf8=✓&query=Migraine+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Oral Pain Relief", "/healthcares/search?utf8=✓&query=Oral+Pain+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Joint & Muscle Pain Relief", "/healthcares/search?utf8=✓&query=Muscle+Pain+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Rubs & Ointments", "/healthcares/search?utf8=✓&query=Rubs+Ointments&category=&commit=Go" %></li>
    <li><%= link_to "Urinary Tract Infection Treatments", "/healthcares/search?utf8=✓&query=Urinary+Tract+Infection&category=&commit=Go" %></li>
    <li><%= link_to "Non-Aspirin", "/healthcares/search?utf8=✓&query=Non-Aspirin&category=&commit=Go" %></li>
    <li><%= link_to "Aspirin", "/healthcares/search?utf8=✓&query=Aspirin&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li><%= link_to "Therapeutic Skin Care", "/healthcares/search?utf8=✓&query=Skin+Care&category=&commit=Go" %></li>
      
<li>Allergy, Sinus & Asthma
  <ul class="current-l">  
    <li><%= link_to "Respiration Flow Meters", "/healthcares/search?utf8=✓&query=Respiration&category=&commit=Go" %></li>
    <li><%= link_to "Sinus Medicine", "/healthcares/search?utf8=✓&query=Sinus&category=&commit=Go" %></li>
    <li><%= link_to "Asthma Medicine", "/healthcares/search?utf8=✓&query=Asthma&category=&commit=Go" %></li>
    <li><%= link_to "Nasal Strips", "/healthcares/search?utf8=✓&query=Nasal+Strips&category=&commit=Go" %></li>
    <li><%= link_to "Allergy Medicine", "/healthcares/search?utf8=✓&query=Allergy&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>First Aid
  <ul class="current-l">  
    <li><%= link_to "Itching & Rash Treatments", "/healthcares/search?utf8=✓&query=Itching+Rash&category=&commit=Go" %></li>
    <li><%= link_to "Gloves & Masks", "/healthcares/search?utf8=✓&query=Gloves&category=&commit=Go" %></li>
    <li><%= link_to "Defibrillators", "/healthcares/search?utf8=✓&query=Defibrillators&category=&commit=Go" %></li>
    <li><%= link_to "Lice Treatments", "/healthcares/search?utf8=✓&query=Lice&category=&commit=Go" %></li>
    <li><%= link_to "Bandages & Bandaging Supplies", "/healthcares/search?utf8=✓&query=Bandages&category=&commit=Go" %></li>
    <li><%= link_to "Antibiotics & Antiseptics", "/healthcares/search?utf8=✓&query=Antibiotics&category=&commit=Go" %></li>
    <li><%= link_to "Burn Care", "/healthcares/search?utf8=✓&query=Burn+Care&category=&commit=Go" %></li>
    <li><%= link_to "Antifungals", "/healthcares/search?utf8=✓&query=Antifungals&category=&commit=Go" %></li>
    <li><%= link_to "First Aid Kits", "/healthcares/search?utf8=✓&query=First+Aid+Kit&category=&commit=Go" %></li>
    <li><%= link_to "Poison Ingestion Treatments", "/healthcares/search?utf8=✓&query=Poison+Ingestion&category=&commit=Go" %></li>
    <li><%= link_to "Scars & Wounds", "/healthcares/search?utf8=✓&query=Wounds&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Family Planning & Contraceptives
  <ul class="current-l">  
    <li><%= link_to "Fertility Tests", "/healthcares/search?utf8=✓&query=Fertility+Tests&category=&commit=Go" %></li>
    <li><%= link_to "Fertility Charting", "/healthcares/search?utf8=✓&query=Fertility+Charting&category=&commit=Go" %></li>
    <li><%= link_to "Pregnancy Tests", "/healthcares/search?utf8=✓&query=Pregnancy+Tests&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Smoking Cessation
  <ul class="current-l">  
    <li><%= link_to "Smokeless Inhalers", "/healthcares/search?utf8=✓&query=Smokeless+Inhalers&category=&commit=Go" %></li>
    <li><%= link_to "Nicotine Gums & Lozenges", "/healthcares/search?utf8=✓&query=Nicotine+Gums&category=&commit=Go" %></li>
    <li><%= link_to "Nicotine Patches", "/healthcares/search?utf8=✓&query=Nicotine+Patches&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Digestion & Nausea
  <ul class="current-l">  
    <li><%= link_to "Motion Sickness & Nausea", "/healthcares/search?utf8=✓&query=Nausea&category=&commit=Go" %></li>
    <li><%= link_to "Antacids", "/healthcares/search?utf8=✓&query=Antacids&category=&commit=Go" %></li>
    <li><%= link_to "Lactose Intolerance", "/healthcares/search?utf8=✓&query=Lactose+Intolerance&category=&commit=Go" %></li>
    <li><%= link_to "Diarrhea Relief", "/healthcares/search?utf8=✓&query=Diarrhea+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Gas Relief", "/healthcares/search?utf8=✓&query=Gas+Relief&category=&commit=Go" %></li>
    <li><%= link_to "Laxatives", "/healthcares/search?utf8=✓&query=Laxatives&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Alternative Medicine
  <ul class="current-l">  
    <li><%= link_to "Sound Therapy", "/healthcares/search?utf8=✓&query=Sound+Therapy&category=&commit=Go" %></li>
    <li><%= link_to "Acupuncture", "/healthcares/search?utf8=✓&query=Acupuncture&category=&commit=Go" %></li>
    <li><%= link_to "Single Homeopathic Remedies", "/healthcares/search?utf8=✓&query=Homeopathic&category=&commit=Go" %></li>
    <li><%= link_to "Ayurveda", "/healthcares/search?utf8=✓&query=Ayurveda&category=&commit=Go" %></li>
    <li><%= link_to "Oxygen Therapy", "/healthcares/search?utf8=✓&query=Oxygen+Therapy&category=&commit=Go" %></li>
    <li><%= link_to "Flower Essences", "/healthcares/search?utf8=✓&query=Flower+Essences&category=&commit=Go" %></li>
    <li><%= link_to "Manipulation Therapies", "/healthcares/search?utf8=✓&query=Manipulation+Therapies&category=&commit=Go" %></li>
    <li><%= link_to "Magnetic Field Therapy", "/healthcares/search?utf8=✓&query=Magnetic+Field+Therapy&category=&commit=Go" %></li>
    <li><%= link_to "Light Therapy", "/healthcares/search?utf8=✓&query=Light+Therapy&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li><%= link_to "Stress Reduction", "/healthcares/search?utf8=✓&query=Stress+Reduction&category=&commit=Go" %></li>
      
<li>Cough & Cold
  <ul class="current-l">  
    <li><%= link_to "Coughing & Sore Throats", "/healthcares/search?utf8=✓&query=Coughing&category=&commit=Go" %></li>
    <li><%= link_to "Nasal Sprays & Drops", "/healthcares/search?utf8=✓&query=Nasal+Sprays&category=&commit=Go" %></li>
    <li><%= link_to "Chest Rubs", "/healthcares/search?utf8=✓&query=Chest+Rubs&category=&commit=Go" %></li>
    <li><%= link_to "Cold & Flu Remedies", "/healthcares/search?utf8=✓&query=Cold+Flu+Remedies&category=&commit=Go" %></li>
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>