<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
<li>Health Care
  <ul class="current-l">
    <li><%= link_to "Bandages", "/hkids/search?utf8=✓&query=Bandages&category=&commit=Go" %></li>
    <li><%= link_to "Pain Relievers", "/hkids/search?utf8=✓&query=Pain+Relievers&category=&commit=Go" %></li>
    <li><%= link_to "Cold & Flu Remedies", "/hkids/search?utf8=✓&query=Cold+Flu+Remedies&category=&commit=Go" %></li>
    <li><%= link_to "Children's Vitamins", "/hkids/search?utf8=✓&query=Children+Vitamins&category=&commit=Go" %></li>
    <li><%= link_to "Allergy Medicine", "/hkids/search?utf8=✓&query=Allergy&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li><%= link_to "Diaper Care", "/hkids/search?utf8=✓&query=Diapers&category=&commit=Go" %></li>
      
<li>Personal Care
  <ul class="current-l">
    <li><%= link_to "Hair Care", "/hkids/search?utf8=✓&query=Hair&category=&commit=Go" %></li>
    <li><%= link_to "Oral Hygiene", "/hkids/search?utf8=✓&query=Oral&category=&commit=Go" %></li>
    <li><%= link_to "Baby Bath", "/hkids/search?utf8=✓&query=Bath&category=&commit=Go" %></li>
    <li><%= link_to "Nursing Pads", "/hkids/search?utf8=✓&query=Nursing+Pads&category=&commit=Go" %></li>
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>