<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Cleaning Tools
  <ul class="current-l">
    <li><%= link_to "Gloves", "/households/search?utf8=✓&query=Gloves&category=&commit=Go" %></li>
    <li><%= link_to "Squeegees", "/households/search?utf8=✓&query=Squeegees&category=&commit=Go" %></li>
    <li><%= link_to "Sponges", "/households/search?utf8=✓&query=Sponges&category=&commit=Go" %></li>
    <li><%= link_to "Caddies", "/households/search?utf8=✓&query=Caddies&category=&commit=Go" %></li>
    <li><%= link_to "Brushes", "/households/search?utf8=✓&query=Brushes&category=&commit=Go" %></li>
    <li><%= link_to "Sweeping", "/households/search?utf8=✓&query=Sweeping&category=&commit=Go" %></li>
    <li><%= link_to "Mopping", "/households/search?utf8=✓&query=Mopping&category=&commit=Go" %></li>
    <li><%= link_to "Dusting", "/households/search?utf8=✓&query=Dusting&category=&commit=Go" %></li>
  </ul>
</li>
      
<li><%= link_to "Lighters", "/households/search?utf8=✓&query=Lighters&category=&commit=Go" %></li>
      
<li>Paper & Plastic
  <ul class="current-l">
    <li><%= link_to "Facial Tissues", "/households/search?utf8=✓&query=Facial+Tissues&category=&commit=Go" %></li>
    <li><%= link_to "Plates & Cutlery", "/households/search?utf8=✓&query=Plates&category=&commit=Go" %></li>
    <li><%= link_to "Food Storage", "/households/search?utf8=✓&query=Food+Storage&category=&commit=Go" %></li>
    <li><%= link_to "Cups & Straws", "/households/search?utf8=✓&query=Cups+Straws&category=&commit=Go" %></li>
    <li><%= link_to "Paper Towels", "/households/search?utf8=✓&query=Paper+Towels&category=&commit=Go" %></li>
    <li><%= link_to "Napkins", "/households/search?utf8=✓&query=Napkins&category=&commit=Go" %></li>
    <li><%= link_to "Trash Bags", "/households/search?utf8=✓&query=Trash+Bags&category=&commit=Go" %></li>
    <li><%= link_to "Bath Tissue", "/households/search?utf8=✓&query=Bath+Tissue&category=&commit=Go" %></li>
  </ul>
</li>     
      
<li>Air Fresheners
  <ul class="current-l">
    <li><%= link_to "Spray", "/households/search?utf8=✓&query=Spray&category=&commit=Go" %></li>
    <li><%= link_to "Solids & Liquids", "/households/search?utf8=✓&query=Solids+Air&category=&commit=Go" %></li>
    <li><%= link_to "Electric", "/households/search?utf8=✓&query=Electric+Air&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Household Batteries
  <ul class="current-l">
    <li><%= link_to "D", "/households/search?utf8=✓&query=Battery+D&category=&commit=Go" %></li>
    <li><%= link_to "AAAA", "/households/search?utf8=✓&query=Battery+AAAA&category=&commit=Go" %></li>
    <li><%= link_to "C", "/households/search?utf8=✓&query=Battery+C&category=&commit=Go" %></li>
    <li><%= link_to "AA", "/households/search?utf8=✓&query=Battery+AA&category=&commit=Go" %></li>
    <li><%= link_to "6V", "/households/search?utf8=✓&query=Battery+6V&category=&commit=Go" %></li>
    <li><%= link_to "9V", "/households/search?utf8=✓&query=Battery+9V&category=&commit=Go" %></li>
    <li><%= link_to "Coin & Button Cell", "/households/search?utf8=✓&query=Battery+Coin&category=&commit=Go" %></li>
    <li><%= link_to "AAA", "/households/search?utf8=✓&query=Battery+AAA&category=&commit=Go" %></li>
    <li><%= link_to "12V", "/households/search?utf8=✓&query=Battery+12V&category=&commit=Go" %></li>
    <li><%= link_to "Rechargeable", "/households/search?utf8=✓&query=Battery+Rechargeable&category=&commit=Go" %></li>
    <li><%= link_to "A", "/households/search?utf8=✓&query=Battery+A&category=&commit=Go" %></li>
  </ul>
</li>     
      
<li>Laundry
  <ul class="current-l">
    <li><%= link_to "Bleach", "/households/search?utf8=✓&query=Bleach&category=&commit=Go" %></li>
    <li><%= link_to "Liquid Detergent", "/households/search?utf8=✓&query=Liquid+Detergent&category=&commit=Go" %></li>
    <li><%= link_to "Lint Removal", "/households/search?utf8=✓&query=Lint+Removal&category=&commit=Go" %></li>
    <li><%= link_to "Fabric Softener", "/households/search?utf8=✓&query=Fabric+Softener&category=&commit=Go" %></li>
    <li><%= link_to "Starch & Anti-static Sprays", "/households/search?utf8=✓&query=Starch&category=&commit=Go" %></li>
    <li><%= link_to "Stain Removal", "/households/search?utf8=✓&query=Stain+Removal&category=&commit=Go" %></li>
    <li><%= link_to "Fabric Deodorizer", "/households/search?utf8=✓&query=Fabric+Deodorizer&category=&commit=Go" %></li>
    <li><%= link_to "Powder Detergent", "/households/search?utf8=✓&query=Powder+Detergent&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Household Cleaners
  <ul class="current-l">
    <li><%= link_to "Metal Polishes", "/households/search?utf8=✓&query=Metal+Polishes&category=&commit=Go" %></li>
    <li><%= link_to "Upholstery Cleaners", "/households/search?utf8=✓&query=Upholstery+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "Floor Cleaners", "/households/search?utf8=✓&query=Floor+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "Glass Cleaners", "/households/search?utf8=✓&query=Glass+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "All-Purpose Cleaners", "/households/search?utf8=✓&query=All-Purpose+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "Kitchen Cleaners", "/households/search?utf8=✓&query=Kitchen+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "Carpet Cleaners & Deodorizers", "/households/search?utf8=✓&query=Carpet+Cleaners&category=&commit=Go" %></li>
    <li><%= link_to "Drain Openers", "/households/search?utf8=✓&query=Drain+Openers&category=&commit=Go" %></li>
    <li><%= link_to "Furniture & Wood Polishes", "/households/search?utf8=✓&query=Wood+Polishes&category=&commit=Go" %></li>
    <li><%= link_to "Cloths & Wipes", "/households/search?utf8=✓&query=Cloths+Wipes&category=&commit=Go" %></li>
    <li><%= link_to "Bathroom Cleaners", "/households/search?utf8=✓&query=Bathroom+Cleaners&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Dishwashing 
  <ul class="current-l">
    <li><%= link_to "Dishwasher Detergent", "/households/search?utf8=✓&query=Dishwasher+Detergent&category=&commit=Go" %></li>
    <li><%= link_to "Dish Detergent", "/households/search?utf8=✓&query=Dish+Detergent&category=&commit=Go" %></li>
    <li><%= link_to "Scouring Pads", "/households/search?utf8=✓&query=Scouring+Pads&category=&commit=Go" %></li>
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>