<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Vacuums & Floor Care
  <ul class="current-l">
    
    <li>Vacuums
      <ul class="current-l">
        <li><%= link_to "Carpet Cleaners, Sweepers & Accessories", "/indoors/search?utf8=✓&query=Carpet+Cleaners&category=&commit=Go" %></li>
        <li><%= link_to "Robotic Vacuums", "/indoors/search?utf8=✓&query=Robotic+Vacuums&category=&commit=Go" %></li>
        <li><%= link_to "Handheld Vacuums", "/indoors/search?utf8=✓&query=Handheld+Vacuums&category=&commit=Go" %></li>
        <li><%= link_to "Upright Vacuums", "/indoors/search?utf8=✓&query=Upright+Vacuums&category=&commit=Go" %></li>
        <li><%= link_to "Stick Vacuums & Electric Brooms", "/indoors/search?utf8=✓&query=Stick+Vacuums&category=&commit=Go" %></li>
        <li><%= link_to "Canister Vacuums", "/indoors/search?utf8=✓&query=Canister+Vacuums&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Vacuum Accessories
      <ul class="current-l">
        <li><%= link_to "Vacuum Fittings", "/indoors/search?utf8=✓&query=Vacuum+Fittings&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Covers", "/indoors/search?utf8=✓&query=Vacuum+Covers&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Filters", "/indoors/search?utf8=✓&query=Vacuum+Filters&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Hoses", "/indoors/search?utf8=✓&query=Vacuum+Hoses&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Pads", "/indoors/search?utf8=✓&query=Vacuum+Pads&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Bags", "/indoors/search?utf8=✓&query=Vacuum+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Lamp Bulbs", "/indoors/search?utf8=✓&query=Vacuum+Lamp+Bulbs&category=&commit=Go" %></li>
        <li><%= link_to "Vacuum Belts", "/indoors/search?utf8=✓&query=Vacuum+Belts&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li><%= link_to "Floor Polishers", "/indoors/search?utf8=✓&query=Floor+Polishers&category=&commit=Go" %></li>
    <li><%= link_to "Carpet Sweepers", "/indoors/search?utf8=✓&query=Carpet+Sweepers&category=&commit=Go" %></li>
    <li><%= link_to "Carpet Steamers", "/indoors/search?utf8=✓&query=Carpet+Steamers&category=&commit=Go" %></li>
  
  </ul>
</li>
      
<li>Storage & Organization
  <ul class="current-l">
    
    <li>Clothing & Closet Storage
      <ul class="current-l">
        <li><%= link_to "Closet Jewelry Organizers", "/indoors/search?utf8=✓&query=Closet+Jewelry+Organizers&category=&commit=Go" %></li>
        <li><%= link_to "Closet Systems", "/indoors/search?utf8=✓&query=Closet+Systems&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Home Storage Hooks
      <ul class="current-l">
        <li><%= link_to "Utility Hooks", "/indoors/search?utf8=✓&query=Utility+Hooks&category=&commit=Go" %></li>
        <li><%= link_to "Coat Hooks", "/indoors/search?utf8=✓&query=Coat+Hooks&category=&commit=Go" %></li>
        <li><%= link_to "Key Hooks", "/indoors/search?utf8=✓&query=Key+Hooks&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
<li>Home Décor
  <ul class="current-l">
    
    <li>Weather Instruments
      <ul class="current-l">
        <li><%= link_to "Hygrometers", "/indoors/search?utf8=✓&query=Hygrometers&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Window Treatments
      <ul class="current-l">
        <li><%= link_to "Window Shutters", "/indoors/search?utf8=✓&query=Window+Shutters&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Kids' Room Décor 
      <ul class="current-l">
        <li><%= link_to "Wall Décor", "/indoors/search?utf8=✓&query=Wall+Décor+Kids&category=&commit=Go" %></li>
        <li><%= link_to "Accents", "/indoors/search?utf8=✓&query=Accents+Kids&category=&commit=Go" %></li>
        <li><%= link_to "Lamps & Lighting", "/indoors/search?utf8=✓&query=Lamps+Kids&category=&commit=Go" %></li>
        <li><%= link_to "Rugs", "/indoors/search?utf8=✓&query=Rugs+Kids&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
<li>Bath
  <ul class="current-l">
    <li><%= link_to "Towel Holders", "/indoors/search?utf8=✓&query=Towel+Holders&category=&commit=Go" %></li>
    <li><%= link_to "Scales", "/indoors/search?utf8=✓&query=Scales&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Furniture
  <ul class="current-l">
    
    <li>Home Office
      <ul class="current-l">
        <li><%= link_to "Drafting Tables", "/indoors/search?utf8=✓&query=Drafting+Tables&category=&commit=Go" %></li>
        <li><%= link_to "Home Office Furniture Sets", "/indoors/search?utf8=✓&query=Home+Office+Furniture&category=&commit=Go" %></li>
        <li><%= link_to "Computer Armoires & Hutches", "/indoors/search?utf8=✓&query=Computer+Armoires&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Home Entertainment
      <ul class="current-l">
        <li><%= link_to "Media Storage", "/indoors/search?utf8=✓&query=Media+Storage&category=&commit=Go" %></li>
        <li><%= link_to "Television Stands & Entertainment Centers", "/indoors/search?utf8=✓&query=Television+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Speaker Stands", "/indoors/search?utf8=✓&query=Speaker+Stands&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li>Other
      <ul class="current-l">
        <li><%= link_to "Lounge & Recreation Chairs", "/indoors/search?utf8=✓&query=Lounge+Chairs&category=&commit=Go" %></li>
        <li><%= link_to "Bookcases", "/indoors/search?utf8=✓&query=Bookcases&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Kids'
      <ul class="current-l">
        <li><%= link_to "Step Stools", "/indoors/search?utf8=✓&query=Kid+Step+Stools&category=&commit=Go" %></li>
        <li><%= link_to "Sofas", "/indoors/search?utf8=✓&query=Kid+Sofas&category=&commit=Go" %></li>
        <li><%= link_to "Armoires, Chests & Dressers", "/indoors/search?utf8=✓&query=Kid+Armoires&category=&commit=Go" %></li>
        <li><%= link_to "Tables", "/indoors/search?utf8=✓&query=Kid+Tables&category=&commit=Go" %></li>
        <li><%= link_to "Bed Frames, Headboards & Footboards", "/indoors/search?utf8=✓&query=Kid+Bed+Frames&category=&commit=Go" %></li>
        <li><%= link_to "Chairs", "/indoors/search?utf8=✓&query=Kid+Chairs&category=&commit=Go" %></li>
        <li><%= link_to "Mattresses & Box Springs", "/indoors/search?utf8=✓&query=Kid+Mattresses&category=&commit=Go" %></li>
        <li><%= link_to "Desks", "/indoors/search?utf8=✓&query=Kid+Desks&category=&commit=Go" %></li>
      </ul>
    </li>    
    
  </ul>
</li>
      
<li>Irons & Steamers
  <ul class="current-l">
    <li><%= link_to "Ironing Board Covers", "/indoors/search?utf8=✓&query=Ironing+Board+Covers&category=&commit=Go" %></li>
    <li><%= link_to "Travel Steam Generators", "/indoors/search?utf8=✓&query=Travel+Steam+Generators&category=&commit=Go" %></li>
    <li><%= link_to "Irons", "/indoors/search?utf8=✓&query=Irons&category=&commit=Go" %></li>
    <li><%= link_to "Ironing Sets", "/indoors/search?utf8=✓&query=Ironing+Sets&category=&commit=Go" %></li>
    <li><%= link_to "Ironing Boards", "/indoors/search?utf8=✓&query=Ironing+Boards&category=&commit=Go" %></li>
    <li><%= link_to "Steam Generators", "/indoors/search?utf8=✓&query=Steam+Generators&category=&commit=Go" %></li>
    <li><%= link_to "Trouser Pressers", "/indoors/search?utf8=✓&query=Trouser+Pressers&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Seasonal Décor
  <ul class="current-l">
    <li><%= link_to "Rope Lights", "/indoors/search?utf8=✓&query=Rope+Lights&category=&commit=Go" %></li>
    <li><%= link_to "Indoor String Lights", "/indoors/search?utf8=✓&query=Indoor+String+Lights&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Kitchen & Dining
  <ul class="current-l">
  
    <li>Storage & Organization
      <ul class="current-l">
        <li><%= link_to "Lunch Bags", "/indoors/search?utf8=✓&query=Lunch+Bags&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Small Appliances
      <ul class="current-l">
        <li><%= link_to "Juicers", "/indoors/search?utf8=✓&query=Juicers&category=&commit=Go" %></li>
        <li><%= link_to "Coffee, Tea & Espresso Appliances", "/indoors/search?utf8=✓&query=Tea&category=&commit=Go" %></li>
        <li><%= link_to "Ovens & Toasters", "/indoors/search?utf8=✓&query=Ovens&category=&commit=Go" %></li>
        <li><%= link_to "Rice Cookers", "/indoors/search?utf8=✓&query=Rice+Cookers&category=&commit=Go" %></li>
        <li><%= link_to "Slow Cookers", "/indoors/search?utf8=✓&query=Slow+Cookers&category=&commit=Go" %></li>
        <li><%= link_to "Deep Fryers", "/indoors/search?utf8=✓&query=Deep+Fryers&category=&commit=Go" %></li>
        <li><%= link_to "Mixers", "/indoors/search?utf8=✓&query=Mixers&category=&commit=Go" %></li>
        <li><%= link_to "Electric Woks", "/indoors/search?utf8=✓&query=Electric+Woks&category=&commit=Go" %></li>
        <li><%= link_to "Microwave Ovens", "/indoors/search?utf8=✓&query=Microwave+Ovens&category=&commit=Go" %></li>
        <li><%= link_to "Blenders", "/indoors/search?utf8=✓&query=Blenders&category=&commit=Go" %></li>
        <li><%= link_to "Small Appliance Sets", "/indoors/search?utf8=✓&query=Small+Appliance+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Wine Cellars", "/indoors/search?utf8=✓&query=Wine+Cellars&category=&commit=Go" %></li>
        <li><%= link_to "Hot Pots", "/indoors/search?utf8=✓&query=Hot+Pots&category=&commit=Go" %></li>
        <li><%= link_to "Steamers", "/indoors/search?utf8=✓&query=Steamers&category=&commit=Go" %></li>
        <li><%= link_to "Waffle Irons", "/indoors/search?utf8=✓&query=Waffle+Irons&category=&commit=Go" %></li>
        <li><%= link_to "Electric Griddles", "/indoors/search?utf8=✓&query=Electric+Griddles&category=&commit=Go" %></li>
        <li><%= link_to "Ice Cream Machines", "/indoors/search?utf8=✓&query=Ice+Cream+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Contact Grills", "/indoors/search?utf8=✓&query=Contact+Grills&category=&commit=Go" %></li>
        <li><%= link_to "Specialty Appliances", "/indoors/search?utf8=✓&query=Specialty+Appliances&category=&commit=Go" %></li>
        <li><%= link_to "Compact Refrigerators", "/indoors/search?utf8=✓&query=Compact+Refrigerators&category=&commit=Go" %></li>
        <li><%= link_to "Bread Machines", "/indoors/search?utf8=✓&query=Bread+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Electric Skillets", "/indoors/search?utf8=✓&query=Electric+Skillets&category=&commit=Go" %></li>
        <li><%= link_to "Countertop Burners", "/indoors/search?utf8=✓&query=Countertop+Burners&category=&commit=Go" %></li>
        <li><%= link_to "Food Processors", "/indoors/search?utf8=✓&query=Food+Processors&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li><%= link_to "Kitchen Knives & Cutlery Accessories", "/indoors/search?utf8=✓&query=Kitchen+Knives&category=&commit=Go" %></li>
      
    <li>Kitchen Utensils & Gadgets
      <ul class="current-l">
        <li><%= link_to "Thermometers & Timers", "/indoors/search?utf8=✓&query=Thermometers&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Water Coolers & Filters", "/indoors/search?utf8=✓&query=Water+Coolers&category=&commit=Go" %></li>
      
    <li>Coffee, Tea & Espresso
      <ul class="current-l">
        <li><%= link_to "Drip Coffee Machines", "/indoors/search?utf8=✓&query=Drip+Coffee+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Espresso Machine & Coffeemaker Combos", "/indoors/search?utf8=✓&query=Espresso+Coffeemaker&category=&commit=Go" %></li>
        <li><%= link_to "Espresso Machines", "/indoors/search?utf8=✓&query=Espresso+Machines&category=&commit=Go" %></li>
      </ul>
    </li>

  </ul>
</li>
      
<li><%= link_to "Bedding", "/indoors/search?utf8=✓&query=Bed&category=&commit=Go" %></li> 
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>