<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Wedding & Engagement Rings
  <ul class="current-l">   
    <li><%= link_to "Promise Rings", "/jewelrs/search?utf8=✓&query=Promise+Rings&category=&commit=Go" %></li>
    <li><%= link_to "Engagement Rings", "/jewelrs/search?utf8=✓&query=Engagement+Rings&category=&commit=Go" %></li>
    <li><%= link_to "Anniversary Rings", "/jewelrs/search?utf8=✓&query=Anniversary+Rings&category=&commit=Go" %></li>
    <li><%= link_to "Wedding Bands", "/jewelrs/search?utf8=✓&query=Wedding+Bands&category=&commit=Go" %></li>
    <li><%= link_to "Bridal Sets", "/jewelrs/search?utf8=✓&query=Bridal+Sets&category=&commit=Go" %></li>
    <li><%= link_to "Eternity Rings", "/jewelrs/search?utf8=✓&query=Eternity+Rings&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Anklets</li>
      
<li>Accessories
  <ul class="current-l">    
    <li>Cleaning & Care</li><li><%= link_to "Cleaning & Care", "/jewelrs/search?utf8=✓&query=Cleaning&category=&commit=Go" %></li>
    <li>Jewelry Boxes & Organizers
      <ul class="current-l">  
        <li><%= link_to "Jewelry Rolls", "/jewelrs/search?utf8=✓&query=Jewelry+Rolls&category=&commit=Go" %></li>
        <li><%= link_to "Jewelry Armoires", "/jewelrs/search?utf8=✓&query=Jewelry+Armoires&category=&commit=Go" %></li>
        <li><%= link_to "Jewelry Trays", "/jewelrs/search?utf8=✓&query=Jewelry+Trays&category=&commit=Go" %></li>
        <li><%= link_to "Jewelry Towers", "/jewelrs/search?utf8=✓&query=Jewelry+Towers&category=&commit=Go" %></li>
        <li><%= link_to "Jewelry Boxes", "/jewelrs/search?utf8=✓&query=Jewelry+Boxes&category=&commit=Go" %></li>
        <li><%= link_to "Jewelry Chests", "/jewelrs/search?utf8=✓&query=Jewelry+Chests&category=&commit=Go" %></li>
      </ul>
    </li>
  </ul>
</li>
      
<li>Bracelets & Bangles
  <ul class="current-l">
    <li><%= link_to "Wrap", "/jewelrs/search?utf8=✓&query=Wrap&category=&commit=Go" %></li>
    <li><%= link_to "Cuff", "/jewelrs/search?utf8=✓&query=Cuff&category=&commit=Go" %></li>
    <li><%= link_to "Tennis", "/jewelrs/search?utf8=✓&query=Tennis&category=&commit=Go" %></li>
    <li><%= link_to "Stretch", "/jewelrs/search?utf8=✓&query=Stretch&category=&commit=Go" %></li>
    <li><%= link_to "Bangle", "/jewelrs/search?utf8=✓&query=Bangle&category=&commit=Go" %></li>
    <li><%= link_to "Identification", "/jewelrs/search?utf8=✓&query=Identification&category=&commit=Go" %></li>
    <li><%= link_to "Link", "/jewelrs/search?utf8=✓&query=Link&category=&commit=Go" %></li>
    <li><%= link_to "Charm", "/jewelrs/search?utf8=✓&query=Charm&category=&commit=Go" %></li>
    <li><%= link_to "Strand", "/jewelrs/search?utf8=✓&query=Strand&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Earrings
  <ul class="current-l">
    <li><%= link_to "Ball", "/jewelrs/search?utf8=✓&query=Ball&category=&commit=Go" %></li>
    <li><%= link_to "Stud", "/jewelrs/search?utf8=✓&query=Stud&category=&commit=Go" %></li>
    <li><%= link_to "Hoop", "/jewelrs/search?utf8=✓&query=Hoop&category=&commit=Go" %></li>
    <li><%= link_to "Diamond Accented", "/jewelrs/search?utf8=✓&query=Diamond+Accented+Earrings&category=&commit=Go" %></li>
    <li><%= link_to "Clip-Ons", "/jewelrs/search?utf8=✓&query=Clip-Ons&category=&commit=Go" %></li>
    <li><%= link_to "Drop & Dangle", "/jewelrs/search?utf8=✓&query=Drop+Dangle&category=&commit=Go" %></li>
    <li><%= link_to "Earring Jackets", "/jewelrs/search?utf8=✓&query=Earring+Jackets&category=&commit=Go" %></li>
    <li><%= link_to "Cuffs & Wraps", "/jewelrs/search?utf8=✓&query=Cuffs+Wraps&category=&commit=Go" %></li>
  </ul>
</li>
      
<li><%= link_to "Rings", "/jewelrs/search?utf8=✓&query=Rings&category=&commit=Go" %></li>
      
<li><%= link_to "Charms", "/jewelrs/search?utf8=✓&query=Charms&category=&commit=Go" %></li>
      
<li><%= link_to "Jewelry Sets", "/jewelrs/search?utf8=✓&query=Jewelry+Sets&category=&commit=Go" %></li>
      
<li>Children's Jewelry
  <ul class="current-l">
    <li>Boys' Jewelry
      <ul class="current-l">
        <li><%= link_to "Cuff Links", "/jewelrs/search?utf8=✓&query=Boy+Cuff+Links&category=&commit=Go" %></li>
        <li><%= link_to "Bracelets", "/jewelrs/search?utf8=✓&query=Boy+Bracelets&category=&commit=Go" %></li>
        <li><%= link_to "Necklaces", "/jewelrs/search?utf8=✓&query=Boy+Necklaces&category=&commit=Go" %></li>
        <li><%= link_to "Rings", "/jewelrs/search?utf8=✓&query=Boy+Rings&category=&commit=Go" %></li>
        <li><%= link_to "Tie Clips", "/jewelrs/search?utf8=✓&query=Boy+Tie+Clips&category=&commit=Go" %></li>
      </ul>
    </li>
    <li>Girls' Jewelry
      <ul class="current-l">
        <li><%= link_to "Rings", "/jewelrs/search?utf8=✓&query=Girl+Rings&category=&commit=Go" %></li>
        <li><%= link_to "Brooches & Pins", "/jewelrs/search?utf8=✓&query=Girl+Brooches+Pins&category=&commit=Go" %></li>
        <li><%= link_to "Bracelets", "/jewelrs/search?utf8=✓&query=Girl+Bracelets&category=&commit=Go" %></li>
        <li><%= link_to "Necklaces & Pendants", "/jewelrs/search?utf8=✓&query=Girl+Necklaces+Pendants&category=&commit=Go" %></li>
        <li><%= link_to "Anklets", "/jewelrs/search?utf8=✓&query=Girl+Anklets&category=&commit=Go" %></li>
        <li><%= link_to "Earrings", "/jewelrs/search?utf8=✓&query=Girl+Earrings&category=&commit=Go" %></li>
      </ul>
    </li>
  </ul>
</li>  
      
<li>Novelty Jewelry
  <ul class="current-l">    
    <li><%= link_to "Necklaces & Pendants", "/jewelrs/search?utf8=✓&query=Novelty+Necklaces+Pendants&category=&commit=Go" %></li>
    <li><%= link_to "Rings", "/jewelrs/search?utf8=✓&query=Novelty+Rings&category=&commit=Go" %></li>
    <li><%= link_to "Brooches & Pins", "/jewelrs/search?utf8=✓&query=Novelty+Brooches+Pins&category=&commit=Go" %></li>
    <li><%= link_to "Charms", "/jewelrs/search?utf8=✓&query=Novelty+Charms&category=&commit=Go" %></li>
    <li><%= link_to "Bracelets", "/jewelrs/search?utf8=✓&query=Novelty+Bracelets&category=&commit=Go" %></li>
    <li><%= link_to "Body Jewelry", "/jewelrs/search?utf8=✓&query=Novelty+Body+Jewelry&category=&commit=Go" %></li>
    <li><%= link_to "Earrings", "/jewelrs/search?utf8=✓&query=Novelty+Earrings&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Men's Jewelry
  <ul class="current-l">    
    <li><%= link_to "Tie Clips", "/jewelrs/search?utf8=✓&query=Men+Tie+Clips&category=&commit=Go" %></li>
    <li><%= link_to "Tie Pins", "/jewelrs/search?utf8=✓&query=Men+Tie+Pins&category=&commit=Go" %></li>
    <li><%= link_to "Bracelets", "/jewelrs/search?utf8=✓&query=Men+Bracelets&category=&commit=Go" %></li>
    <li><%= link_to "Earrings", "/jewelrs/search?utf8=✓&query=Men+Earrings&category=&commit=Go" %></li>
    <li><%= link_to "Cuff Links", "/jewelrs/search?utf8=✓&query=Men+Cuff+Links&category=&commit=Go" %></li>
    <li><%= link_to "Shirt Studs", "/jewelrs/search?utf8=✓&query=Men+Shirt+Studs&category=&commit=Go" %></li>
    <li><%= link_to "Rings", "/jewelrs/search?utf8=✓&query=Men+Rings&category=&commit=Go" %></li>
    <li><%= link_to "Necklaces", "/jewelrs/search?utf8=✓&query=Men+Necklaces&category=&commit=Go" %></li>
  </ul>
</li>
      
<li><%= link_to "Loose Gemstones", "/jewelrs/search?utf8=✓&query=Loose+Gemstones&category=&commit=Go" %></li>
            
<li><%= link_to "Brooches & Pins", "/jewelrs/search?utf8=✓&query=Brooches+Pins&category=&commit=Go" %></li>
      
<li>Religious Jewelry
  <ul class="current-l">    
    <li><%= link_to "Earrings", "/jewelrs/search?utf8=✓&query=Religious+Earrings&category=&commit=Go" %></li>
    <li><%= link_to "Brooches & Pins", "/jewelrs/search?utf8=✓&query=Religious+Brooches+Pins&category=&commit=Go" %></li>
    <li><%= link_to "Bracelets", "/jewelrs/search?utf8=✓&query=Religious+Bracelets&category=&commit=Go" %></li>
    <li><%= link_to "Necklaces & Pendants", "/jewelrs/search?utf8=✓&query=Religious+Necklaces+Pendants&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Necklaces & Pendants
  <ul class="current-l">    
    <li><%= link_to "Lockets", "/jewelrs/search?utf8=✓&query=Lockets&category=&commit=Go" %></li>
    <li><%= link_to "Pendant Enhancers", "/jewelrs/search?utf8=✓&query=Pendant+Enhancers&category=&commit=Go" %></li>
    <li><%= link_to "Chains", "/jewelrs/search?utf8=✓&query=Chains&category=&commit=Go" %></li>
    <li><%= link_to "Chokers", "/jewelrs/search?utf8=✓&query=Chokers&category=&commit=Go" %></li>
    <li><%= link_to "Pearl Strands", "/jewelrs/search?utf8=✓&query=Pearl+Strands&category=&commit=Go" %></li>
    <li><%= link_to "Pendants", "/jewelrs/search?utf8=✓&query=Pendants&category=&commit=Go" %></li>
    <li><%= link_to "Y-Necklaces", "/jewelrs/search?utf8=✓&query=Y-Necklaces&category=&commit=Go" %></li>
    <li><%= link_to "Strands", "/jewelrs/search?utf8=✓&query=Strands&category=&commit=Go" %></li>
  </ul>
</li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>