<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
      <li>Nails
         <ul class="current-l">
           <li><%= link_to "Thickening", "/makeups/search?utf8=✓&query=Nail+Thickening&category=&commit=Go" %></li>
           <li><%= link_to "Polish", "/makeups/search?utf8=✓&query=Nail+Polish&category=&commit=Go" %></li>
           <li><%= link_to "Top & Base Coats", "/makeups/search?utf8=✓&query=Top+Base+Coat&category=&commit=Go" %></li>
           <li><%= link_to "Polish Remover", "/makeups/search?utf8=✓&query=Nail+Polish+Remover&category=&commit=Go" %></li>
           <li><%= link_to "Art", "/makeups/search?utf8=✓&query=Nail+Art&category=&commit=Go" %></li>
         </ul>
      </li> 
      <li>Face
         <ul class="current-l">
           <li><%= link_to "Foundation", "/makeups/search?utf8=✓&query=Face+Foundation&category=&commit=Go" %></li>
           <li><%= link_to "Powder", "/makeups/search?utf8=✓&query=Face+Powder&category=&commit=Go" %></li>
           <li><%= link_to "Foundation Primers", "/makeups/search?utf8=✓&query=Face+Foundation+Primer&category=&commit=Go" %></li>
           <li><%= link_to "Blush", "/makeups/search?utf8=✓&query=Face+Blush&category=&commit=Go" %></li>
           <li><%= link_to "Bronzers & Highlighters", "/makeups/search?utf8=✓&query=Face+Bronzer&category=&commit=Go" %></li>
           <li><%= link_to "Concealers & Neutralizers", "/makeups/search?utf8=✓&query=Face+Concealer&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Lips
         <ul class="current-l">
           <li><%= link_to "Glosses", "/makeups/search?utf8=✓&query=Lip+Gloss&category=&commit=Go" %></li>
           <li><%= link_to "Lipstick", "/makeups/search?utf8=✓&query=Lipstick&category=&commit=Go" %></li>
           <li><%= link_to "Lipstick Primers", "/makeups/search?utf8=✓&query=Lipstick+Primer&category=&commit=Go" %></li>
           <li><%= link_to "Plumpers", "/makeups/search?utf8=✓&query=Lip+Plumper&category=&commit=Go" %></li>
           <li><%= link_to "Stains", "/makeups/search?utf8=✓&query=Lip+Stain&category=&commit=Go" %></li>
           <li><%= link_to "Liners", "/makeups/search?utf8=✓&query=Lip+Liner&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Eyes
         <ul class="current-l">
           <li><%= link_to "Eye Shadow", "/makeups/search?utf8=✓&query=Eye+Shadow&category=&commit=Go" %></li>
           <li><%= link_to "Concealer & Base", "/makeups/search?utf8=✓&query=Eye+Concealer+Base&category=&commit=Go" %></li>
           <li><%= link_to "Mascara", "/makeups/search?utf8=✓&query=Mascara&category=&commit=Go" %></li>
           <li><%= link_to "Eyeliner", "/makeups/search?utf8=✓&query=Eyeliner&category=&commit=Go" %></li>
           <li><%= link_to "Eyebrow Color", "/makeups/search?utf8=✓&query=Eyebrow+Color&category=&commit=Go" %></li>
           <li><%= link_to "Liner & Shadow Combinations", "/makeups/search?utf8=✓&query=Eye+Liner+Shadow&category=&commit=Go" %></li>
           <li><%= link_to "Glitter & Shimmer", "/makeups/search?utf8=✓&query=Eye+Glitter+Shimmer&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Makeup Remover
         <ul class="current-l">
           <li><%= link_to "Face", "/makeups/search?utf8=✓&query=Makeup+Remover+Face&category=&commit=Go" %></li>
           <li><%= link_to "Lips", "/makeups/search?utf8=✓&query=Makeup+Remover+Lips&category=&commit=Go" %></li>
           <li><%= link_to "Eyes", "/makeups/search?utf8=✓&query=Makeup+Remover+Eyes&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Body
         <ul class="current-l">
           <li><%= link_to "Concealer", "/makeups/search?utf8=✓&query=Body+Concealer&category=&commit=Go" %></li>
           <li><%= link_to "Henna", "/makeups/search?utf8=✓&query=Body+Henna&category=&commit=Go" %></li>
           <li><%= link_to "Body Paint", "/makeups/search?utf8=✓&query=Body+Paint&category=&commit=Go" %></li>
           <li><%= link_to "Bronzing Powder", "/makeups/search?utf8=✓&query=Body+Bronzing+Powder&category=&commit=Go" %></li>
           <li><%= link_to "Body Glitter", "/makeups/search?utf8=✓&query=Body+Glitter&category=&commit=Go" %></li>
           <li><%= link_to "Temporary Tattoos", "/makeups/search?utf8=✓&query=Body+Temporary+Tattoo&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Sets", "/makeups/search?utf8=✓&query=Makeup+Set&category=&commit=Go" %></li>
      <li><%= link_to "Palettes", "/makeups/search?utf8=✓&query=Makeup+Palette&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>