<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
<li>Health Monitors
  <ul class="current-l">
    <li><%= link_to "Alcohol Monitors", "/medicals/search?utf8=✓&query=Alcohol+Monitors&category=&commit=Go" %></li>
    <li><%= link_to "Body Fat Monitors", "/medicals/search?utf8=✓&query=Body+Fat+Monitors&category=&commit=Go" %></li>
    <li><%= link_to "Stethoscopes", "/medicals/search?utf8=✓&query=Stethoscopes&category=&commit=Go" %></li>
    <li><%= link_to "Blood Glucose", "/medicals/search?utf8=✓&query=Blood+Glucose&category=&commit=Go" %></li>
    <li><%= link_to "Blood Pressure", "/medicals/search?utf8=✓&query=Blood+Pressure&category=&commit=Go" %></li>
    <li><%= link_to "Cholesterol Monitors", "/medicals/search?utf8=✓&query=Cholesterol+Monitors&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Beds & Accessories
  <ul class="current-l">
    <li><%= link_to "Beds", "/medicals/search?utf8=✓&query=Beds&category=&commit=Go" %></li>
    <li><%= link_to "Safety & Assisting Rails", "/medicals/search?utf8=✓&query=Safety+Rails&category=&commit=Go" %></li>
    <li><%= link_to "Overbed Tables", "/medicals/search?utf8=✓&query=Overbed+Tables&category=&commit=Go" %></li>
    <li><%= link_to "Transfer Boards", "/medicals/search?utf8=✓&query=Transfer+Boards&category=&commit=Go" %></li>
    <li><%= link_to "Bed Wedges", "/medicals/search?utf8=✓&query=Bed+Wedges&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Tests
  <ul class="current-l">
    <li><%= link_to "Drug Tests", "/medicals/search?utf8=✓&query=Drug+Tests&category=&commit=Go" %></li>
    <li><%= link_to "Health Tests", "/medicals/search?utf8=✓&query=Health+Tests&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Bathroom Aids & Safety
  <ul class="current-l">
    <li><%= link_to "Bathing Guards", "/medicals/search?utf8=✓&query=Bathing+Guards&category=&commit=Go" %></li>
    <li><%= link_to "Shower & Bath Stools & Benches", "/medicals/search?utf8=✓&query=Bath+Stools&category=&commit=Go" %></li>
    <li><%= link_to "Toilet Seats & Commodes", "/medicals/search?utf8=✓&query=Toilet+Seats&category=&commit=Go" %></li>
    <li><%= link_to "Bathtub Rails", "/medicals/search?utf8=✓&query=Bathtub+Rails&category=&commit=Go" %></li>
    <li><%= link_to "Shower+Grab+Bars", "/medicals/search?utf8=✓&query=Shower+Grab+Bars&category=&commit=Go" %></li>
    <li><%= link_to "Bedpans & Urinals", "/medicals/search?utf8=✓&query=Urinals&category=&commit=Go" %></li>
    <li><%= link_to "Bath Mats", "/medicals/search?utf8=✓&query=Bath+Mats&category=&commit=Go" %></li>
    <li><%= link_to "Sitz Baths", "/medicals/search?utf8=✓&query=Sitz+Baths&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Daily Living Aids
  <ul class="current-l">
    <li><%= link_to "Low Vision Aids", "/medicals/search?utf8=✓&query=Low+Vision&category=&commit=Go" %></li>
    <li><%= link_to "Ramps", "/medicals/search?utf8=✓&query=Ramps&category=&commit=Go" %></li>
    <li><%= link_to "Eating & Drinking Aids", "/medicals/search?utf8=✓&query=Eating+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Bath & Body Aids", "/medicals/search?utf8=✓&query=Bath+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Low Strength Aids", "/medicals/search?utf8=✓&query=Low+Strength&category=&commit=Go" %></li>
    <li><%= link_to "Dressing Aids", "/medicals/search?utf8=✓&query=Dressing+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Telephones", "/medicals/search?utf8=✓&query=Telephones&category=&commit=Go" %></li>
    <li><%= link_to "Medication Aids", "/medicals/search?utf8=✓&query=Medication+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Hearing Aids", "/medicals/search?utf8=✓&query=Hearing+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Hearing Aid Accessories", "/medicals/search?utf8=✓&query=Hearing+Aid+Accessories&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Mobility Aids & Equipment
  <ul class="current-l">
    <li><%= link_to "Crutch Accessories", "/medicals/search?utf8=✓&query=Crutch+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Standers & Standing Supports", "/medicals/search?utf8=✓&query=Standers&category=&commit=Go" %></li>
    <li><%= link_to "Reaching Aids", "/medicals/search?utf8=✓&query=Reaching+Aids&category=&commit=Go" %></li>
    <li><%= link_to "Wheelchairs", "/medicals/search?utf8=✓&query=Wheelchairs&category=&commit=Go" %></li>
    <li><%= link_to "Canes", "/medicals/search?utf8=✓&query=Canes&category=&commit=Go" %></li>
    <li><%= link_to "Leg & Thigh Lifters", "/medicals/search?utf8=✓&query=Leg+Lifters&category=&commit=Go" %></li>
    <li><%= link_to "Lifting Cushions", "/medicals/search?utf8=✓&query=Lifting+Cushions&category=&commit=Go" %></li>
    <li><%= link_to "Crutches", "/medicals/search?utf8=✓&query=Crutches&category=&commit=Go" %></li>
    <li><%= link_to "Walkers", "/medicals/search?utf8=✓&query=Walkers&category=&commit=Go" %></li>
    <li><%= link_to "Lift Chairs", "/medicals/search?utf8=✓&query=Lift+Chairs&category=&commit=Go" %></li>
    <li><%= link_to "Cane Accessories", "/medicals/search?utf8=✓&query=Cane+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Walker Accessories", "/medicals/search?utf8=✓&query=Walker+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Motorized Scooter Accessories", "/medicals/search?utf8=✓&query=Motorized+Scooter+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Wheelchair Accessories", "/medicals/search?utf8=✓&query=Wheelchair+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Motorized Scooters", "/medicals/search?utf8=✓&query=Motorized+Scooters&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Braces, Splints & Slings
  <ul class="current-l">
    <li><%= link_to "Waist & Abdomen", "/medicals/search?utf8=✓&query=Waist+Abdomen&category=&commit=Go" %></li>
    <li><%= link_to "Tape & Supplies", "/medicals/search?utf8=✓&query=Tape+Supplies&category=&commit=Go" %></li>
    <li><%= link_to "Back & Shoulder", "/medicals/search?utf8=✓&query=Back+Shoulder&category=&commit=Go" %></li>
    <li><%= link_to "Hand, Wrist & Finger", "/medicals/search?utf8=✓&query=Hand+Wrist&category=&commit=Go" %></li>
    <li><%= link_to "Knee & Leg", "/medicals/search?utf8=✓&query=Knee+Leg&category=&commit=Go" %></li>
    <li><%= link_to "Ankle & Foot", "/medicals/search?utf8=✓&query=Ankle+Foot&category=&commit=Go" %></li>
    <li><%= link_to "Elbow & Arm", "/medicals/search?utf8=✓&query=Elbow+Arm&category=&commit=Go" %></li>
    <li><%= link_to "Socks & Support Hose", "/medicals/search?utf8=✓&query=Support+Hose&category=&commit=Go" %></li>
    <li><%= link_to "Neck", "/medicals/search?utf8=✓&query=Neck&category=&commit=Go" %></li>
  </ul>
</li>      
      
<li>Occupational & Physical Therapy Aids
  <ul class="current-l">
    <li><%= link_to "Hand Exercisers", "/medicals/search?utf8=✓&query=Hand+Exercisers&category=&commit=Go" %></li>
    <li><%= link_to "Traction Equipment", "/medicals/search?utf8=✓&query=Traction+Equipment&category=&commit=Go" %></li>
    <li><%= link_to "Pedal Exercisers", "/medicals/search?utf8=✓&query=Pedal+Exercisers&category=&commit=Go" %></li>
    <li><%= link_to "Exercise Bands", "/medicals/search?utf8=✓&query=Exercise+Bands&category=&commit=Go" %></li>
    <li><%= link_to "Exercise Putty", "/medicals/search?utf8=✓&query=Exercise+Putty&category=&commit=Go" %></li>
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>