<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Instrument Accessories
  <ul class="current-l">
    
    <li>Brass Accessories
      <ul class="current-l">
        <li><%= link_to "Bags & Cases", "/musicals/search?utf8=✓&query=Brass+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Brass+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/musicals/search?utf8=✓&query=Brass+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Mutes", "/musicals/search?utf8=✓&query=Brass+Mutes&category=&commit=Go" %></li>
        <li><%= link_to "Mouthpieces", "/musicals/search?utf8=✓&query=Brass+Mouthpieces&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Amplifier Accessories
      <ul class="current-l">
        <li><%= link_to "Footswitches & Controllers", "/musicals/search?utf8=✓&query=Amplifier+Footswitches&category=&commit=Go" %></li>
        <li><%= link_to "Parts", "/musicals/search?utf8=✓&query=Amplifier+Parts&category=&commit=Go" %></li>
        <li><%= link_to "Bags, Cases & Covers", "/musicals/search?utf8=✓&query=Amplifier+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/musicals/search?utf8=✓&query=Amplifier+Stands&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Folk & World Instrument Accessories
      <ul class="current-l">
        <li><%= link_to "Banjo", "/musicals/search?utf8=✓&query=Banjo&category=&commit=Go" %></li>
        <li><%= link_to "Dulcimer", "/musicals/search?utf8=✓&query=Dulcimer&category=&commit=Go" %></li>
        <li><%= link_to "Autoharp", "/musicals/search?utf8=✓&query=Autoharp&category=&commit=Go" %></li>
        <li><%= link_to "Ukulele", "/musicals/search?utf8=✓&query=Ukulele&category=&commit=Go" %></li>
        <li><%= link_to "Mandolin", "/musicals/search?utf8=✓&query=Mandolin&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Keyboard Accessories
      <ul class="current-l">
        <li><%= link_to "Power Supplies", "/musicals/search?utf8=✓&query=Keyboard+Power+Supplies&category=&commit=Go" %></li>
        <li><%= link_to "Benches", "/musicals/search?utf8=✓&query=Keyboard+Benches&category=&commit=Go" %></li>
        <li><%= link_to "Accordion Accessories", "/musicals/search?utf8=✓&query=Keyboard+Accordion&category=&commit=Go" %></li>
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Keyboard+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/musicals/search?utf8=✓&query=Keyboard+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Keyboard Amplifiers", "/musicals/search?utf8=✓&query=Keyboard+Amplifiers&category=&commit=Go" %></li>
        <li><%= link_to "Pedals & Footswitches", "/musicals/search?utf8=✓&query=Keyboard+Pedals&category=&commit=Go" %></li>
        <li><%= link_to "Harpsichord Accessories", "/musicals/search?utf8=✓&query=Keyboard+Harpsichord&category=&commit=Go" %></li>
        <li><%= link_to "Player Piano Accessories", "/musicals/search?utf8=✓&query=Player+Piano&category=&commit=Go" %></li>
        <li><%= link_to "Bags, Cases & Covers", "/musicals/search?utf8=✓&query=Keyboard+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Expansion Boards & Sound Libraries", "/musicals/search?utf8=✓&query=Keyboard+Expansion+Boards&category=&commit=Go" %></li>
        <li><%= link_to "Organ Accessories", "/musicals/search?utf8=✓&query=Keyboard+Organ&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Orchestral Strings Accessories
      <ul class="current-l">
        <li><%= link_to "Bows", "/musicals/search?utf8=✓&query=Orchestral+Bows&category=&commit=Go" %></li>
        <li><%= link_to "Rosin", "/musicals/search?utf8=✓&query=Orchestral+Rosin&category=&commit=Go" %></li>
        <li><%= link_to "Endpin Rests", "/musicals/search?utf8=✓&query=Orchestral+Endpin+Rests&category=&commit=Go" %></li>
        <li><%= link_to "Stands & Hangers", "/musicals/search?utf8=✓&query=Orchestral+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Orchestral+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "Shoulder & Chin Rests", "/musicals/search?utf8=✓&query=Orchestral+Shoulder&category=&commit=Go" %></li>
        <li><%= link_to "Strings", "/musicals/search?utf8=✓&query=Orchestral+Strings&category=&commit=Go" %></li>
        <li><%= link_to "Bags & Cases", "/musicals/search?utf8=✓&query=Orchestral+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Parts", "/musicals/search?utf8=✓&query=Orchestral+Parts&category=&commit=Go" %></li>
      </ul>
    </li>     
      
    <li>Woodwind Accessories
      <ul class="current-l">
        <li><%= link_to "Straps", "/musicals/search?utf8=✓&query=Woodwind+Straps&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/musicals/search?utf8=✓&query=Woodwind+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Bags & Cases", "/musicals/search?utf8=✓&query=Woodwind+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Ligatures", "/musicals/search?utf8=✓&query=Woodwind+Ligatures&category=&commit=Go" %></li>
        <li><%= link_to "Mouthpieces", "/musicals/search?utf8=✓&query=Woodwind+Mouthpieces&category=&commit=Go" %></li>
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Woodwind+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "Parts", "/musicals/search?utf8=✓&query=Woodwind+Parts&category=&commit=Go" %></li>
        <li><%= link_to "Reeds", "/musicals/search?utf8=✓&query=Woodwind+Reeds&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Drum & Percussion Accessories
      <ul class="current-l">
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Drum+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "Practice Devices", "/musicals/search?utf8=✓&query=Drum+Practice&category=&commit=Go" %></li>
        <li><%= link_to "Marching Percussion Accessories", "/musicals/search?utf8=✓&query=Marching+Percussion&category=&commit=Go" %></li>
        <li><%= link_to "Electronic Drum Amps", "/musicals/search?utf8=✓&query=Electronic+Drum+Amps&category=&commit=Go" %></li>
        <li><%= link_to "Drumsticks, Mallets & Brushes", "/musicals/search?utf8=✓&query=Drumsticks&category=&commit=Go" %></li>
        <li><%= link_to "Drum Set Accessories", "/musicals/search?utf8=✓&query=Drum+Set&category=&commit=Go" %></li>
        <li><%= link_to "Concert Percussion Accessories", "/musicals/search?utf8=✓&query=Concert+Percussion&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>General Accessories
      <ul class="current-l">
        <li><%= link_to "Musical Gifts", "/musicals/search?utf8=✓&query=Musical+Gifts&category=&commit=Go" %></li>
        <li><%= link_to "Practice Aids", "/musicals/search?utf8=✓&query=Practice+Aids&category=&commit=Go" %></li>
        <li><%= link_to "Music Lyres", "/musicals/search?utf8=✓&query=Music+Lyres&category=&commit=Go" %></li>
        <li><%= link_to "Metronomes", "/musicals/search?utf8=✓&query=Metronomes&category=&commit=Go" %></li>
        <li><%= link_to "Conducting", "/musicals/search?utf8=✓&query=Conducting&category=&commit=Go" %></li>
        <li><%= link_to "Music Awards", "/musicals/search?utf8=✓&query=Music+Awards&category=&commit=Go" %></li>
        <li><%= link_to "Music Stands", "/musicals/search?utf8=✓&query=Music+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Sheet Music Folders", "/musicals/search?utf8=✓&query=Sheet+Music+Folders&category=&commit=Go" %></li>
        <li><%= link_to "Tuning", "/musicals/search?utf8=✓&query=Tuning&category=&commit=Go" %></li>
        <li><%= link_to "Staff Boards", "/musicals/search?utf8=✓&query=Staff+Boards&category=&commit=Go" %></li>
        <li><%= link_to "Staff Paper", "/musicals/search?utf8=✓&query=Staff+Paper&category=&commit=Go" %></li>
        <li><%= link_to "Stand Lights", "/musicals/search?utf8=✓&query=Stand+Lights&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Guitar & Bass Accessories
      <ul class="current-l"> 
        <li><%= link_to "Picks & Pick Holders", "/musicals/search?utf8=✓&query=Guitar+Picks&category=&commit=Go" %></li>
        <li><%= link_to "Amplifiers", "/musicals/search?utf8=✓&query=Guitar+Amplifiers&category=&commit=Go" %></li>
        <li><%= link_to "Parts", "/musicals/search?utf8=✓&query=Guitar+Parts&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/musicals/search?utf8=✓&query=Guitar+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Effects", "/musicals/search?utf8=✓&query=Guitar+Effects&category=&commit=Go" %></li>
        <li><%= link_to "Strings", "/musicals/search?utf8=✓&query=Guitar+Strings&category=&commit=Go" %></li>
        <li><%= link_to "Capos", "/musicals/search?utf8=✓&query=Guitar+Capos&category=&commit=Go" %></li>
        <li><%= link_to "Cleaning & Care", "/musicals/search?utf8=✓&query=Guitar+Cleaning&category=&commit=Go" %></li>
        <li><%= link_to "String Winders", "/musicals/search?utf8=✓&query=Guitar+String+Winders&category=&commit=Go" %></li>
        <li><%= link_to "Bags & Cases", "/musicals/search?utf8=✓&query=Guitar+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Tuners", "/musicals/search?utf8=✓&query=Guitar+Tuners&category=&commit=Go" %></li>
        <li><%= link_to "Slides", "/musicals/search?utf8=✓&query=Guitar+Slides&category=&commit=Go" %></li>
        <li><%= link_to "Stools", "/musicals/search?utf8=✓&query=Guitar+Stools&category=&commit=Go" %></li>
        <li><%= link_to "Straps & Strap Locks", "/musicals/search?utf8=✓&query=Guitar+Straps&category=&commit=Go" %></li>
        <li><%= link_to "Tools", "/musicals/search?utf8=✓&query=Guitar+Tools&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
      
<li>Live Sound & Stage
  <ul class="current-l">     
  
    <li>Stage & Studio Cables
      <ul class="current-l">  
        <li><%= link_to "MIDI Cables", "/musicals/search?utf8=✓&query=MIDI+Cables&category=&commit=Go" %></li>
        <li><%= link_to "Microphone Cables", "/musicals/search?utf8=✓&query=Microphone+Cables&category=&commit=Go" %></li>
        <li><%= link_to "Instrument Cables", "/musicals/search?utf8=✓&query=Instrument+Cables&category=&commit=Go" %></li>
        <li><%= link_to "Recording Snakes", "/musicals/search?utf8=✓&query=Recording+Snakes&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Monitors, Speakers & Subwoofers
      <ul class="current-l"> 
        <li><%= link_to "Subwoofers & Accessories", "/musicals/search?utf8=✓&query=Subwoofers+Live&category=&commit=Go" %></li>
        <li><%= link_to "Monitors & Accessories", "/musicals/search?utf8=✓&query=Monitors+Live&category=&commit=Go" %></li>
        <li><%= link_to "Speakers & Accessories", "/musicals/search?utf8=✓&query=Speakers+Live&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Powered Mixers", "/musicals/search?utf8=✓&query=Powered+Mixers&category=&commit=Go" %></li>
      
    <li><%= link_to "PA Systems", "/musicals/search?utf8=✓&query=PA+Systems&category=&commit=Go" %></li>
      
    <li><%= link_to "Power Amplifiers", "/musicals/search?utf8=✓&query=Power+Amplifiers&category=&commit=Go" %></li>
      
    <li>Lighting Equipment & Accessories
      <ul class="current-l">  
        <li><%= link_to "LED Lighting", "/musicals/search?utf8=✓&query=LED+Lighting&category=&commit=Go" %></li>
        <li><%= link_to "Lighting Accessories", "/musicals/search?utf8=✓&query=Lighting&category=&commit=Go" %></li>
        <li><%= link_to "Strobe Effects", "/musicals/search?utf8=✓&query=Strobe+Effects&category=&commit=Go" %></li>
        <li><%= link_to "Fog Machines & Accessories", "/musicals/search?utf8=✓&query=Fog+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Stage Lighting", "/musicals/search?utf8=✓&query=Stage+Lighting&category=&commit=Go" %></li>
        <li><%= link_to "Bubble Machines & Accessories", "/musicals/search?utf8=✓&query=Bubble+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Projection Effects", "/musicals/search?utf8=✓&query=Projection+Effects&category=&commit=Go" %></li>
        <li><%= link_to "Mirror Balls & Accessories", "/musicals/search?utf8=✓&query=Mirror+Balls&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
<li>Folk & World Instruments
  <ul class="current-l">  
    
    <li>Wind Instruments
      <ul class="current-l">  
        <li><%= link_to "Bamboo Saxophones", "/musicals/search?utf8=✓&query=Bamboo+Saxophones&category=&commit=Go" %></li>
        <li><%= link_to "Bagpipes", "/musicals/search?utf8=✓&query=Bagpipes&category=&commit=Go" %></li>
        <li><%= link_to "Bamboo Clarinets", "/musicals/search?utf8=✓&query=Bamboo+Clarinets&category=&commit=Go" %></li>
        <li><%= link_to "Zurnas", "/musicals/search?utf8=✓&query=Zurnas&category=&commit=Go" %></li>
        <li><%= link_to "Conch Shells", "/musicals/search?utf8=✓&query=Conch+Shells&category=&commit=Go" %></li>
        <li><%= link_to "Ojas", "/musicals/search?utf8=✓&query=Ojas&category=&commit=Go" %></li>
        <li><%= link_to "Shruti Boxes", "/musicals/search?utf8=✓&query=Shruti+Boxes&category=&commit=Go" %></li>
        <li><%= link_to "Neys", "/musicals/search?utf8=✓&query=Neys&category=&commit=Go" %></li>
        <li><%= link_to "Shofars", "/musicals/search?utf8=✓&query=Shofars&category=&commit=Go" %></li>
        <li><%= link_to "Pan Pipes", "/musicals/search?utf8=✓&query=Pan+Pipes&category=&commit=Go" %></li>
        <li><%= link_to "Kazoos", "/musicals/search?utf8=✓&query=Kazoos&category=&commit=Go" %></li>
        <li><%= link_to "Harmonicas", "/musicals/search?utf8=✓&query=Harmonicas&category=&commit=Go" %></li>
        <li><%= link_to "Didgeridoos", "/musicals/search?utf8=✓&query=Didgeridoos&category=&commit=Go" %></li>
        <li><%= link_to "Shawms", "/musicals/search?utf8=✓&query=Shawms&category=&commit=Go" %></li>
        <li><%= link_to "Jew's Harps", "/musicals/search?utf8=✓&query=Jew+Harps&category=&commit=Go" %></li>
        <li><%= link_to "Whistles", "/musicals/search?utf8=✓&query=Whistles&category=&commit=Go" %></li>
        <li><%= link_to "Ocarinas", "/musicals/search?utf8=✓&query=Ocarinas&category=&commit=Go" %></li>
        <li><%= link_to "Bombards", "/musicals/search?utf8=✓&query=Bombards&category=&commit=Go" %></li>
        <li><%= link_to "Bamboo Flutes", "/musicals/search?utf8=✓&query=Bamboo+Flutes&category=&commit=Go" %></li>
        <li><%= link_to "Fifes", "/musicals/search?utf8=✓&query=Fifes&category=&commit=Go" %></li>
        <li><%= link_to "Shakuhachis", "/musicals/search?utf8=✓&query=Shakuhachis&category=&commit=Go" %></li>
        <li><%= link_to "Suonas", "/musicals/search?utf8=✓&query=Suonas&category=&commit=Go" %></li>
        <li><%= link_to "Shenais", "/musicals/search?utf8=✓&query=Shenais&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Stringed Instruments
      <ul class="current-l">    
        <li><%= link_to "Santoors", "/musicals/search?utf8=✓&query=Santoors&category=&commit=Go" %></li>
        <li><%= link_to "Autoharps", "/musicals/search?utf8=✓&query=Autoharps&category=&commit=Go" %></li>
        <li><%= link_to "Sarods", "/musicals/search?utf8=✓&query=Sarods&category=&commit=Go" %></li>
        <li><%= link_to "Lutes", "/musicals/search?utf8=✓&query=Lutes&category=&commit=Go" %></li>
        <li><%= link_to "Tamburas", "/musicals/search?utf8=✓&query=Tamburas&category=&commit=Go" %></li>
        <li><%= link_to "Psalteries", "/musicals/search?utf8=✓&query=Psalteries&category=&commit=Go" %></li>
        <li><%= link_to "Mandolins", "/musicals/search?utf8=✓&query=Mandolins&category=&commit=Go" %></li>
        <li><%= link_to "Sitars", "/musicals/search?utf8=✓&query=Sitars&category=&commit=Go" %></li>
        <li><%= link_to "Vinas", "/musicals/search?utf8=✓&query=Vinas&category=&commit=Go" %></li>
        <li><%= link_to "Strum Sticks", "/musicals/search?utf8=✓&query=Strum+Sticks&category=&commit=Go" %></li>
        <li><%= link_to "Guzhengs", "/musicals/search?utf8=✓&query=Guzhengs&category=&commit=Go" %></li>
        <li><%= link_to "Ouds", "/musicals/search?utf8=✓&query=Ouds&category=&commit=Go" %></li>
        <li><%= link_to "Bouzoukis", "/musicals/search?utf8=✓&query=Bouzoukis&category=&commit=Go" %></li>
        <li><%= link_to "Dulcimers", "/musicals/search?utf8=✓&query=Dulcimers&category=&commit=Go" %></li>
        <li><%= link_to "Banjos", "/musicals/search?utf8=✓&query=Banjos&category=&commit=Go" %></li>
        <li><%= link_to "Lap & Pedal Steel Guitars", "/musicals/search?utf8=✓&query=Lap+Steel+Guitars&category=&commit=Go" %></li>
        <li><%= link_to "Ukuleles", "/musicals/search?utf8=✓&query=Ukuleles&category=&commit=Go" %></li>
        <li><%= link_to "Zithers", "/musicals/search?utf8=✓&query=Zithers&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
<li>DJ, Electronic Music & Karaoke
  <ul class="current-l">
    
    <li>Karaoke Equipment
      <ul class="current-l">
        <li><%= link_to "Systems", "/musicals/search?utf8=✓&query=Karaoke+Systems&category=&commit=Go" %></li>
        <li><%= link_to "Bags & Cases", "/musicals/search?utf8=✓&query=Karaoke+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Stands & Hardware", "/musicals/search?utf8=✓&query=Karaoke+Stands&category=&commit=Go" %></li>
        <li><%= link_to "Video Monitors", "/musicals/search?utf8=✓&query=Karaoke+Video+Monitors&category=&commit=Go" %></li>
        <li><%= link_to "Players", "/musicals/search?utf8=✓&query=Karaoke+Players&category=&commit=Go" %></li>
      </ul>
    </li>    
    
    <li>Electronic Music
      <ul class="current-l">
        <li><%= link_to "Drum Machines", "/musicals/search?utf8=✓&query=Drum+Machines&category=&commit=Go" %></li>
        <li><%= link_to "Audio Sequencers", "/musicals/search?utf8=✓&query=Audio+Sequencers&category=&commit=Go" %></li>
        <li><%= link_to "Tabletop Synthesizers", "/musicals/search?utf8=✓&query=Tabletop+Synthesizers&category=&commit=Go" %></li>
        <li><%= link_to "Audio Samplers", "/musicals/search?utf8=✓&query=Audio+Samplers&category=&commit=Go" %></li>
        <li><%= link_to "Production Stations", "/musicals/search?utf8=✓&query=Production+Stations&category=&commit=Go" %></li>
        <li><%= link_to "Sound Modules", "/musicals/search?utf8=✓&query=Sound+Modules&category=&commit=Go" %></li>
      </ul>
    </li>    
    
    <li>DJ Equipment
      <ul class="current-l">
        <li><%= link_to "Turntables", "/musicals/search?utf8=✓&query=Turntables&category=&commit=Go" %></li>
        <li><%= link_to "DJ Sets", "/musicals/search?utf8=✓&query=DJ+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Tape Decks", "/musicals/search?utf8=✓&query=Tape+Decks&category=&commit=Go" %></li>
        <li><%= link_to "CD Players", "/musicals/search?utf8=✓&query=CD+Players&category=&commit=Go" %></li>
        <li><%= link_to "Mixers", "/musicals/search?utf8=✓&query=Mixers&category=&commit=Go" %></li>
        <li><%= link_to "Accessories", "/musicals/search?utf8=✓&query=Accessories+DJ&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>    
    
<li>Band & Orchestra
  <ul class="current-l">
    
    <li>Woodwinds
      <ul class="current-l">
        <li><%= link_to "English Horns", "/musicals/search?utf8=✓&query=English+Horns&category=&commit=Go" %></li>
        <li><%= link_to "Oboes", "/musicals/search?utf8=✓&query=Oboes&category=&commit=Go" %></li>
        <li><%= link_to "Piccolos", "/musicals/search?utf8=✓&query=Piccolos&category=&commit=Go" %></li>
        <li><%= link_to "Saxophones", "/musicals/search?utf8=✓&query=Saxophones&category=&commit=Go" %></li>
        <li><%= link_to "Flutes", "/musicals/search?utf8=✓&query=Flutes&category=&commit=Go" %></li>
        <li><%= link_to "Clarinets", "/musicals/search?utf8=✓&query=Clarinets&category=&commit=Go" %></li>
        <li><%= link_to "Bassoons", "/musicals/search?utf8=✓&query=Bassoons&category=&commit=Go" %></li>
        <li><%= link_to "Recorders", "/musicals/search?utf8=✓&query=Recorders&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li>Orchestral Strings
      <ul class="current-l">
        <li><%= link_to "Upright Basses", "/musicals/search?utf8=✓&query=Upright+Basses&category=&commit=Go" %></li>
        <li><%= link_to "Violins", "/musicals/search?utf8=✓&query=Violins&category=&commit=Go" %></li>
        <li><%= link_to "Cellos", "/musicals/search?utf8=✓&query=Cellos&category=&commit=Go" %></li>
        <li><%= link_to "Violas", "/musicals/search?utf8=✓&query=Violas&category=&commit=Go" %></li>
        <li><%= link_to "Harps", "/musicals/search?utf8=✓&query=Harps&category=&commit=Go" %></li>
      </ul>
    </li>      
      
    <li>Brass
      <ul class="current-l">
        <li><%= link_to "Tubas", "/musicals/search?utf8=✓&query=Tubas&category=&commit=Go" %></li>
        <li><%= link_to "Euphoniums", "/musicals/search?utf8=✓&query=Euphoniums&category=&commit=Go" %></li>
        <li><%= link_to "Trumpets", "/musicals/search?utf8=✓&query=Trumpets&category=&commit=Go" %></li>
        <li><%= link_to "French Horns", "/musicals/search?utf8=✓&query=French+Horns&category=&commit=Go" %></li>
        <li><%= link_to "Trombones", "/musicals/search?utf8=✓&query=Trombones&category=&commit=Go" %></li>
        <li><%= link_to "Baritone Horns", "/musicals/search?utf8=✓&query=Baritone+Horns&category=&commit=Go" %></li>
        <li><%= link_to "Sousaphones", "/musicals/search?utf8=✓&query=Sousaphones&category=&commit=Go" %></li>
        <li><%= link_to "Cornets", "/musicals/search?utf8=✓&query=Cornets&category=&commit=Go" %></li>
        <li><%= link_to "Mellophones", "/musicals/search?utf8=✓&query=Mellophones&category=&commit=Go" %></li>
        <li><%= link_to "Alto Horns", "/musicals/search?utf8=✓&query=Alto+Horns&category=&commit=Go" %></li>
        <li><%= link_to "Bugles", "/musicals/search?utf8=✓&query=Bugles&category=&commit=Go" %></li>
        <li><%= link_to "Flugelhorns", "/musicals/search?utf8=✓&query=Flugelhorns&category=&commit=Go" %></li>
      </ul>
    </li>
    
  </ul>
</li>
      
<li>Keyboards
  <ul class="current-l">
      
    <li><%= link_to "Organs", "/musicals/search?utf8=✓&query=Organs&category=&commit=Go" %></li>
      
    <li>World Instruments
      <ul class="current-l">
        <li><%= link_to "Concertinas", "/musicals/search?utf8=✓&query=Concertinas&category=&commit=Go" %></li>
        <li><%= link_to "Thumb Pianos", "/musicals/search?utf8=✓&query=Thumb+Pianos&category=&commit=Go" %></li>
        <li><%= link_to "Harmoniums", "/musicals/search?utf8=✓&query=Harmoniums&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Accordions", "/musicals/search?utf8=✓&query=Accordions&category=&commit=Go" %></li>
      
    <li><%= link_to "Harpsichords", "/musicals/search?utf8=✓&query=Harpsichords&category=&commit=Go" %></li>
      
    <li>Pianos
      <ul class="current-l">
        <li><%= link_to "Baby Grand Pianos", "/musicals/search?utf8=✓&query=Baby+Grand+Pianos&category=&commit=Go" %></li>
        <li><%= link_to "Upright Pianos", "/musicals/search?utf8=✓&query=Upright+Pianos&category=&commit=Go" %></li>
        <li><%= link_to "Grand Pianos", "/musicals/search?utf8=✓&query=Grand+Pianos&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Digital Pianos", "/musicals/search?utf8=✓&query=Digital+Pianos&category=&commit=Go" %></li>
      
    <li><%= link_to "Player Pianos", "/musicals/search?utf8=✓&query=Player+Pianos&category=&commit=Go" %></li>
      
    <li><%= link_to "Electronic Keyboards", "/musicals/search?utf8=✓&query=Electronic+Keyboards&category=&commit=Go" %></li>
  
  </ul>
</li>
      
<li>Studio Recording Equipment
  <ul class="current-l">
    
    <li><%= link_to "Multitrack Recorders", "/musicals/search?utf8=✓&query=Multitrack+Recorders&category=&commit=Go" %></li>
    <li><%= link_to "Mastering Recorders", "/musicals/search?utf8=✓&query=Mastering+Recorders&category=&commit=Go" %></li>
    <li><%= link_to "Portable Recorders", "/musicals/search?utf8=✓&query=Portable+Recorders&category=&commit=Go" %></li>
    <li><%= link_to "Computer Recording", "/musicals/search?utf8=✓&query=Computer+Recording&category=&commit=Go" %></li>
    <li><%= link_to "Studio Monitors", "/musicals/search?utf8=✓&query=Studio+Monitors&category=&commit=Go" %></li>
    
    <li>Studio Environment
      <ul class="current-l">
        <li><%= link_to "Furniture", "/musicals/search?utf8=✓&query=Furniture+Studio&category=&commit=Go" %></li>
        <li><%= link_to "Racks", "/musicals/search?utf8=✓&query=Racks+Studio&category=&commit=Go" %></li>
        <li><%= link_to "Acoustical Treatments", "/musicals/search?utf8=✓&query=Acoustical+Treatments&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Mixers & Accessories", "/musicals/search?utf8=✓&query=Mixers&category=&commit=Go" %></li>
    <li><%= link_to "Power Conditioners", "/musicals/search?utf8=✓&query=Power+Conditioners&category=&commit=Go" %></li>
    <li><%= link_to "Headphone & In-Ear Monitors", "/musicals/search?utf8=✓&query=Headphone+Monitors&category=&commit=Go" %></li>
    <li><%= link_to "Signal Processors", "/musicals/search?utf8=✓&query=Signal+Processors&category=&commit=Go" %></li>
    <li><%= link_to "Microphones & Accessories", "/musicals/search?utf8=✓&query=Microphones&category=&commit=Go" %></li>
      
  </ul>
</li>      
      
<li>Guitars
  <ul class="current-l">
    <li><%= link_to "Electric Guitars", "/musicals/search?utf8=✓&query=Electric+Guitars&category=&commit=Go" %></li>
    <li><%= link_to "Acoustic-Electric Guitars", "/musicals/search?utf8=✓&query=Acoustic-Electric+Guitars&category=&commit=Go" %></li>
    <li><%= link_to "Classical & Nylon-String Guitars", "/musicals/search?utf8=✓&query=Classical+Guitars&category=&commit=Go" %></li>
    <li><%= link_to "Acoustic Guitars", "/musicals/search?utf8=✓&query=Acoustic+Guitars&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Drums & Percussion
  <ul class="current-l">
    <li><%= link_to "Marching Percussion", "/musicals/search?utf8=✓&query=Marching+Percussion&category=&commit=Go" %></li>
    <li><%= link_to "Hand Percussion", "/musicals/search?utf8=✓&query=Hand+Percussion&category=&commit=Go" %></li>
    <li><%= link_to "Concert Percussion", "/musicals/search?utf8=✓&query=Concert+Percussion&category=&commit=Go" %></li>
    <li><%= link_to "Electronic Drums", "/musicals/search?utf8=✓&query=Electronic+Drums&category=&commit=Go" %></li>
    <li><%= link_to "Drum Sets & Set Components", "/musicals/search?utf8=✓&query=Drum+Sets&category=&commit=Go" %></li>
    <li><%= link_to "Hand Drums", "/musicals/search?utf8=✓&query=Hand+Drums&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Bass Guitars
  <ul class="current-l">
    <li><%= link_to "Electric Basses", "/musicals/search?utf8=✓&query=Electric+Basses&category=&commit=Go" %></li>
    <li><%= link_to "Beginner Kits", "/musicals/search?utf8=✓&query=Beginner+Bass+Guitar&category=&commit=Go" %></li>
    <li><%= link_to "Acoustic & Acoustic-Electric Basses", "/musicals/search?utf8=✓&query=Acoustic+Basses&category=&commit=Go" %></li>
  </ul>
</li>
      
    </ul>    
</div>

<%= render 'shared/catlists/js_for_lists' %>

<hr>