<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Patio Furniture & Accessories
  <ul class="current-l">
  
    <li><%= link_to "Porch Swings", "/outdoors/search?utf8=✓&query=Porch+Swings&category=&commit=Go" %></li>
    <li><%= link_to "Benches", "/outdoors/search?utf8=✓&query=Benches&category=&commit=Go" %></li>
    <li><%= link_to "Ottomans", "/outdoors/search?utf8=✓&query=Ottomans&category=&commit=Go" %></li>
    <li><%= link_to "Sofas", "/outdoors/search?utf8=✓&query=Sofas&category=&commit=Go" %></li>
    <li><%= link_to "Loveseats", "/outdoors/search?utf8=✓&query=Loveseats&category=&commit=Go" %></li>
    <li><%= link_to "Chairs", "/outdoors/search?utf8=✓&query=Chairs&category=&commit=Go" %></li>
    <li><%= link_to "Cushions", "/outdoors/search?utf8=✓&query=Cushions&category=&commit=Go" %></li>
    <li><%= link_to "Hammocks, Stands & Accessories", "/outdoors/search?utf8=✓&query=Hammocks&category=&commit=Go" %></li>
    <li><%= link_to "Umbrellas, Canopies & Shade", "/outdoors/search?utf8=✓&query=Umbrellas&category=&commit=Go" %></li>
    <li><%= link_to "Decorative Pillows", "/outdoors/search?utf8=✓&query=Decorative+Pillows&category=&commit=Go" %></li>
    <li><%= link_to "Tables", "/outdoors/search?utf8=✓&query=Tables&category=&commit=Go" %></li>
    <li><%= link_to "Patio Furniture Covers", "/outdoors/search?utf8=✓&query=Patio+Furniture+Covers&category=&commit=Go" %></li>
    <li><%= link_to "Storage Benches", "/outdoors/search?utf8=✓&query=Storage+Benches&category=&commit=Go" %></li>
    <li><%= link_to "Patio Furniture Sets", "/outdoors/search?utf8=✓&query=Patio+Furniture+Sets&category=&commit=Go" %></li>
    <li><%= link_to "Gliders", "/outdoors/search?utf8=✓&query=Gliders&category=&commit=Go" %></li>
  
  </ul>
</li>
      
<li>Snow Removal
  <ul class="current-l">
  
    <li><%= link_to "Snow Rakes", "/outdoors/search?utf8=✓&query=Snow+Rakes&category=&commit=Go" %></li>
    <li><%= link_to "Snow Throwers", "/outdoors/search?utf8=✓&query=Snow+Throwers&category=&commit=Go" %></li>
    <li><%= link_to "Snow Shovels", "/outdoors/search?utf8=✓&query=Snow+Shovels&category=&commit=Go" %></li>
    <li><%= link_to "De-Icers & Salt Spreaders", "/outdoors/search?utf8=✓&query=De-Icers&category=&commit=Go" %></li>
    <li><%= link_to "Snowplows", "/outdoors/search?utf8=✓&query=Snowplows&category=&commit=Go" %></li>
  
  </ul>
</li>
      
<li>Gardening
  <ul class="current-l">
    
    <li>Weed & Moss Control
      <ul class="current-l">
        <li><%= link_to "Moss Control", "/outdoors/search?utf8=✓&query=Moss+Control&category=&commit=Go" %></li>
        <li><%= link_to "Weed Killers", "/outdoors/search?utf8=✓&query=Weed+Killers&category=&commit=Go" %></li>
        <li><%= link_to "Weed Barrier Fabric", "/outdoors/search?utf8=✓&query=Weed+Barrier+Fabric&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Garden Structures
      <ul class="current-l">
        <li><%= link_to "Garden Netting", "/outdoors/search?utf8=✓&query=Garden+Netting&category=&commit=Go" %></li>
        <li><%= link_to "Garden Border Edging", "/outdoors/search?utf8=✓&query=Garden+Border+Edging&category=&commit=Go" %></li>
        <li><%= link_to "Garden Bridges", "/outdoors/search?utf8=✓&query=Garden+Bridges&category=&commit=Go" %></li>
        <li><%= link_to "Raised Garden Kits", "/outdoors/search?utf8=✓&query=Raised+Garden+Kits&category=&commit=Go" %></li>
        <li><%= link_to "Plant Cages & Supports", "/outdoors/search?utf8=✓&query=Plant+Cages&category=&commit=Go" %></li>
        <li><%= link_to "Garden Stakes", "/outdoors/search?utf8=✓&query=Garden+Stakes&category=&commit=Go" %></li>
        <li><%= link_to "Trellises", "/outdoors/search?utf8=✓&query=Trellises&category=&commit=Go" %></li>
        <li><%= link_to "Arbors", "/outdoors/search?utf8=✓&query=Arbors&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li>Gardening Tools
      <ul class="current-l">
        <li><%= link_to "Saws", "/outdoors/search?utf8=✓&query=Saws&category=&commit=Go" %></li>
        <li><%= link_to "Soil Testers", "/outdoors/search?utf8=✓&query=Soil+Testers&category=&commit=Go" %></li>
        <li><%= link_to "Hedge Shears", "/outdoors/search?utf8=✓&query=Hedge+Shears&category=&commit=Go" %></li>
        <li><%= link_to "Manual Weeders", "/outdoors/search?utf8=✓&query=Manual+Weeders&category=&commit=Go" %></li>
        <li><%= link_to "Manual Lawn Aerators", "/outdoors/search?utf8=✓&query=Manual+Lawn+Aerators&category=&commit=Go" %></li>
        <li><%= link_to "Rakes", "/outdoors/search?utf8=✓&query=Rakes&category=&commit=Go" %></li>
        <li><%= link_to "Forks", "/outdoors/search?utf8=✓&query=Forks&category=&commit=Go" %></li>
        <li><%= link_to "Tool Sets", "/outdoors/search?utf8=✓&query=Tool+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Picks", "/outdoors/search?utf8=✓&query=Picks&category=&commit=Go" %></li>
        <li><%= link_to "Hoes", "/outdoors/search?utf8=✓&query=Hoes&category=&commit=Go" %></li>
        <li><%= link_to "Post Hole Diggers", "/outdoors/search?utf8=✓&query=Post+Hole+Diggers&category=&commit=Go" %></li>
        <li><%= link_to "Trowels", "/outdoors/search?utf8=✓&query=Trowels&category=&commit=Go" %></li>
        <li><%= link_to "Scissors", "/outdoors/search?utf8=✓&query=Scissors&category=&commit=Go" %></li>
        <li><%= link_to "Bonsai Tools", "/outdoors/search?utf8=✓&query=Bonsai+Tools&category=&commit=Go" %></li>
        <li><%= link_to "Axes", "/outdoors/search?utf8=✓&query=Axes&category=&commit=Go" %></li>
        <li><%= link_to "Grass Shears", "/outdoors/search?utf8=✓&query=Grass+Shears&category=&commit=Go" %></li>
        <li><%= link_to "Pruners", "/outdoors/search?utf8=✓&query=Pruners&category=&commit=Go" %></li>
        <li><%= link_to "Machetes", "/outdoors/search?utf8=✓&query=Machetes&category=&commit=Go" %></li>
        <li><%= link_to "Hand Edgers", "/outdoors/search?utf8=✓&query=Hand+Edgers&category=&commit=Go" %></li>
        <li><%= link_to "Garden Twine & Twist Ties", "/outdoors/search?utf8=✓&query=Garden+Twine&category=&commit=Go" %></li>
        <li><%= link_to "Bulb Planters", "/outdoors/search?utf8=✓&query=Bulb+Planters&category=&commit=Go" %></li>
        <li><%= link_to "Spades", "/outdoors/search?utf8=✓&query=Spades&category=&commit=Go" %></li>
        <li><%= link_to "Cultivators & Tillers", "/outdoors/search?utf8=✓&query=Cultivators&category=&commit=Go" %></li>
        <li><%= link_to "Shovels", "/outdoors/search?utf8=✓&query=Shovels&category=&commit=Go" %></li>
        <li><%= link_to "Loppers", "/outdoors/search?utf8=✓&query=Loppers&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Gardening Accessories
      <ul class="current-l">
        <li><%= link_to "Gloves", "/outdoors/search?utf8=✓&query=Gloves&category=&commit=Go" %></li>
        <li><%= link_to "Aprons", "/outdoors/search?utf8=✓&query=Aprons&category=&commit=Go" %></li>
        <li><%= link_to "Knee Pads, Cushions & Stools", "/outdoors/search?utf8=✓&query=Knee+Pads&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li><%= link_to "Sprayers", "/outdoors/search?utf8=✓&query=Sprayers&category=&commit=Go" %></li>
    
    <li>Plant Germination Equipment
      <ul class="current-l">
        <li><%= link_to "Growing Lamps", "/outdoors/search?utf8=✓&query=Growing+Lamps&category=&commit=Go" %></li>
        <li><%= link_to "Heating Quilts & Mats", "/outdoors/search?utf8=✓&query=Heating+Quilts&category=&commit=Go" %></li>
        <li><%= link_to "Growing Light Bulbs", "/outdoors/search?utf8=✓&query=Growing+Light+Bulbs&category=&commit=Go" %></li>
        <li><%= link_to "Growing Tents", "/outdoors/search?utf8=✓&query=Growing+Tents&category=&commit=Go" %></li>
        <li><%= link_to "Germination Trays", "/outdoors/search?utf8=✓&query=Germination+Trays&category=&commit=Go" %></li>
        <li><%= link_to "Germination Kits", "/outdoors/search?utf8=✓&query=Germination+Kits&category=&commit=Go" %></li>
        <li><%= link_to "Ballast Assemblies", "/outdoors/search?utf8=✓&query=Ballast+Assemblies&category=&commit=Go" %></li>
        <li><%= link_to "Growing Light Fixtures", "/outdoors/search?utf8=✓&query=Growing+Light+Fixtures&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li><%= link_to "Greenhouses", "/outdoors/search?utf8=✓&query=Greenhouses&category=&commit=Go" %></li>
    
    <li>Outdoor Carts & Bins
      <ul class="current-l">
        <li><%= link_to "Composting Bins", "/outdoors/search?utf8=✓&query=Composting+Bins&category=&commit=Go" %></li>
        <li><%= link_to "Carts", "/outdoors/search?utf8=✓&query=Carts&category=&commit=Go" %></li>
        <li><%= link_to "Wheelbarrows", "/outdoors/search?utf8=✓&query=Wheelbarrows&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li>Plants, Seeds & Bulbs
      <ul class="current-l">
        <li><%= link_to "Grasses", "/outdoors/search?utf8=✓&query=Grasses&category=&commit=Go" %></li>
        <li><%= link_to "Trees", "/outdoors/search?utf8=✓&query=Trees&category=&commit=Go" %></li>
        <li><%= link_to "Flowers", "/outdoors/search?utf8=✓&query=Flowers&category=&commit=Go" %></li>
        <li><%= link_to "Herbs", "/outdoors/search?utf8=✓&query=Herbs&category=&commit=Go" %></li>
        <li><%= link_to "Vegetables", "/outdoors/search?utf8=✓&query=Vegetables&category=&commit=Go" %></li>
        <li><%= link_to "Aquatic Plants", "/outdoors/search?utf8=✓&query=Aquatic+Plants&category=&commit=Go" %></li>
        <li><%= link_to "Cacti & Succulents", "/outdoors/search?utf8=✓&query=Cacti&category=&commit=Go" %></li>
        <li><%= link_to "Fruits", "/outdoors/search?utf8=✓&query=Fruits&category=&commit=Go" %></li>
        <li><%= link_to "Shrubs", "/outdoors/search?utf8=✓&query=Shrubs&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Plant Containers
      <ul class="current-l">
        <li><%= link_to "Grow Bags", "/outdoors/search?utf8=✓&query=Grow+Bags&category=&commit=Go" %></li>
        <li><%= link_to "Planters", "/outdoors/search?utf8=✓&query=Planters&category=&commit=Go" %></li>
        <li><%= link_to "Urns", "/outdoors/search?utf8=✓&query=Urns&category=&commit=Go" %></li>
        <li><%= link_to "Window Boxes", "/outdoors/search?utf8=✓&query=Window+Boxes&category=&commit=Go" %></li>
        <li><%= link_to "Boxes", "/outdoors/search?utf8=✓&query=Boxes&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li>Plant Container Accessories
      <ul class="current-l">
        <li><%= link_to "Saucers", "/outdoors/search?utf8=✓&query=Saucers&category=&commit=Go" %></li>
        <li><%= link_to "Racks", "/outdoors/search?utf8=✓&query=Racks&category=&commit=Go" %></li>
        <li><%= link_to "Hooks & Hangers", "/outdoors/search?utf8=✓&query=Hooks&category=&commit=Go" %></li>
        <li><%= link_to "Stands", "/outdoors/search?utf8=✓&query=Stands&category=&commit=Go" %></li>
      </ul>
    </li>  
    
    <li><%= link_to "Spreaders", "/outdoors/search?utf8=✓&query=Spreaders&category=&commit=Go" %></li>

    <li>Soils, Fertilizers & Mulches
      <ul class="current-l">
        <li><%= link_to "Fertilizers & Plant Food", "/outdoors/search?utf8=✓&query=Fertilizers&category=&commit=Go" %></li>
        <li><%= link_to "Mulches", "/outdoors/search?utf8=✓&query=Mulches&category=&commit=Go" %></li>
        <li><%= link_to "Soils", "/outdoors/search?utf8=✓&query=Soils&category=&commit=Go" %></li>
      </ul>
    </li>    
    
    <li>Watering Equipment
      <ul class="current-l">
        <li><%= link_to "Wands", "/outdoors/search?utf8=✓&query=Wands&category=&commit=Go" %></li>
        <li><%= link_to "Rain Barrels", "/outdoors/search?utf8=✓&query=Rain+Barrels&category=&commit=Go" %></li>
        <li><%= link_to "Nozzles", "/outdoors/search?utf8=✓&query=Nozzles&category=&commit=Go" %></li>
        <li><%= link_to "Faucets", "/outdoors/search?utf8=✓&query=Faucets&category=&commit=Go" %></li>
        <li><%= link_to "Sprinklers", "/outdoors/search?utf8=✓&query=Sprinklers&category=&commit=Go" %></li>
        <li><%= link_to "Automatic Irrigation Equipment", "/outdoors/search?utf8=✓&query=Automatic+Irrigation&category=&commit=Go" %></li>
        <li><%= link_to "Hoses & Accessories", "/outdoors/search?utf8=✓&query=Hoses&category=&commit=Go" %></li>
        <li><%= link_to "Watering Cans", "/outdoors/search?utf8=✓&query=Watering+Cans&category=&commit=Go" %></li>
        <li><%= link_to "Hose Timers", "/outdoors/search?utf8=✓&query=Hose+Timers&category=&commit=Go" %></li>
      </ul>
    </li>
    
    <li><%= link_to "Plant Covers", "/outdoors/search?utf8=✓&query=Plant+Covers&category=&commit=Go" %></li> 
    
  </ul>
</li>
      
<li>Grills & Outdoor Cooking
  <ul class="current-l">
      
    <li>Barbecue Utensils
      <ul class="current-l">
        <li><%= link_to "Barbecue Forks", "/outdoors/search?utf8=✓&query=Barbecue+Forks&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue Turners", "/outdoors/search?utf8=✓&query=Barbecue+Turners&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue Tool Sets", "/outdoors/search?utf8=✓&query=Barbecue+Tool+Sets&category=&commit=Go" %></li>
        <li><%= link_to "Basting Brushes", "/outdoors/search?utf8=✓&query=Basting+Brushes&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue Tongs", "/outdoors/search?utf8=✓&query=Barbecue+Tongs&category=&commit=Go" %></li>
        <li><%= link_to "Barbecue Skewers", "/outdoors/search?utf8=✓&query=Barbecue+Skewers&category=&commit=Go" %></li>
      </ul>
    </li>
      
    <li><%= link_to "Smokers", "/outdoors/search?utf8=✓&query=Smokers&category=&commit=Go" %></li>
      
    <li><%= link_to "Picnic Baskets & Accessories", "/outdoors/search?utf8=✓&query=Picnic+Baskets&category=&commit=Go" %></li>
      
    <li><%= link_to "Grill Replacement Parts", "/outdoors/search?utf8=✓&query=Grill+Replacement&category=&commit=Go" %></li>
      
    <li><%= link_to "Combination Grill-Smokers", "/outdoors/search?utf8=✓&query=Grill-Smokers&category=&commit=Go" %></li>
      
    <li><%= link_to "Grill & Smoker Accessories", "/outdoors/search?utf8=✓&query=Grill+Smoker&category=&commit=Go" %></li>
      
    <li><%= link_to "Outdoor Fryer Accessories", "/outdoors/search?utf8=✓&query=Outdoor+Fryer&category=&commit=Go" %></li>
      
    <li><%= link_to "Grills", "/outdoors/search?utf8=✓&query=Grills&category=&commit=Go" %></li>
      
    <li><%= link_to "Outdoor Kitchens", "/outdoors/search?utf8=✓&query=Kitchens&category=&commit=Go" %></li>
      
    <li><%= link_to "Turkey Fryers & Outdoor Cookers", "/outdoors/search?utf8=✓&query=Turkey+Fryers&category=&commit=Go" %></li>
    
  </ul>
</li>
      
      
<li>Pools, Hot Tubs & Supplies
  <ul class="current-l">
    <li><%= link_to "Swimming Pools", "/outdoors/search?utf8=✓&query=Swimming+Pools&category=&commit=Go" %></li>
    <li><%= link_to "Saunas", "/outdoors/search?utf8=✓&query=Saunas&category=&commit=Go" %></li>
    <li><%= link_to "Parts & Accessories", "/outdoors/search?utf8=✓&query=Parts+Pool&category=&commit=Go" %></li>
    <li><%= link_to "Cleaning Tools & Attachments", "/outdoors/search?utf8=✓&query=Cleaning&category=&commit=Go" %></li>
    <li><%= link_to "Filter Cartridges & Media", "/outdoors/search?utf8=✓&query=Filter+Cartridges&category=&commit=Go" %></li>
    <li><%= link_to "Safety Products", "/outdoors/search?utf8=✓&query=Safety+Pool&category=&commit=Go" %></li>
    <li><%= link_to "Pumps", "/outdoors/search?utf8=✓&query=Pumps&category=&commit=Go" %></li>
    <li><%= link_to "Filters", "/outdoors/search?utf8=✓&query=Filters&category=&commit=Go" %></li>
    <li><%= link_to "Heaters & Accessories", "/outdoors/search?utf8=✓&query=Heaters+Water&category=&commit=Go" %></li>
    <li><%= link_to "Liners", "/outdoors/search?utf8=✓&query=Liners&category=&commit=Go" %></li>
    <li><%= link_to "Hot Tubs", "/outdoors/search?utf8=✓&query=Hot+Tubs&category=&commit=Go" %></li>
    <li><%= link_to "Pool & Deck Repair Products", "/outdoors/search?utf8=✓&query=Deck+Repair&category=&commit=Go" %></li>
    <li><%= link_to "Slides, Ladders & Diving Boards", "/outdoors/search?utf8=✓&query=Ladders&category=&commit=Go" %></li>
    <li><%= link_to "Chemicals & Water Testing Products", "/outdoors/search?utf8=✓&query=Water+Testing&category=&commit=Go" %></li>
    <li><%= link_to "Lighting Products", "/outdoors/search?utf8=✓&query=Lighting&category=&commit=Go" %></li>
    <li><%= link_to "Covers", "/outdoors/search?utf8=✓&query=Covers+Pool&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Generators & Portable Power
  <ul class="current-l">
    <li><%= link_to "Generator Accessories", "/outdoors/search?utf8=✓&query=Generator+Accessories&category=&commit=Go" %></li>
    <li><%= link_to "Generators", "/outdoors/search?utf8=✓&query=Generators&category=&commit=Go" %></li>
    <li><%= link_to "Solar & Wind Power", "/outdoors/search?utf8=✓&query=Solar+Power&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Outdoor Heaters & Fire Pits
  <ul class="current-l">
    <li><%= link_to "Outdoor Heaters", "/outdoors/search?utf8=✓&query=Outdoor+Heaters&category=&commit=Go" %></li>
    <li><%= link_to "Outdoor Fireplaces", "/outdoors/search?utf8=✓&query=Outdoor+Fireplaces&category=&commit=Go" %></li>
    <li><%= link_to "Fire Pits & Bowls", "/outdoors/search?utf8=✓&query=Fire+Pits&category=&commit=Go" %></li>
    <li><%= link_to "Chimineas", "/outdoors/search?utf8=✓&query=Chimineas&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Outdoor Décor
  <ul class="current-l">
    <li><%= link_to "Flags", "/outdoors/search?utf8=✓&query=Flags&category=&commit=Go" %></li>
    <li><%= link_to "Seasonal Décor", "/outdoors/search?utf8=✓&query=Seasonal+Décor&category=&commit=Go" %></li>
    <li><%= link_to "Wind Sculptures & Spinners", "/outdoors/search?utf8=✓&query=Wind+Sculptures&category=&commit=Go" %></li>
    <li><%= link_to "Wind Gauges", "/outdoors/search?utf8=✓&query=Wind+Gauges&category=&commit=Go" %></li>
    <li><%= link_to "Rain Chains", "/outdoors/search?utf8=✓&query=Rain+Chains&category=&commit=Go" %></li>
    <li><%= link_to "Fountains", "/outdoors/search?utf8=✓&query=Fountains&category=&commit=Go" %></li>
    <li><%= link_to "Outdoor Clocks", "/outdoors/search?utf8=✓&query=Outdoor+Clocks&category=&commit=Go" %></li>
    <li><%= link_to "Doormats", "/outdoors/search?utf8=✓&query=Doormats&category=&commit=Go" %></li>
    <li><%= link_to "Flagpole Hardware", "/outdoors/search?utf8=✓&query=Flagpole&category=&commit=Go" %></li>
    <li><%= link_to "Fountain Accessories", "/outdoors/search?utf8=✓&query=Fountain&category=&commit=Go" %></li>
    <li><%= link_to "Plaques", "/outdoors/search?utf8=✓&query=Plaques&category=&commit=Go" %></li>
    <li><%= link_to "Rain Gauges", "/outdoors/search?utf8=✓&query=Rain+Gauges&category=&commit=Go" %></li>
    <li><%= link_to "Yard Signs", "/outdoors/search?utf8=✓&query=Yard+Signs&category=&commit=Go" %></li>
    <li><%= link_to "Sundials", "/outdoors/search?utf8=✓&query=Sundials&category=&commit=Go" %></li>
    <li><%= link_to "Outdoor Thermometers", "/outdoors/search?utf8=✓&query=Outdoor+Thermometers&category=&commit=Go" %></li>
    <li><%= link_to "Weathervanes", "/outdoors/search?utf8=✓&query=Weathervanes&category=&commit=Go" %></li>
    <li><%= link_to "Decorative Fences", "/outdoors/search?utf8=✓&query=Decorative+Fences&category=&commit=Go" %></li>
    <li><%= link_to "Cupolas & Accessories", "/outdoors/search?utf8=✓&query=Cupolas&category=&commit=Go" %></li>
    <li><%= link_to "Lighting", "/outdoors/search?utf8=✓&query=Lighting&category=&commit=Go" %></li>
    <li><%= link_to "Water Gardens & Ponds", "/outdoors/search?utf8=✓&query=Water+Gardens&category=&commit=Go" %></li>
    <li><%= link_to "Outdoor Curtains", "/outdoors/search?utf8=✓&query=Outdoor+Curtains&category=&commit=Go" %></li>
    <li><%= link_to "Garden Sculptures & Statues", "/outdoors/search?utf8=✓&query=Garden+Sculptures&category=&commit=Go" %></li>
    <li><%= link_to "Chimes", "/outdoors/search?utf8=✓&query=Chimes&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Backyard Birding & Wildlife
  <ul class="current-l">
    <li><%= link_to "Bats", "/outdoors/search?utf8=✓&query=Bats&category=&commit=Go" %></li>
    <li><%= link_to "Squirrels", "/outdoors/search?utf8=✓&query=Squirrels&category=&commit=Go" %></li>
    <li><%= link_to "Butterflies", "/outdoors/search?utf8=✓&query=Butterflies&category=&commit=Go" %></li>
    <li><%= link_to "Birds", "/outdoors/search?utf8=✓&query=Birds&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Pest Control
  <ul class="current-l">
    <li><%= link_to "Foggers", "/outdoors/search?utf8=✓&query=Foggers&category=&commit=Go" %></li>
    <li><%= link_to "Repellents", "/outdoors/search?utf8=✓&query=Repellents&category=&commit=Go" %></li>
    <li><%= link_to "Beneficial Insects", "/outdoors/search?utf8=✓&query=Beneficial+Insects&category=&commit=Go" %></li>
    <li><%= link_to "Lures", "/outdoors/search?utf8=✓&query=Lures&category=&commit=Go" %></li>
    <li><%= link_to "Sprayers", "/outdoors/search?utf8=✓&query=Sprayers+Pest&category=&commit=Go" %></li>
    <li><%= link_to "Traps", "/outdoors/search?utf8=✓&query=Traps&category=&commit=Go" %></li>
    <li><%= link_to "Insect Zappers", "/outdoors/search?utf8=✓&query=Insect+Zappers&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Outdoor Storage
  <ul class="current-l">
    <li><%= link_to "Storage Sheds", "/outdoors/search?utf8=✓&query=Storage+Sheds&category=&commit=Go" %></li>
    <li><%= link_to "Deck Boxes", "/outdoors/search?utf8=✓&query=Deck+Boxes&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Mowers & Outdoor Power Tools
  <ul class="current-l">
    
    <li>Outdoor Power Tools
      <ul class="current-l">
        Hedge Trimmers
        Edgers
        Log Splitters
        Pressure Washers
        String Trimmers
        Blowers & Vacuums
        Chain Saws
        Chippers, Shredders & Mulchers
        Pole Saws
        Metal Detectors
        Tillers
        Weed Torches
      </ul>
    </li>
    
    <li>Mowers & Tractors 
      <ul class="current-l">
        Walk-Behind Mowers
        Riding Mowers & Tractors
      </ul>
    </li>
    
  </ul>
</li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>