<hr>

<div id="nav-listz" align="left">  
    <ul>      
      
<li>Oral Hygiene
  <ul class="current-l"> 
    <li><%= link_to "Dental Picks", "/personals/search?utf8=✓&query=Dental+Picks&category=&commit=Go" %></li> 
    <li><%= link_to "Gum Stimulators", "/personals/search?utf8=✓&query=Gum+Stimulators&category=&commit=Go" %></li> 
    <li><%= link_to "Toothpaste", "/personals/search?utf8=✓&query=Toothpaste&category=&commit=Go" %></li> 
    <li><%= link_to "Teeth Whitening", "/personals/search?utf8=✓&query=Teeth+Whitening&category=&commit=Go" %></li> 
    <li><%= link_to "Orthodontic Supplies", "/personals/search?utf8=✓&query=Orthodontic&category=&commit=Go" %></li> 
    <li><%= link_to "Power Toothbrushes", "/personals/search?utf8=✓&query=Power+Toothbrushes&category=&commit=Go" %></li> 
    <li><%= link_to "Manual Toothbrushes", "/personals/search?utf8=✓&query=Manual+Toothbrushes&category=&commit=Go" %></li> 
    <li><%= link_to "Dental Mirrors", "/personals/search?utf8=✓&query=Dental+Mirrors&category=&commit=Go" %></li> 
    <li><%= link_to "Mouthwash", "/personals/search?utf8=✓&query=  &category=&commit=Go" %></li> 
    <li><%= link_to "Oral Irrigators", "/personals/search?utf8=✓&query=Oral+Irrigators&category=&commit=Go" %></li> 
    <li><%= link_to "Denture Care", "/personals/search?utf8=✓&query=Denture+Care&category=&commit=Go" %></li> 
    <li><%= link_to "Breath Fresheners", "/personals/search?utf8=✓&query=Breath+Fresheners&category=&commit=Go" %></li> 
    <li><%= link_to "Dental Floss & Flossers", "/personals/search?utf8=✓&query=Dental+Floss&category=&commit=Go" %></li> 
  </ul>
</li>
      
<li>Feminine Hygiene
  <ul class="current-l"> 
    <li><%= link_to "Alternative Protection", "/personals/search?utf8=✓&query=Alternative+Protection+Feminine&category=&commit=Go" %></li> 
    <li><%= link_to "Sanitary Napkins", "/personals/search?utf8=✓&query=Sanitary+Napkins&category=&commit=Go" %></li> 
    <li><%= link_to "Tampons", "/personals/search?utf8=✓&query=Tampons&category=&commit=Go" %></li> 
    <li><%= link_to "Panty Liners", "/personals/search?utf8=✓&query=Panty+Liners&category=&commit=Go" %></li> 
    <li><%= link_to "Feminine Powders", "/personals/search?utf8=✓&query=Feminine+Powders&category=&commit=Go" %></li> 
    <li><%= link_to "Deodorants", "/personals/search?utf8=✓&query=Deodorants+Female&category=&commit=Go" %></li> 
    <li><%= link_to "Female Moisturizers", "/personals/search?utf8=✓&query=Female+Moisturizers&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Shaving & Hair Removal
  <ul class="current-l"> 
    <li><%= link_to "Shaving Sets", "/personals/search?utf8=✓&query=Shaving+Sets&category=&commit=Go" %></li> 
    <li><%= link_to "Electric Shavers", "/personals/search?utf8=✓&query=Electric+Shavers&category=&commit=Go" %></li> 
    <li><%= link_to "Accessories", "/personals/search?utf8=✓&query=Accessories+Shaving&category=&commit=Go" %></li> 
    <li><%= link_to "Creams, Balms & Aftershaves", "/personals/search?utf8=✓&query=Aftershaves&category=&commit=Go" %></li> 
    <li><%= link_to "Trimmers & Clippers", "/personals/search?utf8=✓&query=Trimmers&category=&commit=Go" %></li> 
    <li><%= link_to "Hair Removal", "/personals/search?utf8=✓&query=Hair+Removal&category=&commit=Go" %></li> 
    <li><%= link_to "Manual Shaving", "/personals/search?utf8=✓&query=Manual+Shaving&category=&commit=Go" %></li> 
  </ul>
</li>    
      
<li>Deodorants & Antiperspirants
  <ul class="current-l"> 
    <li><%= link_to "Antiperspirants", "/personals/search?utf8=✓&query=Antiperspirants&category=&commit=Go" %></li> 
    <li><%= link_to "Women's Deodorants & Antiperspirants", "/personals/search?utf8=✓&query=Women+Deodorants&category=&commit=Go" %></li> 
    <li><%= link_to "Deodorants", "/personals/search?utf8=✓&query=Deodorants&category=&commit=Go" %></li> 
    <li><%= link_to "Men's Deodorants & Antiperspirants", "/personals/search?utf8=✓&query=Men+Deodorants&category=&commit=Go" %></li> 
    <li><%= link_to "Combination Deodorants & Antiperspirants", "/personals/search?utf8=✓&query=Deodorants+Antiperspirants&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Lip Care Products
  <ul class="current-l"> 
    <li><%= link_to "Sunscreen", "/personals/search?utf8=✓&query=Sunscreen&category=&commit=Go" %></li> 
    <li><%= link_to "Balms", "/personals/search?utf8=✓&query=Balms&category=&commit=Go" %></li> 
    <li><%= link_to "Scrubs", "/personals/search?utf8=✓&query=Scrubs&category=&commit=Go" %></li> 
  </ul>
</li>     
      
<li>Foot Care
  <ul class="current-l"> 
    <li><%= link_to "Callus Stones", "/personals/search?utf8=✓&query=Callus+Stones&category=&commit=Go" %></li> 
    <li><%= link_to "Callus Shavers", "/personals/search?utf8=✓&query=Callus+Shavers&category=&commit=Go" %></li> 
    <li><%= link_to "Moisturizing Socks", "/personals/search?utf8=✓&query=Moisturizing+Socks&category=&commit=Go" %></li> 
    <li><%= link_to "Odor Control", "/personals/search?utf8=✓&query=Odor+Control&category=&commit=Go" %></li> 
    <li><%= link_to "Scrubs, Salts & Soaks", "/personals/search?utf8=✓&query=Scrubs+Foot&category=&commit=Go" %></li> 
    <li><%= link_to "Foot Creams & Lotions", "/personals/search?utf8=✓&query=Foot+Creams&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Eye Care
  <ul class="current-l"> 
    <li><%= link_to "Eye Drops, Lubricants & Washes", "/personals/search?utf8=✓&query=Eye+Drops&category=&commit=Go" %></li> 
    <li><%= link_to "Reading Glasses", "/personals/search?utf8=✓&query=Reading+Glasses&category=&commit=Go" %></li> 
    <li><%= link_to "Contact Lens Care", "/personals/search?utf8=✓&query=Contact+Lens&category=&commit=Go" %></li> 
    <li><%= link_to "Eyeglasses Care", "/personals/search?utf8=✓&query=Eyeglasses+Care&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Ear Care
  <ul class="current-l"> 
    <li><%= link_to "Earwax Removal", "/personals/search?utf8=✓&query=Earwax+Removal&category=&commit=Go" %></li> 
    <li><%= link_to "Ear Syringes", "/personals/search?utf8=✓&query=Ear+Syringes&category=&commit=Go" %></li> 
    <li><%= link_to "Earplugs", "/personals/search?utf8=✓&query=Earplugs&category=&commit=Go" %></li> 
    <li><%= link_to "Ear Drops", "/personals/search?utf8=✓&query=Ear+Drops&category=&commit=Go" %></li> 
  </ul>
</li>     
      
<li>Body Art
  <ul class="current-l"> 
    <li><%= link_to "Piercing Supplies", "/personals/search?utf8=✓&query=Piercing&category=&commit=Go" %></li> 
    <li><%= link_to "Tattooing Supplies", "/personals/search?utf8=✓&query=Tattooing&category=&commit=Go" %></li> 
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>