<hr>

<div id="nav-listz">  
    <ul>      
      
      <li>Accessories
         <ul class="current-l">
           <li><%= link_to "Surveillance Camera Cables", "/securits/search?utf8=✓&query=Surveillance+Camera+Cable&category=&commit=Go" %></li>
           <li><%= link_to "Voice Dialers", "/securits/search?utf8=✓&query=Voice+Dialer&category=&commit=Go" %></li>
           <li><%= link_to "Access-Control Keypads", "/securits/search?utf8=✓&query=Access-Control+Keypad&category=&commit=Go" %></li>
           <li><%= link_to "Installation Services", "/securits/search?utf8=✓&query=Installation&category=&commit=Go" %></li>
           <li><%= link_to "Surveillance Housing & Mounting Brackets", "/securits/search?utf8=✓&query=Surveillance+Housing+Mounting+Bracket&category=&commit=Go" %></li>
           <li><%= link_to "Surveillance Camera Lenses", "/securits/search?utf8=✓&query=Surveillance+Camera+Lenses&category=&commit=Go" %></li>
         </ul>
      </li>
        <li><%= link_to "Biometrics", "/securits/search?utf8=✓&query=Biometrics&category=&commit=Go" %></li> 
        <li><%= link_to "Motion Detectors", "/securits/search?utf8=✓&query=Motion+Detector&category=&commit=Go" %></li>  
        <li><%= link_to "Home Security Systems", "/securits/search?utf8=✓&query=Home+Security+System&category=&commit=Go" %></li>  
        <li><%= link_to "Security Sensors", "/securits/search?utf8=✓&query=Security+Sensor&category=&commit=Go" %></li>  
        <li><%= link_to "Horns & Sirens", "/securits/search?utf8=✓&query=Horn+Siren&category=&commit=Go" %></li>  
        <li><%= link_to "Radio Scanners", "/securits/search?utf8=✓&query=Radio+Scanner&category=&commit=Go" %></li>  
        <li><%= link_to "Complete Surveillance Systems", "/securits/search?utf8=✓&query=Complete+Surveillance+System&category=&commit=Go" %></li>  
        <li><%= link_to "Barking-Dog Alarms", "/securits/search?utf8=✓&query=Barking-Dog+Alarm&category=&commit=Go" %></li>  
        <li><%= link_to "Surveillance Video Equipment", "/securits/search?utf8=✓&query=Surveillance+Video+Equipment&category=&commit=Go" %></li>  
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>