<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Safer Sex
  <ul class="current-l"> 
    <li><%= link_to "Female Contraceptives", "/sexuals/search?utf8=✓&query=Female+Contraceptives&category=&commit=Go" %></li> 
    <li><%= link_to "Condoms", "/sexuals/search?utf8=✓&query=Condoms&category=&commit=Go" %></li> 
    <li><%= link_to "Spermicides", "/sexuals/search?utf8=✓&query=Spermicides&category=&commit=Go" %></li> 
    <li><%= link_to "Lubricants", "/sexuals/search?utf8=✓&query=Lubricants&category=&commit=Go" %></li> 
  </ul>
</li>
      
<li>Bondage Gear & Accessories
  <ul class="current-l"> 
    <li><%= link_to "Chastity Devices", "/sexuals/search?utf8=✓&query=Chastity+Devices&category=&commit=Go" %></li> 
    <li><%= link_to "Gags & Muzzles", "/sexuals/search?utf8=✓&query=Gags+Muzzles&category=&commit=Go" %></li> 
    <li><%= link_to "Paddles, Whips & Ticklers", "/sexuals/search?utf8=✓&query=Paddles&category=&commit=Go" %></li> 
    <li><%= link_to "Blindfolds", "/sexuals/search?utf8=✓&query=Blindfolds&category=&commit=Go" %></li> 
    <li><%= link_to "Restraints", "/sexuals/search?utf8=✓&query=Restraints&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Adult Toys & Games
  <ul class="current-l"> 
    <li><%= link_to "Sex Games", "/sexuals/search?utf8=✓&query=Sex+Games&category=&commit=Go" %></li> 
    <li><%= link_to "Sex Toys", "/sexuals/search?utf8=✓&query=Sex+Toys&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Sex Furniture
  <ul class="current-l"> 
    <li><%= link_to "Bedding", "/sexuals/search?utf8=✓&query=Bedding&category=&commit=Go" %></li> 
    <li><%= link_to "Swings", "/sexuals/search?utf8=✓&query=Swings&category=&commit=Go" %></li> 
    <li><%= link_to "Ramps & Cushions", "/sexuals/search?utf8=✓&query=Ramps&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li><%= link_to "Sexual Enhancers", "/sexuals/search?utf8=✓&query=Enhancers&category=&commit=Go" %></li> 
      
<li><%= link_to "Novelties", "/sexuals/search?utf8=✓&query=Novelties&category=&commit=Go" %></li> 
      
<li>Fetish Wear
  <ul class="current-l"> 
    <li><%= link_to "Jewelry", "/sexuals/search?utf8=✓&query=Jewelry&category=&commit=Go" %></li> 
    <li><%= link_to "Latex Wear", "/sexuals/search?utf8=✓&query=Latex+Wear&category=&commit=Go" %></li> 
    <li><%= link_to "Vinyl Wear", "/sexuals/search?utf8=✓&query=Vinyl+Wear&category=&commit=Go" %></li> 
    <li><%= link_to "Leather Wear", "/sexuals/search?utf8=✓&query=Leather+Wear&category=&commit=Go" %></li> 
  </ul>
</li>      
      
<li>Sensual Delights
  <ul class="current-l"> 
    <li><%= link_to "Edible Items", "/sexuals/search?utf8=✓&query=Edible+Items&category=&commit=Go" %></li> 
    <li><%= link_to "Erotic Massage", "/sexuals/search?utf8=✓&query=Erotic+Massage&category=&commit=Go" %></li> 
    <li><%= link_to "Bath Items", "/sexuals/search?utf8=✓&query=Bath+Items&category=&commit=Go" %></li> 
  </ul>
</li>      
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>