<hr>

<div id="nav-listz">  
    <ul>      
      
      <li>Body
         <ul class="current-l">
           <li><%= link_to "Moisturizers", "/skincares/search?utf8=✓&query=Moisturizer&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Sun
         <ul class="current-l">
           <li><%= link_to "After Sun", "/skincares/search?utf8=✓&query=After+Sun&category=&commit=Go" %></li>
           <li><%= link_to "Skin Protection", "/skincares/search?utf8=✓&query=Sun+Skin+Protection&category=&commit=Go" %></li>
           <li><%= link_to "Self-Tanners & Bronzers", "/skincares/search?utf8=✓&query=Self+Tanner+Bronzer&category=&commit=Go" %></li>
           <li><%= link_to "Tanning Oils", "/skincares/search?utf8=✓&query=Tanning+Oils&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Sets", "/skincares/search?utf8=✓&query=Set&category=&commit=Go" %></li>
      <li>Face
         <ul class="current-l">
           <li><%= link_to "Toners & Astringents", "/skincares/search?utf8=✓&query=Toner+Astringent&category=&commit=Go" %></li>
           <li><%= link_to "Face Treatments", "/skincares/search?utf8=✓&query=Face+Treatment&category=&commit=Go" %></li>
           <li><%= link_to "Exfoliators", "/skincares/search?utf8=✓&query=Exfoliator&category=&commit=Go" %></li>
           <li><%= link_to "Cleansers", "/skincares/search?utf8=✓&query=Cleanser&category=&commit=Go" %></li>
           <li><%= link_to "Moisturizers", "/skincares/search?utf8=✓&query=Face+Moisturizer&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Hands & Nails
         <ul class="current-l">
           <li><%= link_to "Cuticle Care", "/skincares/search?utf8=✓&query=Cuticle+Care&category=&commit=Go" %></li>
           <li><%= link_to "Moisturizing Gloves", "/skincares/search?utf8=✓&query=Moisturizing+Gloves&category=&commit=Go" %></li>
           <li><%= link_to "Paraffin Baths", "/skincares/search?utf8=✓&query=Paraffin+Bath&category=&commit=Go" %></li>
           <li><%= link_to "Hand Creams & Lotions", "/skincares/search?utf8=✓&query=Hand+Cream+Lotion&category=&commit=Go" %></li>
           <li><%= link_to "Hand Soaps", "/skincares/search?utf8=✓&query=Hand+Soap&category=&commit=Go" %></li>
           <li><%= link_to "Nail Treatments", "/skincares/search?utf8=✓&query=Nail+Treatment&category=&commit=Go" %></li>
         </ul>
      </li>
      <li>Eyes
         <ul class="current-l">
           <li><%= link_to "Puffiness Treatments", "/skincares/search?utf8=✓&query=Puffiness+Treatment&category=&commit=Go" %></li>
           <li><%= link_to "Masks", "/skincares/search?utf8=✓&query=Eye+Mask&category=&commit=Go" %></li>
           <li><%= link_to "Dark Circle Treatments", "/skincares/search?utf8=✓&query=Dark+Circle+Treatment&category=&commit=Go" %></li>
         </ul>
      </li>
      <li><%= link_to "Maternity", "/skincares/search?utf8=✓&query=Maternity&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>