<hr>

<div id="nav-listz">  
    <ul>      
      
<li>Weight Loss Products
  <ul class="current-l">
    <li><%= link_to "Appetite Control & Suppressants", "/supplements/search?utf8=✓&query=Appetite+Control&category=&commit=Go" %></li>
    <li><%= link_to "Supplements", "/supplements/search?utf8=✓&query=Supplements+Weight+Loss&category=&commit=Go" %></li>
    <li><%= link_to "Diet Shakes", "/supplements/search?utf8=✓&query=Diet+Shakes&category=&commit=Go" %></li>
    <li><%= link_to "Diet Bars", "/supplements/search?utf8=✓&query=Diet+Bars&category=&commit=Go" %></li>
    <li><%= link_to "Diuretics", "/supplements/search?utf8=✓&query=Diuretics&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Nutrition Bars & Drinks
  <ul class="current-l">
    <li><%= link_to "Nutrition Bars", "/supplements/search?utf8=✓&query=Nutrition+Bars&category=&commit=Go" %></li>
    <li><%= link_to "Nutrition Drinks & Shakes", "/supplements/search?utf8=✓&query=Nutrition+Drinks&category=&commit=Go" %></li>
    <li><%= link_to "Nutrition Gels", "/supplements/search?utf8=✓&query=Nutrition+Gels&category=&commit=Go" %></li>
  </ul>
</li>
      
<li>Vitamins & Supplements
  <ul class="current-l">
    <li><%= link_to "Fiber Supplements", "/supplements/search?utf8=✓&query=Fiber+Supplements&category=&commit=Go" %></li>
    <li><%= link_to "Antioxidants", "/supplements/search?utf8=✓&query=Antioxidants&category=&commit=Go" %></li>
    <li><%= link_to "Multiple Vitamin-Mineral Supplements", "/supplements/search?utf8=✓&query=Multiple+Vitamin-Mineral+Supplements&category=&commit=Go" %></li>
    <li><%= link_to "Multi-Enzymes", "/supplements/search?utf8=✓&query=Multi-Enzymes&category=&commit=Go" %></li>
    <li><%= link_to "Glandular Extracts", "/supplements/search?utf8=✓&query=Glandular+Extracts&category=&commit=Go" %></li>
    <li><%= link_to "Enzymes", "/supplements/search?utf8=✓&query=Enzymes&category=&commit=Go" %></li>
    <li><%= link_to "Essential Fatty Acid Combinations", "/supplements/search?utf8=✓&query=Essential+Fatty+Acid&category=&commit=Go" %></li>
    <li><%= link_to "Minerals", "/supplements/search?utf8=✓&query=Minerals&category=&commit=Go" %></li>
    <li><%= link_to "Herbal Supplements", "/supplements/search?utf8=✓&query=Herbal+Supplements&category=&commit=Go" %></li>
    <li><%= link_to "Vitamins & Multivitamins", "/supplements/search?utf8=✓&query=Vitamins+Multivitamins&category=&commit=Go" %></li>
  </ul>
</li>
            
<li><%= link_to "Sports Supplements", "/supplements/search?utf8=✓&query=Sports+Supplements&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>