<hr>

<div id="nav-listz">  
    <ul>      
     
        <li><%= link_to "TVs", "/televisions/search?utf8=✓&query=TV&category=&commit=Go" %></li> 
        <li><%= link_to "Blu-ray Players & Recorders", "/televisions/search?utf8=✓&query=Blu-ray+Player&category=&commit=Go" %></li>  
        <li><%= link_to "Home Theater Systems", "/televisions/search?utf8=✓&query=Home+Theater+System&category=&commit=Go" %></li>  
        <li><%= link_to "Projection Screen", "/televisions/search?utf8=✓&query=Projection+Screen&category=&commit=Go" %></li>  
        <li><%= link_to "Satellite TV", "/televisions/search?utf8=✓&query=Satellite+Television&category=&commit=Go" %></li>  
        <li><%= link_to "DVD Player", "/televisions/search?utf8=✓&query=DVD+Player&category=&commit=Go" %></li>  
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>