<% if @avg_score == 0.0 %>
  <div class="noreviewsonindex">No reviews yet :( </div>
<% else %>
<% @recipe_reviews.each do |recipe_review| %><br>

<div class="row">

      <% if recipe_review.user.provider == "facebook" %>
          <div class="col-xs-3">          
            <%= image_tag(recipe_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">                
              <%= link_to user_path(recipe_review.user) do %> 
                <%= recipe_review.user.first_name %>
                <%= recipe_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif recipe_review.user.provider == "google_oauth2" %>
          <div class="col-xs-3">          
            <%= image_tag(recipe_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">              
              <%= link_to user_path(recipe_review.user) do %> 
                <%= recipe_review.user.first_name %>
                <%= recipe_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif recipe_review.user.provider == "email" %>
          <div class="col-xs-3">          
            <%= image_tag(recipe_review.user.image, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">               
              <%= link_to user_path(recipe_review.user) do %> 
                <%= recipe_review.user.name %>
              <% end %>
            </div> 

      <% elsif recipe_review.user.provider == "twitter" %>
          <div class="col-xs-3">          
            <%= image_tag(recipe_review.user.image_auth, width: "50") %>
          </div> 
            <div class="col-xs-6" align="left">                 
              <%= link_to user_path(recipe_review.user) do %> 
                <%= recipe_review.user.name %>
              <% end %>
            </div>

      <% end %>  

          <div class="col-xs-3">
            <div class="numberOne">
              <%= recipe_review.point %>
            </div>
          </div>

</div>

         <br>
         <div class="separatereview">
           
          <div class="reviewcontent mobile" align="left"><%= simple_format(recipe_review.content) %></div>
           
                <% recipe_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 50), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == recipe_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == recipe_review.user %>
                    
                  <% elsif current_user.voted_for? recipe_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to "",  like_recipe_recipe_review_path(recipe_review.recipe_id, recipe_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to "", dislike_recipe_recipe_review_path(recipe_review.recipe_id, recipe_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>                
                
                <% end %>
                
              </div>
          
      </div><br>

  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @recipe_reviews %>
</div>