<% unless signed_in? %>
    <div class="noreviewsonindex"><%= image_tag('othericons/lock_icon.png') %> Log in to read reviews </div>
    <div class="row dumb500"></div>  
<% else %>

  <% if @avg_score == 0.0 %>
    <div class="noreviewsonindex">No reviews :( </div>
    <div class="row dumb500"></div>
  <% else %>
  <% @song_reviews.each do |song_review| %><br>
      <div class="col-sm-3"> 
        <% if song_review.user.provider == "facebook" %>
            <div class="reviewname">  
              <%= link_to user_path(song_review.user) do %> 
                 <%= song_review.user.first_name %>
                 <%= song_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>
            <%= image_tag(song_review.user.image_auth, width: "80") %>  

          <% elsif song_review.user.provider == "google_oauth2" %>
            <div class="reviewname">  
              <%= link_to user_path(song_review.user) do %> 
                 <%= song_review.user.first_name %>
                 <%= song_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>
            <%= image_tag(song_review.user.image_auth, width: "80") %>

          <% elsif song_review.user.provider == "email" %>
              <%= link_to user_path(song_review.user) do %> 
                 <div class="reviewname"><%= song_review.user.name %></div>
              <% end %>
            <%= image_tag(song_review.user.image, width: "80") %>
          <% end %>  
        </div>

        <div class="col-sm-9 podreview"> 
           <div class="separatereview">

              <div class="numberOne">
                <%= song_review.point %>
              </div><br><br>

            <div class="reviewcontent"><%= simple_format(song_review.content) %></div>

                  <% song_review.review_images.each do |pic| %>
                       <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                  <% end %>
                   <% if signed_in? %>
                     <% unless current_user == song_review.user %>
                       <hr>
                     <% end %>
                   <% end %>

                <div class="bottomreviewicons">
                  <% if signed_in? %>

                    <% if current_user == song_review.user %>

                    <% elsif current_user.voted_for? song_review %>
                      Voted!                
                    <% else %>
                     <div class="thumbsup">
                       <%= link_to "",  like_song_song_review_path(song_review.song_id, song_review), method: :put, :remote => true %>
                     </div>

                     <div class="thumbsdown">
                      <%= link_to "", dislike_song_song_review_path(song_review.song_id, song_review), method: :put, :remote => true %>
                     </div>

                     <% end %>

                        <% if can? :destroy, SongReview %>
                          <hr>
                              <%= song_review.get_upvotes.size %> | <%= song_review.get_downvotes.size %>
                              <%= link_to 'Delete', song_song_review_path(song_review.song_id, song_review),
                                       method: :delete,
                                       data: { confirm: 'Are you sure?'},
                                       class: "btn btn-default" %>
                        <% end %>

                  <% end %>

                </div>

        </div><br>
      </div>
    <% end %>
  <% end %>

<% end %>

<div class="digg_pagination">
  <%= will_paginate @song_reviews %>
</div>