<div class="row movieup">  
  <div class="col-sm-3">
    <div class="movieposter">
      
      <% if @movie.poster_path.blank? %>
        <%= image_tag("no-image.png") %>
      <% else %>
        <%= image_tag("#{@configuration.base_url}w92#{@movie.poster_path}") %>
      <% end %>
      
     </div>
  </div>
  
  <div class="col-sm-5">
    <div class="moviefacts">
      <div class="movtitle"><%= link_to @movie.title, movie_path(@movie.id) %> (<%= @movie.release_date.to_date.try(:year) %>)</div><br>
      
      <% if @trailers['youtube'].blank? %>
      <% else %>
        <%= image_tag("othericons/playicon.PNG", height: '14', width: '14') %>
        <% @trailers['youtube'].first(1).each do |trailer| %>
          <%= link_to "Trailer", "http://www.youtube.com/watch?v=#{trailer['source']}", :target => "_blank" %><br />
        <% end %>
      <% end %>
      
      <% if @movie.runtime.nil? %>
      <% else %>
        <%= image_tag("localicons/clockicon.PNG", height: '14', width: '14') %>
        <%= @movie.runtime %> min. <br>
      <% end %>
      
      <% if @movie.genres.blank? %>
      <% else %>
        <b>Genres:</b>
        <% @movie.genres.each do |genre| %>
        <div class="moviegenres"><%= genre['name'] %>.</div>
        <% end %><br>
      <% end %>
      
      </div>
  </div>
  
  <div class="col-sm-4">
    
        <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
        <div class="writeareview"><%= link_to "Write a Review", new_movie_movie_review_path(@movie.id) %>
      </div><br><br>
    
       <div>
         <%= render 'show_rating' %>
       </div>
    
  </div>  
  
</div>