
<div class="specreview">
  Review it!
  </div>
<br><br>

<div class="row movie1">  
  <div class="col-sm-3">
    <div class="movieposter">
      <%= @movie.title %> <br> <br>
      <%= image_tag("#{@configuration.base_url}w154#{@movie.poster_path}") if @movie.poster_path %>
     </div>
  </div>
  
  <div class="col-sm-3">
    <div class="moviefacts">
      <b>Runtime:</b> <%= @movie.runtime %> min. <br>
      <b>Release Date:</b>
      <%= @movie.release_date.to_date.strftime("%m/%d/%Y") if @movie.release_date %><br />
      <b>Trailers:</b>
      <% @trailers['youtube'].first(1).each do |trailer| %>
    		<%= link_to "#{trailer['name']} - #{trailer['size']}", "http://www.youtube.com/watch?v=#{trailer['source']}" %>.<br />
    	<% end %><br>
      <b>Genres:</b>
			<% @movie.genres.each do |genre| %>
				<%= genre['name'] %>.
			<% end %>
      </div>
  </div>
  
  <div class="col-sm-6">
    <div class="movieoverview">
			<h4>Overview</h4>
			<%= @movie.overview %>
      </div>
  </div>  
</div>

<div class="row movie2">
  
  <div class="col-sm-2">
    
  </div>
  
  <div class="col-sm-2">
    
  </div>
  
  <div class="col-sm-8">
    <div class="similarmovies">
    <% if @similar_movies %>
      <p>Similar Movies:</p>
				<% @similar_movies.first(4).each do |movie| %>
					<% if movie %>
						<%= link_to movie_path(movie['id']) do %>
							<%= image_tag("#{@configuration.base_url}w92#{movie['poster_path']}") if movie['poster_path'] %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
    </div>
  </div>
</div>
  
  
  
  
  
  
  