<% provide(:title, 'Movies') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <%= render "media/mcategories" %>
    <div class="allnews">
      <%= render 'movies/moviesup' %>
      <div class="moviesnow">
        <div class="row">   
  <% @now_playing.first(10).each do |movie| %> <br> <br>
          <% if movie %>
		<%= link_to movie_path(movie['id']) do %> 
        <div class="col-sm-4 moviesin">
          <%= image_tag("#{@configuration.base_url}w154#{movie['poster_path']}") if movie['poster_path'] %></div>
         <div class="col-sm-8 moviesin">
           <div class="moviesnowindex">
           <%= movie['title'] %> (<%= movie['release_date'].to_date.strftime("%Y") %>) <br>
           </div>
		<% end %>                      
        
    <% @movie_reviews.last(2).each do |movie_review| %>
      <%= movie_review.content %>    
    <% end %>

          </div> 
  <% end %>
<% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

  
</div>