<% provide(:title, 'Search results') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <div class="mediacat">  
    <ul>
    <li><%= link_to "books", "#" %></li>
    <li class="listcat"><%= link_to "movies", movies_path %></li>
    <li><%= link_to "TV", "#" %></li>
    <li><%= link_to "games", "#" %></li>
    <li><%= link_to "podcasts", "#" %></li>
    </ul>
  </div>
    <div class="allnews">
      <%= render 'movies/moviesup' %>            
      <div class="moviesnow">
        <div class="row">
	<% @movie.each do |movie| %><br><br>
          <% if movie %>
				<%= link_to movie_path(movie.id) do %>          
					<div class="col-sm-4 moviesin">
            <%= image_tag("#{@configuration.base_url}w154#{movie.poster_path}") if movie.poster_path %></div>
          <div class="col-sm-8 moviesin">
        <div class="moviesnowindex">
        <%= movie.title %> (<%= movie.release_date.to_date.try(:year) %>) <br /> </div>
				<% end %> 
          </div>
	<% end %>
<% end %>           
      </div>
    </div>
  </div>
</div>


<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

  
</div>