<% provide(:title, @movie.title) %>
<hr>
      <div class="movtitle">
        <%= link_to @movie.title, movie_path(@movie.id) %> (<%= @movie.release_date.to_date.try(:year) %>)
      </div>

    <%= render 'show_rating' %>

    <div class="movieposter">      
        <% if @movie.poster_path.blank? %>
          <%= image_tag("no-image.png") %>
        <% else %>
          <%= image_tag("#{@configuration.base_url}w92#{@movie.poster_path}") %>
        <% end %>      
     </div>
      
      <% unless @trailers['youtube'].blank? %>
        <%= image_tag("othericons/playicon.PNG", height: '14', width: '14') %>
        <% @trailers['youtube'].first(1).each do |trailer| %>
          <%= link_to "Trailer", "http://www.youtube.com/watch?v=#{trailer['source']}", :target => "_blank" %><br />
        <% end %>
      <% end %>
      
      <% unless @movie.runtime.nil? %>
        <%= image_tag("localicons/clockicon.PNG", height: '14', width: '14') %>
        <%= @movie.runtime %> min. <br>
      <% end %>
      
      <% unless @movie.genres.blank? %>
        <b>Genres:</b>
        <% @movie.genres.each do |genre| %>
        <div class="moviegenres"><%= genre['name'] %>.</div>
        <% end %><br>
      <% end %><br>
      <a target="_blank" href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=dvd&keywords=<%= @movie.title %>&linkCode=ur2&tag=movtop0c-20&linkId=F6RC34QQ6YU2Y7AW">Buy it</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=movtop0c-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<br>
      <div class="r-clickfeature">
        <%= link_to "overview", "#" %><br><br>
      </div>

        <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
        <div class="writeareview mobile">
          <%= link_to "Write a Review", new_movie_movie_review_path(@movie.id) %>
        </div><hr>

<div class="r-productfeature">
  <%= simple_format(@movie.overview) if @movie.overview.present? %><hr>
</div>

<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>

    <% if @promotion.present? && @promotion.movie %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>