<%= form_for @recipe, validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments' do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control autotitle" %><br><br>

    <%= f.label :ingredients, "Ingredients" %><br>
    <%= f.text_area :ingredients, :class => "form-control autocontent", :placeholder => "each ingredient in a new line" %><br><br>

    <%= f.label :directions, "Directions" %><br>
    <%= f.text_area :directions, :class => "form-control autocontent", :placeholder => "Basic steps..." %><br><br>

    <%= f.label :tag_list, "keywords - separate by commas" %><br>
    <%= f.text_field :tag_list, :placeholder => "e.g desert, pancakes" , :class => "form-control autotitle" %><br><br>

    <%= image_tag("othericons/PhotoShow.PNG") %>
    <%= f.file_field :image %><br><br>

    <%= f.submit 'Submit', :class => 'btn btn-default', :id => "submit" %> <br>

      <div id="loading2" class="loadinggif" style="display:none;">
          <%= image_tag("othericons/uploading.gif", alt: "") %><br>
          Uploading...
      </div>

<% end %>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_recipe').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>
