<% provide(:title, "#{@recipe.name} Reviews") %>

<hr>
   <%= link_to @recipe.name, recipe_path(@recipe) %><br><br>

  <div class="row">
    
    <div class="col-xs-7">
      <%= link_to image_tag(@recipe.image_url(:thumb)), @recipe.image_url, target: :_blank if @recipe.image? %> 
    </div>

    <div class="col-xs-5" align="left"> 
      <%= render 'show_rating' %>
      <%= image_tag("localicons/clockicon.PNG", height: '20', width: '20') %>
      <%= @recipe.ready_time %> min.<br>
      <b>Categories:</b> <%= raw @recipe.tags.map(&:name).map { |t| t }.join(', ') %>
    </div>

  </div>

<hr>

  <div class="row">
    
    <div class="col-xs-6">
        <div class="r-clickfeature">
          <div class="recipe-id">
            <%= link_to "ingredients", "#" %><br>
          </div>
        </div>
    </div>

    <div class="col-xs-6"> 
        <div class="r-clickfeature">
          <div class="recipe-id">
            <%= link_to "directions", "#" %>
          </div>
        </div>
    </div>

  </div>

<hr>

    <div class="writeareview mobile">
      <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
      <%= link_to "Write a Review", new_recipe_recipe_review_path(@recipe) %>
    </div>

    <div class="r-productfeature" align="left">
          <%= simple_format(@recipe.ingredients) if @recipe.ingredients.present? %>
      <hr>
          <%= simple_format(@recipe.directions) if @recipe.directions.present? %> 
    </div>

    <%= render 'shared/ad_on_item_mobile' %>

  <div class="row"> 
    <%= render :file => '/recipe_reviews/index' %>
  </div>

<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>