<p id="notice"><%= notice %></p>


<p>
  <b>Prop Subtype:</b>
  <%= @podcast_sub_category.name %>
</p>

<p>
  <b>Prop Type:</b>
  <%= @podcast_sub_category.podcast_category.name %>
</p>

<%= link_to 'Edit', edit_podcast_sub_category_path(@podcast_sub_category) %> |
<%= link_to 'Back', podcast_sub_categories_path %>
