<div class="bottomreviewicons">
          
 <div class="thumbsup">
   <%= link_to image_tag('othericons/thumbsup_off.PNG', height: '20', width: '20', id: "imgClickAndChange", :onclick => "window.changeImage($(this))"),  like_auto_auto_review_path(@auto_review.auto_id, @auto_review), method: :put, :remote => true %>
 </div>
          
 <div class="thumbsdown">
  <%= link_to image_tag('othericons/thumbsdown_off.PNG', height: '20', width: '20', id: "imgClickAndChange", :onclick => "window.toggleImage($(this))"), dislike_auto_auto_review_path(@auto_review.auto_id, @auto_review), method: :put, :remote => true %>
 </div>
          
 <div class="flagicon"><%= link_to image_tag('othericons/flagicon.PNG', height: '20', width: '18'), "#" %></div>
<%= @auto_review.upvotes.size %><%= @auto_review.downvotes.size %>
  
</div>