<%= semantic_form_for([@auto, @auto_review], validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments') do  |f| %>
  <% if @auto_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto_review.errors.count, "error") %> prohibited this auto_review from being saved:</h2>

      <ul>
      <% @auto_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= f.hidden_field :point %>
  <div class="rating-comments"></div>
      <br>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "field podtitle", :placeholder => "max. 50 characters", :onfocus => "this.placeholder = ''" %>
  </div><br>

  <div class="field">
    <%= f.label :content %><div class="contentcharacters">(minimum 140 characters)</div><br>
    <%= f.text_area :content, :class => "field podcontent", :placeholder => "Tell the world what you like or dislike, give tips and suggestions... ", :onfocus => "this.placeholder = ''" %>
  </div><br>

  <div class="optionalreview">Optional:</div>

    <div class="row">
      <div class="col-sm-5">
            <fieldset class="inputs">
              <ol>
                  <input id="auto_review_review_images_attributes_0_id" name="auto_review[review_images_attributes][0][id]" type="hidden" />
                  <input id="auto_review_review_images_attributes_0_attachable_id" name="auto_review[review_images_attributes][0][attachable_id]" type="hidden" />
                  <input id="auto_review_review_images_attributes_0_attachable_type" name="auto_review[review_images_attributes][0][attachable_type]" type="hidden" value="AutoReview" />
                  <input id="auto_review_review_images_attributes_0_image" name="auto_review[review_images_attributes][0][image]" type="file" multiple="multiple" />
              </ol>
            </fieldset>
      </div>
      
      <div class="col-sm-7">
          <script id="template-upload" type="text/x-tmpl">
            <div class="upload">
              {%=o.name%}
              <div class="progress"><div class="bar" style="width: 0%"></div></div>
            </div>
          </script>
      </div> 
    </div>

  <br><br>

  <div class="actions">
    <%= f.submit " Submit ", :class => "btn btn-primary" %>
  </div>

<% end %>

<script type="text/javascript">
        $('.rating-comments').raty({
  click: function(score, evt) {
    $("#auto_review_point").val(score);
    return console.log(score);
  }
});
</script>