<% @auto_reviews.each do |auto_review| %><br>
  <div class="col-sm-3"> 
    <div class="reviewname">     
      <%= link_to user_path(auto_review.user) do %> 
        <%= auto_review.user.first_name %>
        <%= auto_review.user.last_name.truncate(2, omission: '.')%>
      <% end %>
    </div>    
          <%= image_tag(auto_review.user.reviewimage) %>  
    </div>
      
    <div class="col-sm-9 podreview"> 
      <div class="separatereview">
        
          <div class="numberOne">
            <%= auto_review.point %>
          </div>
        
        <div class="reviewtitle"><%= auto_review.title %></div><br><br>
        <div class="reviewcontent"><%= simple_format(auto_review.content) %></div><br>
                
            <div class="bottomreviewicons">
              
              <% if current_user == auto_review.user %>
              <% elsif current_user.voted_for? auto_review %>
              You voted!
              <div class="flagicon"><%= link_to image_tag('othericons/flagicon.PNG', height: '20', width: '18'), new_auto_auto_review_auto_review_report_path(auto_review.auto_id, auto_review) %></div>
              <% else %>
               <div class="thumbsup">
                 <%= link_to image_tag('othericons/thumbsup_off.PNG', height: '20', width: '20', id: "imgClickAndChange", :onclick => "window.changeImage($(this))"),  like_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
               </div>
                        
               <div class="thumbsdown">
                <%= link_to image_tag('othericons/thumbsdown_off.PNG', height: '20', width: '20', id: "imgClickAndChange", :onclick => "window.toggleImage($(this))"), dislike_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
               </div>
                 <%= auto_review.upvotes.size %><%= auto_review.downvotes.size %>       
               <div class="flagicon"><%= link_to image_tag('othericons/flagicon.PNG', height: '20', width: '18'), new_auto_auto_review_auto_review_report_path(auto_review.auto_id, auto_review) %></div>
              <% end %>
              
            </div>
        
    </div><br>
  </div>
<% end %>
