  <% if @avg_score == 0.0 %>
    <div class="noreviewsonindex">No reviews yet :( </div>
    <div class="row dumb500"></div>
  <% else %>
    <% @auto_reviews.each do |auto_review| %><br>
      <div class="col-sm-3"> 

          <%= link_to user_path(auto_review.user) do %> 
             <div class="reviewname"><%= auto_review.user.name.truncate(15, omission: '...') %></div>
          <% end %>
        
          <% if auto_review.user.image.blank? %>
            <%= image_tag("grey_star.PNG", width: "80", class: 'img-thumbnail') %>
          <% else %>
            <%= image_tag(auto_review.user.image, width: "90", class: 'img-thumbnail') %>
          <% end %>

       </div>

        <div class="col-sm-9 podreview"> 
           <div class="separatereview">

              <div class="numberOne">
                <%= auto_review.point %>
              </div><br><br>

            <div class="reviewcontent"><%= simple_format(auto_review.content) %></div>

                  <% auto_review.review_images.each do |pic| %>
                       <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                  <% end %>
                   <% if signed_in? %>
                     <% unless current_user == auto_review.user %>
                       <hr>
                     <% end %>
                   <% end %>

                <div class="bottomreviewicons">
                  <% if signed_in? %>

                    <% if current_user == auto_review.user %>

                    <% elsif current_user.voted_for? auto_review %>
                      Voted!
                    <% else %>
                     <div class="thumbsup">
                       <%= link_to "",  like_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
                     </div>

                     <div class="thumbsdown">
                      <%= link_to "", dislike_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
                     </div>

                    <% end %>

                        <% if can? :destroy, AutoReview %>
                          <hr>
                              <%= auto_review.get_upvotes.size %> | <%= auto_review.get_downvotes.size %>
                              <%= link_to 'Delete', [auto_review.auto, auto_review],
                                       method: :delete,
                                       data: { confirm: 'Are you sure?'},
                                       class: "btn btn-default" %>
                        <% end %>

                  <% end %>

                </div>

        </div><br>
      </div>
    <% end %>
  <% end %>

<div class="digg_pagination">
  <%= will_paginate @auto_reviews %>
</div>