<% if @avg_score == 0.0 %>
<div class="noreviewsonindex">No reviews. Be the first to write it!</div>
<% else %>
  <% @auto_reviews.each do |auto_review| %><br>
    <div class="col-sm-3"> 
      <div class="reviewname">     
        <%= link_to user_path(auto_review.user) do %> 
          <%= auto_review.user.first_name %>
          <%= auto_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>    
        <%= image_tag(auto_review.user.image, width: "80") %>  
     </div>
        
      <div class="col-sm-9 podreview"> 
         <div class="separatereview">
           
            <div class="numberOne">
              <%= auto_review.point %>
            </div>
          
          <div class="reviewtitle"><%= auto_review.title %></div><br><br>
          <div class="reviewcontent"><%= simple_format(auto_review.content) %></div>
           
             <% unless auto_review.review_images.empty? %>
                <% auto_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == auto_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
             <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == auto_review.user %>
                    
                  <% elsif current_user.voted_for? auto_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to image_tag('othericons/thumbsup_off.PNG', height: '21', width: '20'),  like_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to image_tag('othericons/thumbsdown_off.PNG', height: '21', width: '20'), dislike_auto_auto_review_path(auto_review.auto_id, auto_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>
                
                <% end %>
                
              </div>
          
      </div><br>
    </div>
  <% end %>
<% end %>