<div class="col-sm-3"> 
    <div class="reviewname">     
      <%= link_to user_path(@auto_review.user) do %> 
        <%= @auto_review.user.first_name %>
        <%= @auto_review.user.last_name.truncate(2, omission: '.')%>
      <% end %>
    </div>
    
          <%= image_tag(@auto_review.user.smallimage) %>
  
    </div>
      
    <div class="col-sm-9 podreview"> 
      <div class="separatereview">
      <b><%= @auto_review.title %>:</b> <br>  
        <div class="reviewcontent"><%= simple_format(@auto_review.content) %></div><br>



        <%= link_to "Edit", edit_auto_auto_review_path(@auto_review.auto_id, @auto_review) %>
        <%= link_to 'Destroy', auto_auto_review_path(@auto_review.auto_id, @auto_review),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
        
    </div><br>
  </div>
