<% if current_user ||= @user %>

<div class="row">
  
  <div class="col-xs-3">

      <% if current_user.image.blank? %>
        <%= image_tag("grey_star.PNG", width: '160', height: '160', class: 'img-thumbnail') %>
      <% else %>
        <%= image_tag(current_user.image_url(:thumb), class: 'img-thumbnail') %>
      <% end %><br>
    
      <% if current_user?(@user) %>
          <%= link_to "change image", edit_user_path(@user) %> | 
          <%= link_to "logout", destroy_user_session_path, :method => :delete %>
      <% end %>
    
  </div>  
  
  <div class="col-xs-5" align="left">
    
    <strong>
       <%= link_to user_path(current_user) do %>   
         <div class="unameonshow">
           <%= current_user.name %>
         </div>
       <% end %>
    </strong><hr>
    
    <%= render 'stats' %>
    
  </div>
  
  <div class="col-xs-4" align="left">
    <%= render 'users/follow_form' if signed_in? %>
  </div>
  
</div>

<% end %>

<hr>