<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <b><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</b>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<% if current_user?(@user) %>
<hr>
   <%= image_tag("othericons/PhotoShow.PNG") %> (profile photo)<br><br>
   <%= f.file_field :image %>
<hr>
<% end %>

<% if current_user.admin %>
    Company:
    <%= f.check_box :company %>
      <br><br>
    Ban:
    <%= f.check_box :banned %>
      <br><br>
    Moderator:
    <%= f.check_box :moderator %>
      <br><br>
    Admin:
    <%= f.check_box :admin %>
      <br><br>
<% end %>

<% if current_user == @user || current_user.admin %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<% end %>