<hr>
<div class="mobileshowprofile" align="left">
<% current_user ||= @user %>
  
  <%= render 'follow_form' if signed_in? %><br>
  
  <div align="center">  

          <% if current_user.image.blank? %>
            <%= image_tag("grey_star.PNG", width: "160", class: 'img-thumbnail') %><br>
          <% else %>
            <%= image_tag(current_user.image_url(:thumb), width: "160", class: 'img-circle')%><br>
          <% end %>

   <strong>
     <%= link_to user_path(current_user) do %> 
         <div class="unameonshow">
           <%= current_user.name %>
         </div>
      <% end %>
   </strong>

    <%= render 'users/logout_img' %>  
    <%= render 'shared/stats' %>
    
</div><!-- /center align -->
  
  <hr>

<% if @activities.empty? %>
    <div class="noreviews usershow">No activity :(</div>    
 <% else %>
    <div class="mobile-activity-home">    
      <% @activities.each do |activity| %>
        <div class="activity">
          <%= render_activity activity %>
        </div>
      <% end %>
    </div>    
<% end %>
</div>

<div class="digg_pagination">
  <%= will_paginate @activities %>
</div>

  <br><br><br>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b904537cb32806"></script>