
<div class="col-sm-3">
    <% if current_user %>
  <%= render 'follow_form' if signed_in? %>
    <strong><%= link_to current_user.name, user_path(current_user) %></strong><br>
  <div class="full_profile"><%= link_to "full profile", user_path(current_user) %> | <%= link_to "logout", signout_path, class: "sign_out" %></div> <br>
  <%= image_tag(current_user.largeimage)%>
  <% end %>
  
</div>

<div class="col-sm-7"> 
  
</div>

<div class="col-sm-2">

</div>