<% provide(:title, @user.first_name) %>

<div class="row">
  
  <div class="col-sm-3 usershow">
    <%= render 'user_info' %><br>    
  </div>
  
  <div class="col-sm-7 usershow"> 
   
    <% if @activities.empty? %>
    <div class="noreviews usershow">No reviews here :(</div>    
    <% else %>
    
      <% @activities.each do |activity| %>
        <div class="activity">
          <%= render_activity activity %>
        </div>
      <% end %>
    
    <% end %>
    
  </div>
  
  <div class="col-sm-2">
    <%= render 'follow_form' if signed_in? %>
    
    <%= @user.fb_user_id %>
    <%= @user.followed_user_ids %>

  </div>
  
</div>

<div class="digg_pagination">
  <%= will_paginate @activities %>
</div>