<% provide(:title, @user.first_name) %>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b904537cb32806"></script>

<div class="row">
  
  <div class="col-sm-3 usershow">
    <%= render 'user_info' %><br>    
  </div>
  
  <div class="col-sm-7 usershow"> 
   
    <% if @activities.empty? %>
    
        <div class="noreviews usershow">No activity :(</div>
        <div class="row dumb500"></div>
    
      <% else %>
    
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>

    <% end %>
    
  </div>
  
  <div class="col-sm-2">
    <%= render 'follow_form' if signed_in? %>
    <% unless signed_in? %>
        <%= link_to image_tag("otherbigimages/FBlogins.png"), user_omniauth_authorize_path(:facebook) %><br><br>
        <%= link_to image_tag("otherbigimages/Glogin.PNG"), user_omniauth_authorize_path(:google_oauth2) %><br><br>
        or 
        <div class="email-login"><b><%= link_to "email", "/users/sign_in" %></b></div>
        <hr> 
    <% end %>
  </div>
  
</div>

<div class="digg_pagination">
  <%= will_paginate @activities %>
</div>