<% provide(:title, @user.first_name) %>

<div class="row">
  
  <div class="col-sm-3 usershow">
    <%= render 'user_info' %><br>    
  </div>
  
  <div class="col-sm-7 usershow"> 
   
    <% if @activities.empty? %>
    
        <div class="noreviews usershow">No activity :(</div>
        <div class="row dumb500"></div>
    
      <% else %>
    
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>

    <% end %>
    
  </div>
  
  <div class="col-sm-2">
    <%= render 'follow_form' if signed_in? %>
    <% unless signed_in? %>
        <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), user_omniauth_authorize_path(:facebook), id: "sign_in" %><br><br>
        <%= link_to image_tag("otherbigimages/Glogin.PNG"), user_omniauth_authorize_path(:google_oauth2) %><br><br>
        <%= link_to image_tag("otherbigimages/Tlogin.PNG"), user_omniauth_authorize_path(:twitter) %>
        <hr> 
    <% end %>
  </div>
  
</div>

<div class="digg_pagination">
  <%= will_paginate @activities %>
</div>