<% provide(:title, @tvshow.name) %>

      <%= link_to @tvshow.name, tvshow_path(@tvshow.id) %> (<%= @tvshow.first_air_date.to_date.strftime("%Y") %>)<br>
      <%= render 'show_rating' %><br>

      <% if @tvshow.poster_path.blank? %>
        <%= image_tag("no-image.png") %>
      <% else %>
        <%= image_tag("#{@configuration.base_url}w92#{@tvshow.poster_path}") %>
      <% end %><br>

      <% unless @tvshow.episode_run_time.blank? %>
        <%= image_tag("localicons/clockicon.PNG", height: '14', width: '14') %>
        <% @tvshow.episode_run_time.first(1).each do |run| %>
          <%= run %> min. 
        <% end %><br>
      <% end %>
      
      <% if @tvshow.genres.blank? %>
      <% else %>
        <b>Genres:</b>
        <% @tvshow.genres.each do |genre| %>
          <%= genre['name'] %>.
        <% end %><br>
      <% end %>

        <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
        <div class="writeareview mobile">
          <%= link_to "Write a Review", new_tvshow_tvshow_review_path(@tvshow.id) %>
        </div><hr>


    <% if @promotion.present? && @promotion.tvshow %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>