<div class="row" align="left">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>
      <div class="mobile-activity-photo"><%= image_tag(activity.owner.image, width: "50") %></div>  
      <div class="reviewname mobile">  
      <%= link_to user_path(activity.owner) do %> 
         <%= activity.owner.first_name %>
         <%= activity.owner.last_name.truncate(2, omission: '.')%>
      <% end %>
      </div><br><br>
   <% end %><br>

      <div class="separatereview">
        
        <%= image_tag('caticons/health/Hdrugs.png') %>    
        <%= link_to activity.trackable.drug.name.truncate(25, omission: '...'), activity.trackable.drug %><br><br>
        
        <div class="numberOne"><%= activity.trackable.point %></div><br><br>
        <div class="reviewcontent"><%= simple_format(activity.trackable.content) %></div>
             <% activity.trackable.review_images.each do |pic| %>
             <%= link_to image_tag(pic.image_url(:thumb), width: 50)), pic.image_url, target: :_blank if pic.image? %>
            <% end %> 
              <% if signed_in? %>
                <% unless current_user == activity.owner %>
                  <hr>
                <% end %>
              <% end %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  <hr><%= social_share_button_tag(activity.trackable.content) %>
                <% elsif current_user.voted_for? activity.trackable %>
                  Voted!
                <% else %>
                 <div class="thumbsup">
                   <%= link_to "",
                        like_drug_drug_review_path(activity.trackable.drug_id, activity.trackable), 
                        method: :put, :remote => true %>
                 </div>
                          
                 <div class="thumbsdown">
                  <%= link_to "",
                        dislike_drug_drug_review_path(activity.trackable.drug_id, activity.trackable), 
                        method: :put, :remote => true %>
                 </div>
                          
                <% end %> 
            
            <% end %>
          </div>
        
      </div>

<% end %>
</div><br>