<% if @resource_type.to_s == "computer" %>
  <%= render 'shared/catlists/computer' %>
<% elsif @resource_type.to_s == "camera" %>
  <%= render 'shared/catlists/camera' %>
<% elsif @resource_type.to_s == "securit" %>
  <%= render 'shared/catlists/securit' %>
<% elsif @resource_type.to_s == "television" %>
  <%= render 'shared/catlists/television' %>
<% elsif @resource_type.to_s == "carelectro" %>
  <%= render 'shared/catlists/carelectro' %>
<% elsif @resource_type.to_s == "homeaudio" %>
  <%= render 'shared/catlists/homeaudio' %>
<% elsif @resource_type.to_s == "eportable" %>
  <%= render 'shared/catlists/eportable' %>
<% elsif @resource_type.to_s == "enavigation" %>
  <%= render 'shared/catlists/enavigation' %>
<% else %>

<ul class="nav nav-stacked categorylist">
  <li class="categorylist media"><%= link_to "media", media_path %></li> 
  <li class="categorylist local"><%= link_to "local", locals_path %></li>
  <li class="categorylist tech"><%= link_to "tech", teches_path %></li>
  <li class="categorylist electronics"><%= link_to "electronics", electronics_path %></li>  
  <li class="categorylist beauty"><%= link_to "beauty", beauty_path %></li>
  <li class="categorylist fashion"><%= link_to "fashion", fashion_path %></li>
  <li class="categorylist health"><%= link_to "health", health_path %></li>
  <li class="categorylist sustenance"><%= link_to "sustenance", sustenance_path %></li>
  <li class="categorylist home"><%= link_to "home", home_path %></li>
  <li class="categorylist hobbies"><%= link_to "hobbies", hobbies_path %></li>
  <li class="categorylist auto"><%= link_to "vehicle", autos_path %></li>
</ul>

<%= render 'shared/aboutus' %>

<% end %>
