<br>
  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catmedia.PNG'), media_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "media", media_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catlocal.PNG'), locals_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "local", locals_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/cattech.PNG'), teches_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "tech", teches_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catelectronics.PNG'), electronics_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "electronics", electronics_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catbeauty.PNG'), beauty_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "beauty", beauty_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catfashion.PNG'), fashion_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "fashion", fashion_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/cathealth.PNG'), health_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "health", health_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catfood.PNG'), sustenance_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "sustenance", sustenance_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/cathome.PNG'), home_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "home", home_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/cathobby.PNG'), hobbies_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "hobbies", hobbies_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/Cvehicle.PNG'), autos_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "vehicle", autos_path %>
    </div>
  </div>
