<div class="mobilemaincats" align="">
  <ul class="nav nav-stacked categorylist mobile">
    <li class="categorylist media"><%= link_to "media", media_path %></li> <hr>
    <li class="categorylist local"><%= link_to "local", locals_path %></li><hr>
    <li class="categorylist tech"><%= link_to "tech", teches_path %></li><hr>
    <li class="categorylist electronics"><%= link_to "electronics", electronics_path %></li>  <hr>
    <li class="categorylist beauty"><%= link_to "beauty", beauty_path %></li><hr>
    <li class="categorylist fashion"><%= link_to "fashion", fashion_path %></li><hr>
    <li class="categorylist health"><%= link_to "health", health_path %></li><hr>
    <li class="categorylist sustenance"><%= link_to "sustenance", root_path %></li><hr>
    <li class="categorylist home"><%= link_to "home", home_path %></li><hr>
    <li class="categorylist hobbies"><%= link_to "hobbies", hobbies_path %></li><hr>
    <li class="categorylist auto"><%= link_to "auto", autos_path %></li><hr>
  </ul>
</div>
