<ul class="nav nav-stacked categorylist">
  <li class="categorylist media"><%= link_to "media", media_path %></li>
  <li class="categorylist electronics"><%= link_to "electronics", root_path %></li> 
  <li class="categorylist local"><%= link_to "local", locals_path %></li>
  <li class="categorylist beauty"><%= link_to "beauty", root_path %></li>
  <li class="categorylist fashion"><%= link_to "fashion", root_path %></li>
  <li class="categorylist health"><%= link_to "health", drugs_path %></li>
  <li class="categorylist tech"><%= link_to "tech", teches_path %></li> 
  <li class="categorylist auto"><%= link_to "auto", autos_path %></li>
</ul>

<br><br><br>
<div class="aboutbottom"><%= link_to "About", about_path %></div>