      <p id="notice"><%= notice %></p>
        <% if signed_in? %>
           <div class="qupdate">
               <div class="texty">
                 <% if @link.present? %>
                   <a href="<%= @link.link if @link.link.present? %>"><%= @link.text %></a>
                 <% end %>
               </div>
           </div>

            <%= render :file => '/activities/index' %>

        <% else %>
            <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), "/auth/facebook", id: "sign_in" %>
                  <div class="loginversus">or</div>
            <%= link_to image_tag("otherbigimages/Glogin.PNG"), "/auth/google_oauth2" %>
	      <% end %>