      <p id="notice"><%= notice %></p>

<div align="left" class="mobile-activity-home">
        <% if signed_in? %>
           <div class="qupdate">
               <div class="">
                 <% if @link.present? %>
                   <a href="<%= @link.link if @link.link.present? %>"><%= @link.text %></a><hr>
                 <% end %>
               </div>
           </div>

            <%= render :file => '/activities/index' %>
</div>

        <% else %>
          <div class="fblogin-mobile">
            <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), "/auth/facebook", id: "sign_in" %>
          </div>
          <div class="glogin-mobile">
            <%= link_to image_tag("otherbigimages/Glogin.PNG"), "/auth/google_oauth2" %>
          </div>
	      <% end %>