<% if signed_in? %>

       <% if current_user.provider == "facebook" %>

          <%= link_to user_path(current_user) do %> 
             <strong><%= current_user.first_name %>
             <%= current_user.last_name.truncate(2, omission: '.')%></strong><br >
          <% end %>
           <%= image_tag('othericons/logout.PNG') %>
          <div class="logoutlink">
            <%= link_to "logout", destroy_user_session_path, :method => :delete %><br>
          </div>
           <%= image_tag(current_user.image_auth, width: "110") %>

       <% elsif current_user.provider == "google_oauth2" %>

          <%= link_to user_path(current_user) do %> 
             <strong><%= current_user.first_name %>
             <%= current_user.last_name.truncate(2, omission: '.')%></strong><br >
          <% end %>
           <%= image_tag('othericons/logout.PNG') %>
          <div class="logoutlink">
            <%= link_to "logout", destroy_user_session_path, :method => :delete %><br>
          </div>
           <%= image_tag(current_user.image_auth, width: "110") %>    

        <% elsif current_user.provider == "email" %>

          <%= link_to user_path(current_user) do %> 
             <strong><%= current_user.name %></strong><br >
          <% end %>
           <%= image_tag('othericons/logout.PNG') %>
            <div class="logoutlink">
              <%= link_to "logout", destroy_user_session_path, :method => :delete %><br>
            </div>
           <%= image_tag(current_user.image_url(:thumb), width: "110") if current_user.image? %>

        <% elsif current_user.provider == "twitter" %>

          <%= link_to user_path(current_user) do %> 
             <strong><%= current_user.name %></strong><br >
          <% end %>
           <%= image_tag('othericons/logout.PNG') %>
            <div class="logoutlink">
              <%= link_to "logout", destroy_user_session_path, :method => :delete %><br>
            </div>
           <%= image_tag(current_user.image_auth, width: "110") %> 

       <% end %> 

      <div class="inreviews">
      </div>
    <%= render 'shared/stats' %>  <br>

  <% if !current_user.company && current_user.provider == "email" %>
    Not verified!
  <% elsif current_user.company %>
    <%= link_to "+ Add update", new_alert_path(), class: "btn btn-default" %>
  <% end %>

  <hr><br>

  <%= render 'shared/ad_on_user_mainprofile' %>

  <% else %>
  <br>
    <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), user_omniauth_authorize_path(:facebook), id: "sign_in" %><br><br>
    <%= link_to image_tag("otherbigimages/Glogin.PNG"), user_omniauth_authorize_path(:google_oauth2) %><br><br>
    <%= link_to image_tag("otherbigimages/Tlogin.PNG"), user_omniauth_authorize_path(:twitter) %>
    <hr>
<% end %>