<% if signed_in? %>

          <%= link_to user_path(current_user) do %> 
          <strong><%= current_user.name.truncate(15, omission: '...') %></strong><br >
          <% end %>
           <%= image_tag('othericons/logout.PNG') %>
            <div class="logoutlink">
              <%= link_to "logout", destroy_user_session_path, :method => :delete %>
            </div>
          <% if current_user.image.blank? %>
            <%= image_tag("grey_star.PNG", width: "110", class: 'img-thumbnail') %>
          <% else %>
            <%= image_tag(current_user.image_url(:thumb), width: "110", class: 'img-thumbnail') %>
          <% end %><br>

     

    <%= render 'shared/stats' %> <hr>

      <div class="row dumb300"></div> <hr>

      <div class="bottom-about">
        ©
        <%= link_to "Contact", new_contact_form_path %> |
        <%= link_to "TOS - Privacy", tos_path %>
      </div>

  <% else %>
<hr>
   <%= link_to "Sign up", "/users/sign_up", class: 'btn btn-primary btn-lg btn-block' %><br>
   <%= link_to "Login", "/users/sign_in", class: 'btn btn-default btn-lg btn-block' %>
<hr>
      <div class="row dumb300"></div>
<hr>
      <div class="bottom-about">
        ©
        <%= link_to "Contact", new_contact_form_path %> |
        <%= link_to "TOS - Privacy", tos_path %>
      </div>
<% end %>