<% if signed_in? %>

     <%= link_to user_path(current_user) do %> 
     
       <% if current_user.provider == "facebook" %>
           <strong><%= current_user.first_name %>
           <%= current_user.last_name.truncate(2, omission: '.')%></strong><br >
           <%= image_tag('othericons/logout.PNG') %>
          <div class="logoutlink">
            <%= link_to "logout", signout_path%><br>
          </div>
           <%= image_tag(current_user.image_auth, width: "110") %>
       <% elsif current_user.provider == "google_oauth2" %>
           <strong><%= current_user.first_name %>
           <%= current_user.last_name.truncate(2, omission: '.')%></strong><br >
           <%= image_tag('othericons/logout.PNG') %>
          <div class="logoutlink">
            <%= link_to "logout", signout_path%><br>
          </div>
           <%= image_tag(current_user.image_auth, width: "110") %>    
       <% elsif current_user.provider == "email" %>
           <strong><%= current_user.name %></strong><br >
           <%= image_tag('othericons/logout.PNG') %>
            <div class="logoutlink">
              <%= link_to "logout", signout_path%><br>
            </div>
           <%= image_tag(current_user.image_url(:thumb), width: "110") if current_user.image? %>
       <% end %> 
     
     <% end %>

      <div class="inreviews">
      </div>
    <%= render 'shared/stats' %>  <br>

    <%= render 'shared/suggested_users' %>

  <% else %>
  <br>
  <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), "/auth/facebook", id: "sign_in" %>
        <div class="loginversus">or</div>
  <%= link_to image_tag("otherbigimages/Glogin.PNG"), "/auth/google_oauth2" %>
<% end %>