<% if signed_in? %>
   <strong>
      <%= link_to user_path(current_user) do %> 
        <%= current_user.first_name %>
        <%= current_user.last_name.truncate(2, omission: '.')%>
      <% end %>
    </strong><br >

  <%= image_tag('othericons/logout.PNG') %><div class="logoutlink"><%= link_to "logout", signout_path%><br></div>
      <%= image_tag(current_user.image, height: "120", width: "110") %>
      <div class="inreviews">
      </div>
    <%= render 'shared/stats' %>  <br><br>
  <% else %>
  <br>
  <%= link_to image_tag("otherbigimages/FBlogins.png", alt: "FB Login"), "/auth/facebook", id: "sign_in" %>
        <div class="loginversus">or</div>
  <%= link_to image_tag("otherbigimages/Glogin.PNG"), "/auth/google_oauth2" %>
<% end %>