<%= form_for @fineart, :html => {:multipart => true} do |f| %>

<%= render 'shared/main_error_messages', object: f.object %>

    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control autotitle" %><br><br>

    <%= f.label :tag_list, "keywords - separate by commas" %><br>
<%= f.text_field :tag_list, :placeholder => "e.g michelangelo, japanese art" , :class => "form-control autotitle" %><br><br>

    <%= image_tag("othericons/PhotoShow.PNG") %>
    <%= f.file_field :image, :placeholder => "e.g. https://imgur.com/Iks3rd" , :class => "podcastnew" %><br><br>

    <%= submit_tag 'Submit', :class => 'btn btn-default' %>

<% end %>
<div class="row dumb300"></div>