<% provide(:title, 'Results...') %>
<hr>
         <%= form_tag finearts_search_path, :method => :get do %>
            <%= text_field_tag :search, params[:search], :placeholder => "by name or keyword" , :class => "form-control mobile-search" %>
          <br>
              <div class="searchgo">
                <span class="input-group-btn">
                  <%= submit_tag "Go", class: "btn btn-default" %>
                </span>
              </div>
          <% end %>
<hr>

   <% if @finearts.empty? %>
          No results! Try something else or <b><%= link_to "+ Add new", new_fineart_path() %></b>
   <% else %>
      <% @finearts.each do |fineart| %>
            
                <%= link_to fineart.name.truncate(50, omission: '...'), fineart %><br>

                <% if fineart.fineart_reviews.count >= 1 %>
                 <hr>
                     <b><%= ((fineart.fineart_reviews.inject(0) { |sum, e| sum += e.point }).to_f / fineart.fineart_reviews_count).round(1) rescue 0 %></b>
                 <hr>
                <% end %><br>

               <%= link_to image_tag(fineart.image_url(:thumb)), fineart if fineart.image? %>
          <hr>
        <% end %>
      
          <div class="digg_pagination">
            <%= will_paginate @finearts %>
          </div>      

   <% end %>
