<% provide(:title, "#{@fineart.name} Reviews") %>

<hr>

<b><%= link_to @fineart.name.truncate(80, omission: '...'), fineart_path(@fineart) %></b><br><br>

  <div class="row">
    
    <div class="col-xs-6">
      <%= link_to image_tag(@fineart.image_url(:thumb)), @fineart.image_url, target: :_blank if @fineart.image? %>
    </div>

    <div class="col-xs-6"> 
      <%= render 'show_rating' %>
      <b>keywords:</b> <%= raw @fineart.tags.map(&:name).map { |t| t }.join(', ') %>
    </div>

  </div>

<hr>

    <div class="writeareview mobile">
      <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
      <%= link_to "Write a Review", new_fineart_fineart_review_path(@fineart) %>
    </div>

    <div class="row"> 
      <%= render :file => '/fineart_reviews/index' %>
    </div>
