<div class="mediacat">  
    <ul>
    <li><%= image_tag("caticons/Mbook.PNG", height: '12', width: '12') %><%= link_to "books", media_books_path %></li>
    <li><%= image_tag("caticons/Mmovie.PNG", height: '12', width: '12') %><%= link_to "movies", media_movies_path %></li>
    <li><%= image_tag("caticons/Mgames.GIF", height: '12', width: '12') %><%= link_to "games", "#" %></li>
    <li><%= image_tag("caticons/Mmusic.PNG", height: '12', width: '12') %><%= link_to "music", media_songs_path %></li>
    <li><%= image_tag("caticons/Mtv.PNG", height: '12', width: '12') %><%= link_to "TV", media_tvshows_path %></li>
    <li><%= image_tag("caticons/Mpodcast.PNG", height: '12', width: '12') %><%= link_to "podcasts", media_podcasts_path %></li>
    </ul>
</div>