<% provide(:title, 'Songs') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <div class="allnews">
    <div class="search-box">
      <%= render :file => 'songs/songsearch' %>
    </div>

    <hr>

          <% @songs[:tracks].each do |song| %>
            <div class="row">
              <div class="col-sm-7">
                
                <div class="songname"><%= link_to song.name.truncate(50, omission: '...'), song_path(song.uri) %></div>
                <div class="songartistalbum">
                  <b>Artist:</b> <%= song.artists.map(&:name).join(', ') %><br>
                  <b>Album:</b> <%= song.album.name %>
                </div><br>
                
              </div>
              
              <div class="col-sm-5">
                <% if song.comments.count >= 1 %>
                   <div class="numberOneindex">
                     <%= ((song.comments.inject(0) { |sum, e| sum += e.point }).to_f / song.comments.count).round(1) rescue 0 %>
                   </div>
                <% end %>
              </div>
              
            </div>
          <% end %>

    <%= render 'indexpaginate' %>
    
     <div class="row dumb500"></div>  
    
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
 
</div>
