<% provide(:title, "#{@song.name} Reviews") %>

<hr>
           <div class="songname"><%= @song.name %></div>
           <%= render 'show_rating' %><br>
           <div class="songartistalbum">
             <b>Artists:</b> <%= @song.artists.map(&:name).join(', ') %><br>
             <b>Album:</b> <%= @song.album.name %>
           </div><br>
            
            <iframe allowtransparency="true" frameborder="0" height="80" src="https://embed.spotify.com/?uri=<%= @song.uri %>" width="250"></iframe><br><br>

            <div class="writeareview mobile">
              <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
              <%= link_to "Write a Review", new_song_song_review_path(@song.uri) %>
            </div>

    <%= render 'shared/ad_on_item_mobile' %>

  <div class="row"> 
    <%= render :file => '/song_reviews/index' %>
  </div>