<%= nested_form_for(@tvshow_review, url: tvshow_tvshow_reviews_path, validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments') do |f| %>
  <% if @tvshow_review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @tvshow_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :point %>
  <div class="rating-comments"></div>
  <br>

  <div class="field">
    <%= f.text_area :content, :class => "form-control reviewcontent", 
    :placeholder => "Tell the world what you like or dislike, give tips and suggestions... ", 
    :onfocus => "this.placeholder = ''" %>
  </div><br>

      <div class="r-image"></div>

      <div class="r-rightside">
        <%= f.fields_for :review_images do |p| %>
            <%= p.file_field :image %>
        <% end %>
      </div>

      <br>
    
      <div class="actions">
        <%= f.submit " Submit ", :class => "btn btn-default", :id => "submit" %>
      </div><br>
    
      <div id="loading2" class="loadinggif" style="display:none;"><img src="/assets/othericons/uploading.gif" alt="" /></div>
      <div class="row dumb300"></div>

      <%= f.hidden_field :tvshow_id, :value => @tvshow.id %>
      <%= f.hidden_field :tvshow_name, :value => @tvshow.name %>
      <%= f.hidden_field :tvshow_poster, :value => @tvshow.poster_path %>
      <%= f.hidden_field :tvshow_year, :value => @tvshow.first_air_date.to_date.strftime("%Y") %>

<% end %>

<script type="text/javascript">
        $('.rating-comments').raty({
  click: function(score, evt) {
    $("#tvshow_review_point").val(score);
    return console.log(score);
  }
});
</script>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_tvshow_review').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>

<script type="text/javascript">
  $('.r-image').on('click', function(e) {
  return $(".r-rightside").slideToggle();
});
</script>