<%= form_for :tvshow_review, url: tvshow_tvshow_reviews_path do |f| %>


<%= f.hidden_field :tvshow_id, :value => @tvshow.id %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "field podtitle" %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "field podcontent" %>
  </p>
<%= f.submit " Submit ", :class => "btn btn-primary" %>
<% end %>

