<% unless signed_in? %>
    <div class="noreviewsonindex"><%= image_tag('othericons/lock_icon.png') %> Log in to read reviews </div>
    <div class="row dumb500"></div>  
<% else %>

  <% if @avg_score == 0.0 %>
    <div class="noreviewsonindex">No reviews yet :( </div>
    <div class="row dumb500"></div>
  <% else %>
  <% @tvshow_reviews.each do |tvshow_review| %><br>
      <div class="col-sm-3"> 
        <% if tvshow_review.user.provider == "facebook" %>
            <div class="reviewname">  
              <%= link_to user_path(tvshow_review.user) do %> 
                 <%= tvshow_review.user.first_name %>
                 <%= tvshow_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>
            <%= image_tag(tvshow_review.user.image_auth, width: "90", class: 'img-thumbnail') %>  

          <% elsif tvshow_review.user.provider == "google_oauth2" %>
            <div class="reviewname">  
              <%= link_to user_path(tvshow_review.user) do %> 
                 <%= tvshow_review.user.first_name %>
                 <%= tvshow_review.user.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>
            <%= image_tag(tvshow_review.user.image_auth, width: "90", class: 'img-thumbnail') %>

          <% elsif tvshow_review.user.provider == "email" %>
              <%= link_to user_path(tvshow_review.user) do %> 
                 <div class="reviewname"><%= tvshow_review.user.name %></div>
              <% end %>
            <%= image_tag(tvshow_review.user.image, width: "90", class: 'img-thumbnail') %>
        
          <% elsif tvshow_review.user.provider == "twitter" %>
              <%= link_to user_path(tvshow_review.user) do %> 
                 <div class="reviewname"><%= tvshow_review.user.name %></div>
              <% end %>
            <%= image_tag(tvshow_review.user.image_auth, width: "90", class: 'img-thumbnail') %>        
          <% end %>  
        </div>

        <div class="col-sm-9 podreview"> 
           <div class="separatereview">

              <div class="numberOne">
                <%= tvshow_review.point %>
              </div><br><br>

            <div class="reviewcontent"><%= simple_format(tvshow_review.content) %></div>

                  <% tvshow_review.review_images.each do |pic| %>
                       <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                  <% end %>
                   <% if signed_in? %>
                     <% unless current_user == tvshow_review.user %>
                       <hr>
                     <% end %>
                   <% end %>

                <div class="bottomreviewicons">
                  <% if signed_in? %>

                    <% if current_user == tvshow_review.user %>

                    <% elsif current_user.voted_for? tvshow_review %>
                      Voted!
                    <% else %>
                     <div class="thumbsup">
                       <%= link_to "",  like_tvshow_tvshow_review_path(tvshow_review.movie_ident, tvshow_review), method: :put, :remote => true %>
                     </div>

                     <div class="thumbsdown">
                      <%= link_to "", dislike_tvshow_tvshow_review_path(tvshow_review.movie_ident, tvshow_review), method: :put, :remote => true %>
                     </div>

                    <% end %>

                        <% if can? :destroy, TvshowReview %>
                          <hr>
                              <%= tvshow_review.get_upvotes.size %> | <%= tvshow_review.get_downvotes.size %>
                              <%= link_to 'Delete', tvshow_tvshow_review_path(tvshow_review.tvshow_id, tvshow_review),
                                     method: :delete,
                                     data: { confirm: 'Are you sure?'},
                                     class: "btn btn-default" %>
                        <% end %>

                  <% end %>

                </div>

        </div><br>
      </div>
    <% end %>
  <% end %>

<% end %>

<div class="digg_pagination">
  <%= will_paginate @tvshow_reviews %>
</div>
