Don't forget:
-Resize images (podcast, tech, health) to fit in mobile devices!

-----------
<div class="separatereview">
  <div class="col-sm-8 podreview"> <b><%= podcast_review.title %>:</b>   
  <div>
  <% if podcast_review.content.length > 350 %>
    <%= truncate(podcast_review.content, length: 350) %>
    <%= link_to_function '...Read more', "$(this).parent().html('#{escape_javascript podcast_review.content}')" %><br><br><br>
  <% else %>
    <%= podcast_review.content %><br>
  <% end %>
   </div>  
  </div>
</div>
----------
    @podcast_reviews = Podcast.find_by(params[:id]).podcast_reviews

    <div class="quickreview">
      <% @podcast_reviews.first(1).each do |podcast_review| %><br>
      <%= podcast_review.content.truncate(200, omission: '...') %>    
        <% end %> </div>
-----------
  <div class="field">
    <%= f.label :podcast_sub_category_id %>
    <%= f.grouped_collection_select :podcast_sub_category_id, PodcastCategory.order(:name), :podcast_sub_categories, :name, :id, :name, include_blank: true  %>
  </div>
--------------
"/images/fallback/" + [version_name, "NoImage.png"].compact.join('_')
-----------
<%= image_tag("NoImage.png", height: '120', width: '120') %>
--------
<%= f.file_field :image %>
----------

jQuery ->
  $('#podcast_podcast_sub_category_id').parent().hide()
  podcast_sub_categories = $('#podcast_podcast_sub_category_id').html()
  $('#podcast_podcast_category_id').change ->
    podcast_category = $('#podcast_podcast_category_id :selected').text()
    escaped_podcast_category = podcast_category.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1')
    options = $(podcast_sub_categories).filter("optgroup[label='#{escaped_podcast_category}']").html()
    if options
      $('#podcast_podcast_sub_category_id').html(options)
      $('#podcast_podcast_sub_category_id').parent().show()      
    else
      $('#podcast_podcast_sub_category_id').empty()
      $('#podcast_podcast_sub_category_id').parent().hide()

------------