<%= form_for([@tech, @tech_review]) do |f| %>
  <% if @tech_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tech_review.errors.count, "error") %> prohibited this tech_review from being saved:</h2>

      <ul>
      <% @tech_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "field podtitle" %>
  </div><br>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "field podcontent", :placeholder => "Tell the world what you like, dislike, favorite episodes..." %>
  </div><br>
  <div class="actions">
    <%= f.submit " Submit ", :class => "btn btn-primary" %>
  </div>
<% end %>
