= form_for @tech_review do |f|
  - if @tech_review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tech_review.errors.count, "error")} prohibited this tech_review from being saved:"
      %ul
        - @tech_review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :tech
    = f.text_field :tech
  .actions
    = f.submit 'Save'
