%h1 Listing tech_reviews

%table
  %tr
    %th Title
    %th Content
    %th User
    %th Tech
    %th
    %th
    %th

  - @tech_reviews.each do |tech_review|
    %tr
      %td= tech_review.title
      %td= tech_review.content
      %td= tech_review.user
      %td= tech_review.tech
      %td= link_to 'Show', tech_review
      %td= link_to 'Edit', edit_tech_review_path(tech_review)
      %td= link_to 'Destroy', tech_review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tech review', new_tech_review_path
