<% if @avg_score == 0.0 %>
<div class="noreviewsonindex">No reviews. Be the first to write it!</div>
<% else %>
<% @tech_reviews.each do |tech_review| %><br>
    <div class="col-sm-3"> 
      <div class="reviewname">     
        <%= link_to user_path(tech_review.user) do %> 
          <%= tech_review.user.first_name %>
          <%= tech_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>    
        <%= image_tag(tech_review.user.image, width: "80") %>  
     </div>
        
      <div class="col-sm-9 podreview"> 
         <div class="separatereview">
           
            <div class="numberOne">
              <%= tech_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(tech_review.content) %></div>
           
             <% unless tech_review.review_images.empty? %>
                <% tech_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == tech_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
             <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == tech_review.user %>
                    
                  <% elsif current_user.voted_for? tech_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to image_tag('othericons/thumbsup_off.PNG', height: '21', width: '20'),  like_tech_tech_review_path(tech_review.tech_id, tech_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to image_tag('othericons/thumbsdown_off.PNG', height: '21', width: '20'), dislike_tech_tech_review_path(tech_review.tech_id, tech_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>
                
                <% end %>
                
              </div>
          
      </div><br>
    </div>
  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @tech_reviews %>
</div>
