<div class="row">
  <% @all_fineart_reviews.each do |all_fineart_review| %>
    <div class="col-sm-3">
      <%= link_to user_path(all_fineart_review.user) do %> 
        <%= all_fineart_review.user.first_name %><br>
      <% end %>
      <%= image_tag(all_fineart_review.user.image, width: "80") %>
    </div>
    <div class="col-sm-9">
      Art: <%= link_to all_fineart_review.fineart.name, all_fineart_review.fineart %><br>
      <%= all_fineart_review.point %><br>
      <%= all_fineart_review.content %><br>
      <% all_fineart_review.review_images.each do |pic| %>
         <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
      <% end %><br><br>
      <%= all_fineart_review.get_upvotes.size %> | <%= all_fineart_review.get_downvotes.size %>
      <%= link_to 'Delete', [all_fineart_review.fineart, all_fineart_review],
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-default" %>

      <hr>
    </div>
  <% end %>
</div>

<div class="digg_pagination">
  <%= will_paginate @fineart_reviews %>
</div>