<% if @avg_score == 0.0 %>
    <div class="noreviewsonindex">No reviews yet :( </div>
    <div class="row dumb500"></div>
  <% else %>
  <% @fineart_reviews.each do |fineart_review| %><br>
      <div class="col-sm-3"> 

              <%= link_to user_path(fineart_review.user) do %> 
                 <div class="reviewname"><%= fineart_review.user.name.truncate(15, omission: '...') %></div>
              <% end %>
          <% if fineart_review.user.image.blank? %>
            <%= image_tag("grey_star.PNG", width: "80", class: 'img-thumbnail') %>
          <% else %>
            <%= image_tag(fineart_review.user.image, width: "90", class: 'img-thumbnail') %>
          <% end %>
 
       </div>

        <div class="col-sm-9 podreview"> 
           <div class="separatereview">

              <div class="numberOne">
                <%= fineart_review.point %>
              </div><br><br>

            <div class="reviewcontent"><%= simple_format(fineart_review.content) %></div>

                  <% fineart_review.review_images.each do |pic| %>
                       <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                  <% end %>
                   <% if signed_in? %>
                     <% unless current_user == fineart_review.user %>
                       <hr>
                     <% end %>
                   <% end %>

                <div class="bottomreviewicons">
                  <% if signed_in? %>

                    <% if current_user == fineart_review.user %>

                    <% elsif current_user.voted_for? fineart_review %>
                      Voted!
                    <% else %>
                     <div class="thumbsup">
                       <%= link_to "",  like_fineart_fineart_review_path(fineart_review.fineart_id, fineart_review), method: :put, :remote => true %>
                     </div>

                     <div class="thumbsdown">
                      <%= link_to "", dislike_fineart_fineart_review_path(fineart_review.fineart_id, fineart_review), method: :put, :remote => true %>
                     </div>

                    <% end %>

                        <% if can? :destroy, FineartReview %>
                          <hr>
                              <%= fineart_review.get_upvotes.size %> | <%= fineart_review.get_downvotes.size %>
                              <%= link_to 'Delete', [fineart_review.fineart, fineart_review],
                                       method: :delete,
                                       data: { confirm: 'Are you sure?'},
                                       class: "btn btn-default" %>
                        <% end %>

                  <% end %>

                </div>

        </div><br>
      </div>
    <% end %>
  <% end %>

<div class="digg_pagination">
  <%= will_paginate @fineart_reviews %>
</div>