<div class="row autoup"> 
  <div class="col-sm-3"> 
    <%= image_tag @book.imageLinks['thumbnail'] %>
  </div> 
  
   <div class="col-sm-5 autoshow"> 
     <b><%= @book.title if @book.title.present? %></b> <br>
     by <%= @book.authors.first if @book.authors.present? %> <br><br>
     Pages: <%= @book.pageCount if @book.pageCount.present? %> <br>
     Year: <%= @book.publishedDate if @book.publishedDate.present? %> <br>
     Language: <%= @book.language if @book.language.present? %> <br><br>
     <%= image_tag('othericons/cart_icon.png') %>   
     <%= link_to "Buy it", "https://www.amazon.com/dp/#{@book.isbn_10}/?tag=movtop0c-20", :target => "_blank" if @book.isbn_10.present? %><br>
     <%= link_to "Preview", @book.previewLink, :target => "_blank" if @book.previewLink.present? %> <br>
     <div class="r-clickfeature">
       <%= link_to "Description", "#" %>  
     </div>
   </div>
  
  <div class="col-sm-4">    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
       <%= link_to "Write a Review", new_book_book_review_path(@book.id, @book_review) %>
    </div>
    
       <div>
         <hr>
         <%= render 'show_rating' %>
       </div>        
  </div>
  
</div> <br>

<div class="r-productfeature">
  <div id="book-description">
    <%= simple_format(@book.description) if @book.description.present? %>
  </div><hr>
</div>

<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>