<div class="row">
  <% if @books %>
        <% @books.each do |book| %><br><br>
            <div class="col-sm-4 booksin">
              <% if book.image_link.present? %>
              <%= image_tag book.image_link, height: "160" %>
              <% else %>
               <%= image_tag('noimage.PNG') %>
              <% end %>
            </div>
            <div class="col-sm-8 booksin">
              <%= link_to book.titles_array.first, book_path(book.id) %><br>
              by <%= book.authors_array.first %>              
            </div>
        <% end %>
  <% end %>
</div>

<%= render 'paginate' %>

<br>

