<div class="row">
  <% if @books %>
        <% @books.each do |book| %><br><br>
            <div class="col-sm-4 podsin">
              <% if book.image_link.present? %>
              <%= image_tag book.image_link, height: "160" %>
              <% else %>
               <%= image_tag('noimage.PNG') %>
              <% end %>
            </div>
            <div class="col-sm-7 podsin">
              <%= link_to book.titles_array.first.truncate(50, omission: '...'), book_path(book.id) %><br>
              by <%= book.authors_array.first %>              
            </div>
  
              <div class="col-sm-1">
                <% if book.comments.count >= 1 %>
               <div class="numberOneindex">
                 <%= ((book.comments.inject(0) { |sum, e| sum += e.point }).to_f / book.comments.count).round(1) rescue 0 %>
               </div>
              <% end %>
            </div>
  
        <% end %>
  <% else %>
    <div class="row dumb500"></div>
  <% end %>
</div>

<%= render 'paginate' %>

<br>

