<% provide(:title, 'Search results') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8">  
  <%= render "media/mcategories" %>  
    <div class="allnews">
      
      <%= render "search_book" %>
      
      <% @results.first(7).each do |result| %><br><br>
        <%= result.title %> (<%= result.first_publish_year %>)<br>
        <%= result.author_name.join() %>
      <% end %>
      
    </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
  
</div>