<%= link_to 'New Link', new_link_path, :class => "btn btn-primary" %>

<table class="table table-striped table-hover">
  <tr>
    <th>Question</th>
    <th>Link</th>
    <th colspan="3"></th>
  </tr>
 
  <% @links.each do |link| %>
    <tr>
      <td><%= link.text %></td>
      <td><%= link.link %></td>
      <td><%= link_to 'Show', link_path(link) %></td>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
      <td><%= link_to 'Destroy', link_path(link),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @contact_forms %>
