<% provide(:title, 'Sign in') %>

<div class="row">
  
  <div class="col-xs-2 categories">
    <%= render 'shared/categories' %><br><br>
  </div>

  <div class="col-xs-8" align="center">
    <div class="homenews">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>        
          
            <div>
            <%= f.email_field :email, placeholder: "email", :class => "form-control login", :required => true %>
            </div><br>

            <div>
              <%= f.password_field :password, placeholder: "password", :class => "form-control login", :required => true %>
            </div><br>

            <%= f.submit "Log in", class: "btn btn-large btn-default", data: { disable_with: "Signing in..." } %><br><br>

            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %>
            <% end %> | 
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br>
            <% end -%>

          <% end %>

        <hr>
        <div class="row dumb500"></div>
      
    </div>
  </div>

  <div class="col-xs-2"> 
    <%= render 'shared/user_mainprofile' %> 
  </div>

</div>
