<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist makeup"><%= link_to "makeup", root_path %></li> 
  <li class="categorylist fragrance"><%= link_to "fragrance", root_path %></li>
  <li class="categorylist hair"><%= link_to "hair", root_path %></li>
  <li class="categorylist skin"><%= link_to "skin", root_path %></li> 
  <li class="categorylist bath"><%= link_to "bath & body", root_path %></li>
</ul>

<%= render 'shared/aboutus' %>