<ul class="nav nav-stacked categorylist">
  <li class="categorylist makeup"><%= link_to "makeup", makeup_index_path %></li> 
  <li class="categorylist fragrance"><%= link_to "fragrance", fragrance_index_path %></li>
  <li class="categorylist hair"><%= link_to "hair", haircare_index_path %></li>
  <li class="categorylist skin"><%= link_to "skin", skincare_index_path %></li> 
  <li class="categorylist bath"><%= link_to "body-bath", bodybath_index_path %></li>
  <li class="categorylist beatool"><%= link_to "tools", beatool_index_path %></li>
</ul>