<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist ecomputers"><%= link_to "computers", root_path %></li> 
  <li class="categorylist emobile"><%= link_to "mobile", root_path %></li>
  <li class="categorylist ephoto"><%= link_to "photo", root_path %></li>
  <li class="categorylist eportable"><%= link_to "portable", root_path %></li> 
  <li class="categorylist esecurity"><%= link_to "security", root_path %></li>
  <li class="categorylist eaudio"><%= link_to "audio", root_path %></li>
  <li class="categorylist etv"><%= link_to "tv", root_path %></li> 
  <li class="categorylist evehicle"><%= link_to "vehicle", root_path %></li>
</ul>

<%= render 'shared/aboutus' %>