<ul class="nav nav-stacked categorylist">
  <li class="categorylist ecomputers"><%= link_to "computers", computer_index_path %></li> 
  <li class="categorylist ephoto"><%= link_to "photo", camera_index_path %></li>
  <li class="categorylist emobile"><%= link_to "mobile", emobile_index_path %></li>
  <li class="categorylist etv"><%= link_to "TV", television_index_path %></li>
  <li class="categorylist eportable"><%= link_to "portable", eportable_index_path %></li> 
  <li class="categorylist esecurity"><%= link_to "security", securit_index_path %></li>
  <li class="categorylist eaudio"><%= link_to "audio", homeaudio_index_path %></li> 
  <li class="categorylist evehicle"><%= link_to "vehicle", carelectro_index_path %></li>
  <li class="categorylist ereader"><%= link_to "e-reader", ereader_index_path %></li>
  <li class="categorylist egps"><%= link_to "GPS", enavigation_index_path %></li>
  <li class="categorylist ewarranty"><%= link_to "warranties", ewar_index_path %></li>
</ul>