<ul class="nav nav-stacked categorylist">
  <li class="categorylist drugs"><%= link_to "drugs", drugs_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist supplements"><%= link_to "supplements", supplement_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist healthcare"><%= link_to "healthcare", healthcare_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist sex"><%= link_to "sex", sexual_index_path %></li> <div class="bottom-grey-border"></div>
  <li class="categorylist hpersonal"><%= link_to "personal", personal_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist medical"><%= link_to "medical", medical_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist household"><%= link_to "household", household_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist hchild"><%= link_to "baby/child", hkid_index_path %></li><div class="bottom-grey-border"></div>
</ul>