<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist music"><%= link_to "music", root_path %></li> 
  <li class="categorylist sports"><%= link_to "sports", root_path %></li>
  <li class="categorylist crafts"><%= link_to "arts", root_path %></li>
</ul>

<%= render 'shared/aboutus' %>