<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist music"><%= link_to "music", musical_index_path %></li> 
  <li class="categorylist sports"><%= link_to "sports", sport_index_path %></li>
  <li class="categorylist crafts"><%= link_to "arts", craft_index_path %></li>
  <li class="categorylist toys"><%= link_to "toys", toy_index_path %></li>
</ul>

<%= render 'shared/aboutus' %>