<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist movies"><%= link_to "movies", movies_path %></li>
  <li class="categorylist books"><%= link_to "books", books_path %></li> 
  <li class="categorylist games"><%= link_to "games", videogame_index_path %></li>
  <li class="categorylist songs"><%= link_to "songs", songs_path %></li>  
  <li class="categorylist tvshows"><%= link_to "tvshows", tvshows_path %></li>
  <li class="categorylist podcasts"><%= link_to "podcasts", podcasts_path %></li>
  <li class="categorylist art_media"><%= link_to "art", finearts_path %></li>
</ul>

<%= render 'shared/aboutus' %>