<ul class="nav nav-stacked categorylist">
  <li class="categorylist books"><%= link_to "books", books_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist movies"><%= link_to "movies", movies_path %></li> <div class="bottom-grey-border"></div>
  <li class="categorylist games"><%= link_to "games", videogame_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist songs"><%= link_to "songs", songs_path %></li><div class="bottom-grey-border"></div>  
  <li class="categorylist tvshows"><%= link_to "tvshows", tvshows_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist podcasts"><%= link_to "podcasts", podcasts_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist art_media"><%= link_to "fine art", finearts_path %></li><div class="bottom-grey-border"></div>
</ul>