<%= nested_form_for([@drug, @drug_review], validate: true, html: {multipart: true}, 'data-update-target' => 'comments', class: 'comments') do  |f| %>
  <% if @drug_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug_review.errors.count, "error") %> prohibited this auto_review from being saved:</h2>

      <ul>
      <% @drug_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :point %>
  <div class="rating-comments"></div>
  <br>

  <div class="field">
    <%= f.text_area :content, :class => "form-control reviewcontent", 
    :placeholder => "Tell the world what you like or dislike, give tips and suggestions... ", 
    :onfocus => "this.placeholder = ''" %>
  </div><br>


      <div class="r-image"></div>

      <div class="r-rightside">
        <%= f.fields_for :review_images do |p| %>
            <%= p.file_field :image %>
        <% end %>
      </div>

      <br>
    
      <div class="actions">
        <%= f.submit " Submit ", :class => "btn btn-default", :id => "submit" %>
      </div><br>
    
        <div id="loading2" class="loadinggif" style="display:none;">
          <%= image_tag("othericons/uploading.gif", alt: "") %><br>
          Uploading...
        </div>
      
      <div class="row dumb300"></div>
<% end %>

<script type="text/javascript">
        $('.rating-comments').raty({
  click: function(score, evt) {
    $("#drug_review_point").val(score);
    return console.log(score);
  }
});
</script>

<script type="text/javascript">
(function (d) {
  d.getElementById('new_drug_review').onsubmit = function () {
    d.getElementById('submit').style.display = 'block';
    d.getElementById('loading2').style.display = 'block';
  };
}(document));
</script>

<script type="text/javascript">
  $('.r-image').on('click', function(e) {
  return $(".r-rightside").slideToggle();
});
</script>
