<h1>Listing drug_reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Drug</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drug_reviews.each do |drug_review| %>
      <tr>
        <td><%= drug_review.title %></td>
        <td><%= drug_review.content %></td>
        <td><%= drug_review.user %></td>
        <td><%= drug_review.drug %></td>
        <td><%= link_to 'Show', drug_review %></td>
        <td><%= link_to 'Edit', edit_drug_review_path(drug_review) %></td>
        <td><%= link_to 'Destroy', drug_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug review', new_drug_review_path %>
