<% if @avg_score == 0.0 %>
<div class="noreviewsonindex">No reviews :( </div>
<div class="row dumb500"></div>
<% else %>
  <% @drug_reviews.each do |drug_review| %><br>
    <div class="col-sm-3"> 
      <div class="reviewname">     
        <%= link_to user_path(drug_review.user) do %> 
          <%= drug_review.user.first_name %>
          <%= drug_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>    
        <%= image_tag(drug_review.user.image, width: "80") %>  
     </div>
        
      <div class="col-sm-9 podreview"> 
         <div class="separatereview">
           
            <div class="numberOne">
              <%= drug_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(drug_review.content) %></div>
           
                <% drug_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 100), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == drug_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == drug_review.user %>
                    
                  <% elsif current_user.voted_for? drug_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to "",  like_drug_drug_review_path(drug_review.drug_id, drug_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to "", dislike_drug_drug_review_path(drug_review.drug_id, drug_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>
                
                      <% if can? :destroy, @drug_review %>
                        <hr>
                            <%= drug_review.get_upvotes.size %> | <%= drug_review.get_downvotes.size %>
                            <%= link_to 'Delete', [drug_review.drug, drug_review],
                               method: :delete,
                               data: { confirm: 'Are you sure?'},
                               class: "btn btn-primary" %>
                      <% end %>
                
                <% end %>
                
              </div>
          
      </div><br>
    </div>
  <% end %>
<% end %>
