<% if @avg_score == 0.0 %>
  <div class="noreviewsonindex">No reviews :( </div>
<% else %>
<% @drug_reviews.each do |drug_review| %><br>
    <div class="mobile-activity-photo"><%= image_tag(drug_review.user.image, width: "50") %></div> 
      <div class="reviewname mobile">     
        <%= link_to user_path(drug_review.user) do %> 
          <%= drug_review.user.first_name %>
          <%= drug_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>  
       <br><br>
         <div class="separatereview">
           
            <div class="numberOne">
              <%= drug_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(drug_review.content) %></div>
           
                <% drug_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:thumb), width: 50), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == drug_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == drug_review.user %>
                    
                  <% elsif current_user.voted_for? drug_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to image_tag('othericons/thumbsup_off.PNG'),  like_drug_drug_review_path(drug_review.drug_id, drug_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to image_tag('othericons/thumbsdown_off.PNG'), dislike_drug_drug_review_path(drug_review.drug_id, drug_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>                
                
                <% end %>
                
              </div>
          
      </div><br>

  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @drug_reviews %>
</div>