<div class="row autoup"> 
  <div class="col-sm-3"> 
    <%= link_to image_tag(@auto.image_url(:thumb)), @auto.image_url, target: :_blank if @auto.image? %> 
  </div> 
  
   <div class="col-sm-5 autoshow"> 
     <b><%= link_to @auto.name.truncate(100, omission: '...'), auto_path(@auto) %></b> <br><br>

      <%= link_to "additional info", additionalinfo_auto_path %><br><br>
  
  </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_auto_auto_review_path(@auto) %>
    </div><br>
    
     <div>
     <%= render 'show_rating' %>
     </div>
    
  </div>
  
</div> <br>
