<div class="row autoup"> 
  <div class="col-sm-3"> 
    <b><%= link_to @auto.name, auto_path(@auto) %></b> <br>
    <%= image_tag @auto.image_url(:thumb) if @auto.image? %> 
  </div> 
  
   <div class="col-sm-5"> 

<div class="rating-total" data-id= <%= @auto.id %> data-score= <%= @avg_score || 0 %> >
<div class="total_score">
  <%= @avg_score ? @avg_score.round(1) : 0 %>
</div></div>

     <div class="autosmallinfo">
        <%= @auto.engine %><br>
        <%= @auto.transmission %><br>
        <%= @auto.horsepower %><br>
        <%= @auto.fueleconomy %><br>
        <%= @auto.navigation %><br>
        <%= @auto.bodytype %><br>
     </div>
   
  </div>
  
  <div class="col-sm-4">
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_auto_auto_review_path(@auto) %>
    </div><br>
    <%= image_tag("othericons/PhotoShow.PNG") %> (6) 
    <%= image_tag("othericons/VideoShow.PNG") %> (7) <br><br>
    <%= link_to "Edit", edit_auto_path(@auto) %>
  </div>
  
</div> <br>
