<%= form_for @auto, :html => {:multipart => true} do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @auto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "Tesla S" , :class => "podcastnew" %><br><br>

    <%= f.label :additionalinfo %><br>
    <%= f.text_area :additionalinfo, :class => "field podcontent" %><br><br>

    Type: <%= f.select :category, [ 'car', 'motorcycle', 'bicycle' ] %><br><br>

    <%= image_tag("othericons/PhotoShow.PNG") %>
    <%= f.file_field :image, :placeholder => "e.g. https://imgur.com/Iks3rd" , :class => "podcastnew" %><br><br>

    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>

<% end %>