<%= form_for @auto, :html => {:multipart => true} do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% @auto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "Tesla S" , :class => "podcastnew" %><br><br>

    <%= f.label :engine %><br>
    <%= f.text_field :engine, :class => "podcastnew" %><br><br>

    <%= f.label :transmission %><br>
    <%= f.text_field :transmission, :class => "podcastnew" %><br><br>

    <%= f.label :horsepower %><br>
    <%= f.text_field :horsepower, :class => "podcastnew" %><br><br>

    <%= f.label :fueleconomy %><br>
    <%= f.text_field :fueleconomy, :class => "podcastnew" %><br><br>

    <%= f.label :navigation %><br>
    <%= f.text_field :navigation, :class => "podcastnew" %><br><br>

    <%= f.label :bodytype %><br>
    <%= f.text_field :bodytype, :class => "podcastnew" %><br><br>

    <%= image_tag("othericons/PhotoShow.PNG") %>    <%= f.label :remote_image_url, "Image URL (min. 150x150)" %><br />
    <%= f.text_field :remote_image_url, :placeholder => "e.g. https://imgur.com/Iks3rd" , :class => "podcastnew" %><br><br>

    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>

<% end %>