<% @auto_reviews.each do |auto_review| %><br>

  <div class="col-sm-3"> 
    <div class="reviewname">
      <%= link_to auto_review.user.name, user_path(auto_review.user) %>
    </div>
    
            <%= image_tag(auto_review.user.smallimage) %>
        <div class="inreviews">
            <%= image_tag("othericons/pointicon.PNG", height: '12', width: '12') %> 
          <b><%= auto_review.user.auto_reviews.count * 5 %></b><br >
            <%= image_tag("othericons/writeRev.png", height: '12', width: '12') %> 
          <b><%= auto_review.user.auto_reviews.count %></b>
        </div>   
  </div>
      
    <div class="col-sm-8 podreview"> 
      <div class="separatereview">
        <b><%= auto_review.title %>:</b> <br>  
        <%= auto_review.content %><br><br><br>
      </div><br>
    </div>

<% end %>