<% provide(:title, 'All Auto') %>

      <% @autos.each do |auto| %>
          <div class="row">
            <hr>
            <%= link_to auto.name, auto %><br>
            <%= image_tag auto.image_url(:thumb) if auto.image? %>  
            <hr>
            Author: <%= link_to auto.user.first_name, auto.user %> | 
            <%= link_to 'Show', auto_path(auto) %>
            <%= link_to 'Edit', edit_auto_path(auto) %>
            <%= link_to 'Destroy', auto_path(auto),
                            method: :delete, data: { confirm: 'Are you sure?' } %>
            <hr>
         </div>
      <% end %>

<div class="digg_pagination">
  <%= will_paginate @autos %>
</div>