<% provide(:title, 'Cars') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
    
  <div class="col-sm-8"> 
    <div class="allnews">
      
      <div class="autosearchup">
      <%= form_tag autos_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => "e.g Tesla S or 'sedan'" , :class => "autosearchbutton" %>
        <div class="searchstyle"><%= image_submit_tag("searchbutton.PNG", height: '20', width: '20' ) %></div>
      <% end %>
      </div>
      <br>
        <% @autos.each do |auto| %>
         <div class="col-sm-4 podsin"><%= image_tag auto.image_url(:thumb) if auto.image? %></div>
         <div class="col-sm-8 podsin">

            <div class="podcastsnowindex"><%= link_to auto.name, auto %></div>
           
             <div class="rating-total" data-id= <%= auto.id %> data-score= <%= avg_score_for(auto) %> >
             </div>
           <div class="total-score">
             <%= avg_score_for auto %>
           </div>
           
         </div>
        <% end %>
    </div>
  </div>
  
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>
 
</div>
