<% provide(:title, 'Results...') %>

<hr>
    <%= form_tag autos_search_path, :method => :get do %>      
<%= text_field_tag :search, params[:search], :placeholder => "cars, motorcycles, bicycles..." , class: "form-control mobile-search" %>
<br>
      <div class="searchgo">
        <span class="input-group-btn">
          <%= submit_tag "Go", class: "btn btn-default" %>
        </span>
      </div>
    <% end %> 
<hr>

<% if @autos.empty? %>
    No results! Try something else or <b><%= link_to "+ Add new", new_auto_path() %></b>
   <% else %>
      <div class="uselessresults mobile">-Useless results? <b><%= link_to "+ Add new", new_auto_path() %></b></div><br>
  <% @autos.each do |auto| %>
      <hr>           
      <%= link_to auto.name.truncate(50, omission: '...'), auto %><br>

     <% if auto.auto_reviews.count >= 1 %>
        <div class="numberOneindex">
          <%= ((auto.auto_reviews.inject(0) { |sum, e| sum += e.point }).to_f / auto.auto_reviews.count).round(1) rescue 0 %>
        </div>
     <% end %>

      <%= image_tag auto.image_url(:thumb) if auto.image? %>
      
  <% end %>

          <div class="digg_pagination">
            <%= will_paginate @autos %>
          </div>

<% end %>
