<% provide(:title, 'Results...') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/catlists/vehcar' %>
  </div>
    
  <div class="col-sm-8">
    <div class="allnews">
      
        <%= render 'search_form' %> 
    
        <hr>
      
      <% if @autos.empty? %>
          No results! Try something else or <b><%= link_to "+ Add new", new_auto_path() %></b>
          <div class="row dumb500"></div>
       <% else %>
      <div class="uselessresults">Useless results? <b><%= link_to "+ Add new", new_auto_path() %></b></div><br>
        <% @autos.each do |auto| %>
          <div class="row">
             <div class="col-sm-4 podsin">
               <%= image_tag auto.image_url(:thumb) if auto.image? %>
             </div>
             <div class="col-sm-7 podsin">
    
                <b><%= link_to auto.name.truncate(50, omission: '...'), auto %></b><br>
             </div>
            
            <div class="col-sm-1">
              <% if auto.auto_reviews.count >= 1 %>
               <div class="numberOneindex">
                <%= ((auto.auto_reviews.inject(0) { |sum, e| sum += e.point }).to_f / auto.auto_reviews_count).round(1) rescue 0 %>
               </div>
              <% end %>
            </div>
           
         </div>
        <% end %>
      
          <div class="digg_pagination">
            <%= will_paginate @autos %>
          </div>
      
       <% end %>
      
    </div>
  </div>
 
</div>