<% provide(:title, "#{@auto.name} Reviews") %>

<hr>

  <div class="row">
    
    <div class="col-xs-7">
      <%= link_to image_tag(@auto.image_url(:thumb)), @auto.image_url, target: :_blank if @auto.image? %>
    </div>

    <div class="col-xs-5"> 
      <b><%= link_to @auto.name.truncate(80, omission: '...'), auto_path(@auto) %></b><hr>
      
        <div class="row">
          <div class="col-xs-6"> 
            <%= render 'show_rating' %>
          </div> 
          <div class="col-xs-6">
            <div class="r-clickfeature" id="additional-mobile">
                <%= link_to "info", "#" %>
            </div>
          </div>
        </div>
      
    </div>

  </div>

<hr> 
   
    <div class="writeareview mobile">
      <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
      <%= link_to "Write a Review", new_auto_auto_review_path(@auto) %>
    </div>
    
    <div class="r-productfeature">
      <%= simple_format(@auto.additionalinfo) if @auto.additionalinfo.present? %><hr>
    </div>

    <%= render 'shared/ad_on_item_mobile' %>

    <div class="row"> 
      <%= render :file => '/auto_reviews/index' %>
    </div>

<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>