<div class="row" align="left">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>
  
      <% if activity.owner.provider == "facebook" %>
          <div class="mobile-activity-photo">
            <%= image_tag(activity.owner.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(activity.owner) do %> 
                <%= activity.owner.first_name %>
                <%= activity.owner.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif activity.owner.provider == "google_oauth2" %>
          <div class="mobile-activity-photo">
            <%= image_tag(activity.owner.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(activity.owner) do %> 
                <%= activity.owner.first_name %>
                <%= activity.owner.last_name.truncate(2, omission: '.')%>
              <% end %>
            </div>

      <% elsif activity.owner.provider == "email" %>
          <div class="mobile-activity-photo">
            <%= image_tag(activity.owner.image, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(activity.owner) do %> 
                <%= activity.owner.name %>
              <% end %>
            </div> 
  
      <% elsif activity.owner.provider == "twitter" %>
          <div class="mobile-activity-photo">
            <%= image_tag(activity.owner.image_auth, width: "50") %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(activity.owner) do %> 
                <%= activity.owner.name %>
              <% end %>
            </div>   

      <% end %>
  
   <% end %>
  
  
      <br>

      <div class="separatereview">
        
        <%= image_tag('othericons/company_alert.png') %><br><br>
        <%= auto_link(simple_format(activity.trackable.content), :html => { :target => '_blank'}) %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  <hr><%= link_to image_tag('othericons/rsz_close.png'), [activity.trackable],
                                     method: :delete,
                                     data: { confirm: 'Delete. Are you sure?'} %>                                    
                <% end %>             
            
            <% end %>
          </div> <br>       
      </div>

<% end %>
</div>