<div class="healthcat" align="center">  
    <ul>
      <li><%= image_tag("healthicons/onepillicon.PNG", height: '22', width: '22') %><b><%= link_to "drugs", "#" %></b></li>
      <li><%= image_tag("healthicons/supplementicon1.PNG", height: '22', width: '18') %><%= link_to "supplements", "#" %></li>
      <li><%= image_tag("healthicons/weighticon1.PNG", height: '22', width: '22') %><%= link_to "sports", "#" %></li>
    </ul>
</div>