<div class="mediacat">  
    <ul>
    <li><%= image_tag("caticons/Mbook.PNG", height: '12', width: '12') %><%= link_to "books", "#" %></li>
    <li><%= image_tag("caticons/Mmovie.PNG", height: '12', width: '12') %><%= link_to "movies", movies_path %></li>
    <li><%= image_tag("caticons/Mgames.GIF", height: '12', width: '12') %><%= link_to "games", "#" %></li>
    <li><%= image_tag("caticons/Mmusic.PNG", height: '12', width: '12') %><%= link_to "music", songs_path %></li>
    <li><%= image_tag("caticons/Mtv.PNG", height: '12', width: '12') %><%= link_to "TV", "#" %></li>
    <li><%= image_tag("caticons/Mpodcast.PNG", height: '12', width: '12') %><%= link_to "podcasts", podcasts_path %></li>
    </ul>
</div>