<div class="row" align="left">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>

          <div class="mobile-activity-photo">
            <% if activity.owner.image.blank? %>
              <%= image_tag("grey_star.PNG", width: "50") %>
            <% else %>
              <%= image_tag(activity.owner.image, width: "50") %>
            <% end %>
          </div> 
            <div class="reviewname mobile">     
              <%= link_to user_path(activity.owner) do %> 
                <%= activity.owner.name %>
              <% end %>
            </div> 

   <% end %><br>

      <div class="separatereview">
        
        <%= image_tag('caticons/media/Mmovies.PNG') %>    
        <%= link_to activity.trackable.movie_title.truncate(25, omission: '...'), "/movies/#{activity.trackable.movie_id}" %><br><br>
        
        <div class="numberOne"><%= activity.trackable.point %></div><br><br>
        <div class="reviewcontent">
          <%= auto_link(simple_format(activity.trackable.content), :html => { :target => '_blank'}) %>
        </div>
             <% activity.trackable.review_images.each do |pic| %>
             <%= link_to image_tag(pic.image_url(:thumb), width: 80), pic.image_url, target: :_blank if pic.image? %>
            <% end %> 
              <% if signed_in? %>
                <% unless current_user == activity.owner %>
                  <hr>
                <% end %>
              <% end %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  <hr><%= link_to image_tag('othericons/rsz_close.png'), movie_movie_review_path(activity.trackable.movie_id, activity.trackable),
                                     method: :delete,
                                     data: { confirm: 'Delete. Are you sure?'} %>
                <% elsif current_user.voted_for? activity.trackable %>
                  Voted!
                <% else %>
                 <div class="thumbsup">
                   <%= link_to "",
like_movie_movie_review_path(activity.trackable.movie_id, activity.trackable), 
                        method: :put, :remote => true %>
                 </div>
                          
                 <div class="thumbsdown">
                  <%= link_to "",
dislike_movie_movie_review_path(activity.trackable.movie_id, activity.trackable), 
                        method: :put, :remote => true %>
                 </div>
                          
                <% end %> 
            
            <% end %>
          </div> 
      </div><br>

<% end %>
</div>