<% @tvshow_reviews.each do |tvshow_review| %><br>
  <div class="col-sm-3"> 
    <div class="reviewname">
      <%= link_to tvshow_review.user.name, user_path(tvshow_review.user) %>
    </div>
    
    <%= image_tag(tvshow_review.user.smallimage) %>
        <div class="inreviews">
              <%= image_tag("othericons/pointicon.PNG", height: '12', width: '12') %> 
          <b><%= tvshow_review.user.tvshow_reviews.count * 5 %></b><br >
              <%= image_tag("othericons/writeRev.png", height: '12', width: '12') %> 
          <b><%= tvshow_review.user.tvshow_reviews.count %></b>
        </div>   
  </div>
      
    <div class="col-sm-9 podreview"> 
      <div class="separatereview">
      <b><%= tvshow_review.title %>:</b> <br>  
        <div class="moviereviewcontent">
          <%= tvshow_review.content %>
        </div><br><br><br>
      </div><br>
    </div>
<% end %>