<div class="row">
  <% @all_product_reviews.each do |all_product_review| %>
    <div class="col-sm-3">
      <%= link_to user_path(all_product_review.user) do %> 
        <%= all_product_review.user.first_name %><br>
      <% end %>
      <%= image_tag(all_product_review.user.image, width: "80") %>
    </div>
    <div class="col-sm-9">
      <%= all_product_review.point %><br>
      <%= all_product_review.content %><br>
      <% all_product_review.review_images.each do |pic| %>
         <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
      <% end %><br><br>
      <%= all_product_review.get_upvotes.size %> | <%= all_product_review.get_downvotes.size %>
      <% delete_path = "#{all_product_review.productable_type}_product_review_path('#{all_product_review.productable_id}', all_product_review.id)" %>
      <%= link_to 'Delete', eval(delete_path), 
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-default" %>

      <hr>
    </div>
  <% end %>
</div>