<% if @avg_score == 0.0 %>
  <div class="noreviewsonindex">No reviews :( </div>
<% else %>
<% @product_reviews.each do |product_review| %><br>
    <div class="mobile-activity-photo"><%= image_tag(product_review.user.image, width: "50") %></div> 
      <div class="reviewname mobile">     
        <%= link_to user_path(product_review.user) do %> 
          <%= product_review.user.first_name %>
          <%= product_review.user.last_name.truncate(2, omission: '.')%>
        <% end %>
      </div>  
       <br><br>
         <div class="separatereview">
           
            <div class="numberOne">
              <%= product_review.point %>
            </div><br><br>
           
          <div class="reviewcontent"><%= simple_format(product_review.content) %></div>
           
             <% unless product_review.review_images.empty? %>
                <% product_review.review_images.each do |pic| %>
                     <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image?  %>
                <% end %>
                 <% if signed_in? %>
                   <% unless current_user == product_review.user %>
                     <hr>
                   <% end %>
                 <% end %>
             <% end %>
           
              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == product_review.user %>
                    
                  <% elsif current_user.voted_for? product_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to image_tag('othericons/thumbsup_off.PNG'),  like_product_product_review_path(product_review.product_id, product_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to image_tag('othericons/thumbsdown_off.PNG'), dislike_product_product_review_path(product_review.product_id, product_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>                
                
                <% end %>
                
              </div>
          
      </div><br>

  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @product_reviews %>
</div>