<%= form_for @contact_form do |f| %>
 
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@contact_form.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @contact_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <b>Name / Company</b><br>
    <%= f.text_field :name, :class => "field podtitle" %><br><br>

    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "field podtitle" %><br><br>

    <%= f.label :category %><br>
    <%= f.text_field :category, :class => "field podtitle", :placeholder => "e.g advertising, reporting a bug" %><br><br><br>

    <%= f.label :message %><br>
    <%= f.text_area :message, :class => "field podcontent" %><br><br>

    <% if allow? "contact_forms", "index" %>
      <%= f.label :read %><br>
      <%= f.check_box :read %><br><br>
    <% end %>

    <div class="actions">
      <%= f.submit " Submit ", :class => "btn btn-primary" %>
    </div>
 
<% end %>
