<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Email</th>
    <th>Created</th>
    <th colspan="3"></th>
  </tr>
 
  <% @contact_forms.each do |contact_form| %>
    <tr>
      <td><%= contact_form.category %></td>
      <td><%= contact_form.email %></td>
      <td><%= time_ago_in_words(contact_form.created_at) %></td>
      <td><%= link_to 'Show', contact_form_path(contact_form) %></td>
      <td><%= link_to 'Edit', edit_contact_form_path(contact_form) %></td>
      <td><%= link_to 'Destroy', contact_form_path(contact_form),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @contact_forms %>
