<div class="row">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>

    <div class="col-sm-3 useronactivity">
      <div class="reviewname">  
      <%= link_to user_path(activity.owner) do %> 
         <%= activity.owner.first_name %>
         <%= activity.owner.last_name.truncate(2, omission: '.')%>
      <% end %>
      </div>
      <%= image_tag(activity.owner.image, width: "80") %>  
    </div>
  
   <% end %>

    <div class="col-sm-9 podreview indexreview"> 
      <div class="separatereview">
      
        <% if activity.trackable.cat_id == 13658 %>
          <%= image_tag('caticons/hover/catelectronics.PNG') %> 
        
        <% elsif activity.trackable.productable_type == "homeaudio" %>
          <%= image_tag('caticons/electronics/Eaudio.png') %> 
        
        <% elsif activity.trackable.productable_type == "computer" %>
        <%= image_tag('caticons/electronics/Ecomputers.png') %>
        
        <% elsif activity.trackable.productable_type == "security" %>
        <%= image_tag('caticons/electronics/Esecurity.png') %>
        
        <% elsif activity.trackable.productable_type == "camera" %>
        <%= image_tag('caticons/electronics/Ecamera.png') %>
        
        <% elsif activity.trackable.productable_type == "television" %>
        <%= image_tag('caticons/electronics/Etv.png') %>
        
        <% elsif activity.trackable.productable_type == "eportable" %>
        <%= image_tag('caticons/electronics/Eportable.png') %>
        
        <% elsif activity.trackable.productable_type == "carelectro" %>
        <%= image_tag('caticons/electronics/Evehicle.png') %>
        
        <% elsif activity.trackable.productable_type == "emobile" %>
        <%= image_tag('caticons/electronics/Emobile.png') %>
        
        <% end %>
        
        
        <% unless activity.owner == @user %>
           reviewed
        <% end %>
    
        <%= link_to activity.trackable.product_name.truncate(30, omission: '...'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}" %><br><br>
    
        <div class="numberOne"><%= activity.trackable.point %></div><br><br>
        <div class="reviewcontent"><%= simple_format(activity.trackable.content) %></div>
        
             <% activity.trackable.review_images.each do |pic| %>
              <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image? %>
            <% end %> 
              <% if signed_in? %>
                <% unless current_user == activity.owner %>
                  <hr>
                <% end %>
              <% end %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  
                <% elsif current_user.voted_for? activity.trackable %>
                  Voted!
                <% else %>
                 <div class="thumbsup">
                   <%= link_to image_tag('othericons/thumbsup_off.PNG'),  "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/like", method: :put, :remote => true %>
                 </div>
                          
                 <div class="thumbsdown">
                  <%= link_to image_tag('othericons/thumbsdown_off.PNG'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/dislike", method: :put, :remote => true %>
                 </div>
                          
                <% end %> 
            <% end %>
          </div>
        
      </div>
    </div>

<% end %>
</div><br>