<div class="row">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>

    <div class="col-sm-3 useronactivity">
      <div class="reviewname">  
      <%= link_to user_path(activity.owner) do %> 
         <%= activity.owner.first_name %>
         <%= activity.owner.last_name.truncate(2, omission: '.')%>
      <% end %>
      </div>
      <%= image_tag(activity.owner.image, width: "80") %>  
    </div>
  
   <% end %>

    <div class="col-sm-9 podreview indexreview"> 
      <div class="separatereview">
      
        <% if activity.trackable.cat_id == 13658 || activity.trackable.cat_id == 10100 || activity.trackable.cat_id == 1061 || activity.trackable.cat_id == 10813 || activity.trackable.cat_id == 940 || activity.trackable.cat_id == 14094 || activity.trackable.cat_id == 6526 || activity.trackable.cat_id == 2848 || activity.trackable.cat_id == 3507 || activity.trackable.cat_id == 70 || activity.trackable.cat_id == 5291 || activity.trackable.cat_id == 4811 || activity.trackable.cat_id == 4881 || activity.trackable.cat_id == 979 || activity.trackable.cat_id == 16055 || activity.trackable.cat_id == 8461 || activity.trackable.cat_id == 1631 || activity.trackable.cat_id == 6732 || activity.trackable.cat_id == 6931 || activity.trackable.cat_id == 18599 || activity.trackable.cat_id == 10733 || activity.trackable.cat_id == 12720 || activity.trackable.cat_id == 12193 || activity.trackable.cat_id == 8620 || activity.trackable.cat_id == 18894 || activity.trackable.cat_id == 9177 || activity.trackable.cat_id == 20232 || activity.trackable.cat_id == 1920 || activity.trackable.cat_id == 2145 || activity.trackable.cat_id == 16696 %>
          <%= image_tag('caticons/hover/catelectronics.PNG') %> 
        
        <% elsif activity.trackable.cat_id == 8790 || activity.trackable.cat_id == 12724 || activity.trackable.cat_id == 19836 || activity.trackable.cat_id == 21023 || activity.trackable.cat_id == 17241 || activity.trackable.cat_id == 7482 || activity.trackable.cat_id == 23652 || activity.trackable.cat_id == 17585 || activity.trackable.cat_id == 1977 || activity.trackable.cat_id == 20658 || activity.trackable.cat_id == 15223 || activity.trackable.cat_id == 4226 || activity.trackable.cat_id == 5580 %>
          <%= image_tag('caticons/electronics/Eaudio.png') %> 
        
        <% elsif activity.trackable.cat_id == 4992 || activity.trackable.cat_id == 23681 || activity.trackable.cat_id == 23042 || activity.trackable.cat_id == 23130 || activity.trackable.cat_id == 13918 || activity.trackable.cat_id == 13932 || activity.trackable.cat_id == 12091 || activity.trackable.cat_id == 10562 || activity.trackable.cat_id == 12460 || activity.trackable.cat_id == 12855 || activity.trackable.cat_id == 22208 || activity.trackable.cat_id == 14047 || activity.trackable.cat_id == 5467 || activity.trackable.cat_id == 5858 || activity.trackable.cat_id == 4672 || activity.trackable.cat_id == 5660 || activity.trackable.cat_id == 2870 || activity.trackable.cat_id == 3235 || activity.trackable.cat_id == 2534 || activity.trackable.cat_id == 8006 || activity.trackable.cat_id == 8773 || activity.trackable.cat_id == 22586 || activity.trackable.cat_id == 6319 || activity.trackable.cat_id == 24498 || activity.trackable.cat_id == 1660 || activity.trackable.cat_id == 12151 || activity.trackable.cat_id == 1202 || activity.trackable.cat_id == 23702 || activity.trackable.cat_id == 24768 || activity.trackable.cat_id == 23905 || activity.trackable.cat_id == 16398 || activity.trackable.cat_id == 24592 || activity.trackable.cat_id == 11374 || activity.trackable.cat_id == 17022 || activity.trackable.cat_id == 19763 || activity.trackable.cat_id == 16758 || activity.trackable.cat_id == 14633 || activity.trackable.cat_id == 15495 || activity.trackable.cat_id == 10289 || activity.trackable.cat_id == 24703 || activity.trackable.cat_id == 24567 || activity.trackable.cat_id == 23768 || activity.trackable.cat_id == 1327 || activity.trackable.cat_id == 12371 || activity.trackable.cat_id == 1309 || activity.trackable.cat_id == 9672 || activity.trackable.cat_id == 9131 || activity.trackable.cat_id == 18571 || activity.trackable.cat_id == 19674 || activity.trackable.cat_id == 1649 || activity.trackable.cat_id == 14598 || activity.trackable.cat_id == 5885 || activity.trackable.cat_id == 3994 || activity.trackable.cat_id == 4009 || activity.trackable.cat_id == 17852 || activity.trackable.cat_id == 2574 || activity.trackable.cat_id == 5002 || activity.trackable.cat_id == 10889 || activity.trackable.cat_id == 227 || activity.trackable.cat_id == 2441 || activity.trackable.cat_id == 24422 || activity.trackable.cat_id == 23341 || activity.trackable.cat_id == 10472 || activity.trackable.cat_id == 9121 || activity.trackable.cat_id == 17601 || activity.trackable.cat_id == 15791 || activity.trackable.cat_id == 20268 || activity.trackable.cat_id == 19376 || activity.trackable.cat_id == 20823 || activity.trackable.cat_id == 20079 || activity.trackable.cat_id == 22326 || activity.trackable.cat_id == 22547 || activity.trackable.cat_id == 21031 || activity.trackable.cat_id == 13518 || activity.trackable.cat_id == 15597 || activity.trackable.cat_id == 17401 || activity.trackable.cat_id == 5553 || activity.trackable.cat_id == 24381 || activity.trackable.cat_id == 17744 || activity.trackable.cat_id == 2546 || activity.trackable.cat_id == 4875 || activity.trackable.cat_id == 11171 || activity.trackable.cat_id == 4968 || activity.trackable.cat_id == 23554 || activity.trackable.cat_id == 8885 || activity.trackable.cat_id == 8176 || activity.trackable.cat_id == 23395 || activity.trackable.cat_id == 18982 || activity.trackable.cat_id == 10685 || activity.trackable.cat_id == 19262 || activity.trackable.cat_id == 21810 || activity.trackable.cat_id == 14314 ||  %>
        <%= image_tag('caticons/electronics/Ecomputers.png') %>
        
        <% elsif activity.trackable.cat_id == 1124 || activity.trackable.cat_id == 12045 || activity.trackable.cat_id == 7925 || activity.trackable.cat_id == 24508 || activity.trackable.cat_id == 24515 || activity.trackable.cat_id == 20879 || activity.trackable.cat_id == 14028 || activity.trackable.cat_id == 6560 || activity.trackable.cat_id == 17713 || activity.trackable.cat_id == 4746 || activity.trackable.cat_id == 4886 || activity.trackable.cat_id == 8036 || activity.trackable.cat_id == 23169 || activity.trackable.cat_id == 24652 || activity.trackable.cat_id == 24770 || activity.trackable.cat_id == 16127 || activity.trackable.cat_id == 2262 || activity.trackable.cat_id == 12124 || activity.trackable.cat_id == 17497 || activity.trackable.cat_id == 6167 || activity.trackable.cat_id == 8378 %>
        <%= image_tag('caticons/electronics/Esecurity.png') %>
        
        <% elsif activity.trackable.cat_id == 20773 || activity.trackable.cat_id == 10343 || activity.trackable.cat_id == 12246 || activity.trackable.cat_id == 5934 || activity.trackable.cat_id == 685 || activity.trackable.cat_id == 17908 || activity.trackable.cat_id == 7956 || activity.trackable.cat_id == 8722 || activity.trackable.cat_id == 3342 || activity.trackable.cat_id == 18858 || activity.trackable.cat_id == 10963 || activity.trackable.cat_id == 13931 || activity.trackable.cat_id == 4145 || activity.trackable.cat_id == 9370 || activity.trackable.cat_id == 14843 || activity.trackable.cat_id == 9429 || activity.trackable.cat_id == 13742 || activity.trackable.cat_id == 14667 || activity.trackable.cat_id == 458 || activity.trackable.cat_id == 18645 || activity.trackable.cat_id == 18139 || activity.trackable.cat_id == 12010 || activity.trackable.cat_id == 13158 || activity.trackable.cat_id == 914 || activity.trackable.cat_id == 16412 || activity.trackable.cat_id == 17381 || activity.trackable.cat_id == 6297 || activity.trackable.cat_id == 4303 || activity.trackable.cat_id == 19079 || activity.trackable.cat_id == 21538 || activity.trackable.cat_id == 21978 || activity.trackable.cat_id == 6906 || activity.trackable.cat_id == 2770 || activity.trackable.cat_id == 21236 || activity.trackable.cat_id == 23599 || activity.trackable.cat_id == 2365 || activity.trackable.cat_id == 20847 || activity.trackable.cat_id == 15329 || activity.trackable.cat_id == 5974 || activity.trackable.cat_id == 15437 || activity.trackable.cat_id == 15105 || activity.trackable.cat_id == 6483 || activity.trackable.cat_id == 11588 || activity.trackable.cat_id == 8672 || activity.trackable.cat_id == 8159 || activity.trackable.cat_id == 10135 || activity.trackable.cat_id == 18922 || activity.trackable.cat_id == 11108 || activity.trackable.cat_id == 19672 || activity.trackable.cat_id == 19283 || activity.trackable.cat_id == 19543 || activity.trackable.cat_id == 20536 || activity.trackable.cat_id == 20589 || activity.trackable.cat_id == 22164 || activity.trackable.cat_id == 21908 || activity.trackable.cat_id == 21537 || activity.trackable.cat_id == 16585 || activity.trackable.cat_id == 14037 || activity.trackable.cat_id == 22041 || activity.trackable.cat_id == 24818 || activity.trackable.cat_id == 14351 || activity.trackable.cat_id == 14393 || activity.trackable.cat_id == 15402 || activity.trackable.cat_id == 17257 || activity.trackable.cat_id == 5768 || activity.trackable.cat_id == 6381 || activity.trackable.cat_id == 6387 || activity.trackable.cat_id == 2819 || activity.trackable.cat_id == 7085 || activity.trackable.cat_id == 4743 || activity.trackable.cat_id == 9935 || activity.trackable.cat_id == 4592 || activity.trackable.cat_id == 17896 || activity.trackable.cat_id == 22952 || activity.trackable.cat_id == 14181 || activity.trackable.cat_id == 6241 || activity.trackable.cat_id == 4658 || activity.trackable.cat_id == 3729 %>
        <%= image_tag('caticons/electronics/Ecamera.png') %>
        
        <% elsif activity.trackable.cat_id == 399 || activity.trackable.cat_id == 11669 || activity.trackable.cat_id == 12688 || activity.trackable.cat_id == 10391 || activity.trackable.cat_id == 8590 || activity.trackable.cat_id == 23953 || activity.trackable.cat_id == 13813 || activity.trackable.cat_id == 8955 || activity.trackable.cat_id == 16120 || activity.trackable.cat_id == 20216 || activity.trackable.cat_id == 20877 || activity.trackable.cat_id == 21520 || activity.trackable.cat_id == 17142 || activity.trackable.cat_id == 17194 || activity.trackable.cat_id == 1412 || activity.trackable.cat_id == 15193 || activity.trackable.cat_id == 2884  %>
        <%= image_tag('caticons/electronics/Etv.png') %>
        
        <% elsif activity.trackable.cat_id == 17761 || activity.trackable.cat_id == 1255 || activity.trackable.cat_id == 1103 || activity.trackable.cat_id == 11038 || activity.trackable.cat_id == 8084 || activity.trackable.cat_id == 9513 || activity.trackable.cat_id == 1581 || activity.trackable.cat_id == 18030 || activity.trackable.cat_id == 20688 || activity.trackable.cat_id == 16438 || activity.trackable.cat_id == 15715 || activity.trackable.cat_id == 6002 || activity.trackable.cat_id == 3408 %>
        <%= image_tag('caticons/electronics/Eportable.png') %>
        
        <% elsif activity.trackable.cat_id == 18623 || activity.trackable.cat_id == 18090 || activity.trackable.cat_id == 21963 || activity.trackable.cat_id == 45 || activity.trackable.cat_id == 5671 || activity.trackable.cat_id == 7698 || activity.trackable.cat_id == 9637 || activity.trackable.cat_id == 17669 || activity.trackable.cat_id == 14036 || activity.trackable.cat_id == 4169 || activity.trackable.cat_id == 4488 || activity.trackable.cat_id == 16858 || activity.trackable.cat_id == 14993 || activity.trackable.cat_id == 10373 || activity.trackable.cat_id == 23178 || activity.trackable.cat_id == 12064 || activity.trackable.cat_id == 16902 || activity.trackable.cat_id == 19319 || activity.trackable.cat_id == 19175 || activity.trackable.cat_id == 21013 || activity.trackable.cat_id == 21089 || activity.trackable.cat_id == 6871 || activity.trackable.cat_id == 4986 || activity.trackable.cat_id == 9948 || activity.trackable.cat_id == 9994 || activity.trackable.cat_id == 9741 || activity.trackable.cat_id == 18331 || activity.trackable.cat_id == 17461 || activity.trackable.cat_id == 5927 || activity.trackable.cat_id == 4039 || activity.trackable.cat_id == 7042 || activity.trackable.cat_id == 10295 || activity.trackable.cat_id == 13644 || activity.trackable.cat_id == 3818 %>
        <%= image_tag('caticons/electronics/Evehicle.png') %>
        
        <% elsif activity.trackable.cat_id == 915 || activity.trackable.cat_id == 12181 || activity.trackable.cat_id == 12237 || activity.trackable.cat_id == 9359 || activity.trackable.cat_id == 16331 || activity.trackable.cat_id == 19299 || activity.trackable.cat_id == 15454 || activity.trackable.cat_id == 15224 || activity.trackable.cat_id == 24119 || activity.trackable.cat_id == 23325 || activity.trackable.cat_id == 22803 || activity.trackable.cat_id == 22882 || activity.trackable.cat_id == 973 || activity.trackable.cat_id == 96 || activity.trackable.cat_id == 16971 || activity.trackable.cat_id == 16981 || activity.trackable.cat_id == 18312 || activity.trackable.cat_id == 1950 || activity.trackable.cat_id == 19641 || activity.trackable.cat_id == 13490 || activity.trackable.cat_id == 24817 || activity.trackable.cat_id == 14369 || activity.trackable.cat_id == 2803 || activity.trackable.cat_id == 24139 || activity.trackable.cat_id == 21795 || activity.trackable.cat_id == 15496 || activity.trackable.cat_id == 5995 || activity.trackable.cat_id == 24102 || activity.trackable.cat_id == 16329 || activity.trackable.cat_id == 15224 || activity.trackable.cat_id == 22415 || activity.trackable.cat_id == 21824 %>
        <%= image_tag('caticons/electronics/Emobile.png') %>
        
        <% end %>
        
        
        <% unless activity.owner == @user %>
           reviewed
        <% end %>
    
        <%= link_to activity.trackable.product_name.truncate(30, omission: '...'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}" %><br><br>
    
        <div class="numberOne"><%= activity.trackable.point %></div><br><br>
        <div class="reviewcontent"><%= simple_format(activity.trackable.content) %></div>
        
             <% activity.trackable.review_images.each do |pic| %>
              <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image? %>
            <% end %> 
              <% if signed_in? %>
                <% unless current_user == activity.owner %>
                  <hr>
                <% end %>
              <% end %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  
                <% elsif current_user.voted_for? activity.trackable %>
                  Voted!
                <% else %>
                 <div class="thumbsup">
                   <%= link_to image_tag('othericons/thumbsup_off.PNG'),  "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/like", method: :put, :remote => true %>
                 </div>
                          
                 <div class="thumbsdown">
                  <%= link_to image_tag('othericons/thumbsdown_off.PNG'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/dislike", method: :put, :remote => true %>
                 </div>
                          
                <% end %> 
            <% end %>
          </div>
        
      </div>
    </div>

<% end %>
</div><br>