<div class="row">
<% if activity.trackable %>
  
   <% unless activity.owner == @user %>

    <div class="col-sm-3 useronactivity">
      <div class="reviewname">  
      <%= link_to user_path(activity.owner) do %> 
         <%= activity.owner.first_name %>
         <%= activity.owner.last_name.truncate(2, omission: '.')%>
      <% end %>
      </div>
      <%= image_tag(activity.owner.image, width: "80") %>  
    </div>
  
   <% end %>

    <div class="col-sm-9 podreview indexreview"> 
      <div class="separatereview">
      
        <% if activity.trackable.cat_id == 13658 || 10100 || 1061 || 10813 || 940 || 14094 || 6526 || 2848 || 3507 || 70 || 5291 || 4811 || 4881 || 979 || 16055 || 8461 || 1631 || 6732 || 6931 || 18599 || 10733 || 12720 || 12193 || 8620 || 18894 || 9177 || 20232 || 1920 || 2145 || 16696 %>
          <%= image_tag('caticons/hover/catelectronics.PNG') %> 
        
        <% elsif activity.trackable.cat_id == 8790 || 12724 || 19836 || 21023 || 17241 || 7482 || 23652 || 17585 || 1977 || 20658 || 15223 || 4226 || 5580 %>
          <%= image_tag('caticons/hover/Eaudio.png') %> 
        
        <% elsif activity.trackable.cat_id == 4992 || 23681 || 23042 || 23130 || 13918 || 13932 || 12091 || 10562 || 12460 || 12855 || 22208 || 14047 || 5467 || 5858 || 4672 || 5660 || 2870 || 3235 || 2534 || 8006 || 8773 || 22586 || 6319 || 24498 || 1660 || 12151 || 1202 || 23702 || 24768 || 23905 || 16398 || 24592 || 11374 || 17022 || 19763 || 16758 || 14633 || 15495 || 10289 || 24703 || 24567 || 23768 || 1327 || 12371 || 1309 || 9672 || 9131 || 18571 || 19674 || 1649 || 14598 || 5885 || 3994 || 4009 || 17852 || 2574 || 5002 || 10889 || 227 || 2441 || 24422 || 23341 || 10472 || 9121 || 17601 || 15791 || 20268 || 19376 || 20823 || 20079 || 22326 || 22547 || 21031 || 13518 || 15597 || 17401 || 5553 || 24381 || 17744 || 2546 || 4875 || 11171 || 4968 || 23554 || 8885 || 8176 || 23395 || 18982 || 10685 || 19262 || 21810 || 14314 ||  %>
        <%= image_tag('caticons/hover/Ecomputers.png') %>
        
        <% elsif activity.trackable.cat_id == 1124 || 12045 || 7925 || 24508 || 24515 || 20879 || 14028 || 6560 || 17713 || 4746 || 4886 || 8036 || 23169 || 24652 || 24770 || 16127 || 2262 || 12124 || 17497 || 6167 || 8378 %>
        <%= image_tag('caticons/hover/Esecurity.png') %>
        
        <% elsif activity.trackable.cat_id == 20773 || 10343 || 12246 || 5934 || 685 || 17908 || 7956 || 8722 || 3342 || 18858 || 10963 || 13931 || 4145 || 9370 || 14843 || 9429 || 13742 || 14667 || 458 || 18645 || 18139 || 12010 || 13158 || 914 || 16412 || 17381 || 6297 || 4303 || 19079 || 21538 || 21978 || 6906 || 2770 || 21236 || 23599 || 2365 || 20847 || 15329 || 5974 || 15437 || 15105 || 6483 || 11588 || 8672 || 8159 || 10135 || 18922 || 11108 || 19672 || 19283 || 19543 || 20536 || 20589 || 22164 || 21908 || 21537 || 16585 || 14037 || 22041 || 24818 || 14351 || 14393 || 15402 || 17257 || 5768 || 6381 || 6387 || 2819 || 7085 || 4743 || 9935 || 4592 || 17896 || 22952 || 14181 || 6241 || 4658 || 3729 %>
        <%= image_tag('caticons/hover/Ecamera.png') %>
        
        <% end %>
        
        
        <% unless activity.owner == @user %>
           reviewed
        <% end %>
    
        <%= link_to activity.trackable.product_name.truncate(30, omission: '...'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}" %><br><br>
    
        <div class="numberOne"><%= activity.trackable.point %></div><br><br>
        <div class="reviewcontent"><%= simple_format(activity.trackable.content) %></div>
        
             <% activity.trackable.review_images.each do |pic| %>
              <%= link_to image_tag(pic.image_url(:review_thumb)), pic.image_url, target: :_blank if pic.image? %>
            <% end %> 
              <% if signed_in? %>
                <% unless current_user == activity.owner %>
                  <hr>
                <% end %>
              <% end %>
    
          <div class="bottomreviewicons">
            <% if signed_in? %>
            
                <% if current_user == activity.owner %>
                  
                <% elsif current_user.voted_for? activity.trackable %>
                  Voted!
                <% else %>
                 <div class="thumbsup">
                   <%= link_to image_tag('othericons/thumbsup_off.PNG'),  "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/like", method: :put, :remote => true %>
                 </div>
                          
                 <div class="thumbsdown">
                  <%= link_to image_tag('othericons/thumbsdown_off.PNG'), "/#{activity.trackable.productable_type}s/#{activity.trackable.productable_id}/product_reviews/#{activity.trackable.id}/dislike", method: :put, :remote => true %>
                 </div>
                          
                <% end %> 
            <% end %>
          </div>
        
      </div>
    </div>

<% end %>
</div><br>