<h1>Listing podcast_reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @podcast_reviews.each do |podcast_review| %>
      <tr>
        <td><%= podcast_review.title %></td>
        <td><%= podcast_review.content %></td>
        <td><%= link_to 'Show', podcast_podcast_review_path(@podcast.id) %></td>
        <td><%= link_to 'Edit', edit_podcast_podcast_review_path(podcast_review) %></td>
        <td><%= link_to 'Destroy', podcast_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast review', new_podcast_review_path %>
