<%= form_for(@promotion) do |f| %>

  <div class="form-inputs">
    <%= f.label :text %>
    <%= f.text_field :text, :class => "field podtitle" %><hr>
    <%= f.label :link %>
    <%= f.text_field :link, :class => "field podtitle" %><hr>
    
    <%= f.label :local %>
    <%= f.check_box :local %><hr>
    <%= f.label :auto %>
    <%= f.check_box :auto %><hr>
    <%= f.label :tech %>
    <%= f.check_box :tech %><hr>
    <%= f.label :book %>
    <%= f.check_box :book %><hr>
    <%= f.label :movie %>
    <%= f.check_box :movie %><hr>
    <%= f.label :podcast %>
    <%= f.check_box :podcast %><hr>
    <%= f.label :tvshow %>
    <%= f.check_box :tvshow %><hr>
    <%= f.label :drug %>
    <%= f.check_box :drug %><hr>
    <%= f.label :recipe %>
    <%= f.check_box :recipe %><hr> 
    <%= f.label :art %>
    <%= f.check_box :art %><hr>    

  </div><br>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>