<%= form_for(@promotion) do |f| %>

  <div class="form-inputs">
    <%= f.label :text %>
    <%= f.text_field :text, :class => "field podtitle" %><br>
    <%= f.label :link %>
    <%= f.text_field :link, :class => "field podtitle" %><hr>
    
    <%= f.label :local %>
    <%= f.check_box :local %><br>
    <%= f.label :auto %>
    <%= f.check_box :auto %><br>
    <%= f.label :tech %>
    <%= f.check_box :tech %><br>
    <%= f.label :book %>
    <%= f.check_box :book %><br>
    <%= f.label :movie %>
    <%= f.check_box :movie %><br>
    <%= f.label :podcast %>
    <%= f.check_box :podcast %><br>
    <%= f.label :tvshow %>
    <%= f.check_box :tvshow %><br>
    <%= f.label :drug %>
    <%= f.check_box :drug %><br>
    <%= f.label :recipe %>
    <%= f.check_box :recipe %><br> 
    <%= f.label :art %>
    <%= f.check_box :art %><br>    

  </div><br>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>