<%= simple_form_for(@promotion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text %>
    <%= f.input :link %>
    <%= f.input :local, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :auto, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :tech, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :book, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :movie, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :podcast, as: :boolean, checked_value: true, unchecked_value: false %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>