<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @promotion.text %>
</p>

<p>
  <strong>Link:</strong>
  <%= @promotion.link %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %> |
<%= link_to 'Destroy', @promotion, method: :delete, data: { confirm: 'Are you sure?' } %>
