<h1>
  <%= @product['name'] %>
</h1>
<ul>
  <li>
    Cat ID:
    <%= @product['cat_id'] %>
  </li>
  <li>
    Model:
    <%= @product['model'] %>
  </li>
  <li>
    Created At:
    <%= Time.at @product['created_at'] %>
  </li>
  <li>
    Brand:
    <%= @product['brand'] %>
  </li>
  <li>
    Color:
    <%= @product['color'] %>
  </li>
  <li>
    Category:
    <%= @product['category'] %>
  </li>
  <li>
    UPC:
    <%= @product['upc'] %>
  </li>
  <li>
    EAN:
    <%= @product['ean'] %>
  </li>
  <li>
    Features:
    <table border="1">
      <% @product['features'].each do |key, value| %>
        <tr>
          <td width="30%">
            <%= key %>
          </td>
          <td>
            <%= value %>
          </td>
        </tr>
      <% end %>
    </table>
  </li>
</ul>
