<% provide(:title, "#{@product['name']} Reviews") %>
<hr>
<%= @product['name'] %><br>

<%= render 'show_rating' %><br>

        <% image_url = @product['images'].first %>        
        <%= image_tag(image_url, width: 150) %><hr>

<a target="_blank" href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=<%= @product['name'] %>&linkCode=ur2&tag=movtop0c-20&linkId=OIHB2WQO2XH64F3N">Buy it</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=movtop0c-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />  <br><br>
        
          <div class="r-clickfeature">
            <b><%= link_to "+ features", "#" %></b>
          </div> <br>
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview mobile">
      <%= link_to "Write a Review", eval("new_#{@resource_type}_product_review_path(@product['sem3_id'])") %>
    </div><br>
  
  <div class="row">
    
            <div class="r-productfeature">
            <table border="1" class="table table-striped table-hover table-condensed" >
              <% @product['features'].each do |key, value| %>
                <tr>
                  <td width="25%">
                    <%= key %>
                  </td>
                  <td>
                    <%= value %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
    
  </div>
<hr>  
  
<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>