<%= form_for [@reviewable, @review], :html => { :method => :put } do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this tech_review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "field podtitle" %>
  </div><br>

  <div class="field">
    <%= f.label :content %><div class="contentcharacters">(minimum 140 characters)</div><br>
    <%= f.text_area :content, :class => "field podcontent", :placeholder => "Tell the world what you like or dislike, give tips and suggestions... " %>
  </div><br>
    <%= f.hidden_field :reviewable_id, :class => "field podtitle" %>
    <%= f.hidden_field :reviewable_type, :class => "field podtitle" %>

  <div class="optionalreview">Optional:</div>
  <div class="row reviewbottom">
    <div class="col-sm-5"> 
      <%= image_tag("othericons/PhotoShow.PNG") %> + Add images
    </div>
    
    <div class="col-sm-5"> 
      <%= image_tag("othericons/VideoShow.PNG") %> + Add videos
    </div>    
  </div>

  <div class="actions">
    <%= f.submit " Submit ", :class => "btn btn-primary" %>
  </div>
<% end %>
