<div class="col-sm-3"> 
    <div class="reviewname">     
      <%= link_to user_path(@review.user) do %> 
        <%= @review.user.first_name %>
        <%= @review.user.last_name.truncate(2, omission: '.')%>
      <% end %>
    </div>
    
          <%= image_tag(@review.user.smallimage) %>
        <div class="inreviews">
            <%= image_tag("othericons/pointicon.PNG", height: '12', width: '12') %> 
          <b><%= @review.user.reviews.count * 5 %></b><br >
            <%= image_tag("othericons/writeRev.png", height: '12', width: '12') %> 
          <b><%= @review.user.reviews.count %></b>
        </div>   
    </div>
      
    <div class="col-sm-9 podreview"> 
      <div class="separatereview">
      <b><%= @review.title %>:</b> <br>  
        <div class="reviewcontent"><%= simple_format(@review.content) %></div><br>
        
        <div class="bottomreviewicons">
          <%= link_to image_tag('othericons/thumbicon.PNG'), "#" %>  
          <div class="thumbsdown"><%= link_to image_tag('othericons/thumbiconDown.PNG', height: '20', width: '20'), "#" %></div>
          <div class="flagicon"><%= link_to image_tag('othericons/flagicon.PNG', height: '20', width: '18'), "#" %></div>
        </div>
<%= link_to "Edit", [:edit, @reviewable, @review] %>
<%= link_to "Delete", [@reviewable, @review], method: :delete, data: { confirm: 'Are you sure?' } %>
        
    </div><br>
  </div>
