<%= form_for @podcast, :html => {:multipart => true} do |f| %>
  <% if @podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% @podcast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "podcastnew" %><br><br>

    <%= f.label :language_id %>
    <%= f.collection_select :podcast_language_id, PodcastLanguage.order(:id), :id, :name %><br><br>

    <%= f.label :website %><br>
    <%= f.text_field :website, :class => "podcastnew" %><br><br>

    <%= f.label :remote_image_url, "Image URL (min. 150x150)" %><br />
    <%= f.text_field :remote_image_url, :class => "podcastnew" %><br><br>

    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>

<% end %>
