<div class="row podup"> 
  <div class="col-sm-3"> <%= image_tag @podcast.image_url(:thumb) if @podcast.image? %></div> 
  
  <div class="col-sm-5"> 
    <div class="podcastnameshow"><%= link_to @podcast.name, podcast_path(@podcast) %></div><br>

   <div class="podinfo">
      Website:  <%= @podcast.website %><br >
      Subjects: <%= raw @podcast.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
   </div>
  </div>
  <div class="col-sm-4">
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
      <div class="writeareview"><%= link_to "Write a Review", "#" %>
      </div><br>

    <%= link_to "Edit", edit_podcast_path(@podcast) %>
  </div>
</div> <br>