<div class="row podup"> 
  <div class="col-sm-3"> <%= image_tag @podcast.image_url(:thumb) if @podcast.image? %></div> 
 <div class="col-sm-5"> 
   <b><%= link_to @podcast.name, podcast_path(@podcast) %></b> <br ><br >

   <div class="podinfo">
Website:  <%= @podcast.website %><br >
Language: <%= @podcast.podcast_language.name %><br >
Subject(s): <%= raw @podcast.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
   </div>
  </div>
  <div class="col-sm-4">
<%= link_to "Write a review", new_podcast_podcast_review_path(@podcast) %><br><br>
<%= image_tag("othericons/PhotoShow.PNG") %> (6) 
<%= image_tag("othericons/VideoShow.PNG") %> (7) <br><br>
    <%= link_to "Edit", edit_podcast_path(@podcast) %>
  </div>
</div> <br>