<% provide(:title, 'Podcasts') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <%= render "media/mcategories" %>

<div class="allnews">
  <div class="podcastup">       
        <div class="col-sm-6"> <%= form_tag("/search", :method => "get") do %>
<%= text_field_tag(:query, nil, :class => "moviesearchbutton") %>
  <% end %></div>        
        <div class="col-sm-6 linkup">
          <%= link_to "by genre", "#" %>
          <%= link_to "by rating", "#" %>
          <b><%= link_to "+ Add", new_podcast_path %></b>
        </div>      
      </div>
<div class="row podcast">  
  
    <% @podcasts.each do |podcast| %>
  <div class="col-sm-4 podsin"><%= image_tag("NoImage.png", height: '180', width: '150') %></div>
  <div class="col-sm-8 podsin">
    <div class="podcastsnowindex"><%= link_to podcast.name, podcast %></div>
.
  </div>
    <% end %>
    </div>
  </div>
</div>
 
<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

</div>
