<% provide(:title, 'Podcasts') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8"> 
  <%= render "media/mcategories" %>

<div class="allnews">
  <div class="podcastup"> 
    
    <div class="col-sm-10 podcastsearch"> 
      <%= form_tag("/search", :method => "get") do %>
      <%= text_field_tag(:query, nil, :placeholder => "search by subject or title" , :class => "podcastsearchbutton") %>
      <% end %>
    </div>  
        
        <div class="col-sm-2 linkup">
          <b><%= link_to "+ Add", new_podcast_path %></b>
        </div>      
      </div>
<div class="row podcast">  
  
    <% @podcasts.each do |podcast| %>
  <div class="col-sm-4 podsin"><%= image_tag podcast.image_url(:podindex) if podcast.image? %></div>
  <div class="col-sm-8 podsin">
    <div class="podcastsnowindex"><%= link_to podcast.name, podcast %></div>
<%= podcast.podcast_category.name %>
  </div>
    <% end %>
    </div>
  </div>
</div>
 
<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

</div>
