<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["204839183038354"] %>
  <%= tag :meta, property: "og:site_name", content: "Inrevi" %>
  <%= tag :meta, property: "og:type", content: "inrevi:podcast" %>
  <%= tag :meta, property: "og:title", content: @podcast.name %>
  <%= tag :meta, property: "og:url", content: podcast_url(@podcast) %>
  <%= tag :meta, property: "og:image", content: request.protocol + request.host_with_port + image_path(@podcast.image) %>
<% end %>

<% provide(:title, @podcast.name) %>

<div class="row">
 
<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div> 
  
<div class="col-sm-8"> 
   <div class="allnews">
    <%= render 'podcasts/podcastshow2' %>
   </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

</div>
