<% provide(:title, "#{@podcast.name} Reviews") %>

<hr>
   <b><%= link_to @podcast.name.truncate(80, omission: '...'), podcast_path(@podcast) %></b><br><br>

  <div class="row">
    
    <div class="col-xs-6">
      <%= link_to image_tag(@podcast.image_url(:thumb)), @podcast.image_url, target: :_blank if @podcast.image? %>
    </div>

    <div class="col-xs-6"> 
      <%= render 'show_rating' %>
      <%= link_to "Website", @podcast.website, :target => "_blank" %><br>
      <b>keywords:</b> <%= raw @podcast.tags.map(&:name).map { |t| t }.join(', ') %>
    </div>

  </div>

<hr>

    <div class="writeareview mobile">
      <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
      <%= link_to "Write a Review", new_podcast_podcast_review_path(@podcast) %>
    </div>

    <%= render 'shared/ad_on_item_mobile' %>

  <div class="row"> 
    <%= render :file => '/podcast_reviews/index' %>
  </div>