<div class="mobilelogo">
  <%= link_to image_tag("logou8.PNG", alt: "Inrevi - Power To The People"), root_path %>
</div>

<div class="row mobilecatheader">
  <% if signed_in? %>
    <div class="col-xs-4">
      <%= link_to "categories", root_path %>
    </div>
    <div class="col-xs-4">
      <%= link_to "newsfeed", mobile_newsfeed_path %>
    </div>
    <div class="col-xs-4">
      <%= link_to "profile", user_path(current_user) %>
    </div>
    <% else %>
    <div id="login-center">
      <%= link_to "log in", mobile_newsfeed_path %>
    </div>
  <% end %>

</div>