<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag "vendor", :media => "all", :debug => false %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor", :debug => false %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
      <div id="allmobile">
        <% unless flash.empty? %>
          <div class="info">
              <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <%- end -%>
              </div>
            <% end %>
                <%= render 'layouts/header' %>
                <div class="mobile-activity-home">
                  <%= yield %>
                </div>
          </div>
      </div>
  </body>
</html>

