<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= set_meta_tags :description => "Simple site for writing reviews and more..." %>
    
     <%= stylesheet_link_tag "application", media: "all" %>
     <%= javascript_include_tag "vendor", :debug => false %>
     <%= stylesheet_link_tag "mobile" if mobile_device? %>
    
     <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="Content">
    <%= render 'layouts/header' %>
    <div class="bodypages">
        <%= yield %>
     </div>
    </div>
  </body>

</html>
