<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD1xlqN7yYTMMfLRG7lygz5b8M6hCCMxYQ&sensor=false" %>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>
    <div id="Content">
    <%= render 'layouts/header' %>
    <div class="bodypages">
    <%= yield %>
     </div>
    </div>
   
    </body>

</html>
